<div
  class="main-view-banner {{banner_type}} {{classname}}"
  {{#if user_id}}data-user-id="{{user_id}}"{{/if}}
  {{#if stream_id}}data-stream-id="{{stream_id}}"{{/if}}
  {{#if topic_name}}data-topic-name="{{topic_name}}"{{/if}}>
    <div class="main-view-banner-elements-wrapper">
        {{#if banner_text}}
        <p class="banner_content">{{banner_text}}</p>
        {{else}}
        <div class="banner_content">{{> @partial-block}}</div>
        {{/if}}
        {{#if button_text}}
        <button class="main-view-banner-action-button{{#if hide_close_button}} right_edge{{/if}}" {{#if scheduling_message}}data-validation-trigger="schedule"{{/if}}>{{button_text}}</button>
        {{/if}}
        {{#if is_onboarding_banner}}
        <button class="main-view-banner-action-button right_edge" data-action="mark-as-read">{{t "Got it"}}</button>
        {{/if}}
    </div>
    {{#if hide_close_button}}
    {{!-- hide_close_button is null by default, and false if explicitly set as false. --}}
    {{else}}
    <a role="button" class="zulip-icon zulip-icon-close main-view-banner-close-button"></a>
    {{/if}}
</div>
