<div class="above_compose_banner main-view-banner success {{classname}}">
    <p>
        {{banner_text}}
        {{#if link_text}} <a class="above_compose_banner_action_link" {{#if above_composebox_narrow_url}}href="{{above_composebox_narrow_url}}"{{/if}} data-message-id="{{link_msg_id}}">{{link_text}}</a>{{/if}}
    </p>
    <a role="button" class="zulip-icon zulip-icon-close main-view-banner-close-button"></a>
</div>
