<br />
{{#each pending_tasks}}
<div class="dropzone">
    <li class="task-item" draggable="true" data-key="{{ key }}">
        <label class="checkbox" data-key="{{ key }}">
            <input type="checkbox" class="task" data-key="{{ key }}" />
            <span></span>
            <strong data-key="{{ key }}">{{ task }}</strong>{{#if desc }} - {{ desc }}{{/if}}
        </label>
    </li>
</div>
{{/each}}
{{#each completed_tasks}}
<div class="dropzone">
    <li class="task-item" draggable="true" data-key="{{ key }}">
        <label class="checkbox" data-key="{{ key }}">
            <input type="checkbox" class="task" data-key="{{ key }}" checked="checked"/>
            <span></span>
            <strike><em><strong data-key="{{ key }}">{{ task }}</strong>{{#if desc }} - {{ desc }}{{/if}}</em></strike>
        </label>
    </li>
</div>
{{/each}}
