<br>
{{#each pending_tasks}}
<li>
    <button class="task" data-key="{{ key }}">
    </button>
    <span class="task"><strong>{{ task }}</strong>{{#if desc }} - {{ desc }}{{/if}}</span>
</li>
{{/each}}
{{#each completed_tasks}}
<li>
    <button class="task-completed task" data-key="{{ key }}">
        <img class="task-completed" src="/static/images/checkbox-green.svg" data-key="{{ key }}"/>
    </button>
    <span class="task"><strike><em><strong>{{ task }}</strong>{{#if desc }} - {{ desc }}{{/if}}</em></strike></span>
</li>
{{/each}}
