<p>
    {{t "This group cannot be deactivated because it is used in following places:"}}
    <ul>
        {{#each streams_using_group_for_setting}}
            {{#if this.setting_url}}
            <li><a href="{{this.setting_url}}">#{{this.stream_name}}</a></li>
            {{else}}
            <li>{{this.stream_name}}</li>
            {{/if}}
        {{/each}}
        {{#each groups_using_group_for_setting}}
            <li><a href="{{this.setting_url}}">@{{this.group_name}}</a></li>
        {{/each}}
        {{#if realm_using_group_for_setting}}
            <li><a href="#organization">{{t "Organization settings"}}</a></li>
        {{/if}}
    </ul>
</p>
