<div>
    <label for="change_user_group_name" class="modal-field-label">
        {{t 'User group name' }}
    </label>
    <input type="text" id="change_user_group_name" class="modal_text_input" name="user_group_name" value="{{ group_name }}" maxlength="{{max_user_group_name_length}}" />
</div>
<div>
    <label for="change_user_group_description" class="modal-field-label">
        {{t 'User group description' }}
    </label>
    <textarea id="change_user_group_description" class="settings_textarea" name="user_group_description">{{ group_description }}</textarea>
</div>
