<div class="group-permissions">
    <div class="realm-group-permissions {{#unless group_assigned_realm_permissions.length}}hide{{/unless}}">
        <h3>{{t "Organization permissions"}}</h3>

        {{#each group_assigned_realm_permissions}}
            <div class="settings-subsection-parent {{#unless assigned_permissions.length}}hide{{/unless}}">
                <div class="subsection-header">
                    <h3>{{subsection_heading}}</h3>
                    {{> ../settings/settings_save_discard_widget show_only_indicator=false }}
                </div>

                <div class="subsection-settings">
                    {{#each assigned_permissions}}
                        {{> ../settings/settings_checkbox
                          setting_name=setting_name
                          prefix="id_group_permission_"
                          is_checked=true
                          label=(lookup ../../all_group_setting_labels.realm setting_name)
                          is_disabled=(not can_edit)
                          tooltip_message=tooltip_message}}
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>

    <div class="channel-group-permissions {{#unless group_assigned_stream_permissions.length}}hide{{/unless}}">
        <h3>{{t "Channel permissions"}}</h3>

        {{#each group_assigned_stream_permissions}}
            <div class="settings-subsection-parent {{#unless assigned_permissions.length}}hide{{/unless}}" data-stream-id="{{stream.stream_id}}">
                <div class="subsection-header">
                    <h3>
                        {{> ../inline_decorated_stream_name stream=stream }}
                    </h3>
                    {{> ../settings/settings_save_discard_widget show_only_indicator=false }}
                </div>

                <div class="subsection-settings">
                    {{#each assigned_permissions}}
                        {{> ../settings/settings_checkbox
                          setting_name=setting_name
                          prefix=../id_prefix
                          is_checked=true
                          label=(lookup ../../all_group_setting_labels.stream setting_name)
                          is_disabled=(not can_edit)
                          tooltip_message=tooltip_message
                          }}
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>

    <div class="user-group-permissions {{#unless group_assigned_user_group_permissions.length}}hide{{/unless}}">
        <h3>{{t "User group permissions"}}</h3>

        {{#each group_assigned_user_group_permissions}}
            <div class="settings-subsection-parent {{#unless assigned_permissions.length}}hide{{/unless}}" data-group-id="{{group_id}}">
                <div class="subsection-header">
                    <h3>{{group_name}}</h3>
                    {{> ../settings/settings_save_discard_widget show_only_indicator=false }}
                </div>

                <div class="subsection-settings">
                    {{#each assigned_permissions}}
                        {{> ../settings/settings_checkbox
                          setting_name=setting_name
                          prefix=../id_prefix
                          is_checked=true
                          label=(lookup ../../all_group_setting_labels.group setting_name)
                          is_disabled=(not can_edit)
                          tooltip_message=tooltip_message
                          }}
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
