<tr>
    <td class="panel_user_list" colspan="2">
        {{> ../user_group_display_only_pill . strikethrough=soft_removed}}
    </td>
    <td>
        {{#if soft_removed}}
            <button data-group-id="{{group_id}}" class="undo_soft_removed_potential_subgroup button small rounded white">{{t 'Add' }}</button>
        {{else}}
            <button data-group-id="{{group_id}}" class="remove_potential_subgroup button small rounded white">{{t 'Remove' }}</button>
        {{/if}}
    </td>
</tr>
