<div class="member_list_add float-left">
    {{> add_members_form hide_add_button=true}}
</div>
<br />

<div class="create_member_list_header">
    <h4 class="user_group_setting_subsection_title">{{t 'Members preview' }}</h4>
    <input class="add-user-list-filter filter_text_input" name="user_list_filter" type="text"
      autocomplete="off" placeholder="{{t 'Filter' }}" />
</div>

<div class="add-group-member-loading-spinner"></div>

<div class="member-list-box">
    <div class="member_list_container" data-simplebar data-simplebar-tab-index="-1">
        <table class="member-list table table-striped">
            <thead class="table-sticky-headers">
                <th data-sort="alphabetic" data-sort-prop="full_name">{{t "Name" }}
                    <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                </th>
                <th class="settings-email-column" data-sort="email">{{t "Email" }}
                    <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                </th>
                <th>{{t "Action" }}</th>
            </thead>
            <tbody id="create_user_group_members" class="member_table" data-empty="{{t 'This group has no members.' }}" data-search-results-empty="{{t 'No group members match your current filter.'}}"></tbody>
        </table>
    </div>
</div>
