<div class="group_settings_header" data-group-id="{{group.id}}">
    <div class="tab-container"></div>
    <div class="button-group">
        <div class="join_leave_button_wrapper inline-block">
            <button class="button small rounded join_leave_button" type="button" name="button">
                {{#if is_direct_member}}
                    {{t "Leave group" }}
                {{else}}
                    {{t "Join group" }}
                {{/if}}
            </button>
        </div>
        <button class="button small rounded button-danger deactivate deactivate-group-button tippy-zulip-delayed-tooltip" data-tippy-content="{{t 'Deactivate group'}}" type="button"> <i class="zulip-icon zulip-icon-user-group-x" aria-hidden="true"></i></button>
    </div>
</div>
<div class="user_group_settings_wrapper" data-group-id="{{group.id}}">
    <div class="inner-box">

        <div class="group_general_settings group_setting_section" data-group-section="general">
            <div class="group-header">
                <div class="group-name-wrapper">
                    <span class="group-name" title="{{group_name}}">{{group_name}}</span>
                </div>
                <div class="group_change_property_info alert-notification"></div>
                <div class="button-group">
                    <button id="open_group_info_modal" class="button rounded small button-warning tippy-zulip-delayed-tooltip" data-tippy-content="{{t 'Change group info' }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="group-description-wrapper">
                <span class="group-description">
                    {{group.description}}
                </span>
            </div>

            <div class="group-permissions settings-subsection-parent" id="group_permission_settings">
                <div class="subsection-header">
                    <h3 class="user_group_setting_subsection_title">
                        {{t "Group permissions" }}
                        {{> ../help_link_widget link="/help/manage-user-groups#configure-group-permissions"}}
                    </h3>
                    {{> ../settings/settings_save_discard_widget section_name="group-permissions" }}
                </div>

                {{> group_permissions prefix="id_"}}
            </div>

            <div class="group_detail_box">
                <div class="user_group_details_box_header">
                    <h3 class="user_group_setting_subsection_title">
                        {{t "User group details" }}
                    </h3>
                </div>
                <div class="creator_details group_details_box_subsection">
                    {{> ../creator_details . }}
                </div>
                <div class="group_details_box_subsection">
                    {{t "User group ID"}}<br/>
                    {{group.id}}
                </div>
            </div>
        </div>

        <div class="group_member_settings group_setting_section" data-group-section="members">
            <div class="edit_members_for_user_group">
                {{> user_group_members .}}
            </div>
        </div>
    </div>
</div>
