<div class="group_settings_header" data-group-id="{{group.id}}">
    <div class="tab-container"></div>
    <div class="button-group">
        {{#if can_edit}}
        <button class="button small rounded btn-danger deactivate tippy-zulip-tooltip" data-tippy-content="{{t 'Delete group'}}" type="button" name="delete_button"> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
        {{/if}}
    </div>
</div>
<div class="user_group_settings_wrapper hide" data-group-id="{{group.id}}">
    <div class="inner-box">

        <div class="group_general_settings group_setting_section">
            <div class="group-header">
                <div class="group-name-wrapper">
                    <span class="group-name" title="{{group.name}}">{{group.name}}</span>
                </div>
                <div class="group_change_property_info alert-notification"></div>
                <div class="button-group" {{#unless can_edit}}style="display:none"{{/unless}}>
                    <button id="open_group_info_modal" class="button rounded small btn-warning tippy-zulip-tooltip" data-tippy-content="{{t 'Change group info' }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="group-description-wrapper">
                <span class="group-description">
                    {{group.description}}
                </span>
            </div>
        </div>

        <div class="group_member_settings group_setting_section">
            <div class="edit_members_for_user_group">
                {{> user_group_members}}
            </div>
        </div>
    </div>
</div>
