{{#if message}}
{{message}}
<br />
{{/if}}
{{#if already_added_users}}
    {{#each already_added_users}}
        {{#if @first}}
        {{t "Already members:" }}
        {{/if}}
        <a data-user-id="{{user_id}}" class="view_user_profile">{{full_name}}</a>{{#unless @last}},{{else}}.{{/unless}}
    {{/each}}
    <br />
{{/if}}
{{#if ignored_deactivated_users}}
    {{#each ignored_deactivated_users}}
        {{#if @first}}
        {{t "Ignored deactivated users:" }}
        {{/if}}
        <a data-user-id="{{user_id}}" class="view_user_profile">{{full_name}}</a>{{#unless @last}},{{else}}.{{/unless}}
    {{/each}}
    <br />
{{/if}}
{{#if already_added_subgroups}}
    {{#each already_added_subgroups}}
        {{#if @first}}
        {{t "Already subgroups:" }}
        {{/if}}
        <a data-user-group-id="{{id}}" class="view_user_group">{{name}}</a>{{#unless @last}},{{else}}.{{/unless}}
    {{/each}}
    <br />
{{/if}}
{{#if ignored_deactivated_groups}}
    {{#each ignored_deactivated_groups}}
        {{#if @first}}
        {{t "Ignored deactivated groups:" }}
        {{/if}}
        <a data-user-group-id="{{id}}" class="view_user_group">{{name}}</a>{{#unless @last}},{{else}}.{{/unless}}
    {{/each}}
{{/if}}
