<div class="widget-command-invocation {{#if is_pending}}command-pending{{/if}} {{#if is_responding}}command-responding{{/if}} {{#if is_error}}command-error{{/if}}">
    <div class="command-header">
        <span class="command-label">used</span>
        <span class="command-name">/{{command_name}}</span>
        <span class="command-with">with</span>
        <img class="command-bot-avatar" src="{{bot_avatar}}" alt="" />
        <span class="command-bot-name">{{bot_name}}</span>
        {{#if is_responding}}
        <span class="command-responding-indicator">
            <span class="responding-dot"></span>
            <span class="responding-dot"></span>
            <span class="responding-dot"></span>
        </span>
        {{/if}}
        {{#if is_error}}
        <span class="command-error-indicator">
            <i class="zulip-icon zulip-icon-warning-triangle"></i>
        </span>
        {{/if}}
    </div>
    {{#if has_arguments}}
    <div class="command-arguments">
        {{#each arguments}}
        <div class="command-argument">
            <span class="argument-name">{{name}}</span>
            <span class="argument-value">{{value}}</span>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if is_error}}
    <div class="command-error-message">{{error_message}}</div>
    {{/if}}
</div>
