<div class="poll-widget">
    <div class="poll-widget-header-area">
        <h4 class="poll-question-header"></h4>
        <button type="button" class="poll-edit-question" aria-label="{{t 'Edit question'}}"><i class="zulip-icon zulip-icon-pencil" aria-hidden="true"></i></button>
        <div class="poll-question-bar">
            <input type="text" class="poll-question" placeholder="{{t 'Add question'}}" />
            <button type="button" class="poll-question-remove" aria-label="{{t 'Cancel edit'}}"><i class="zulip-icon zulip-icon-close" aria-hidden="true"></i></button>
            <button type="button" class="poll-question-check" aria-label="{{t 'Save'}}"><i class="zulip-icon zulip-icon-check" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="poll-please-wait">
        {{t 'We are about to have a poll.  Please wait for the question.'}}
    </div>
    <ul class="poll-widget">
    </ul>
    <div class="poll-option-bar">
        <input type="text" class="poll-option" placeholder="{{t 'New option'}}" />
        <button class="poll-option">{{t "Add option" }}</button>
    </div>
</div>
