<div class="poll-widget">
    <h4 class="poll-question-header"></h4>
    <div class="poll-please-wait">
        {{t 'We are about to have a poll.  Please wait for the question.'}}
    </div>
    <i class="fa fa-pencil poll-edit-question"></i>
    <div class="poll-question-bar">
        <input type="text" class="poll-question" placeholder="{{t 'Add question'}}" />
        <button class="poll-question-remove"><i class="fa fa-remove"></i></button>
        <button class="poll-question-check"><i class="fa fa-check"></i></button>
    </div>
    <div class="poll-author-help">
        {{t 'Tip: You can also send "/poll Some question"'}}
    </div>
    <ul class="poll-widget">
    </ul>
    <div class="poll-option-bar">
        <input type="text" class="poll-option" placeholder="{{t 'New option'}}" />
        <button class="poll-option">{{t "Add option" }}</button>
    </div>
</div>
