<div class="poll-widget">
    <h4 class="poll-question-header">{{t "What did you drink this morning?"}}</h4>
    <button type="button" class="poll-edit-question" aria-label="{{t 'Edit question'}}"><i class="zulip-icon zulip-icon-pencil" aria-hidden="true"></i></button>
    <ul class="poll-widget">
        <li>
            <button class="poll-vote">
                0
            </button>
            <span>{{t "Milk"}}</span>
        </li>
        <li>
            <button class="poll-vote">
                0
            </button>
            <span>{{t "Tea"}}</span>
        </li>
        <li>
            <button class="poll-vote">
                0
            </button>
            <span>{{t "Coffee"}}</span>
        </li>
    </ul>
</div>
