<br />
{{#each all_tasks}}
    <li>
        <label class="checkbox">
            <div>
                <input type="checkbox" class="task" data-key="{{ key }}" {{#if completed}}checked{{/if}}/>
                <span></span>
            </div>
            <div>
                {{#if completed}}
                <strike><strong class="task_complete">{{rendered_markdown task }}</strong>{{#if desc }}<span class="task_desc_complete">: </span><span class="description_complete">{{rendered_markdown desc }}</span>{{/if}}</strike>
                {{else}}
                <strong class="task">{{rendered_markdown task }}</strong>{{#if desc }}<span class="task_desc">: </span><span class="description">{{rendered_markdown desc }}</span>{{/if}}
                {{/if}}
            </div>
        </label>
    </li>
{{/each}}
