<div class="message_content rendered_markdown">
    <div class="widget-content">
        <div class="todo-widget">
            <h4>{{t "Today's tasks"}}</h4>
            <ul class="todo-widget">
                <li>
                    <label class="checkbox">
                        <span>
                            <input type="checkbox" class="task" checked="checked" />
                            <span class="rendered-checkbox"></span>
                        </span>
                        <span>
                            <s><strong>{{t "Task 1"}}:</strong> {{t "This is the first task."}}</s>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <span>
                            <input type="checkbox" class="task" />
                            <span class="rendered-checkbox"></span>
                        </span>
                        <span>
                            <strong>{{t "Task 2"}}:</strong> {{t "This is the second task."}}
                        </span>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <span>
                            <input type="checkbox" class="task" />
                            <span class="rendered-checkbox"></span>
                        </span>
                        <span>
                            <strong>{{t "Last task"}}</strong>
                        </span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
