{{#each all_tasks}}
    <li>
        <label class="checkbox">
            <div>
                <input type="checkbox" class="task" data-key="{{ key }}" {{#if completed}}checked{{/if}}/>
                <span></span>
            </div>
            <div>
                {{#if completed}}
                <strike><strong>{{ task }}</strong>{{#if desc }}: {{ desc }}{{/if}}</strike>
                {{else}}
                <strong>{{ task }}</strong>{{#if desc }}: {{ desc }}{{/if}}
                {{/if}}
            </div>
        </label>
    </li>
{{/each}}
