{{#each all_tasks}}
    <li>
        <label class="checkbox">
            <span class="todo-checkbox">
                <input type="checkbox" class="task" data-key="{{ key }}" {{#if completed}}checked{{/if}}/>
                <span class="custom-checkbox"></span>
            </span>
            <span class="todo-task">
                {{#if completed}}
                <s><strong>{{ task }}</strong>{{#if desc }}: {{ desc }}{{/if}}</s>
                {{else}}
                <strong>{{ task }}</strong>{{#if desc }}: {{ desc }}{{/if}}
                {{/if}}
            </span>
        </label>
        <i class="fa fa-pencil small todo-edit-task-icon"></i>
        <div class="todo-task-edit-bar">
            <input type="text" class="add-task" placeholder="{{t 'Task'}}" />
            <input type="text" class="add-desc" placeholder="{{t 'Description'}}" />
            <button class="todo-task-edit-cancel"><i class="fa fa-remove"></i></button>
            <button class="todo-task-edit-check">
                <i class="fa fa-check todo-task-check"></i>
                <i class="fa fa-circle-o-notch todo-task-spinner" style="display: none;"></i>
            </button>
        </div>
        <div class="widget-error"></div>
    </li>
{{/each}}
