<br />
{{#each pending_tasks}}
    <li>
        <label class="checkbox">
            <div>
                <input type="checkbox" class="task" data-key="{{ key }}" />
                <span></span>
            </div>
            <div>
                <strong>{{ task }}</strong>{{#if desc }} - {{ desc }}{{/if}}
            </div>
        </label>

    </li>
{{/each}}
{{#each completed_tasks}}
    <li>
        <label class="checkbox">
            <div>
                <input type="checkbox" class="task" data-key="{{ key }}" checked="checked"/>
                <span></span>
            </div>
            <strike><em><strong>{{ task }}</strong>{{#if desc }} - {{ desc }}{{/if}}</em></strike>
        </label>
    </li>
{{/each}}
