{{#each all_tasks}}
    <li class="todo-task-row" draggable="true" data-key="{{ key }}">
        <label class="checkbox">
            <span class="todo-drag-handle" draggable="true" data-key="{{ key }}" aria-label="{{t 'Reorder task'}}">
                <i class="zulip-icon zulip-icon-grip-vertical" aria-hidden="true"></i>
            </span>
            <span class="todo-checkbox">
                <input type="checkbox" class="task" data-key="{{ key }}" {{#if completed}}checked{{/if}} />
                <span class="custom-checkbox"></span>
            </span>
            <span class="todo-task">
                {{#if completed}}
                <s><strong>{{ task }}</strong>{{#if desc }}: {{ desc }}{{/if}}</s>
                {{else}}
                <strong>{{ task }}</strong>{{#if desc }}: {{ desc }}{{/if}}
                {{/if}}
            </span>
        </label>
    </li>
{{/each}}
