<div id="about-zulip" class="overlay flex new-style" tabindex="-1" role="dialog" data-overlay="about-zulip" aria-hidden="true">
    <div class="overlay-content modal-bg">
        <button type="button" class="exit" aria-label="{{t 'Close' }}"><span aria-hidden="true">&times;</span></button>
        <div class="modal-body">
            <div class="about-zulip-logo">
                <a target="_blank" rel="noopener noreferrer" href="https://zulip.com"><img src="../../static/images/logo/zulip-org-logo.svg" alt="{{t 'Zulip' }}" /></a>
            </div>
            <p>
                <strong>Zulip Server</strong>
                <br />
                {{t "Version {zulip_version}" }}
                <i class="fa fa-copy tippy-zulip-tooltip" data-tippy-content="{{t 'Copy version' }}" data-tippy-placement="right" data-clipboard-text="{{zulip_version}}"></i>
                {{#if is_fork}}
                    <br />
                    {{t "Forked from upstream at {zulip_merge_base}" }}
                    <i class="fa fa-copy tippy-zulip-tooltip" data-tippy-content="{{t 'Copy version' }}" data-tippy-placement="right" data-clipboard-text="{{zulip_merge_base}}"></i>
                {{/if}}
            </p>
            <p>
                Copyright 2012–2015 Dropbox, Inc., 2015–2021 Kandra Labs, Inc., and contributors.
            </p>
            <p>
                Zulip is <a target="_blank" rel="noopener noreferrer" href="https://github.com/zulip/zulip#readme">open-source software</a>,
                distributed under the Apache 2.0 license.
            </p>
        </div>
    </div>
</div>
