{{! Client-side Handlebars template for rendering the trailing bookend. }}
<div class="{{#if is_trailing_bookend}}trailing_bookend {{/if}}bookend">
    {{#if is_spectator}}
        <span class="recent-topics-link bookend-label">
            <a href="#recent">{{t "Browse recent conversations" }}</a>
        </span>
    {{else}}
        {{#if deactivated}}
            <span class="stream-status bookend-label">
                {{t "This channel has been archived." }}
            </span>
        {{else if subscribed }}
            <span class="stream-status bookend-label">
                {{#tr}}
                    You subscribed to <z-stream-name></z-stream-name>. <channel-settings-link></channel-settings-link>
                    {{#*inline "z-stream-name"}}{{> stream_privacy . }} {{stream_name}}{{/inline}}
                    {{#*inline "channel-settings-link"}} <a class="bookend-channel-settings-link" href="#channels/{{stream_id}}/{{stream_name}}/personal">{{t 'Manage channel settings'}}</a>{{/inline}}
                {{/tr}}
            </span>
        {{else if just_unsubscribed }}
            <span class="stream-status bookend-label">
                {{#tr}}
                    You unsubscribed from <z-stream-name></z-stream-name>. <channel-settings-link></channel-settings-link>
                    {{#*inline "z-stream-name"}}{{> stream_privacy . }} {{stream_name}}{{/inline}}
                    {{#*inline "channel-settings-link"}} <a class="bookend-channel-settings-link" href="#channels/{{stream_id}}/{{stream_name}}/general">{{t 'View in channel settings'}}</a>{{/inline}}
                {{/tr}}
            </span>
        {{else}}
            {{! Use banner component for not subscribed case }}
            {{#> components/banner intent="info" custom_classes="bookend-not-subscribed-banner" buttons=not_subscribed_buttons stream_id=stream_id stream_name=stream_name invite_only=invite_only is_web_public=is_web_public}}
                {{#tr}}
                    Because you aren't subscribed to <z-stream-name></z-stream-name>, you won't see new messages, reactions, and other updates.
                    {{#*inline "z-stream-name"}}<span class="stream-status">{{> stream_privacy . }}</span> {{stream_name}}{{/inline}}
                {{/tr}}
            {{/components/banner}}
        {{/if}}
    {{/if}}
</div>
