<div id="compose-content">
    {{!-- scroll to bottom button is not part of compose but
    helps us align it at various screens sizes with
    minimal css and no JS. We keep it `position: absolute` to prevent
    it changing compose box layout in any way. --}}
    <div id="scroll-to-bottom-button-container" aria-hidden="true">
        <div id="scroll-to-bottom-button-clickable-area" data-tooltip-template-id="scroll-to-bottom-button-tooltip-template">
            <div id="scroll-to-bottom-button">
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
        <template id="scroll-to-bottom-button-tooltip-template">
            {{t 'Scroll to bottom' }}
            {{tooltip_hotkey_hints "End"}}
        </template>
    </div>
    <div id="compose_controls" class="new-style">
        <div id="compose_buttons">
            <span class="new_message_button reply_button_container" data-tooltip-template-id="compose_reply_message_button_tooltip_template">
                <button type="button" class="button small rounded compose_reply_button"
                  id="left_bar_compose_reply_button_big">
                    <span class="compose_reply_button_label">{{t 'Compose message' }}</span>
                </button>
                <template id="compose_reply_message_button_tooltip_template">
                    {{t 'Reply to selected message' }}
                    {{tooltip_hotkey_hints "R"}}
                </template>
                <template id="compose_reply_selected_topic_button_tooltip_template">
                    {{t 'Reply to selected conversation' }}
                    {{tooltip_hotkey_hints "R"}}
                </template>
                <template id="compose_reply_button_disabled_tooltip_template">
                    {{t 'You are not allowed to send direct messages in this organization.' }}
                </template>
            </span>
            <span class="new_message_button mobile_button_container">
                <button type="button" class="button small rounded compose_mobile_button"
                  id="left_bar_compose_mobile_button_big"
                  data-tooltip-template-id="left_bar_compose_mobile_button_tooltip_template">
                    <span>+</span>
                </button>
                <template id="left_bar_compose_mobile_button_tooltip_template">
                    {{t 'New message' }}
                    {{tooltip_hotkey_hints "C"}}
                </template>
            </span>
            <span class="new_message_button stream_button_container">
                <button type="button" class="button small rounded compose_stream_button"
                  id="left_bar_compose_stream_button_big"
                  data-tooltip-template-id="new_topic_message_button_tooltip_template">
                    <span class="compose_stream_button_label">{{t 'New topic' }}</span>
                </button>
                <template id="new_topic_message_button_tooltip_template">
                    {{t 'New topic' }}
                    {{tooltip_hotkey_hints "C"}}
                </template>
                <template id="new_stream_message_button_tooltip_template">
                    {{t 'New stream message' }}
                    {{tooltip_hotkey_hints "C"}}
                </template>
            </span>
            {{#unless embedded }}
            <span class="new_message_button private_button_container">
                <button type="button" class="button small rounded compose_private_button"
                  id="left_bar_compose_private_button_big"
                  data-tooltip-template-id="new_direct_message_button_tooltip_template">
                    <span class="compose_private_button_label">{{t 'New direct message' }}</span>
                </button>
                <template id="new_direct_message_button_tooltip_template">
                    {{t 'New direct message' }}
                    {{tooltip_hotkey_hints "X"}}
                </template>
            </span>
            {{/unless}}
        </div>
    </div>
    <div class="message_comp">
        <div id="compose_banners" data-simplebar></div>
        <div class="composition-area">
            <form id="send_message_form" action="/json/messages" method="post">
                <div class="compose_table">
                    <div id="compose_top">
                        <div id="compose_top_right" class="order-2">
                            <button type="button" class="expand_composebox_button fa fa-chevron-up" aria-label="{{t 'Expand compose' }}" data-tippy-content="{{t 'Expand compose' }}"></button>
                            <button type="button" class="collapse_composebox_button fa fa-chevron-down" aria-label="{{t 'Collapse compose' }}" data-tippy-content="{{t 'Collapse compose' }}"></button>
                            <button type="button" class="close fa fa-times" id='compose_close' data-tooltip-template-id="compose_close_tooltip_template"></button>
                            <template id="compose_close_tooltip_template">
                                {{t 'Cancel compose' }}
                                {{tooltip_hotkey_hints "Esc"}}
                            </template>
                            <template id="compose_close_and_save_tooltip_template">
                                {{t 'Cancel compose and save draft' }}
                                {{tooltip_hotkey_hints "Esc"}}
                            </template>
                        </div>
                        <div id="compose-recipient" class="order-1">
                            <a role="button" class="narrow_to_compose_recipients zulip-icon zulip-icon-arrow-left-circle order-1" data-tooltip-template-id="narrow_to_compose_recipients_tooltip" tabindex="0"></a>
                            <div id="compose_recipient_selection_dropdown" class="new-style">
                                <div class="stream_header_colorblock"></div>
                                {{> settings/dropdown_list_widget
                                  widget_name="compose_select_recipient"
                                  list_placeholder=(t 'Filter')}}
                            </div>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <input type="text" class="recipient_box" name="stream_message_recipient_topic" id="stream_message_recipient_topic" maxlength="{{ max_topic_length }}" value="" placeholder="{{t 'Topic' }}" autocomplete="off" tabindex="0" aria-label="{{t 'Topic' }}" />
                            <div id="compose-direct-recipient" class="pill-container" data-before="{{t 'You and' }}">
                                <div class="input" contenteditable="true" id="private_message_recipient" data-no-recipients-text="{{t 'Add one or more users' }}" data-some-recipients-text="{{t 'Add another user...' }}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="messagebox-wrapper">
                        <div class="messagebox">
                            <textarea class="new_message_textarea" name="content" id='compose-textarea' placeholder="{{t 'Compose your message here' }}" tabindex="0" aria-label="{{t 'Compose your message here...' }}"></textarea>
                            <div class="scrolling_list preview_message_area" data-simplebar id="preview_message_area" style="display:none;">
                                <div class="markdown_preview_spinner"></div>
                                <div class="preview_content rendered_markdown"></div>
                            </div>
                            <div class="drag"></div>
                            <div id="below-compose-content">
                                <div class="compose_bottom_top_container">
                                    <div class="compose_right_float_container order-3">
                                        <button type="submit" id="compose-send-button" class="button small send_message compose-submit-button animated-purple-button">
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17.5249 9.13256C17.5249 9.7409 17.1324 10.2826 16.4499 10.6242L2.76657 17.4659C2.43323 17.6326 2.10823 17.7159 1.80823 17.7159C1.37407 17.7159 0.991566 17.5326 0.749066 17.2084C0.541566 16.9242 0.341566 16.4326 0.583233 15.6326L2.1249 10.4909C2.1749 10.3409 2.20823 10.1584 2.2249 9.9659H10.6666C11.1249 9.9659 11.4999 9.5909 11.4999 9.13256C11.4999 8.67423 11.1249 8.29923 10.6666 8.29923H2.2249C2.2074 8.10756 2.17407 7.92423 2.1249 7.77423L0.583233 2.63256C0.341566 1.83256 0.541566 1.3409 0.749899 1.05756C1.15823 0.507564 1.93323 0.382564 2.76657 0.799231L16.4507 7.6409C17.1332 7.98256 17.5249 8.52423 17.5249 9.13256Z" fill="white"/>
                                            </svg>
                                        </button>
                                        <button class="animated-purple-button message-control-button" id="send_later" tabindex=0 type="button" data-tippy-content="{{t 'Send later' }}">
                                            <div class="separator-line"></div>
                                            <div class="zulip-icon">
                                                <svg width="7" height="5" viewBox="0 0 7 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M6.72991 0.331613C6.72991 0.331613 6.75112 0.352818 6.79353 0.395229C6.83594 0.437639 6.85714 0.516881 6.85714 0.632952C6.85714 0.749023 6.81473 0.84947 6.72991 0.934291L3.72991 3.93429C3.64509 4.01911 3.54464 4.06152 3.42857 4.06152C3.3125 4.06152 3.21205 4.01911 3.12723 3.93429L0.127232 0.934291C0.0424107 0.84947 0 0.749023 0 0.632952C0 0.516881 0.0424107 0.416434 0.127232 0.331613C0.212054 0.246791 0.3125 0.204381 0.428571 0.204381H6.42857C6.54464 0.204381 6.64509 0.246791 6.72991 0.331613Z" fill="white"/>
                                                </svg>
                                            </div>
                                        </button>
                                        <template id="send-enter-tooltip-template">
                                            {{t 'Send' }}
                                            {{tooltip_hotkey_hints "Enter"}}
                                        </template>
                                        <template id="send-ctrl-enter-tooltip-template">
                                            {{t 'Send' }}
                                            {{tooltip_hotkey_hints "Ctrl" "Enter"}}
                                        </template>
                                    </div>
                                    {{> compose_control_buttons }}
                                </div>
                                <div class="compose_bottom_bottom_container">
                                    <span id="compose_limit_indicator"></span>
                                    <div class="open_enter_sends_dialog">
                                        <span class="enter_sends_true">
                                            {{#tr}}
                                                <z-shortcut></z-shortcut> to send
                                                {{#*inline "z-shortcut"}}<kbd>Enter</kbd>{{/inline}}
                                            {{/tr}}
                                        </span>
                                        <span class="enter_sends_false">
                                            {{#tr}}
                                                <z-shortcut></z-shortcut> to send
                                                {{#*inline "z-shortcut"}}<kbd>Ctrl</kbd>+<kbd>Enter</kbd>{{/inline}}
                                            {{/tr}}
                                        </span>
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<template id="add-global-time-tooltip">
    <div>
        <span>{{t "Add global time" }}</span><br/>
        <span class="tooltip-inner-content italic">{{t "Everyone sees global times in their own time zone." }}</span>
    </div>
</template>
