<div class="compose-control-buttons-container order-1">
    <input type="file" class="file_input notvisible" multiple />
    {{#if file_upload_enabled }}
    <a role="button" class="compose_control_button compose_upload_file notdisplayed" aria-label="{{t 'Upload files' }}" tabindex=0 data-tippy-content="{{t 'Upload files' }}"> <i class="fa fa-paperclip"></i> </a>
    {{/if}}
    <a role="button" class="compose_control_button markdown_preview" aria-label="{{t 'Preview' }}" tabindex=0 data-tippy-content="{{t 'Preview' }}"> <i class="fa fa-eye"></i> </a>
    <a role="button" class="compose_control_button undo_markdown_preview" aria-label="{{t 'Write' }}" tabindex=0 style="display:none;" data-tippy-content="{{t 'Write' }}"> <i class="fa fa-edit"></i> </a>
    <a role="button" class="compose_control_button video_link" aria-label="{{t 'Add video call' }}" tabindex=0 data-tippy-content="{{t 'Add video call' }}"> <i class="fa fa-video-camera"></i> </a>
    <a role="button" class="compose_control_button audio_link" aria-label="{{t 'Add audio call' }}" tabindex=0 data-tippy-content="{{t 'Add audio call' }}"><i class="fa fa-phone"></i> </a>
    <a role="button" class="compose_control_button" data-tippy-content="{{t 'Add emoji' }}"> <i class="fa fa-smile-o emoji_map" aria-label="{{t 'Add emoji' }}" tabindex=0></i> </a>
    <a role="button" class="compose_control_button time_pick" aria-label="{{t 'Add global time' }}" tabindex=0 data-tooltip-template-id="add-global-time-tooltip" data-tippy-maxWidth="none"> <i class="fa fa-clock-o"></i> </a>
    <div class="compose_control_button_container {{#unless giphy_enabled }}hide{{/unless}}" data-tippy-content="{{t 'Add GIF' }}">
        <a role="button" class="compose_control_button compose_gif_icon zulip-icon zulip-icon-gif" aria-label="{{t 'Add GIF' }}" tabindex=0></a>
    </div>
    <div class="divider hide-sm">|</div>
    <div class="{{#if message_id}}hide-lg{{else}}hide-sm{{/if}}">
        {{> compose_control_buttons_in_popover}}
    </div>
    <a role="button" class="compose_control_button compose_draft_button hide-sm" tabindex=0 href="#drafts" data-tooltip-template-id="compose_draft_tooltip_template">
        {{t 'Drafts' }}
    </a>
    <div class="compose_control_menu_wrapper" role="button" tabindex=0>
        <a class="compose_control_button zulip-icon zulip-icon-ellipsis-v-solid hide {{#if message_id}}show-lg{{else}}show-sm{{/if}} compose_control_menu" tabindex="-1" data-tippy-content="Compose actions"></a>
    </div>
</div>
