<a role="button" data-format-type="bold" class="compose_control_button formatting_button" aria-label="{{t 'Bold' }}" tabindex=0 data-tippy-content="{{t 'Bold' }}"> <i class="fa fa-bold"></i> </a>
<a role="button" data-format-type="italic" class="compose_control_button formatting_button" aria-label="{{t 'Italic' }}" tabindex=0 data-tippy-content="{{t 'Italic' }}"> <i class="fa fa-italic"></i> </a>
<a role="button" data-format-type="link" class="compose_control_button formatting_button" aria-label="{{t 'Link' }}" tabindex=0 data-tippy-content="{{t 'Link' }}"> <i class="fa fa-link"></i> </a>
<div class="divider hide-sm">|</div>
<a role="button" class="compose_control_button compose_help_button" tabindex=0 data-tippy-content="{{t 'Message formatting' }}" data-overlay-trigger="message-formatting"> <i class="fa fa-question"></i> </a>
