<div id="copy_generated_link_container">
    <span>{{t "Link:" }}</span>
    <a href="{{ invite_link }}" id="multiuse_invite_link">{{ invite_link }}</a>

    <span id="copy_generated_invite_link" class="copy-button" data-tippy-content="{{t 'Copy link' }}" data-tippy-placement="top" aria-label="{{t 'Copy link' }}" data-clipboard-text="{{ invite_link }}" role="button">
        <i class="zulip-icon zulip-icon-copy" aria-hidden="true"></i>
    </span>
</div>
