<form id="demo_organization_add_email_form" class="new-style">
    <div class="tip">{{t "If you haven't updated your name, it's a good idea to do so before inviting other users to join you!" }}</div>
    <div class="input-group">
        <label for="demo_organization_add_email" class="modal-field-label">{{t "Email" }}</label>
        <input id="demo_organization_add_email" type="text" name="email" class="modal_text_input" value="{{delivery_email}}" autocomplete="off" spellcheck="false" autofocus="autofocus"/>
    </div>
    <div class="input-group">
        <label for="demo_organization_update_full_name" class="modal-field-label">{{t "Name" }}</label>
        <input id="demo_organization_update_full_name" name="full_name" type="text" class="modal_text_input" value="{{full_name}}" maxlength="60" />
    </div>
</form>
