<form id="change_password_container">
    <div class="password-div">
        <label for="old_password" class="modal-field-label">{{t "Old password" }}</label>
        <input type="password" autocomplete="off" name="old_password" id="old_password" class="w-200 inline-block modal_password_input" value="" />
        <i class="fa fa-eye-slash password_visibility_toggle tippy-zulip-tooltip" role="button" tabindex="0"></i>
        <div class="settings-forgot-password">
            <a href="/accounts/password/reset/" class="sea-green" target="_blank" rel="noopener noreferrer">{{t "Forgot it?" }}</a>
        </div>
    </div>
    <div class="password-div">
        <label for="new_password" class="modal-field-label">{{t "New password" }}</label>
        <input type="password" autocomplete="new-password" name="new_password" id="new_password" class="w-200 inline-block modal_password_input" value=""
          data-min-length="{{password_min_length}}" data-min-guesses="{{password_min_guesses}}" />
        <i class="fa fa-eye-slash password_visibility_toggle tippy-zulip-tooltip" role="button" tabindex="0"></i>
        <div class="progress inline-block" id="pw_strength">
            <div class="bar bar-danger hide" style="width: 10%;"></div>
        </div>
    </div>
</form>
