<div class="micromodal" id="dialog_widget_modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1">
        <div {{#if id}}id="{{id}}" {{/if}}class="modal__container" role="dialog" aria-modal="true" aria-labelledby="dialog_title">
            <header class="modal__header">
                <h1 class="modal__title dialog_heading">
                    {{{ heading_text }}}
                    {{#if link}}
                    {{> help_link_widget }}
                    {{/if}}
                </h1>
                <button class="modal__close" aria-label="{{t 'Close modal' }}" data-micromodal-close></button>
            </header>
            <main class="modal__content" data-simplebar {{#if always_visible_scrollbar}}data-simplebar-auto-hide="false"{{/if}}>
                <div class="alert" id="dialog_error"></div>
                {{{ html_body }}}
            </main>
            <footer class="modal__footer">
                {{#unless single_footer_button}}
                <button class="modal__btn dialog_exit_button" aria-label="{{t 'Close this dialog window' }}" data-micromodal-close>{{{ html_exit_button }}}</button>
                {{/unless}}
                <div class="dialog_submit_button_container">
                    <button class="modal__btn dialog_submit_button"{{#if single_footer_button}} aria-label="{{t 'Close this dialog window' }}" data-micromodal-close{{/if}}>
                        <span>{{{ html_submit_button }}}</span>
                        <div class="modal__spinner"></div>
                    </button>
                </div>
            </footer>
        </div>
    </div>
</div>
