<div class="input-group" id="{{widget_name}}_widget_container">
    <label class="settings-field-label" for="{{widget_name}}_widget">{{label}}
        {{#if help_link}}{{> help_link_widget link=help_link }}{{/if}}
    </label>
    <span class="prop-element hide" id="id_{{widget_name}}" data-setting-widget-type="dropdown-list-widget" {{#if value_type}}data-setting-value-type="{{value_type}}"{{/if}}></span>
    {{> dropdown_widget}}
</div>
