{{#with item}}
    <li class="list-item" role="presentation" data-unique-id="{{unique_id}}" data-name="{{name}}" tabindex="0">
        {{#if description}}
        <a class="dropdown-list-item-common-styles">
            <span class="dropdown-list-item-name">
                {{#if bold_current_selection}}
                    <span class="dropdown-list-bold-selected">{{name}}</span>
                    {{#if has_delete_icon}}
                        <span class="dropdown-list-delete">
                            <i class="fa fa-trash-o dropdown-list-delete-icon"></i>
                        </span>
                    {{/if}}
                {{else}}
                    {{name}}
                {{/if}}
            </span>
            <span class="dropdown-list-item-description">
                {{description}}
            </span>
        </a>
        {{else}}
        <a class="dropdown-list-item-common-styles">
            {{#if stream}}
                {{> inline_decorated_stream_name stream=stream show_colored_icon=true}}
            {{else if is_direct_message}}
                <i class="zulip-icon zulip-icon-users stream-privacy-type-icon"></i> {{name}}
            {{else if is_setting_disabled}}
                <span class="setting-disabled-option"><i class="setting-disabled-option-icon fa fa-ban" aria-hidden="true"></i>{{t "Disable" }}</span>
            {{else}}
                {{#if bold_current_selection}}
                    <span class="dropdown-list-bold-selected">{{name}}</span>
                {{else}}
                    {{name}}
                {{/if}}
            {{/if}}
        </a>
        {{/if}}
    </li>
{{/with}}
