<div class="input-group" id="{{widget-name}}-widget-container">
    <label class="dropdown-title" for="{{widget-name}}-widget">{{label}}
        {{#if help_link}}{{> help_link-widget link=help_link }}{{/if}}
    </label>
    <span class="prop-element hide" id="id-{{widget-name}}" data-setting-widget-type="dropdown-list-widget" {{#if value_type}}data-setting-value-type="{{value_type}}"{{/if}}></span>
    {{> dropdown-widget}}
</div>
