<div class="edit-notifications"></div>
{{#if modified}}
    {{#if msg/local_edit_timestamp}}
        <div class="message_edit_notice">
            {{t "SAVING"}}
        </div>
    {{else if edited}}
        <div class="message_edit_notice">
            {{t "EDITED"}}
        </div>
    {{else}}
        <div class="message_edit_notice">
            {{t "MOVED"}}
        </div>
    {{/if}}
{{/if}}
