{{#if modified}}
    {{#if msg/local_edit_timestamp}}
        <div class="message_edit_notice">
            {{t "SAVING"}}
        </div>
    {{else if moved}}
        <div class="message_edit_notice">
            {{t "MOVED"}}
        </div>
    {{else}}
        <div class="message_edit_notice">
            {{t "EDITED"}}
        </div>
    {{/if}}
{{/if}}
