<div class="edit-notifications"></div>
{{#if modified}}
    {{#unless (eq msg/local_edit_timestamp undefined)}}
        <div class="message_edit_notice" data-tippy-content="{{t 'Saving message...'}}">
            <span class="message-editing-animation" role="presentation" aria-hidden="true">
                <span class="animated-dot"></span>
                <span class="animated-dot"></span>
                <span class="animated-dot"></span>
            </span>
        </div>
    {{else if edited}}
        <div class="message_edit_notice message-edited"
          data-tippy-content="{{t 'Message edited'}}"
          aria-label="{{t 'Message edited'}}">
            <i class="zulip-icon zulip-icon-message-edited message-edited-icon" role="presentation" aria-hidden="true"></i>
        </div>
    {{else}}
        <div class="message_edit_notice message-moved"
          data-tippy-content="{{t 'Message moved'}}"
          aria-label="{{t 'Message moved'}}">
            <i class="zulip-icon zulip-icon-message-moved message-moved-icon" role="presentation" aria-hidden="true"></i>
        </div>
    {{/unless}}
{{/if}}
