<div class="input-group" name="{{botname}}" id="{{botname}}_{{key}}">
    <label for="{{botname}}_{{key}}_input" class="modal-field-label">{{key}}</label>
    <input type="text" name="{{key}}" id="{{botname}}_{{key}}_input" class="modal_text_input"
      maxlength=1000 placeholder="{{value}}" value="" />
</div>
