<div class="empty_feed_notice">
    <h4 class="empty-feed-notice-title"> {{ title }} </h4>
    {{#if search_data}}
        {{#if search_data.has_stop_word}}
        <div class="empty-feed-notice-description">
            {{t "Common words were excluded from your search:" }} <br/>
            {{#each search_data.query_words}}
                {{#if is_stop_word}}
                <del>{{query_word}}</del>
                {{else}}
                <span class="search-query-word">{{query_word}}</span>
                {{/if}}
            {{/each}}
        </div>
        {{/if}}
    {{else if reaction_emoji}}
        <h4 class="empty-feed-notice-title">
            {{#tr}}
                There are no messages with <z-emoji></z-emoji> reaction.
                {{#*inline "z-emoji"}}
                    {{~#if reaction_emoji.emoji_alt_code~}}
                        :{{reaction_emoji.emoji_name}}:
                        {{~else if reaction_emoji.is_realm_emoji~}}
                        <img src="{{reaction_emoji.url}}" class="emoji" alt="{{reaction_emoji.emoji_name}}" />
                        {{~else~}}
                        <span class="emoji emoji-{{reaction_emoji.emoji_code}}" role="img" aria-label="{{reaction_emoji.emoji_name}}">:{{reaction_emoji.emoji_name}}:</span>
                    {{~/if~}}
                {{/inline}}
            {{/tr}}
        </h4>
    {{else if notice_html}}
        <div class="empty-feed-notice-description">
            {{{ notice_html }}}
        </div>
    {{/if}}
</div>
