<div class="empty_feed_notice">
    <h4> {{ title }} </h4>
    {{#if search_data}}
    <div>
        {{#if search_data.has_stop_word}}{{t "Some common words were excluded from your search." }} <br/>{{/if}}{{t "You searched for:" }}
        {{#if search_data.stream_query}}
        <span>stream: {{search_data.stream_query}}</span>
        {{/if}}
        {{#if search_data.topic_query}}
        <span>topic: {{search_data.topic_query}}</span>
        {{/if}}
        {{#each search_data.query_words}}
            {{#if is_stop_word}}
            <del>{{query_word}}</del>
            {{else}}
            <span>{{query_word}}</span>
            {{/if}}
        {{/each}}
    </div>
    {{else}}
    {{{ html }}}
    {{/if}}
</div>
