{{#if is_empty_string_topic}}
<span class="stream-topic">
    {{~!-- squash whitespace --~}}
    #{{channel_name}} &gt; <em class="empty-topic-display">{{t "general chat"}}</em>
    {{~!-- squash whitespace --~}}
</span>
{{~else}}
<span class="stream-topic">
    {{~!-- squash whitespace --~}}
    #{{channel_name}} &gt; {{topic_display_name}}
    {{~!-- squash whitespace --~}}
</span>
{{~/if}}
