{{#if is_empty_string_topic}}
<span class="stream-topic">
    {{~!-- squash whitespace --~}}
    {{#if stream~}}
    {{~> decorated_channel_name stream=stream inline_with_text=true show_colored_icon=false}}
    {{~else~}}
    #{{channel_name}}
    {{~/if}} &gt; <em class="empty-topic-display">{{t "general chat"}}</em>
    {{~!-- squash whitespace --~}}
</span>
{{~else}}
<span class="stream-topic">
    {{~!-- squash whitespace --~}}
    {{#if stream~}}
    {{~> decorated_channel_name stream=stream inline_with_text=true show_colored_icon=false}}
    {{~else~}}
    #{{channel_name}}
    {{~/if}} &gt; {{topic_display_name}}
    {{~!-- squash whitespace --~}}
</span>
{{~/if}}
