<div class='pill {{#if deactivated}} deactivated-pill {{/if}}'{{#if user_id}}data-user-id="{{user_id}}"{{/if}}{{#if group_id}}data-user-group-id="{{group_id}}"{{/if}}{{#if stream_id}}data-stream-id="{{stream_id}}"{{/if}} tabindex=0>
    {{#if has_image}}
    <img class="pill-image" src="{{img_src}}" />
    {{/if}}
    <span class="pill-label">
        <span class="pill-value">
            {{#if has_stream}}
                {{~#if stream.invite_only ~}}
                <i class="zulip-icon zulip-icon-lock stream-privacy-type-icon" aria-hidden="true"></i>
                {{~ else if stream.is_web_public ~}}
                <i class="zulip-icon zulip-icon-globe stream-privacy-type-icon" aria-hidden="true"></i>
                {{~ else ~}}
                <i class="zulip-icon zulip-icon-hashtag stream-privacy-type-icon" aria-hidden="true"></i>
                {{~/if~}}
            {{/if}}
            {{ display_value }}
        </span>
        {{~#if should_add_guest_user_indicator}}&nbsp;<i>({{t 'guest'}})</i>{{~/if~}}
        {{~#if deactivated}}&nbsp;({{t 'deactivated'}}){{~/if~}}
        {{~#if has_status~}}
            {{~> status_emoji status_emoji_info~}}
        {{~/if~}}
        {{~#if is_bot~}}
            <i class="zulip-icon zulip-icon-bot" aria-label="{{t 'Bot' }}"></i>
        {{~/if~}}
    </span>
    <div class="exit">
        <a role="button" class="zulip-icon zulip-icon-close pill-close-button"></a>
    </div>
</div>
