<div id="introduce-zulip-view-modal">
    <p>
        {{#if (eq zulip_view "inbox")}}
            {{#tr}}The <b>inbox</b> view provides an overview of your conversations with unread messages.{{/tr}}
        {{else if (eq zulip_view "recent_conversations")}}
            {{#tr}}The <b>recent conversations</b> view provides an overview of all the ongoing conversations.{{/tr}}
        {{/if}}
        {{#tr}}
            In Zulip, a conversation is either a <z-link-direct-message>direct message</z-link-direct-message>
            thread, or a <z-link-channel-topic>topic in a channel</z-link-channel-topic>.
            {{#*inline "z-link-direct-message"}}<a href="/help/direct-messages" target="_blank" rel="noopener noreferrer">{{> @partial-block }}</a>{{/inline}}
            {{#*inline "z-link-channel-topic"}}<a href="/help/introduction-to-topics" target="_blank" rel="noopener noreferrer">{{> @partial-block }}</a>{{/inline}}
        {{/tr}}
        {{#if (eq zulip_view "inbox")}}
            {{t 'The colored bars indicate which channel the conversation is in.' }}
        {{/if}}
    </p>
    <p>
        {{t 'Click on a conversation to view it. To return here, you can:'}}
        <ul>
            <li>{{#tr}}Use the <b>back</b> button in your browser or desktop app.{{/tr}}</li>
            <li>
                {{#if (eq zulip_view "inbox")}}
                    {{#tr}}
                        Click <z-icon-inbox></z-icon-inbox> <b>Inbox</b> in the left sidebar.
                        {{#*inline "z-icon-inbox"}}<i class="zulip-icon zulip-icon-inbox" aria-hidden="true"></i>{{/inline}}
                    {{/tr}}
                {{else if (eq zulip_view "recent_conversations")}}
                    {{#tr}}
                        Click <z-icon-recent></z-icon-recent> <b>Recent conversations</b> in the left sidebar.
                        {{#*inline "z-icon-recent"}}<i class="zulip-icon zulip-icon-recent" aria-hidden="true"></i>{{/inline}}
                    {{/tr}}
                {{/if}}
            </li>
            {{#if current_home_view_and_escape_navigation_enabled}}
                <li>
                    {{#tr}}
                        Use <z-button>Esc</z-button> to go to your home view.
                        {{#*inline "z-button"}}<span class="keyboard-button">{{@partial-block}}</span>{{/inline}}
                    {{/tr}}
                </li>
            {{/if}}
        </ul>
    </p>
</div>
