<form id="invite-user-form">
    <div class="setup-tips-container {{#unless is_admin}}hide{{/unless}}"></div>
    {{#if development_environment}}
    <div class="alert" id="dev_env_msg"></div>
    {{/if}}
    {{#unless user_has_email_set }}
    <div class="tip">
        {{#tr}}
            You must <z-link>configure your email</z-link> to access this feature.
            {{#*inline "z-link"}}<a href="/help/demo-organizations#configure-email-for-demo-organization-owner" target="_blank" rel="noopener noreferrer">{{> @partial-block }}</a>{{/inline}}
        {{/tr}}
    </div>
    {{/unless}}
    <div class="input-group">
        <div id="invite_users_option_tabs_container" class="new-style"></div>
        <div id="invitee_emails_container">
            <label for="invitee_emails" class="modal-field-label">{{t "Emails (one on each line or comma-separated)" }}</label>
            <div class="pill-container">
                <div class="input" contenteditable="true"></div>
            </div>
        </div>
    </div>
    <div class="input-group">
        <label for="expires_in" class="modal-field-label">{{t "Invitation expires after" }}</label>
        <select id="expires_in" class="invite-expires-in modal_select bootstrap-focus-style">
            {{#each expires_in_options}}
                <option {{#if this.default }}selected{{/if}} name="expires_in" value="{{this.value}}">{{this.description}}</option>
            {{/each}}
        </select>
        <p id="expires_on"></p>
        <div id="custom-invite-expiration-time" class="dependent-settings-block">
            <label for="expires_in" class="modal-field-label">{{t "Custom time" }}</label>
            <input type="text" autocomplete="off" name="custom-expiration-time" id="custom-expiration-time-input" class="custom-expiration-time inline-block" value="" maxlength="3"/>
            <select class="custom-expiration-time modal_select bootstrap-focus-style" id="custom-expiration-time-unit">
                {{#each time_choices}}
                    <option name="custom_time_choice" class="custom_time_choice" value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <p id="custom_expires_on"></p>
        </div>
    </div>
    <div class="input-group">
        <label for="invite_as" class="modal-field-label">{{t "Users join as" }}
            {{> help_link_widget link="/help/roles-and-permissions" }}
        </label>
        <select id="invite_as" class="invite-as modal_select bootstrap-focus-style">
            <option name="invite_as" value="{{ invite_as_options.guest.code }}">{{t "Guests" }}</option>
            <option name="invite_as" selected="selected" value="{{ invite_as_options.member.code }}">{{t "Members" }}</option>
            {{#if is_admin}}
            <option name="invite_as" value="{{ invite_as_options.moderator.code }}">{{t "Moderators" }}</option>
            <option name="invite_as" value="{{ invite_as_options.admin.code }}">{{t "Organization administrators" }}</option>
            {{/if}}
            {{#if is_owner}}
            <option name="invite_as" value="{{ invite_as_options.owner.code }}">{{t "Organization owners" }}</option>
            {{/if}}
        </select>
    </div>
    <div>
        <label>{{t "Channels they should join" }}</label>
        <div id="streams_to_add">
            {{#if show_select_default_streams_option}}
            <div class="select_default_streams new-style">
                <label class="checkbox display-block">
                    <input type="checkbox" id="invite_select_default_streams" checked="checked" />
                    <span></span>
                    {{t 'Default channels for this organization'}}
                </label>
            </div>
            {{/if}}
            <div class="invite-stream-controls">
                <button class="btn" type="button" id="invite_check_all_button">{{t "Check all" }}</button> |
                <button class="btn" type="button" id="invite_uncheck_all_button">{{t "Uncheck all" }}</button>
            </div>
            <div id="invite-stream-checkboxes" class="new-style">
                {{#each streams}}

                    <label class="checkbox display-block">
                        <input type="checkbox" name="stream" value="{{stream_id}}"
                          {{#if default_stream}}checked="checked"{{/if}} />
                        <span></span>
                        {{#if (or invite_only is_web_public)}} {{>stream_privacy}} {{name}}
                        {{else}}
                        #{{name}}
                        {{/if}}
                        {{#if (eq name ../new_stream_announcements_stream)}}
                        <i>({{t 'Receives new channel announcements' }})</i>
                        {{/if}}
                    </label>
                {{/each}}
            </div>
        </div>
    </div>
</form>
