<p id="invitation_error_message">{{ error_message }}</p>
{{#if daily_limit_reached}}
    {{#tr}}
        Please <z-link-support>contact support</z-link-support> for an exception or <z-link-invite-help>add users with a reusable invite link</z-link-invite-help>.
        {{#*inline "z-link-support"}}<a href="https://zulip.com/help/contact-support">{{> @partial-block}}</a>{{/inline}}
        {{#*inline "z-link-invite-help"}}<a href="https://zulip.com/help/invite-new-users#create-a-reusable-invitation-link">{{> @partial-block}}</a>{{/inline}}
    {{/tr}}
{{/if}}
<ul>
    {{#each error_list}}
        <li>{{this}}</li>
    {{/each}}
</ul>
{{#if is_invitee_deactivated}}
    {{#if is_admin}}
    <p id="invitation_admin_message">
        {{#tr}}
            You can reactivate deactivated users from <z-link>organization settings</z-link>.
            {{#*inline "z-link"}}<a href="#organization/deactivated-users-admin">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </p>
    {{else}}
    <p id="invitation_non_admin_message">{{t "Organization administrators can reactivate deactivated users." }}</p>
    {{/if}}
{{/if}}
{{#if license_limit_reached}}
    {{#if has_billing_access}}
        {{#tr}}
            To invite users, please <z-link-billing>increase the number of licenses</z-link-billing> or <z-link-help-page>deactivate inactive users</z-link-help-page>.
            {{#*inline "z-link-billing"}}<a href="/billing/#settings">{{> @partial-block}}</a>{{/inline}}
            {{#*inline "z-link-help-page"}}<a href="/help/deactivate-or-reactivate-a-user" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    {{else}}
        {{#tr}}
            Please ask a billing administrator to <z-link-billing>increase the number of licenses</z-link-billing> or <z-link-help-page>deactivate inactive users</z-link-help-page>, and try again.
            {{#*inline "z-link-billing"}}<a href="/billing/#settings">{{> @partial-block}}</a>{{/inline}}
            {{#*inline "z-link-help-page"}}<a href="/help/deactivate-or-reactivate-a-user" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    {{/if}}
{{/if}}
