<div class="overlay-modal" id="keyboard-shortcuts" tabindex="-1" role="dialog" aria-label="{{t 'Keyboard shortcuts' }}">
    <div class="modal-body" data-simplebar data-simplebar-auto-hide="false">
        <div>
            <table class="hotkeys-table help-table">
                <thead>
                    <tr>
                        <th colspan="2">{{t "The basics" }}</th>
                    </tr>
                </thead>
                <tr>
                    <td><kbd>Enter</kbd> or <kbd>R</kbd></td>
                    <td class="definition">{{t 'Reply to message' }}</td>
                </tr>
                <tr>
                    <td><kbd>C</kbd></td>
                    <td class="definition">{{t 'New stream message' }}</td>
                </tr>
                <tr>
                    <td><kbd>X</kbd></td>
                    <td class="definition">{{t 'New direct message' }}</td>
                </tr>
                <tr>
                    <td><kbd>Esc</kbd> or <span class="concurrent-hotkeys"><kbd>Ctrl</kbd><kbd>[</kbd></span></td>
                    <td class="definition">{{t 'Cancel compose and save draft' }}</td>
                </tr>
                <tr>
                    <td><kbd>D</kbd></td>
                    <td class="definition">{{t 'View drafts' }}</td>
                </tr>
                <tr>
                    <td><kbd class="arrow-key">↓</kbd> or <kbd>J</kbd></td>
                    <td class="definition">{{t 'Next message' }}</td>
                </tr>
                <tr>
                    <td><kbd>End</kbd> or <span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>G</kbd></span></td>
                    <td class="definition">{{t 'Last message' }}</td>
                </tr>
                <tr>
                    <td><kbd>N</kbd></td>
                    <td class="definition">{{t 'Next unread topic' }}</td>
                </tr>
                <tr>
                    <td><kbd>P</kbd></td>
                    <td class="definition">{{t 'Next unread direct message' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Ctrl</kbd><kbd>K</kbd></span> or <span class="concurrent-hotkeys"><kbd>/</kbd></span></td>
                    <td class="definition">{{t 'Initiate a search' }}</td>
                </tr>
                <tr>
                    <td><kbd>?</kbd></td>
                    <td class="definition">{{t 'Show keyboard shortcuts' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Ctrl</kbd><kbd>[</kbd></span><span id="go-to-default-view-hotkey-help"> or <kbd>Esc</kbd></span></td>
                    <td class="definition">{{t 'Go to default view' }}</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys-table help-table">
                <thead>
                    <tr>
                        <th colspan="2">{{t 'Navigation' }}</th>
                    </tr>
                </thead>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Ctrl</kbd><kbd>K</kbd></span> or <span class="concurrent-hotkeys"><kbd>/</kbd></span></td>
                    <td class="definition">{{t 'Initiate a search' }}</td>
                </tr>
                <tr>
                    <td><kbd>Q</kbd></td>
                    <td class="definition">{{t 'Filter streams' }}</td>
                </tr>
                <tr>
                    <td><kbd>W</kbd></td>
                    <td class="definition">{{t 'Search people' }}</td>
                </tr>
                <tr>
                    <td><kbd class="arrow-key">↑</kbd> or <kbd>K</kbd></td>
                    <td class="definition">{{t 'Previous message' }}</td>
                </tr>
                <tr>
                    <td><kbd class="arrow-key">↓</kbd> or <kbd>J</kbd></td>
                    <td class="definition">{{t 'Next message' }}</td>
                </tr>
                <tr>
                    <td><kbd>PgUp</kbd> or <span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>K</kbd></span></td>
                    <td class="definition">{{t 'Scroll up' }}</td>
                </tr>
                <tr>
                    <td><kbd>PgDn</kbd> or <span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>J</kbd></span> or <span class="concurrent-hotkeys"><kbd>Space</kbd></span></td>
                    <td class="definition">{{t 'Scroll down' }}</td>
                </tr>
                <tr>
                    <td><kbd>End</kbd> or <span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>G</kbd></span></td>
                    <td class="definition">{{t 'Last message' }}</td>
                </tr>
                <tr>
                    <td><kbd>Home</kbd></td>
                    <td class="definition">{{t 'First message' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Alt</kbd><kbd class="arrow-key">←</kbd></span></td>
                    <td class="definition">{{t 'Go back through viewing history' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Alt</kbd><kbd class="arrow-key">→</kbd></span></td>
                    <td class="definition">{{t 'Go forward through viewing history' }}</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys-table help-table">
                <thead>
                    <tr>
                        <th colspan="2">{{t 'Composing messages' }}</th>
                    </tr>
                </thead>
                <tr>
                    <td><kbd>Enter</kbd> or <kbd>R</kbd></td>
                    <td class="definition">{{t 'Reply to message' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>R</kbd></span></td>
                    <td class="definition">{{t 'Reply to author' }}</td>
                </tr>
                <tr>
                    <td><kbd>></kbd></td>
                    <td class="definition">{{t 'Quote and reply to message' }}</td>
                </tr>
                <tr>
                    <td><kbd>C</kbd></td>
                    <td class="definition">{{t 'New stream message' }}</td>
                </tr>
                <tr>
                    <td><kbd>X</kbd></td>
                    <td class="definition">{{t 'New direct message' }}</td>
                </tr>
                <tr>
                    <td><kbd>@</kbd></td>
                    <td class="definition">{{t 'Compose a reply @-mentioning author' }}</td>
                </tr>
                <tr>
                    <td>
                        <span class="concurrent-hotkeys">
                            <span><kbd>Tab</kbd></span> then <kbd>Enter</kbd>
                        </span>
                        or <span class="concurrent-hotkeys"><kbd>Ctrl</kbd><kbd>Enter</kbd></span>
                    </td>
                    <td class="definition">{{t 'Send message' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>Enter</kbd></span></td>
                    <td class="definition">{{t 'Insert new line' }}</td>
                </tr>
                <tr>
                    <td><kbd>Esc</kbd> or <span class="concurrent-hotkeys"><kbd>Ctrl</kbd><kbd>[</kbd></span></td>
                    <td class="definition">{{t 'Cancel compose and save draft' }}</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys-table help-table">
                <thead>
                    <tr>
                        <th colspan="2">{{t 'Narrowing' }}</th>
                    </tr>
                </thead>
                <tr>
                    <td><kbd>S</kbd></td>
                    <td class="definition">{{t 'Narrow to stream' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>S</kbd></span></td>
                    <td class="definition">{{t 'Narrow to topic or DM conversation' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>P</kbd></span></td>
                    <td class="definition">{{t 'Narrow to all direct messages' }}</td>
                </tr>
                <tr>
                    <td><kbd>N</kbd></td>
                    <td class="definition">{{t 'Zoom to message in conversation context' }}</td>
                </tr>
                <tr>
                    <td><kbd>P</kbd></td>
                    <td class="definition">{{t 'Narrow to next unread topic' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>A</kbd></span> or <span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>D</kbd></span></td>
                    <td class="definition">{{t 'Narrow to next unread direct message' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>A</kbd></span> or <span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>D</kbd></span></td>
                    <td class="definition">{{t 'Cycle between stream narrows' }}</td>
                </tr>
                <tr>
                    <td><kbd>A</kbd></td>
                    <td class="definition">{{t 'Narrow to all unmuted messages' }}</td>
                </tr>
                <tr>
                    <td><kbd>Enter</kbd> or <kbd>R</kbd></td>
                    <td class="definition">{{t 'Narrow to current compose box recipient' }}</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys-table help-table">
                <thead>
                    <tr>
                        <th colspan="2">{{t 'Message actions' }}</th>
                    </tr>
                </thead>
                <tr>
                    <td><kbd class="arrow-key">←</kbd></td>
                    <td class="definition">{{t 'Edit your last message' }}</td>
                </tr>
                <tr>
                    <td><kbd>U</kbd></td>
                    <td class="definition">{{t "Show message sender's user card" }}</td>
                </tr>
                <tr>
                    <td><kbd>V</kbd></td>
                    <td class="definition">{{t 'Show images in thread' }}</td>
                </tr>
                <tr id="edit-message-hotkey-help">
                    <td><kbd>E</kbd></td>
                    <td class="definition">{{t 'Edit selected message or view source' }}</td>
                </tr>
                <tr id="move-message-hotkey-help">
                    <td><kbd>M</kbd></td>
                    <td class="definition">{{t 'Move messages or topic' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Ctrl</kbd><kbd>S</kbd></span></td>
                    <td class="definition">{{t 'Star selected message' }}</td>
                </tr>
                <tr>
                    <td><kbd>+</kbd></td>
                    <td class="definition">
                        {{t 'React to selected message with' }}
                        <img alt=":thumbs_up:"
                          class="emoji"
                          src="../../static/generated/emoji/images/emoji/unicode/1f44d.png"
                          title=":thumbs_up:"/>
                    </td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>U</kbd></span></td>
                    <td class="definition">{{t 'Mark as unread from selected message' }}</td>
                </tr>
                <tr>
                    <td><kbd>-</kbd></td>
                    <td class="definition">{{t 'Collapse/show selected message' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>M</kbd></span></td>
                    <td class="definition">{{t 'Toggle topic mute' }}</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys-table help-table">
                <thead>
                    <tr>
                        <th colspan="2">{{t 'Recent conversations' }}</th>
                    </tr>
                </thead>
                <tr>
                    <td><kbd>T</kbd></td>
                    <td class="definition">{{t 'View recent conversations' }}</td>
                </tr>
                <tr>
                    <td><kbd>T</kbd></td>
                    <td class="definition">{{t 'Filter topics' }}</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys-table help-table">
                <thead>
                    <tr>
                        <th colspan="2">{{t 'Drafts' }}</th>
                    </tr>
                </thead>
                <tr>
                    <td><kbd>D</kbd></td>
                    <td class="definition">{{t 'View drafts' }}</td>
                </tr>
                <tr>
                    <td><kbd>Enter</kbd></td>
                    <td class="definition">{{t 'Edit selected draft' }}</td>
                </tr>
                <tr>
                    <td><kbd>Backspace</kbd></td>
                    <td class="definition">{{t 'Delete selected draft' }}</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys-table help-table">
                <thead>
                    <tr>
                        <th colspan="2">{{t 'Menus' }}</th>
                    </tr>
                </thead>
                <tr>
                    <td><kbd>G</kbd></td>
                    <td class="definition">{{t 'Toggle the gear menu' }}</td>
                </tr>
                <tr>
                    <td><kbd>I</kbd></td>
                    <td class="definition">{{t 'Open message menu' }}</td>
                </tr>
                <tr>
                    <td><kbd>:</kbd></td>
                    <td class="definition">{{t 'Open reactions menu' }}</td>
                </tr>
                <tr>
                    <td><kbd>?</kbd></td>
                    <td class="definition">{{t 'Show keyboard shortcuts' }}</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys-table help-table">
                <thead>
                    <tr>
                        <th colspan="2">{{t 'Streams settings' }}</th>
                    </tr>
                </thead>
                <tr>
                    <td><kbd class="arrow-key">↑</kbd> or <kbd class="arrow-key">↓</kbd></td>
                    <td class="definition">{{t 'Scroll through streams' }}</td>
                </tr>
                <tr>
                    <td><kbd class="arrow-key">←</kbd> or <kbd class="arrow-key">→</kbd></td>
                    <td class="definition">{{t 'Switch between tabs' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>V</kbd></span></td>
                    <td class="definition">{{t 'View stream messages' }}</td>
                </tr>
                <tr>
                    <td><span class="concurrent-hotkeys"><kbd>Shift</kbd><kbd>S</kbd></span></td>
                    <td class="definition">{{t 'Subscribe to/unsubscribe from selected stream' }}</td>
                </tr>
                <tr>
                    <td><kbd>N</kbd></td>
                    <td class="definition">{{t 'Create new stream' }}</td>
                </tr>
            </table>
        </div>

        <div class="documentation-link">
            <a href="/help/keyboard-shortcuts" target="_blank" rel="noopener noreferrer">{{t 'Detailed keyboard shortcuts documentation' }}</a>
        </div>
    </div>
</div>
