<div class="left-sidebar" id="left-sidebar" role="navigation">
    <div id="left-sidebar-navigation-area" class="left-sidebar-navigation-area">
        <div id="views-label-container" class="showing-expanded-navigation {{#if is_spectator}}remove-pointer-for-spectator{{/if}}">
            <i id="toggle-top-left-navigation-area-icon" class="zulip-icon zulip-icon-heading-triangle-right sidebar-heading-icon rotate-icon-down views-tooltip-target hidden-for-spectators" aria-hidden="true" tabindex="0" role="button"></i>
            {{~!-- squash whitespace --~}}
            <h4 class="left-sidebar-title"><span class="views-tooltip-target">{{t 'VIEWS' }}</span></h4>
            <ul id="left-sidebar-navigation-list-condensed" class="filters">
                <li class="top_left_inbox left-sidebar-navigation-condensed-item {{#if is_inbox_home_view}}selected-home-view{{/if}}">
                    <a href="#inbox" class="tippy-left-sidebar-tooltip left-sidebar-navigation-icon-container" data-tooltip-template-id="inbox-tooltip-template">
                        <span class="filter-icon">
                            <i class="zulip-icon zulip-icon-inbox" aria-hidden="true"></i>
                        </span>
                        <span class="unread_count"></span>
                    </a>
                </li>
                <li class="top_left_recent_view left-sidebar-navigation-condensed-item {{#if is_recent_view_home_view}}selected-home-view{{/if}}">
                    <a href="#recent" class="tippy-left-sidebar-tooltip left-sidebar-navigation-icon-container" data-tooltip-template-id="recent-conversations-tooltip-template">
                        <span class="filter-icon">
                            <i class="zulip-icon zulip-icon-recent" aria-hidden="true"></i>
                        </span>
                        <span class="unread_count"></span>
                    </a>
                </li>
                <li class="top_left_all_messages left-sidebar-navigation-condensed-item {{#if is_all_messages_home_view}}selected-home-view{{/if}}">
                    <a href="#feed" class="home-link tippy-left-sidebar-tooltip left-sidebar-navigation-icon-container" data-tooltip-template-id="all-message-tooltip-template">
                        <span class="filter-icon">
                            <i class="zulip-icon zulip-icon-all-messages" aria-hidden="true"></i>
                        </span>
                        <span class="unread_count"></span>
                    </a>
                </li>
                <li class="top_left_mentions left-sidebar-navigation-condensed-item">
                    <a href="#narrow/is/mentioned" class="tippy-left-sidebar-tooltip left-sidebar-navigation-icon-container" data-tooltip-template-id="mentions-tooltip-template">
                        <span class="filter-icon">
                            <i class="zulip-icon zulip-icon-at-sign" aria-hidden="true"></i>
                        </span>
                        <span class="unread_count"></span>
                    </a>
                </li>
                <li class="top_left_starred_messages left-sidebar-navigation-condensed-item">
                    <a href="#narrow/is/starred" class="tippy-left-sidebar-tooltip left-sidebar-navigation-icon-container" data-tooltip-template-id="starred-message-tooltip-template">
                        <span class="filter-icon">
                            <i class="zulip-icon zulip-icon-star" aria-hidden="true"></i>
                        </span>
                        <span class="unread_count quiet-count"></span>
                    </a>
                </li>
            </ul>
            <div class="left-sidebar-navigation-menu-icon">
                <i class="zulip-icon zulip-icon-more-vertical" aria-label="{{t 'Other views'}}"></i>
            </div>
        </div>
        <ul id="left-sidebar-navigation-list" class="left-sidebar-navigation-list filters">
            <li class="top_left_inbox top_left_row hidden-for-spectators {{#if is_inbox_home_view}}selected-home-view{{/if}}">
                <a href="#inbox" class="left-sidebar-navigation-label-container tippy-left-sidebar-tooltip" data-tooltip-template-id="inbox-tooltip-template">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-inbox" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Inbox' }}</span>
                    <span class="unread_count normal-count"></span>
                    <span class="masked_unread_count">
                        <i class="zulip-icon zulip-icon-masked-unread"></i>
                    </span>
                </a>
                <span class="arrow sidebar-menu-icon inbox-sidebar-menu-icon hidden-for-spectators"><i class="zulip-icon zulip-icon-more-vertical" aria-label="{{t 'Inbox options'}}"></i></span>
            </li>
            <li class="top_left_recent_view top_left_row {{#if is_recent_view_home_view}}selected-home-view{{/if}}">
                <a href="#recent" class="left-sidebar-navigation-label-container tippy-left-sidebar-tooltip" data-tooltip-template-id="recent-conversations-tooltip-template">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-recent" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Recent conversations' }}</span>
                    <span class="unread_count normal-count"></span>
                    <span class="masked_unread_count">
                        <i class="zulip-icon zulip-icon-masked-unread"></i>
                    </span>
                </a>
                <span class="arrow sidebar-menu-icon recent-view-sidebar-menu-icon hidden-for-spectators">
                    <i class="zulip-icon zulip-icon-more-vertical" aria-label="{{t 'Recent conversations options'}}"></i>
                </span>
            </li>
            <li class="top_left_all_messages top_left_row {{#if is_all_messages_home_view}}selected-home-view{{/if}}">
                <a href="#feed" class="home-link left-sidebar-navigation-label-container tippy-left-sidebar-tooltip" data-tooltip-template-id="all-message-tooltip-template">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-all-messages" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Combined feed' }}</span>
                    <span class="unread_count normal-count"></span>
                    <span class="masked_unread_count">
                        <i class="zulip-icon zulip-icon-masked-unread"></i>
                    </span>
                </a>
                <span class="arrow sidebar-menu-icon all-messages-sidebar-menu-icon hidden-for-spectators">
                    <i class="zulip-icon zulip-icon-more-vertical" aria-label="{{t 'Combined feed options'}}"></i>
                </span>
            </li>
            <li class="top_left_mentions top_left_row hidden-for-spectators">
                <a class="left-sidebar-navigation-label-container tippy-left-sidebar-tooltip" href="#narrow/is/mentioned" data-tooltip-template-id="mentions-tooltip-template">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-at-sign" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Mentions' }}</span>
                    <span class="unread_count"></span>
                </a>
            </li>
            <li class="top_left_my_reactions top_left_row hidden-for-spectators">
                <a class="left-sidebar-navigation-label-container tippy-left-sidebar-tooltip" href="#narrow/has/reaction/sender/me" data-tooltip-template-id="my-reactions-tooltip-template">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-smile" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Reactions' }}</span>
                    <span class="unread_count"></span>
                </a>
            </li>
            <li class="top_left_starred_messages top_left_row hidden-for-spectators">
                <a class="left-sidebar-navigation-label-container tippy-left-sidebar-tooltip" href="#narrow/is/starred" data-tooltip-template-id="starred-message-tooltip-template">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-star" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Starred messages' }}</span>
                    <span class="unread_count quiet-count"></span>
                    <span class="masked_unread_count">
                        <i class="zulip-icon zulip-icon-masked-unread"></i>
                    </span>
                </a>
                <span class="arrow sidebar-menu-icon starred-messages-sidebar-menu-icon"><i class="zulip-icon zulip-icon-more-vertical" aria-label="{{t 'Starred messages options'}}"></i></span>
            </li>
            <li class="top_left_drafts top_left_row hidden-for-spectators">
                <a href="#drafts" class="left-sidebar-navigation-label-container tippy-left-sidebar-tooltip" data-tooltip-template-id="drafts-tooltip-template">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-drafts" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Drafts' }}</span>
                    <span class="unread_count quiet-count"></span>
                </a>
                <span class="arrow sidebar-menu-icon drafts-sidebar-menu-icon"><i class="zulip-icon zulip-icon-more-vertical" aria-label="{{t 'Drafts options'}}"></i></span>
            </li>
            <li class="top_left_scheduled_messages top_left_row hidden-for-spectators">
                <a class="left-sidebar-navigation-label-container tippy-left-sidebar-tooltip" href="#scheduled" data-tooltip-template-id="scheduled-tooltip-template">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-calendar-days" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Scheduled messages' }}</span>
                    <span class="unread_count quiet-count"></span>
                </a>
            </li>
            <li class="top_left_reminders top_left_row hidden-for-spectators">
                <a class="left-sidebar-navigation-label-container tippy-left-sidebar-tooltip" href="#reminders" data-tooltip-template-id="reminders-tooltip-template">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-alarm-clock" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Reminders' }}</span>
                    <span class="unread_count quiet-count"></span>
                </a>
            </li>
        </ul>
    </div>

    <a id="hide-more-direct-messages">
        <span class="hide-more-direct-messages-text"> {{t 'back to channels' }}</span>
    </a>
    <div id="direct-messages-section-header" class="direct-messages-container hidden-for-spectators zoom-out zoom-in-sticky">
        <i id="toggle-direct-messages-section-icon" class="zulip-icon zulip-icon-heading-triangle-right sidebar-heading-icon rotate-icon-down dm-tooltip-target zoom-in-hide" aria-hidden="true" tabindex="0" role="button"></i>
        <h4 class="left-sidebar-title"><span class="dm-tooltip-target">{{t 'DIRECT MESSAGES' }}</span></h4>
        <div class="left-sidebar-controls">
            <a id="show-all-direct-messages" class="tippy-left-sidebar-tooltip-no-label-delay" href="#narrow/is/dm" data-tooltip-template-id="show-all-direct-messages-template">
                <i class="zulip-icon zulip-icon-all-messages" aria-label="{{t 'Direct message feed' }}"></i>
            </a>
            <span id="compose-new-direct-message" class="tippy-left-sidebar-tooltip-no-label-delay auto-hide-left-sidebar-overlay" data-tooltip-template-id="new_direct_message_button_tooltip_template">
                <i class="left-sidebar-new-direct-message-icon zulip-icon zulip-icon-square-plus" aria-label="{{t 'New direct message' }}"></i>
            </span>
        </div>
        <div class="heading-markers-and-unreads">
            <span class="unread_count"></span>
        </div>
        <div class="zoom-out-hide direct-messages-search-section left-sidebar-filter-input-container">
            {{#> input_wrapper input_type="filter-input" icon="search" input_button_icon="close"}}
                <input type="text" class="input-element direct-messages-list-filter home-page-input" autocomplete="off" placeholder="{{t 'Filter direct messages' }}" />
            {{/input_wrapper}}
        </div>
    </div>
    {{~!-- squash whitespace --~}}
    <div id="left_sidebar_scroll_container" class="scrolling_list" data-simplebar data-simplebar-tab-index="-1">
        <div class="direct-messages-container zoom-out hidden-for-spectators">
            <div id="direct-messages-list"></div>
        </div>

        <div id="streams_list" class="zoom-out">
            <div id="streams_header" class="zoom-in-hide">
                <h4 class="left-sidebar-title"><span class="streams-tooltip-target" data-tooltip-template-id="filter-streams-tooltip-template">{{t 'CHANNELS' }}</span></h4>
                <div class="left-sidebar-controls">
                    <i id="filter_streams_tooltip" class="streams_filter_icon zulip-icon zulip-icon-search" aria-hidden="true" data-tooltip-template-id="filter-streams-tooltip-template"></i>
                    <span id="add_streams_tooltip" class="hidden-for-spectators">
                        <i id="streams_inline_icon" class="zulip-icon zulip-icon-square-plus" aria-hidden="true" ></i>
                    </span>
                </div>
                <div class="heading-markers-and-unreads">
                    <span class="unread_count quiet-count"></span>
                    <span class="masked_unread_count">
                        <i class="zulip-icon zulip-icon-masked-unread"></i>
                    </span>
                </div>
                <div class="left-sidebar-filter-input-container">
                    {{#> input_wrapper input_type="filter-input" custom_classes="notdisplayed stream_search_section" icon="search" input_button_icon="close"}}
                        <input type="text" class="input-element stream-list-filter home-page-input" autocomplete="off" placeholder="{{t 'Filter channels' }}" />
                    {{/input_wrapper}}
                </div>
            </div>
            <div id="topics_header">
                <a class="show-all-streams" tabindex="0">{{t 'Back to channels' }}</a> <span class="unread_count quiet-count"></span>
            </div>
            <div id="stream-filters-container">
                <ul id="stream_filters" class="filters"></ul>
                {{#unless is_guest }}
                    <div id="subscribe-to-more-streams"></div>
                {{/unless}}
                <div id="login-to-more-streams" class="only-visible-for-spectators login_button">
                    <a class="subscribe-more-link">
                        <i class="subscribe-more-icon zulip-icon zulip-icon-log-in" aria-hidden="true" ></i>
                        <span class="subscribe-more-label">{{~t "LOG IN TO BROWSE MORE" ~}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
