<div class="left-sidebar" id="left-sidebar" role="navigation">
    <div id="left-sidebar-navigation-area" class="left-sidebar-navigation-area">
        <div id="views-label-container" class="showing-expanded-navigation hidden-for-spectators">
            <i id="toggle-top-left-navigation-area-icon" class="fa fa-sm fa-caret-down views-tooltip-target" aria-hidden="true"></i>
            {{~!-- squash whitespace --~}}
            <h4 class="left-sidebar-title"><span class="views-tooltip-target">{{t 'VIEWS' }}</span></h4>
            <ul id="left-sidebar-navigation-list-condensed" class="filters">
                <li class="top_left_inbox left-sidebar-navigation-condensed-item {{#if is_inbox_home_view}}selected-home-view{{/if}}">
                    <a href="#inbox" {{#if is_inbox_home_view}}tabindex="0"{{/if}} class="tippy-views-tooltip left-sidebar-navigation-icon-container" data-tooltip-template-id="inbox-tooltip-template">
                        <span class="filter-icon">
                            <i class="zulip-icon zulip-icon-inbox" aria-hidden="true"></i>
                        </span>
                        <span class="unread_count"></span>
                    </a>
                </li>
                <li class="top_left_recent_view left-sidebar-navigation-condensed-item {{#if is_recent_view_home_view}}selected-home-view{{/if}}">
                    <a href="#recent" {{#if is_recent_view_home_view}}tabindex="0"{{/if}} class="tippy-views-tooltip left-sidebar-navigation-icon-container" data-tooltip-template-id="recent-conversations-tooltip-template">
                        <span class="filter-icon">
                            <i class="zulip-icon zulip-icon-recent" aria-hidden="true"></i>
                        </span>
                        <span class="unread_count"></span>
                    </a>
                </li>
                <li class="top_left_all_messages left-sidebar-navigation-condensed-item {{#if is_all_messages_home_view}}selected-home-view{{/if}}">
                    <a href="#feed" {{#if is_all_messages_home_view}}tabindex="0"{{/if}} class="home-link tippy-views-tooltip left-sidebar-navigation-icon-container" data-tooltip-template-id="all-message-tooltip-template">
                        <span class="filter-icon">
                            <i class="zulip-icon zulip-icon-all-messages" aria-hidden="true"></i>
                        </span>
                        <span class="unread_count"></span>
                    </a>
                </li>
                <li class="top_left_mentions left-sidebar-navigation-condensed-item">
                    <a href="#narrow/is/mentioned" class="tippy-left-sidebar-tooltip left-sidebar-navigation-icon-container" data-tooltip-template-id="mentions-tooltip-template">
                        <span class="filter-icon">
                            <i class="zulip-icon zulip-icon-at-sign" aria-hidden="true"></i>
                        </span>
                        <span class="unread_count"></span>
                    </a>
                </li>
                <li class="top_left_starred_messages left-sidebar-navigation-condensed-item">
                    <a href="#narrow/is/starred" class="tippy-left-sidebar-tooltip left-sidebar-navigation-icon-container" data-tooltip-template-id="starred-tooltip-template">
                        <span class="filter-icon">
                            <i class="zulip-icon zulip-icon-star-filled" aria-hidden="true"></i>
                        </span>
                        <span class="unread_count"></span>
                    </a>
                </li>
            </ul>
            <div class="left-sidebar-navigation-menu-icon">
                <i class="zulip-icon zulip-icon-more-vertical"></i>
            </div>
        </div>
        <ul id="left-sidebar-navigation-list" class="left-sidebar-navigation-list filters">
            <li class="tippy-views-tooltip top_left_inbox top_left_row hidden-for-spectators {{#if is_inbox_home_view}}selected-home-view{{/if}}" data-tooltip-template-id="inbox-tooltip-template">
                <a href="#inbox" {{#if is_inbox_home_view}}tabindex="0"{{/if}} class="left-sidebar-navigation-label-container">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-inbox" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Inbox' }}</span>
                    <span class="unread_count"></span>
                </a>
                <span class="arrow sidebar-menu-icon inbox-sidebar-menu-icon hidden-for-spectators"><i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i></span>
            </li>
            <li class="tippy-views-tooltip top_left_recent_view top_left_row {{#if is_recent_view_home_view}}selected-home-view{{/if}}" data-tooltip-template-id="recent-conversations-tooltip-template">
                <a href="#recent" {{#if is_recent_view_home_view}}tabindex="0"{{/if}} class="left-sidebar-navigation-label-container">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-recent" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Recent conversations' }}</span>
                    <span class="unread_count"></span>
                </a>
                <span class="arrow sidebar-menu-icon recent-view-sidebar-menu-icon hidden-for-spectators {{#if is_recent_view_home_view}}hide{{/if}}">
                    <i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i>
                </span>
            </li>
            <li class="tippy-views-tooltip top_left_all_messages top_left_row {{#if is_all_messages_home_view}}selected-home-view{{/if}}" data-tooltip-template-id="all-message-tooltip-template">
                <a href="#feed" {{#if is_all_messages_home_view}}tabindex="0"{{/if}} class="home-link left-sidebar-navigation-label-container">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-all-messages" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Combined feed' }}</span>
                    <span class="unread_count"></span>
                </a>
                <span class="arrow sidebar-menu-icon all-messages-sidebar-menu-icon hidden-for-spectators {{#if is_all_messages_home_view}}hide{{/if}}">
                    <i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i>
                </span>
            </li>
            <li class="top_left_mentions top_left_row hidden-for-spectators">
                <a class="left-sidebar-navigation-label-container" href="#narrow/is/mentioned">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-at-sign" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Mentions' }}</span>
                    <span class="unread_count"></span>
                </a>
            </li>
            <li class="top_left_starred_messages top_left_row hidden-for-spectators">
                <a class="left-sidebar-navigation-label-container" href="#narrow/is/starred">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-star-filled" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Starred messages' }}</span>
                    <span class="unread_count"></span>
                </a>
                <span class="arrow sidebar-menu-icon starred-messages-sidebar-menu-icon"><i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i></span>
            </li>
            <li class="tippy-left-sidebar-tooltip top_left_drafts top_left_row hidden-for-spectators" data-tooltip-template-id="drafts-tooltip-template">
                <a href="#drafts" class="left-sidebar-navigation-label-container">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-drafts" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Drafts' }}</span>
                    <span class="unread_count"></span>
                </a>
                <span class="arrow sidebar-menu-icon drafts-sidebar-menu-icon"><i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i></span>
            </li>
            <li class="top_left_scheduled_messages top_left_row hidden-for-spectators">
                <a class="left-sidebar-navigation-label-container" href="#scheduled">
                    <span class="filter-icon">
                        <i class="zulip-icon zulip-icon-scheduled-messages" aria-hidden="true"></i>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span class="left-sidebar-navigation-label">{{t 'Scheduled messages' }}</span>
                    <span class="unread_count"></span>
                </a>
            </li>
        </ul>
    </div>

    <div id="private_messages_sticky_header" class="direct-messages-container zoom-out hidden-for-spectators">
        <div id="private_messages_section">
            <div id="private_messages_section_header" class="zoom-out zoom-in-sticky">
                <i id="toggle_private_messages_section_icon" class="fa fa-sm fa-caret-down dm-tooltip-target toggle_private_messages_section zoom-in-hide" aria-hidden="true" tabindex="0" role="button"></i>
                <h4 class="left-sidebar-title toggle_private_messages_section"><span class="dm-tooltip-target">{{t 'DIRECT MESSAGES' }}</span></h4>
                <div class="heading-markers-and-controls">
                    <a id="show_all_private_messages" href="#narrow/is/dm" data-tooltip-template-id="show-all-pms-template">
                        <i class="fa fa-align-right" aria-label="{{t 'Direct message feed' }}"></i>
                    </a>
                    <span class="unread_count"></span>
                </div>
            </div>
        </div>
        <a class="zoom-out-hide" id="hide-more-direct-messages">
            <span> {{t 'back to channels' }}</span>
        </a>
    </div>
    {{~!-- squash whitespace --~}}
    <div id="left_sidebar_scroll_container" class="scrolling_list" data-simplebar>
        <div class="direct-messages-container zoom-out hidden-for-spectators">
            <div id="direct-messages-list"></div>
        </div>

        <div id="streams_list" class="zoom-out">
            <div id="streams_header" class="zoom-in-hide {{#if hide_unread_counts}}hide_unread_counts{{/if}}">
                <h4 class="left-sidebar-title"><span class="streams-tooltip-target" data-tooltip-template-id="filter-streams-tooltip-template">{{t 'CHANNELS' }}</span></h4>
                <div class="heading-markers-and-controls">
                    <i id="filter_streams_tooltip" class="streams_filter_icon fa fa-filter" aria-hidden="true" data-tooltip-template-id="filter-streams-tooltip-template"></i>
                    <span id="add_streams_tooltip" class="hidden-for-spectators" data-tippy-content="{{t 'Add channels' }}">
                        <i id="streams_inline_icon" class='fa fa-plus' aria-hidden="true" ></i>
                    </span>
                    <span class="unread_count"></span>
                    <span class="masked_unread_count"></span>
                </div>

                <div class="input-append notdisplayed stream_search_section">
                    <input class="stream-list-filter home-page-input filter_text_input" type="text" autocomplete="off" placeholder="{{t 'Filter channels' }}" />
                    <button type="button" class="btn clear_search_button" id="clear_search_stream_button">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div id="topics_header">
                <a class="show-all-streams" tabindex="0">{{t 'Back to channels' }}</a> <span class="unread_count"></span>
            </div>
            <div id="stream-filters-container">
                <ul id="stream_filters" class="filters"></ul>
                {{#unless is_guest }}
                    <div id="subscribe-to-more-streams"></div>
                {{/unless}}
                <div class="only-visible-for-spectators">
                    <div id="login-link-container" class="login_button">
                        <i class="zulip-icon zulip-icon-log-in" aria-hidden="true"></i>
                        {{~!-- squash whitespace --~}}
                        <a class="login-text">
                            {{t 'Log in to browse more channels'}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
