<li class="top_left_{{css_class_suffix}} left-sidebar-navigation-condensed-item{{#if is_home_view}} selected-home-view{{/if}}">
    <a href="#{{fragment}}" class="tippy-left-sidebar-tooltip left-sidebar-navigation-icon-container" data-tooltip-template-id="{{tooltip_template_id}}">
        <span class="filter-icon">
            <i class="zulip-icon {{icon}}" aria-hidden="true"></i>
        </span>
        <span class="unread_count {{unread_count_type}}"></span>
    </a>
</li>
