{{~!-- --~}}
<span class="media-audio-wrapper">
    <span class="miatsuco-media-audio-filename">{{audio_title}}</span>
    <span class="miatsuco-media-audio-controls-row">
        <audio controls="" preload="metadata" src="{{audio_src}}" title="{{audio_title}}" class="media-audio-element"></audio>
        <a class="media-audio-download icon-button icon-button-square icon-button-neutral"
          aria-label="{{t 'Download' }}" href="{{ audio_src}}" download>
            <i class="media-download-icon zulip-icon zulip-icon-download"></i>
        </a>
    </span>
</span>
{{~!-- --~}}
