{{#if stream_settings_link}}
<a class="message-header-stream-settings-button" href="{{stream_settings_link}}">
    {{> navbar_icon_and_title }}
</a>
<div class="divider only-visible-for-spectators">|</div>
<a class="sub_count no-style tippy-zulip-tooltip hidden-for-spectators" data-tippy-content="{{sub_count_tooltip_text}}" data-tippy-placement="bottom" href="{{stream_settings_link}}">
    <i class="fa fa-user-o"></i>{{formatted_sub_count}}
</a>
<span class="narrow_description navbar-click-opens-search rendered_markdown">
    {{#if rendered_narrow_description}}
    {{rendered_markdown rendered_narrow_description}}
    {{else}}
    {{t "(no description)"}}
    {{/if}}
</span>
{{else}}
<span class="navbar-click-opens-search">
    {{> navbar_icon_and_title }}
</span>
{{/if}}
<span class="search_icon search_closed"  role="button"><i class="zulip-icon zulip-icon-search tippy-zulip-delayed-tooltip" data-tooltip-template-id="search-query-tooltip-template" aria-hidden="true"></i></span>
