{{! Client-side Handlebars template for viewing message edit history. }}

{{#each edited_messages}}
    <div class="message-edit-message-row overlay-message-row" data-message-edit-history-id="{{timestamp}}">
        <div class="message-edit-message-info-box overlay-message-info-box" tabindex="0">
            {{#if is_stream }}
            <div class="message_header message_header_stream">
                <div class="message-header-contents" style="background: {{recipient_bar_color}};">
                    <div class="message_label_clickable stream_label">
                        <span class="private_message_header_name">{{ edited_by_notice }}</span>
                    </div>
                    <div class="recipient_row_date" title="{{t 'Last modified'}}">{{t "{edited_at_time}" }}

                    </div>
                </div>
            </div>
            {{else}}
            <div class="message_header message_header_private_message">
                <div class="message-header-contents">
                    <div class="message_label_clickable stream_label">
                        <span class="private_message_header_name">{{ edited_by_notice }}</span>
                    </div>
                    <div class="recipient_row_date" title="{{t 'Last modified'}}">{{t "{edited_at_time}" }}</div>
                </div>
            </div>
            {{/if}}
            <div class="message_row{{#unless is_stream}} private-message{{/unless}}" role="listitem">
                <div class="messagebox">
                    <div class="messagebox-content">
                        {{#if initial_entry_for_move_history}}
                        <div class="message_content message_edit_history_content">
                            <p>{{t "Channel" }}: <span class="highlight_text_inserted">{{ new_stream }}</span></p>
                            <p>{{t "Topic" }}:
                                <span class="highlight_text_inserted {{#if is_empty_string_new_topic}}empty-topic-display{{/if}}">{{ new_topic_display_name }}</span>
                            </p>
                        </div>
                        {{else}}
                        {{#if (or stream_changed topic_edited)}}
                        <div class="message_content message_edit_history_content">
                            {{#if (eq topic_resolved_or_unresolved "none")}}
                            {{#tr}}
                                Message moved from <prev-link></prev-link> to <new-link></new-link>.
                                {{#*inline "prev-link"~}}
                                    <a class="white-space-preserve-wrap" href="{{prev_stream_topic_url}}">
                                        {{~!-- squash whitespace --~}}
                                        #{{prev_stream}} &gt; <span {{#if is_empty_string_topic}}class="empty-topic-display"{{/if}}>{{prev_topic_display_name}}</span>
                                        {{~!-- squash whitespace --~}}
                                    </a>
                                {{~/inline}}
                                {{#*inline "new-link"~}}
                                    <a class="white-space-preserve-wrap" href="{{new_stream_topic_url}}">
                                        {{~!-- squash whitespace --~}}
                                        #{{new_stream}} &gt; <span {{#if is_empty_string_topic}}class="empty-topic-display"{{/if}}>{{new_topic_display_name}}</span>
                                        {{~!-- squash whitespace --~}}
                                    </a>
                                {{~/inline}}
                            {{/tr}}
                            {{else}}
                            {{#tr}}
                                <z-link></z-link> was marked as {topic_resolved_or_unresolved}.
                                {{#*inline "z-link"~}}
                                    <a class="white-space-preserve-wrap" href="{{prev_stream_topic_url}}">
                                        {{~!-- squash whitespace --~}}
                                        #{{prev_stream}} &gt; <span {{#if is_empty_string_topic}}class="empty-topic-display"{{/if}}>{{prev_topic_display_name}}</span>
                                        {{~!-- squash whitespace --~}}
                                    </a>
                                {{~/inline}}
                            {{/tr}}
                            {{/if}}
                        </div>
                        {{/if}}
                        {{#if body_to_render}}
                        <div class="message_content rendered_markdown message_edit_history_content">
                            {{ rendered_markdown body_to_render}}
                        </div>
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}

