{{#if include_sender}}
    {{> message_avatar ~}}
{{/if}}
<span class="message_sender">
    {{#if include_sender}}
        <span class="sender_info_hover sender_name" role="button" tabindex="0">
            <span class="view_user_card_tooltip sender_name_text" data-is-bot="{{sender_is_bot}}">
                {{> user_full_name name=msg/sender_full_name should_add_guest_user_indicator=should_add_guest_indicator_for_sender}}
            </span>
            {{#unless status_message}}
            {{> status_emoji msg/status_emoji_info}}
            {{/unless}}
        </span>
        {{#if sender_is_bot}}
        <i class="zulip-icon zulip-icon-bot" aria-label="{{t 'Bot' }}"></i>
        {{/if}}
        {{#if status_message}}
            <span class="rendered_markdown status-message">{{rendered_markdown status_message}}</span>
            {{#if message_edit_notices_for_status_message}}
                {{> edited_notice}}
            {{/if}}
        {{/if}}
        {{#if message_edit_notices_alongside_sender}}
            {{> edited_notice}}
        {{/if}}
    {{/if}}
</span>

<a {{#unless msg/locally_echoed}}href="{{ msg/url }}"{{/unless}} class="message-time">
    {{#unless include_sender}}
    <span class="copy-paste-text">&nbsp;</span>
    {{/unless}}
    {{timestr}}
</a>

{{#if (and (not msg/failed_request) msg/locally_echoed)}}
    <span data-tooltip-template-id="slow-send-spinner-tooltip-template" class="fa fa-circle-o-notch slow-send-spinner{{#unless msg/show_slow_send_spinner }} hidden{{/unless}}"></span>
{{/if}}

{{> message_controls}}

{{#unless status_message}}
    {{#unless is_hidden}}
    <div class="message_content rendered_markdown">
        {{#if use_match_properties}}
            {{rendered_markdown msg/match_content}}
        {{else}}
            {{rendered_markdown msg/content}}
        {{/if}}
    </div>
    {{else}}
    <div class="message_content rendered_markdown">
        {{> message_hidden_dialog}}
    </div>
    {{/unless}}
{{/unless}}

{{#if message_edit_notices_in_left_col}}
{{> edited_notice}}
{{/if}}

<div class="message_edit">
    <div class="message_edit_form"></div>
</div>

<div class="message_length_controller">
    <button type="button" class="message_expander message_length_toggle tippy-zulip-delayed-tooltip" data-tooltip-template-id="message-expander-tooltip-template">{{t "Show more" }}</button>
    <button type="button" class="message_condenser message_length_toggle tippy-zulip-delayed-tooltip" data-tooltip-template-id="message-condenser-tooltip-template">{{t "Show less" }}</button>
</div>

{{#unless is_hidden}}
<div class="message_reactions">{{> message_reactions }}</div>
{{/unless}}
