{{#if stream_settings_link}}
<a class="message-header-stream-settings-button tippy-zulip-tooltip" data-tooltip-template-id="stream-details-tooltip-template" data-tippy-placement="bottom" href="{{stream_settings_link}}">
    {{> navbar_icon_and_title }}
</a>
<template id="stream-details-tooltip-template">
    <div>
        <div>{{t "Go to channel settings" }}</div>
        {{#unless is_spectator}}
        <div class="tooltip-inner-content italic">
            {{t "This channel has {sub_count, plural, =0 {no subscribers} one {# subscriber} other {# subscribers}}." }}
        </div>
        {{/unless}}
    </div>
</template>
<span class="narrow_description rendered_markdown">
    {{#if rendered_narrow_description}}
    {{rendered_markdown rendered_narrow_description}}
    {{else}}
    {{#if is_admin}}
    <a href="{{stream_settings_link}}">
        {{t "Add a description"}}
    </a>
    {{/if}}
    {{/if}}
</span>
{{else}}
<span class="navbar_title">
    {{> navbar_icon_and_title }}
</span>
{{/if}}
