{{! Client-side Handlebars template for viewing message edit history. }}

{{#each edited_messages}}
    <div class="message-edit-message-row overlay-message-row" data-message-edit-history-id="{{timestamp}}">
        <div class="message-edit-message-info-box overlay-message-info-box" tabindex="0">
            {{#if is_stream }}
            <div class="message_header message_header_stream overlay-message-header">
                <div class="message-header-contents" style="background: {{recipient_bar_color}};">
                    <div class="message_label_clickable stream_label">
                        <span class="private_message_header_name">{{ edited_by_notice }}</span>
                    </div>
                    <div class="recipient_row_date" title="{{t 'Last modified'}}">{{t "{edited_at_time}" }}

                    </div>
                </div>
            </div>
            {{else}}
            <div class="message_header message_header_private_message overlay-message-header">
                <div class="message-header-contents">
                    <div class="message_label_clickable stream_label">
                        <span class="private_message_header_name">{{ edited_by_notice }}</span>
                    </div>
                    <div class="recipient_row_date" title="{{t 'Last modified'}}">{{t "{edited_at_time}" }}</div>
                </div>
            </div>
            {{/if}}
            <div class="message_row{{#unless is_stream}} private-message{{/unless}}" role="listitem">
                <div class="messagebox">
                    <div class="messagebox-content">
                        {{! Renders a "#channel > topic" link for a ChannelTopicLink; used for both sides of a move. }}
                        {{#*inline "channel-topic-link"~}}
                            <a class="white-space-preserve-wrap" href="{{url}}">
                                {{~!-- squash whitespace --~}}
                                {{#if stream_sub~}}
                                {{~> decorated_channel_name stream=stream_sub inline_with_text=true show_colored_icon=false~}}
                                {{~else~}}
                                #{{stream_name}}
                                {{~/if}} &gt; <span {{#if is_empty_string_topic}}class="empty-topic-display"{{/if}}>{{topic_display_name}}</span>
                                {{~!-- squash whitespace --~}}
                            </a>
                        {{~/inline}}
                        {{#if initial_entry_for_move_history}}
                        <div class="message_content message_edit_history_content">
                            {{#tr}}
                                Posted to <z-link></z-link>.
                                {{#*inline "z-link"~}}{{~> channel-topic-link new_location~}}{{~/inline}}
                            {{/tr}}
                        </div>
                        {{else}}
                        {{#if (eq topic_resolved_or_unresolved "resolved")}}
                        <div class="message_content message_edit_history_content">
                            {{#tr}}
                                <z-link></z-link> was marked as resolved.
                                {{#*inline "z-link"~}}{{~> channel-topic-link new_location~}}{{~/inline}}
                            {{/tr}}
                        </div>
                        {{else if (eq topic_resolved_or_unresolved "unresolved")}}
                        <div class="message_content message_edit_history_content">
                            {{#tr}}
                                <z-link></z-link> was marked as unresolved.
                                {{#*inline "z-link"~}}{{~> channel-topic-link new_location~}}{{~/inline}}
                            {{/tr}}
                        </div>
                        {{else if new_location}}
                        <div class="message_content message_edit_history_content">
                            {{#tr}}
                                Moved from <prev-link></prev-link> to <new-link></new-link>.
                                {{#*inline "prev-link"~}}{{~> channel-topic-link prev_location~}}{{~/inline}}
                                {{#*inline "new-link"~}}{{~> channel-topic-link new_location~}}{{~/inline}}
                            {{/tr}}
                        </div>
                        {{/if}}
                        {{#if body_to_render}}
                        <div class="message_content rendered_markdown message_edit_history_content">
                            {{ rendered_markdown body_to_render}}
                        </div>
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
