{{#if stream_settings_link}}
<a class="message-header-stream-settings-button" href="{{stream_settings_link}}">
    {{> navbar_icon_and_title }}
</a>
<span class="narrow_description rendered_markdown">
    {{#if rendered_narrow_description}}
    {{rendered_markdown rendered_narrow_description}}
    {{else}}
    {{t "(no description)"}}
    {{/if}}
</span>
{{else}}
<span class="navbar_title">
    {{> navbar_icon_and_title }}
</span>
{{/if}}
