{{#each edited_messages as |message index|}}
    <div class="overlay-message-row" data-message-edit-history-id="{{message.timestamp}}" data-index="{{index}}">
        <div class="overlay-message-info-box" tabindex="0">
            {{#if message.is_stream }}
            <div class="message_header message_header_stream">
                <div class="message-header-contents" style="background: {{message.recipient_bar_color}};">
                    <div class="message_label_clickable stream_label">
                        <span class="private_message_header_name">{{ message.edited_by_notice }}</span>
                    </div>
                    <div class="recipient_row_date" title="{{t 'Last modified'}}">{{ message.edited_at_time }}</div>
                </div>
            </div>
            {{else}}
            <div class="message_header message_header_private_message">
                <div class="message-header-contents">
                    <div class="message_label_clickable stream_label">
                        <span class="private_message_header_name">{{ message.edited_by_notice }}</span>
                    </div>
                    <div class="recipient_row_date" title="{{t 'Last modified'}}">{{ message.edited_at_time }}</div>
                </div>
            </div>
            {{/if}}
            <div class="message_row{{^message.is_stream}} private-message{{/message.is_stream}}" role="listitem">
                <div class="messagebox">
                    {{#if message.to_hide}}
                    <div class="deleted_message_box">
                        <p>Deleted message</p>
                        <div class="message_label_clickable stream_label">
                            <span class="private_message_header_name">{{ message.deleted_by_notice }}</span>
                        </div>
                        <div class="recipient_row_date" title="{{t 'Deleted at'}}">{{ message.deleted_at_time }}</div>
                    </div>
                    {{else}}
                    <div class="messagebox-content">
                        {{#if message.topic_edited}}
                        <div class="message_content message_edit_history_content">
                            <p>Topic: <span class="highlight_text_inserted">{{ message.new_topic }}</span>
                                <span class="highlight_text_deleted">{{ message.prev_topic }}</span>
                            </p>
                        </div>
                        {{/if}}
                        {{#if message.stream_changed}}
                        <div class="message_content message_edit_history_content">
                            <p>Stream: <span class="highlight_text_inserted">{{ message.new_stream }}</span>
                                <span class="highlight_text_deleted">{{ message.prev_stream }}</span>
                            </p>
                        </div>
                        {{/if}}
                        {{#if message.body_to_render}}
                        <div class="message_content rendered_markdown message_edit_history_content">
                            {{{ message.body_to_render }}}
                        </div>
                        {{/if}}
                    </div>
                    {{/if}}
                    {{#if (and ../can_delete (not message.to_hide))}}
                    {{#ifNotLast index ../edited_messages.length}}
                    <button class="delete-edit-history">Delete Edit History</button>
                    <div class="confirmation-buttons" style="display: none;">
                        <p>Are you sure you want to delete this message history entry?</p>
                        <button type="button" class="confirm-delete-btn">Confirm</button>
                        <button type="button" class="cancel-delete-btn">Cancel</button>
                    </div>
                    {{/ifNotLast}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
{{/each}}
