{{#if is_spectator}}
<span class="message-header-navbar-title">
    {{#if login_to_access}}
        {{t 'Log in to access this conversation.' }}
    {{else}}
        {{t 'Join this conversation.' }}
    {{/if}}
</span>
{{else}}
{{> navbar_icon_and_title . }}
{{#if description}}
    <span class="narrow_description rendered_markdown single-line-rendered-markdown">{{description}}
        {{#if link}}
            <a href="{{link}}" target="_blank" rel="noopener noreferrer" class="narrow_description_link" title="{{t 'Open link' }}">
                <i class="fa fa-external-link-square"></i>
            </a>
        {{/if}}
    </span>
{{/if}}
{{/if}}
