<div>
    {{#if realm_allow_edit_history}}
    <div>{{t "View edit history"}}</div>
    {{/if}}
    <div class="tooltip-inner-content italic">
        {{#if moved}}
        {{t 'Last moved {last_edit_timestr}.'}}
        {{else}}
        {{t 'Last edited {last_edit_timestr}.'}}
        {{/if}}
    </div>
</div>
{{#if realm_allow_edit_history}}
{{tooltip_hotkey_hints "Shift" "H"}}
{{/if}}
