{{#with muted_user}}
<tr data-user-id="{{user_id}}" data-user-name="{{user_name}}" data-date-muted="{{date_muted_str}}">
    <td>{{user_name}}</td>
    <td>{{date_muted_str}}</td>
    <td class="actions">
        <span><a class="settings-unmute-user">{{t "Unmute" }}</a></span>
    </td>
</tr>
{{/with}}
