<div class="header">
    <nav class="header-main" id="top_navbar">
        <div class="column-left">
            <a href="" class="brand no-style">
                <img id="realm-logo" src="" alt="" class="nav-logo no-drag"/>
            </a>
        </div>
        <div class="column-middle" id="navbar-middle">
            <div class="column-middle-inner">
                <div id="streamlist-toggle" class="tippy-zulip-delayed-tooltip {{#if embedded}}hide-streamlist-toggle-visibility{{/if}}" data-tooltip-template-id="streamlist-toggle-tooltip-template">
                    <a id="streamlist-toggle-button" role="button" tabindex="0"><i class="fa fa-reorder" aria-hidden="true"></i>
                        <span id="streamlist-toggle-unreadcount">0</span>
                    </a>
                </div>
                <div class="top-navbar-border top-header-container">
                    <div id="message_view_header" class="notdisplayed">
                    </div>
                    <div id="searchbox">
                        <form id="searchbox_form" class="navbar-search">
                            <div id="searchbox-input-container" class="input-append">
                                <span class="search_icon"><i class="zulip-icon zulip-icon-search tippy-zulip-delayed-tooltip" data-tooltip-template-id="search-query-tooltip-template"></i></span>
                                <input class="search-query input-block-level home-page-input" id="search_query" type="text" placeholder="{{t 'Search' }}"
                                  autocomplete="off"/>
                                <button class="btn search_close_button tippy-zulip-delayed-tooltip" type="button" id="search_exit" aria-label="{{t 'Exit search' }}" data-tippy-content="Close"><i class="zulip-icon zulip-icon-close" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-right">
            <div class="only-visible-for-spectators">
                <div class="spectator_login_buttons hide-xl">
                    <a href="/register/"  class="signup_button">
                        <span>{{t 'Sign up' }}</span>
                    </a>
                    <div class="divider">|</div>
                    <a class="login_button">
                        <span>{{t 'Log in' }}</span>
                    </a>
                </div>
                <div class="spectator_narrow_login_button hide show-xl" data-tippy-content="{{t 'Log in' }}" data-tippy-placement="bottom">
                    <a class="login_button">
                        <i class="fa fa-sign-in"></i>
                    </a>
                </div>
            </div>
            <div id="userlist-toggle" class="hidden-for-spectators tippy-zulip-delayed-tooltip" data-tooltip-template-id="userlist-tooltip-template">
                <a id="userlist-toggle-button" role="button" tabindex="0"><i class="fa fa-group" aria-hidden="true"></i>
                    <span id="userlist-toggle-unreadcount">0</span>
                </a>
            </div>
            <div id="navbar-buttons" {{#if embedded}}class="hide-navbar-buttons-visibility"{{/if}}>
            </div>
        </div>
    </nav>
</div>
