<div class="navbar-dropdown-menu" id="help-menu-dropdown" aria-labelledby="help-menu" data-simplebar>
    <ul class="navbar-dropdown-menu-outer-list">
        <li class="navbar-dropdown-menu-outer-list-item">
            <ul class="navbar-dropdown-menu-inner-list">
                <li class="link-item navbar-dropdown-menu-inner-list-item">
                    <a href="/help/" target="_blank" rel="noopener noreferrer" class="navigate-link-on-enter navbar-dropdown-menu-link">
                        <i class="navbar-dropdown-icon zulip-icon zulip-icon-help" aria-hidden="true"></i> {{t 'Help center' }}
                    </a>
                </li>
                <li class="link-item navbar-dropdown-menu-inner-list-item">
                    <a tabindex="0" class="navigate-link-on-enter navbar-dropdown-menu-link" data-overlay-trigger="keyboard-shortcuts">
                        <i class="navbar-dropdown-icon zulip-icon zulip-icon-keyboard" aria-hidden="true"></i> {{t 'Keyboard shortcuts' }} <span class="navbar-dropdown-hotkey-hint">?</span>
                    </a>
                </li>
                <li class="link-item navbar-dropdown-menu-inner-list-item hidden-for-spectators">
                    <a tabindex="0" class="navigate-link-on-enter navbar-dropdown-menu-link" data-overlay-trigger="message-formatting">
                        <i class="navbar-dropdown-icon zulip-icon zulip-icon-edit" aria-hidden="true"></i> {{t 'Message formatting' }}
                    </a>
                </li>
                <li class="link-item navbar-dropdown-menu-inner-list-item">
                    <a tabindex="0" class="navigate-link-on-enter navbar-dropdown-menu-link" data-overlay-trigger="search-operators">
                        <i class="navbar-dropdown-icon zulip-icon zulip-icon-manage-search" aria-hidden="true"></i> {{t 'Search filters' }}
                    </a>
                </li>
                <li class="link-item navbar-dropdown-menu-inner-list-item" id="gear_menu_about_zulip">
                    <a href="#about-zulip" class="navigate-link-on-enter navbar-dropdown-menu-link">
                        <i class="navbar-dropdown-icon zulip-icon zulip-icon-info"></i>
                        {{t "About Zulip" }}
                    </a>
                </li>
                {{#if corporate_enabled}}
                <li class="link-item navbar-dropdown-menu-inner-list-item">
                    <a href="/help/contact-support" target="_blank" rel="noopener noreferrer" class="navigate-link-on-enter navbar-dropdown-menu-link">
                        <i class="navbar-dropdown-icon zulip-icon zulip-icon-life-buoy" aria-hidden="true"></i> {{t 'Contact support' }}
                    </a>
                </li>
                {{/if}}
            </ul>
        </li>
    </ul>
</div>
