{{#if is_unread_dm_conversation}}
<div>{{t "Go to next unread DM conversation"}}</div>
{{tooltip_hotkey_hints "P"}}
{{else}}
<div>{{t "Go to next unread topic"}}</div>
{{tooltip_hotkey_hints "N"}}
{{/if}}
