<li class="{{#if is_active}}active-sub-filter{{/if}} {{#if is_zero}}zero-dm-unreads{{/if}} dm-list-item bottom_left_row" data-user-ids-string="{{user_ids_string}}">
    <a href="{{url}}" class="dm-box dm-user-status" data-user-ids-string="{{user_ids_string}}" data-is-group="{{is_group}}">

        {{#if is_group}}
        <span class="conversation-partners-icon zulip-icon zulip-icon-dm-groups-3"></span>
        {{else}}
        <span class="conversation-partners-icon zulip-icon zulip-icon-{{user_circle_class}} {{user_circle_class}} user-circle"></span>
        {{/if}}

        <span class="conversation-partners">
            <span class="conversation-partners-list">{{recipients}}
                {{#if is_current_user}}<span class="my_user_status">{{t '(you)'}}</span>{{/if}}
                {{> status_emoji status_emoji_info}}
                {{#if is_bot}}
                    <i class="zulip-icon zulip-icon-bot" aria-label="{{t 'Bot' }}"></i>
                {{/if}}
            </span>

        </span>
        <div class="dm-markers-and-unreads">
            {{#if has_unread_mention}}
                <span class="unread_mention_info">
                    @
                </span>
            {{/if}}
            <span class="unread_count {{#if is_zero}}zero_count{{/if}}">
                {{unread}}
            </span>
        </div>
    </a>
</li>
