<li data-user-id="{{user_id}}" data-name="{{name}}" class="user_sidebar_entry {{#if user_list_style.WITH_AVATAR}}with_avatar{{/if}} {{#if has_status_text}}with_status{{/if}} {{#if is_current_user}}user_sidebar_entry_me {{/if}} narrow-filter {{#if faded}} user-fade {{/if}}">
    <div class="selectable_sidebar_block">
        {{#if user_list_style.WITH_STATUS}}
            <span class="zulip-icon zulip-icon-{{user_circle_class}} {{user_circle_class}} user-circle"></span>
            <a class="user-presence-link" href="{{href}}">
                <div class="user-name-and-status-wrapper">
                    <div class="user-name-and-status-emoji">
                        {{> user_full_name .}}
                        {{> status_emoji status_emoji_info}}
                    </div>
                    <span class="status-text">{{status_text}}</span>
                </div>
            </a>
        {{else if user_list_style.WITH_AVATAR}}
            <div class="user-profile-picture-container">
                <div class="user-profile-picture avatar-preload-background">
                    <img loading="lazy" src="{{profile_picture}}"/>
                    <span class="zulip-icon zulip-icon-{{user_circle_class}} {{user_circle_class}} user-circle"></span>
                </div>
            </div>
            <a class="user-presence-link" href="{{href}}">
                <div class="user-name-and-status-wrapper">
                    <div class="user-name-and-status-emoji">
                        {{> user_full_name .}}
                        {{> status_emoji status_emoji_info}}
                    </div>
                    <span class="status-text">{{status_text}}</span>
                </div>
            </a>
        {{else}}
            <span class="zulip-icon zulip-icon-{{user_circle_class}} {{user_circle_class}} user-circle"></span>
            <a class="user-presence-link" href="{{href}}">
                <div class="user-name-and-status-emoji">
                    {{> user_full_name .}}
                    {{> status_emoji status_emoji_info}}
                </div>
            </a>
        {{/if}}
        <span class="unread_count {{#unless num_unread}}hide{{/unless}}">{{#if num_unread}}{{num_unread}}{{/if}}</span>
    </div>
    {{#unless user_list_style.WITH_AVATAR}}
    <span class="sidebar-menu-icon user-list-sidebar-menu-icon"><i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i></span>
    {{/unless}}
</li>
