<div id="recent_view_filter_buttons" role="group">
    <div id="recent_filters_group">
        {{> recent_view_filters .}}
    </div>
    {{#> input_wrapper . input_type="filter-input" id="recent-view-search-wrapper" icon="search" input_button_icon="close"}}
        <input type="text" id="recent_view_search" class="input-element user-list-filter" value="{{ search_val }}" autocomplete="off" placeholder="{{t 'Filter topics (t)' }}" />
    {{/input_wrapper}}
</div>
<div class="table_fix_head">
    <div class="recent-view-container">
        <table class="table table-responsive">
            <thead id="recent-view-table-headers">
                <tr>
                    <th class="recent-view-stream-header" data-sort="stream_sort">{{t 'Channel' }}
                        <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                    </th>
                    <th class="recent-view-topic-header" data-sort="topic_sort">{{t 'Topic' }}
                        <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                    </th>
                    <th data-sort="unread_sort" data-tippy-content="{{t 'Sort by unread message count' }}" class="recent-view-unread-header unread_sort tippy-zulip-delayed-tooltip hidden-for-spectators">
                        <i class="zulip-icon zulip-icon-unread"></i>
                        <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                    </th>
                    <th class='recent-view-participants-header participants_header'>{{t 'Participants' }}</th>
                    <th data-sort="numeric" data-sort-prop="last_msg_id" class="recent-view-last-msg-time-header last_msg_time_header active descend">{{t 'Time' }}
                        <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
