{{#if is_stream}}
<div class="message_header message_header_stream right_part" data-stream-id="{{stream_id}}">
    <div class="message-header-contents" style="background: {{recipient_bar_color}};">
        {{! stream link }}
        <a class="message_label_clickable narrows_by_recipient stream_label tippy-narrow-tooltip"
          href="{{stream_url}}"
          data-tippy-content="{{t 'Go to #{display_recipient}' }}">
            <span class="stream-privacy-modified-color-{{stream_id}} stream-privacy filter-icon"  style="color: {{stream_privacy_icon_color}}">
                {{> stream_privacy}}
            </span>

            {{~! Recipient (e.g. stream/topic or topic) ~}}
            {{~display_recipient~}}
        </a>
        <span class="stream_topic_separator"><i class="zulip-icon zulip-icon-chevron-right"></i></span>

        {{! hidden narrow icon for copy-pasting }}
        <span class="copy-paste-text">&gt;</span>

        {{! topic stuff }}
        <span class="stream_topic">
            {{! topic link }}
            <a class="message_label_clickable narrows_by_topic tippy-narrow-tooltip"
              href="{{topic_url}}"
              data-tippy-content="{{t 'Go to #{display_recipient} > {topic}' }}">
                {{#if use_match_properties}}
                    {{{match_topic}}}
                {{else}}
                    {{topic}}
                {{/if}}
            </a>
        </span>
        <span class="recipient_bar_controls no-select">
            <span class="topic_edit hidden-for-spectators">
                <span class="topic_edit_form"></span>
            </span>

            {{! exterior links (e.g. to a trac ticket) }}
            {{#each topic_links}}
                <a href="{{this.url}}" target="_blank" rel="noopener noreferrer" class="no-underline">
                    <i class="fa fa-external-link-square recipient_bar_icon" data-tippy-content="Open {{this.text}}" aria-label="{{t 'External link' }}"></i>
                </a>
            {{/each}}

            {{! edit topic pencil icon }}
            {{#if always_visible_topic_edit}}
                <i class="fa fa-pencil always_visible_topic_edit recipient_bar_icon hidden-for-spectators" data-tippy-content="{{t 'Edit topic'}}" role="button" tabindex="0" aria-label="{{t 'Edit topic' }}"></i>
            {{else if on_hover_topic_edit}}
                <i class="fa fa-pencil on_hover_topic_edit recipient_bar_icon hidden-for-spectators" data-tippy-content="{{t 'Edit topic'}}" role="button" tabindex="0" aria-label="{{t 'Edit topic' }}"></i>
            {{/if}}

            {{#if user_can_resolve_topic}}
                {{#if topic_is_resolved}}
                    <i class="fa fa-check on_hover_topic_unresolve recipient_bar_icon hidden-for-spectators" data-topic-name="{{topic}}" data-tippy-content="{{t 'Mark as unresolved' }}" role="button" tabindex="0" aria-label="{{t 'Mark as unresolved' }}"></i>
                {{else}}
                    <i class="fa fa-check on_hover_topic_resolve recipient_bar_icon hidden-for-spectators" data-topic-name="{{topic}}" data-tippy-content="{{t 'Mark as resolved' }}" role="button" tabindex="0" aria-label="{{t 'Mark as resolved' }}"></i>
                {{/if}}
                <div class="toggle_resolve_topic_spinner" style="display: none"></div>
            {{/if}}

            {{#if development}}
                <span class="change_visibility_policy hidden-for-spectators" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}">
                    {{#if (eq visibility_policy all_visibility_policies.FOLLOWED)}}
                        <i class="zulip-icon zulip-icon-follow recipient_bar_icon" data-tippy-content="{{t 'You follow this topic'}}"
                          role="button" tabindex="0" aria-haspopup="true" aria-label="{{t 'You follow this topic' }}"></i>
                    {{else if (eq visibility_policy all_visibility_policies.UNMUTED)}}
                        <i class="zulip-icon zulip-icon-unmute-new recipient_bar_icon" data-tippy-content="{{t 'You have unmuted this topic'}}"
                          role="button" tabindex="0" aria-haspopup="true" aria-label="{{t 'You have unmuted this topic' }}"></i>
                    {{else if (eq visibility_policy all_visibility_policies.MUTED)}}
                        <i class="zulip-icon zulip-icon-mute-new recipient_bar_icon" data-tippy-content="{{t 'You have muted this topic'}}"
                          role="button" tabindex="0" aria-haspopup="true" aria-label="{{t 'You have muted this topic' }}"></i>
                    {{else}}
                        <i class="zulip-icon zulip-icon-inherit recipient_bar_icon" data-tippy-content="{{t 'You will get default notifications for this topic'}}"
                          role="button" tabindex="0" aria-haspopup="true" aria-label="{{t 'You will get default notifications for this topic' }}"></i>
                    {{/if}}
                </span>
            {{else}}
                {{#if stream_muted}}
                    <i class="zulip-icon zulip-icon-unmute stream_muted {{#if topic_unmuted}} on_hover_topic_mute {{else}} on_hover_topic_unmute {{/if}} recipient_bar_icon hidden-for-spectators" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" role="button" tabindex="0"
                      {{#if topic_unmuted}} data-tooltip-template-id="topic-mute-tooltip-template" aria-label="{{t 'Mute topic' }}" {{else}} data-tooltip-template-id="topic-unmute-tooltip-template" aria-label="{{t 'Unmute topic' }}" {{/if}}></i>
                {{else}}
                    <i class="zulip-icon zulip-icon-mute stream_unmuted{{#if topic_muted}} on_hover_topic_unmute {{else}} on_hover_topic_mute {{/if}} recipient_bar_icon hidden-for-spectators" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" role="button" tabindex="0"
                      {{#if topic_muted}} data-tooltip-template-id="topic-unmute-tooltip-template" aria-label="{{t 'Unmute topic' }}" {{else}} data-tooltip-template-id="topic-mute-tooltip-template" aria-label="{{t 'Mute topic' }}" {{/if}}></i>
                {{/if}}
            {{/if}}

        </span>
        <span class="recipient_row_date {{#if date_unchanged}}recipient_row_date_unchanged{{/if}}">{{{date}}}</span>
    </div>
</div>
{{else}}
<div class="message_header message_header_private_message">
    <div class="message-header-contents">
        <a class="message_label_clickable narrows_by_recipient stream_label tippy-narrow-tooltip"
          href="{{pm_with_url}}"
          data-tippy-content="{{t 'Go to direct messages with {display_reply_to}' }}">
        <span class="private_message_header_icon"><i class="zulip-icon zulip-icon-user"></i></span>
        <span class="private_message_header_name">{{t "You and {display_reply_to}" }}</span>
        </a>
        <span class="recipient_row_date {{#if date_unchanged}}recipient_row_date_unchanged{{/if}}">{{{date}}}</span>
    </div>
</div>
{{/if}}
