<div class="right-sidebar" id="right-sidebar" role="navigation">
    <div class="right-sidebar-items">
        <div id="user-list">
            <div id="userlist-header">
                <h4 class='right-sidebar-title' id='userlist-title'>
                    {{t 'USERS' }}
                </h4>
                <i id="user_filter_icon" class="fa fa-search"></i>
            </div>
            <div class="input-append notdisplayed" id="user_search_section">
                <input class="user-list-filter home-page-input filter_text_input" type="text" autocomplete="off" placeholder="{{t 'Search people' }}" />
                <button type="button" class="btn clear_search_button" id="clear_search_people_button">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                </button>
            </div>
            <div id="buddy_list_wrapper" class="scrolling_list" data-simplebar>
                <div id="buddy-list-users-matching-view-container">
                    <div class="buddy-list-subsection-header"></div>
                    <ul id="buddy-list-users-matching-view" class="buddy-list-section filters" data-search-results-empty="{{t 'None.' }}"></ul>
                </div>
                <div id="buddy-list-other-users-container">
                    <div class="buddy-list-subsection-header"></div>
                    <ul id="buddy-list-other-users" class="buddy-list-section filters" data-search-results-empty="{{t 'None.' }}"></ul>
                </div>
                <div id="buddy_list_wrapper_padding"></div>
            </div>
        </div>
        <div class="right-sidebar-shortcuts">
            <a class="invite-user-link" role="button"><i class="fa fa-user-plus" aria-hidden="true"></i>{{t 'Invite users to organization' }}</a>
            {{#if realm_rendered_description}}
            <div class="only-visible-for-spectators">
                <div class="realm-description">
                    <div class="rendered_markdown">{{rendered_markdown realm_rendered_description }}</div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
