<div class="user-pill-container pill" tabindex=0>
    <span class="pill-label">
        {{~#if this.negated}}-{{~/if~}}
        {{ operator }}:
    </span>
    {{#each users}}
        <div class="pill{{#if deactivated}} deactivated-pill{{/if}}" data-user-id="{{this.user_id}}">
            <img class="pill-image" src="{{this.img_src}}" />
            <div class="pill-image-border"></div>
            {{#if deactivated}}
            <span class="fa fa-ban slashed-circle-icon"></span>
            {{/if}}
            <span class="pill-label">
                <span class="pill-value">{{ this.full_name }}</span>
                {{~#if this.should_add_guest_user_indicator}}&nbsp;<i>({{t 'guest'}})</i>{{~/if~}}
                {{~#if this.status_emoji_info~}}
                    {{~> status_emoji this.status_emoji_info~}}
                {{~/if~}}
            </span>
            <div class="exit">
                <a role="button" class="zulip-icon zulip-icon-close pill-close-button"></a>
            </div>
        </div>
    {{/each}}
</div>
