{{#if (eq type "channel_topic")}}
    {{~!-- squash whitespace --~}}
    {{~#if is_empty_string_topic~}}
    channel {{channel}} > <span class="empty-topic-display">{{topic}}</span>
    {{~else~}}
    {{t 'channel' }} {{channel}} > {{topic}}
    {{~/if~}}
    {{~!-- squash whitespace --~}}
{{else if (eq type "user_pill")}}
    {{~!-- squash whitespace --~}}
    {{operator}}
    {{~#each users}}
        {{#if this.valid_user}}
            {{> user_pill user_pill_context=this.user_pill_context}}
        {{else}}
            {{this.operand}}
        {{/if}}
    {{~/each~}}
    {{~!-- squash whitespace --~}}
{{~/if~}}
