<div class="overlay-modal hide" id="search-operators" tabindex="-1" role="dialog" aria-label="{{t 'Search filters' }}">
    <div class="overlay-scroll-container" data-simplebar data-simplebar-auto-hide="false">
        <div id="operators-instructions">
            <table class="table table-striped table-rounded table-bordered help-table">
                <thead>
                    <tr>
                        <th>{{t "Filter" }}</th>
                        <th>{{t "Effect" }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="operator"><span class="operator_value">keyword</span></td>
                        <td class="definition">
                            {{#tr}}
                                Search for <z-value></z-value> in the topic or message content.
                                {{#*inline "z-value"}}<span class="operator_value">keyword</span>{{/inline}}
                            {{/tr}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">channel:<span class="operator_value">channel</span></td>
                        <td class="definition">
                            {{#tr}}
                                Narrow to messages on channel <z-value></z-value>.
                                {{#*inline "z-value"}}<span class="operator_value">channel</span>{{/inline}}
                            {{/tr}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">topic:<span class="operator_value">topic</span></td>
                        <td class="definition">
                            {{#tr}}
                                Narrow to messages with topic <z-value></z-value>.
                                {{#*inline "z-value"}}<span class="operator_value">topic</span>{{/inline}}
                            {{/tr}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">is:dm</td>
                        <td class="definition">
                            {{t 'Narrow to direct messages.'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">dm:<span class="operator_value">user</span></td>
                        <td class="definition">
                            {{#tr}}
                                Narrow to direct messages with <z-value></z-value>.
                                {{#*inline "z-value"}}<span class="operator_value">user</span>{{/inline}}
                            {{/tr}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">dm-including:<span class="operator_value">user</span></td>
                        <td class="definition">
                            {{#tr}}
                                Narrow to direct messages that include <z-value></z-value>.
                                {{#*inline "z-value"}}<span class="operator_value">user</span>{{/inline}}
                            {{/tr}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">channels:public</td>
                        <td class="definition">
                            {{t 'Search all public channels in the organization.'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">sender:<span class="operator_value">user</span></td>
                        <td class="definition">
                            {{#tr}}
                                Narrow to messages sent by <z-value></z-value>.
                                {{#*inline "z-value"}}<span class="operator_value">user</span>{{/inline}}
                            {{/tr}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">sender:me</td>
                        <td class="definition">
                            {{t 'Narrow to messages sent by you.'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">has:link</td>
                        <td class="definition">
                            {{t 'Narrow to messages containing links.'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">has:attachment</td>
                        <td class="definition">
                            {{t 'Narrow to messages containing uploads.'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">has:image</td>
                        <td class="definition">
                            {{t 'Narrow to messages containing images.'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">is:alerted</td>
                        <td class="definition">
                            {{t 'Narrow to messages with alert words.'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">is:mentioned</td>
                        <td class="definition">
                            {{t 'Narrow to messages that mention you.'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">is:starred</td>
                        <td class="definition">
                            {{t 'Narrow to starred messages.'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">is:resolved</td>
                        <td class="definition">
                            {{t 'Narrow to messages in resolved topics.'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">is:unread</td>
                        <td class="definition">
                            {{t 'Narrow to unread messages.'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">near:<span class="operator_value">id</span></td>
                        <td class="definition">
                            {{#tr}}
                                Center the view around message ID <z-value></z-value>.
                                {{#*inline "z-value"}}<span class="operator_value">id</span>{{/inline}}
                            {{/tr}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">id:<span class="operator_value">id</span></td>
                        <td class="definition">
                            {{#tr}}
                                Narrow to just message ID <z-value></z-value>.
                                {{#*inline "z-value"}}<span class="operator_value">id</span>{{/inline}}
                            {{/tr}}
                        </td>
                    </tr>
                    <tr>
                        <td class="operator">-topic:<span class="operator_value">topic</span></td>
                        <td class="definition">
                            {{#tr}}
                                Exclude messages with topic <z-value></z-value>.
                                {{#*inline "z-value"}}<span class="operator_value">topic</span>{{/inline}}
                            {{/tr}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>{{t "You can combine search filters as needed." }}</p>
            <hr />
            <a href="help/search-for-messages#search-filters" target="_blank" rel="noopener noreferrer">{{t "Detailed search filters documentation" }}</a>
        </div>
    </div>
</div>
