<div class="new-style user-status-content-wrapper">
    <div class="status-emoji-wrapper tippy-zulip-tooltip"  data-tippy-content="{{t 'Select emoji' }}" data-tippy-placement="top" aria-label="{{t 'Select emoji' }}"  tabindex="0" id="selected_emoji">
        {{> status_emoji_selector}}
    </div>
    <input type="text" class="user-status modal_text_input" placeholder="{{t 'Your status' }}" maxlength="60"/>
    <button type="button" class="btn clear_search_button" id="clear_status_message_button" disabled="disabled">
        <i class="fa fa-remove" aria-hidden="true"></i>
    </button>
</div>
<div class="new-style user-status-options">
    {{#each default_status_messages_and_emoji_info}}
        <button type="button" class="button no-style user-status-value">
            {{#if emoji.emoji_alt_code}}
                <div class="emoji_alt_code">&nbsp;:{{emoji.emoji_name}}:</div>
            {{else if emoji.url}}
                <img src="{{emoji.url}}" class="emoji status-emoji" />
            {{else}}
                <div class="emoji status-emoji emoji-{{emoji.emoji_code}}"></div>
            {{/if}}
            {{status_text}}
        </button>
    {{/each}}
</div>
