{{#if .}}
{{#if emoji_alt_code}}
<span class="emoji_alt_code">&nbsp;:{{emoji_name}}:</span>
{{else if still_url}}
<img src="{{still_url}}" class="emoji status-emoji" data-animated-url="{{url}}" data-still-url="{{still_url}}" />
{{else if url}}
{{!-- note that we have no still_url --}}
<img src="{{url}}" class="emoji status-emoji" data-animated-url="{{url}}" />
{{else if emoji_code}}
<span class="emoji status-emoji emoji-{{emoji_code}}"></span>
{{/if}}
{{/if}}
