{{#if selected_emoji}}
    {{#if selected_emoji.emoji_alt_code}}
        <div class="emoji_alt_code">&nbsp;:{{selected_emoji.emoji_name}}:</div>
    {{else if selected_emoji.url}}
        <img src="{{selected_emoji.url}}" class="emoji selected-emoji" />
    {{else}}
        <div class="emoji selected-emoji emoji-{{selected_emoji.emoji_code}}"></div>
    {{/if}}
{{else}}
    <a type="button" class="smiley-icon show fa fa-smile-o"></a>
{{/if}}
