{{! Stream sidebar rows }}

<li class="narrow-filter{{#if is_muted}} out_of_home_view{{/if}}" data-stream-id="{{id}}">
    <div class="bottom_left_row">
        <div class="subscription_block selectable_sidebar_block {{#if hide_unread_count}}hide_unread_counts{{/if}}">

            <span class="stream-privacy-original-color-{{id}} stream-privacy filter-icon" style="color: {{color}}">
                {{> stream_privacy }}
            </span>

            <a href="{{url}}" title="{{name}}" class="stream-name">{{name}}</a>

            <div class="left-sidebar-controls">
                <div class="channel-new-topic-button tippy-zulip-tooltip hidden-for-spectators" data-tippy-content="{{t 'New topic'}}" data-stream-id="{{id}}">
                    <i class="channel-new-topic-icon zulip-icon zulip-icon-square-plus" aria-hidden="true"></i>
                </div>
            </div>

            <div class="stream-markers-and-unreads">
                <span class="unread_mention_info"></span>
                <span class="unread_count"></span>
                <span class="masked_unread_count">
                    <i class="zulip-icon zulip-icon-masked-unread"></i>
                </span>
            </div>

            <span class="sidebar-menu-icon stream-sidebar-menu-icon"><i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i></span>
        </div>
    </div>
</li>
