{{#if exactly_one_unsubscribed_stream}}
    <a href="#streams/all">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        {{~t "Browse 1 more stream" ~}}
    </a>
{{else if can_subscribe_stream_count}}
    <a href="#streams/all">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        {{~t "Browse {can_subscribe_stream_count} more streams" ~}}
    </a>
{{else if can_create_streams}}
    <a href="#streams/new">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        {{~t "Create a stream" ~}}
    </a>
{{/if}}
