<li class='bottom_left_row {{#if is_active_topic}}active-sub-filter{{/if}} {{#if is_zero}}zero-topic-unreads{{/if}} {{#if is_muted}}muted_topic{{/if}} {{#if is_unmuted_or_followed}}unmuted_or_followed_topic{{/if}} topic-list-item' data-topic-name='{{topic_name}}'>
    <span class='topic-box'>
        <span class="sidebar-topic-check">
            {{topic_resolved_prefix}}
        </span>
        <a href='{{url}}' class="topic-name" title="{{topic_name}}">
            {{topic_display_name}}
        </a>
        {{#if contains_unread_mention}}
            <span class="unread_mention_info">
                @
            </span>
        {{else if is_followed}}
            <i class="zulip-icon zulip-icon-follow" aria-hidden="true"> </i>
            &nbsp;
        {{/if}}
        <span class="unread_count {{#if is_zero}}zero_count{{/if}}">
            {{unread}}
        </span>
    </span>
    <span class="sidebar-menu-icon topic-sidebar-menu-icon">
        <i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i>
    </span>
</li>
