{{#if is_empty_string_topic}}
<a class="stream-topic" data-stream-id="{{channel_id}}" href="{{href}}">
    {{~!-- squash whitespace --~}}
    #{{channel_name}} &gt; <span class="empty-topic-display">{{topic_display_name}}</span>
    {{~!-- squash whitespace --~}}
</a>
{{~else}}
<a class="stream-topic" data-stream-id="{{channel_id}}" href="{{href}}">
    {{~!-- squash whitespace --~}}
    #{{channel_name}} &gt; {{topic_display_name}}
    {{~!-- squash whitespace --~}}
</a>
{{~/if}}
