{{#with user_topic}}
<tr data-stream-id="{{stream_id}}" data-stream="{{stream}}" data-topic="{{topic}}" data-date-updated="{{date_updated_str}}" data-visibility-policy="{{visibility_policy}}">
    <td>{{stream}}</td>
    <td>{{topic}}</td>
    <td>
        <select class="settings_user_topic_visibility_policy prop-element list_select bootstrap-focus-style" data-setting-widget-type="number">
            {{#each ../user_topic_visibility_policy_values}}
                {{#unless (and (eq this.description "Followed") (not ../../development))}}
                    <option value='{{this.code}}' {{#if (eq this.code ../visibility_policy)}}selected{{/if}}>{{this.description}}</option>
                {{/unless}}
            {{/each}}
        </select>
    </td>
    <td class="topic_date_updated">{{date_updated_str}}</td>
</tr>
{{/with}}
