{{#each profile_fields}}
    <li data-type="{{this.type}}" class="field-section custom_user_field" data-field-id="{{this.id}}">
        {{#unless ../for_user_card_popover}}
        {{#if this.rendered_name}}
        <div class="name rendered_markdown">{{rendered_markdown this.rendered_name}}</div>
        {{else}}
        <div class="name">{{this.name}}</div>
        {{/if}}
        {{/unless}}
        {{#if this.is_link}}
            <div class="custom-user-url-field">
                <a tabindex="0" href="{{this.value}}" target="_blank" rel="noopener noreferrer" class="value custom-profile-fields-link {{#if ../for_user_card_popover}}tippy-zulip-tooltip{{/if}}" data-tippy-content="{{this.name}}">{{this.value}}</a>
                <button type="submit" class="tippy-zulip-tooltip copy-custom-field-url" data-tippy-content="{{t 'Copy URL' }}">
                    {{> copy_to_clipboard_svg }}
                </button>
            </div>
        {{else if this.is_external_account}}
            <a tabindex="0" href="{{this.link}}" target="_blank" rel="noopener noreferrer" class="value custom-profile-fields-link {{#if ../for_user_card_popover}}tippy-zulip-tooltip{{/if}}" data-tippy-content="{{this.name}}">
                {{#if (eq this.subtype "github") }}
                <i class="fa fa-github" aria-hidden="true"></i>
                {{else if (eq this.subtype "twitter") }}
                <i class="fa fa-twitter" aria-hidden="true"></i>
                {{/if}}
                {{this.value}}
            </a>
        {{else if this.is_user_field}}
            <div class="pill-container not-editable" data-field-id="{{this.id}}">
                <div class="input" contenteditable="false" style="display: none;"></div>
            </div>
        {{else}}
            {{#if this.rendered_value}}
            <span class="value rendered_markdown {{#if ../for_user_card_popover}}tippy-zulip-tooltip{{/if}}" data-tippy-content="{{this.name}}">{{rendered_markdown this.rendered_value}}</span>
            {{else}}
            <span class="value {{#if ../for_user_card_popover}}tippy-zulip-tooltip"{{/if}} data-tippy-content="{{this.name}}">{{this.value}}</span>
            {{/if}}
        {{/if}}
    </li>
{{/each}}
