<tr data-stream-id="{{stream_id}}">
    <td class="subscription_list_stream">
        <span class="stream-privacy-original-color-{{stream_id}} stream-privacy filter-icon" style="color: {{stream_color}}">
            {{> stream_privacy }}
        </span>
        <a class = "stream_list_item" href="{{stream_edit_url}}">{{name}}</a>
    </td>
    {{#if show_unsubscribe_button}}
    <td class="remove_subscription">
        <div class="subscription_list_remove">
            <button type="button" name="unsubscribe" class="remove-subscription-button button small rounded btn-danger {{#if (or show_private_stream_unsub_tooltip show_last_user_in_private_stream_unsub_tooltip)}}tippy-zulip-tooltip{{/if}}" data-tippy-content='{{#if show_private_stream_unsub_tooltip}}{{t "Use channel settings to unsubscribe from private channels."}}{{else}}{{t "Use channel settings to unsubscribe the last user from a private channel."}}{{/if}}'>
                {{t 'Unsubscribe' }}
            </button>
        </div>
    </td>
    {{/if}}
</tr>
