<form id="deactivate-realm-form">{{ csrf_input }}
    <p>{{t "This action is permanent and cannot be undone. All users will permanently lose access to their Zulip accounts." }}</p>

    {{#if development_environment}}
    <div class="alert" id="dev_env_msg"></div>
    {{/if}}
    <div class="input-group">
        <label for="delete_in">{{t "Automatically delete all data after" }}</label>
        <select id="delete_in" class="deactivate-realm-expires-in bootstrap-focus-style">
            {{#each delete_in_options}}
                <option {{#if this.default }}selected{{/if}} name="delete_in" value="{{this.value}}">{{this.description}}</option>
            {{/each}}
        </select>
        <p id="delete_on"></p>
        <div id="custom-deactivate-realm-expiration-time" class="dependent-settings-block">
            <label for="delete_in">{{t "Custom time" }}</label>
            <input type="text" autocomplete="off" name="custom-expiration-time" id="custom-expiration-time-input" class="custom-expiration-time inline-block" value="{{time_input}}" maxlength="3"/>
            <select class="custom-expiration-time bootstrap-focus-style" id="custom-expiration-time-unit">
                {{#each time_choices}}
                    <option name="custom_time_choice" class="custom_time_choice" value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <p id="custom_delete_on"></p>
        </div>
    </div>
    <p>{{t "Are you sure you want to deactivate this organization?"}}</p>
</form>
