<p>
    {{#tr}}
        When you deactivate <z-user></z-user>, they will be immediately logged out.
        {{#*inline "z-user"}}<strong>{{username}}</strong>{{#if email}} &lt;{{email}}&gt;{{/if}}{{/inline}}
    {{/tr}}
</p>
<p>{{t "Their password will be cleared from our systems, and any bots they maintain will be disabled." }}</p>
<p>
    {{#tr}}
        <strong>{username}</strong> has {number_of_invites_by_user} unexpired invitations.
    {{/tr}}
    {{#if bots_owned_by_user}}
        {{t "They administer the following bots:"}}
        <ul>
            {{#each bots_owned_by_user}}
                <li>{{this.full_name}}</li>
            {{/each}}
        </ul>
    {{/if}}
</p>
<label class="checkbox">
    <input type="checkbox" class="send_email" />
    <span class="rendered-checkbox"></span>
    {{t "Notify this user by email?" }}
</label>
<div class="email_field">
    <p class="border-top">
        <strong>{{t "Subject" }}:</strong>
        {{t "Notification of account deactivation on {realm_name}" }}
    </p>
    <div class="email-body">
        <p>
            {{#tr}}
                Your Zulip account on <z-link></z-link> has been deactivated,
                and you will no longer be able to log in.
                {{#*inline "z-link"}}<a href="{{realm_url}}">{{realm_url}}</a>{{/inline}}
            {{/tr}}
        </p>
        <p>{{t "The administrators provided the following comment:" }}</p>
        <textarea class="email_field_textarea settings_textarea" rows="8" maxlength="2000"></textarea>
    </div>
</div>
<br/>
<label class="checkbox">
    <input type="checkbox" class="spammer" />
    <span class="rendered-checkbox"></span>
    {{t "Is this user a spammer?" }}
</label>
<div class="spammer-field">
    <p class="border-top">{{t 'Upon deactivation:'}}</p>
    <ul class="spammer-field-body">
        <li>
            {{#tr}}
            This user will be renamed to <strong>Deleted user</strong>.
            {{/tr}}
        </li>
        <li>{{t "The user's profile picture will be replaced with a default icon"}}</li>
    </ul>
    <div class="delete-message-handling">
        <label for="message-action">
            {{#tr}}
                What should be done with <strong>{username}</strong>'s messages?
            {{/tr}}
        </label>
        <div class="input-group">
            <select id="message-delete-action" class="spammer-message-action-dropdown modal_select bootstrap-style-font">
                <option value="nothing">{{t "Nothing" }}</option>
                <option value="delete-public">{{t "Delete messages in public channel" }}</option>
                <option value="delete-all">{{t "Delete all messages" }}</option>
            </select>
        </div>
    </div>
</div>
