<p>
    {{#tr}}
        When you deactivate <z-user></z-user>, they will be immediately logged out.
        {{#*inline "z-user"}}<strong>{{username}}</strong>{{#if email}} &lt;{{email}}&gt;{{/if}}{{/inline}}
    {{/tr}}
</p>
<p>{{t "Their password will be cleared from our systems, and any bots they maintain will be disabled." }}</p>
<p>
    {{#tr}}
        <strong>{username}</strong> has {number_of_invites_by_user} unexpired invitations.
    {{/tr}}
    {{#if bots_owned_by_user}}
        {{t "They administer the following bots:"}}
        <ul>
            {{#each bots_owned_by_user}}
                <li>{{this.full_name}}</li>
            {{/each}}
        </ul>
    {{/if}}
</p>
<div class="new-style">
    <label class="checkbox">
        <input type="checkbox" class="send_email" />
        <span></span>
        {{t "Notify this user by email?" }}
    </label>
</div>
<div class="email_field">
    <p class="border-top">
        <strong>{{t "Subject" }}:</strong>
        {{t "Notification of account deactivation on {realm_name}" }}
    </p>
    <div class="email-body">
        <p>
            {{#tr}}
                Your Zulip account on <z-link></z-link> has been deactivated,
                and you will no longer be able to log in.
                {{#*inline "z-link"}}<a href="{{realm_url}}">{{realm_url}}</a>{{/inline}}
            {{/tr}}
        </p>
        <p>{{t "The administrators provided the following comment:" }}</p>
        <textarea class="email_field_textarea settings_textarea" rows="8" maxlength="2000"></textarea>
    </div>
</div>
<div class="new-style">
    <label class="checkbox">
        <input type="checkbox" class="ban_reason" id="ban_reason_checkbox"/>
        <span></span>
        {{t "Save ban reason for other admins?" }}
    </label>
</div>
<div class="ban_reason_field">
    <div class="choose-ban-reason" id="ban_reason_dropdown">
        <label class="dropdown-title">{{t 'Why is this user being deactivated?'}}
            {{> ../help_link_widget link="/help/user-deactivation-message" }}
        </label>
        <select name="deactivation-message" class="deactivation-message_setting prop-element settings_select bootstrap-focus-style" id="id-deactivation-message" data-setting-widget-type="number">
            {{#each usual_ban_reasons}}
                <option value="{{this.code}}" id="{{this.code}}">
                    {{this.description}}
                </option>
            {{/each}}
        </select>
    </div>
    <div class="ban-reason-body">
        <p>{{t "Please provide the ban reason (visible to other admins):" }}</p>
        <textarea class="ban_reason_field_textarea settings_textarea" rows="8" maxlength="2000"></textarea>
    </div>
</div>
