---
import {getCollection} from "astro:content";

const emoticons = (await getCollection("emoticons")).toSorted(
    (a, b) => a.data.order - b.data.order,
);

const rowHTML = (emoticon: string, emoji: string, imageSrc: string) => `
<tr>
    <td><code>${emoticon}</code></td>
    <td><img src="${imageSrc}" alt="${emoji}" class="emoji-big"></td>
</tr>
`;
let body = "";
for (const entry of emoticons) {
    body += rowHTML(entry.id, entry.data.emoji, entry.data.image.src);
}
---

<table>
    <thead>
        <tr>
            <th>Emoticon</th>
            <th>Emoji</th>
        </tr>
    </thead>
    <tbody>
        <Fragment set:html={body} />
    </tbody>
</table>
