{{#with sub}}
<div class="changeable-settings">
    <div class="stream-settings-tip-container">
        {{> stream_settings_tip}}
    </div>
    <div class="stream-header">
        <div class="stream_change_property_info alert-notification"></div>
        <div class="button-group">
            <button id="cancel-settings-change" class="button rounded small btn-warning tippy-zulip-tooltip" data-tippy-content="{{t 'Discard changes' }}">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <button id="save-settings" class="button rounded small btn-warning tippy-zulip-tooltip" data-tippy-content="{{t 'Save changes' }}">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </div>
        <div class="change_name_and_description">
            <div class="stream_setting_subsection_header">
                <h3 class="stream_setting_subsection_title">
                    {{t "Stream name" }}
                </h3>
            </div>
            <input type="text" id="change_stream_name" value="{{ name }}" />
            <div class="stream_setting_subsection_header">
                <h3 class="stream_setting_subsection_title">
                    {{t "Stream description" }}
                </h3>
            </div>
            <textarea id="change_stream_description" maxlength="1000">{{ rendered_description }}</textarea>
        </div>
    </div>
    <div class="stream_setting_subsection_header">
        <h3 class="stream_setting_subsection_title">
            {{t "Stream permissions" }}
        </h3>
        <div class="stream_permission_change_info alert-notification"></div>
        <div class="button-group">
            <button class="change-stream-privacy button rounded small btn-warning" title="{{t 'Change stream permissions' }}" {{#unless can_change_stream_permissions}}style="display:none"{{/unless}}>
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="subscription-type">
        <div class="subscription-type-text">
            {{> stream_permission_description
              stream_post_policy_values=../stream_post_policy_values
              message_retention_text=../message_retention_text}}
        </div>
    </div>
</div>
{{/with}}
