{{#with sub}}
<div class="changeable-settings">
    <div class="stream-settings-tip-container">
        {{> stream_settings_tip}}
    </div>
    <div class="stream-header">
        <div class="stream_change_property_info alert-notification"></div>
        <div class="button-group">
            <button id="cancel-settings-change" class="button rounded small btn-warning tippy-zulip-tooltip" data-tippy-content="{{t 'Discard changes' }}">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <button id="save-settings" class="button rounded small btn-warning tippy-zulip-tooltip" data-tippy-content="{{t 'Save changes' }}">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </div>
        <div class="change_name_and_description">
            <div class="stream_setting_subsection_header">
                <h3 class="stream_setting_subsection_title">
                    {{t "Stream name" }}
                </h3>
            </div>
            <input type="text" id="change_stream_name" value="{{ name }}" />
            <div class="stream_setting_subsection_header">
                <h3 class="stream_setting_subsection_title">
                    {{t "Stream description" }}
                </h3>
            </div>
            <textarea id="change_stream_description" maxlength="1000">{{ rendered_description }}</textarea>
        </div>
    </div>
    <div class="stream_setting_subsection_header">
        <h3 class="stream_setting_subsection_title">
            {{t "Stream permissions" }}
        </h3>
        <div class="stream_permission_change_info alert-notification"></div>
    </div>
    <div class="subscription-type">
        <div class="input-group stream-privacy-values">
            <div class="alert stream-privacy-status"></div>
            <h4>{{t 'Who can access the stream?'}}
                {{> ../help_link_widget link="/help/stream-permissions" }}
            </h4>
            {{#each ../stream_privacy_policy_values}}
                <div class="radio-input-parent">
                    <label class="radio">
                        <input type="radio" name="privacy" value="{{ this.code }}" {{#if (eq this.code ../../stream_privacy_policy) }}checked{{/if}} />
                        <b>{{ this.name }}:</b> {{ this.description }}
                    </label>
                </div>
            {{/each}}
        </div>

        <div class="input-group">
            <h4>{{t 'Who can post to the stream?'}}
                {{> ../help_link_widget link="/help/stream-sending-policy" }}
            </h4>
            {{#each ../stream_post_policy_values}}
                <div class="radio-input-parent">
                    <label class="radio">
                        <input type="radio" name="stream-post-policy" value="{{ this.code }}" {{#if (eq this.code ../stream_post_policy) }}checked{{/if}} />
                        {{ this.description }}
                    </label>
                </div>
            {{/each}}
        </div>

        <div>
            <h4>{{t "Message retention period" }}
                {{> ../help_link_widget link="/help/message-retention-policy" }}
            </h4>

            {{> ../settings/upgrade_tip_widget
              zulip_plan_is_not_limited=../zulip_plan_is_not_limited}}

            <div class="radio-input-parent">
                <label class="radio">
                    <input type="radio" name="message_retention" class="retention_period" value="realm_default" {{#if (eq "realm_default" ../stream_message_retention_days) }}checked{{/if}}
                      {{#unless ../is_owner}}disabled{{/unless}}/>
                    Use organization level settings {{../org_level_message_retention_setting}}
                </label>
            </div>
            <div class="radio-input-parent">
                <label class="radio">
                    <input type="radio" name="message_retention" class="retention_period" value="unlimited" {{#if (eq "unlimited" ../stream_message_retention_days) }}checked{{/if}}
                      {{#unless ../is_owner}}disabled{{/unless}}/>
                    Retain forever
                </label>
            </div>
            <div class="radio-input-parent">
                <label class="radio">
                    <input type="radio" name="message_retention" class="retention_period" value="retain_for_period" {{#if (eq "retain_for_period" ../stream_message_retention_days) }}checked{{/if}}
                      {{#unless ../is_owner}}disabled{{/unless}}/>
                    Retain for N days after posting
                </label>
            </div>

            <div class="dependent-inline-block stream-message-retention-days-input">
                <label class="inline-block">
                    {{t 'N' }}:
                </label>
                <input type="text" autocomplete="off"
                  name="stream-message-retention-days"
                  class="stream-message-retention-days"
                  value="{{#if (eq "retain_for_period" ../stream_message_retention_days)}}{{../retention_days}}{{/if}}"
                  {{#if ../disable_message_retention_setting}}disabled{{/if}}/>
            </div>
        </div>

    </div>
</div>
{{/with}}
