{{#with sub}}
<div class="changeable-settings">
    <div class="stream-settings-tip-container">
        {{> stream_settings_tip}}
    </div>
    <div class="stream-header">
        {{> stream_privacy_icon
          invite_only=invite_only
          is_web_public=is_web_public }}
        <div class="stream-name">
            <span class="sub-stream-name" title="{{name}}">{{name}}</span>
        </div>
        <div class="stream_change_property_info alert-notification"></div>
        <div class="button-group" {{#unless can_change_name_description}}style="display:none"{{/unless}}>
            <button id="open_stream_info_modal" class="button rounded small btn-warning" title="{{t 'Change stream info' }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="stream-description">
        {{> stream_description
          rendered_description=rendered_description
          }}
    </div>
    <div class="stream_setting_subsection_header">
        <h3 class="stream_setting_subsection_title">
            {{t "Stream permissions" }}
        </h3>
        <div class="stream_permission_change_info alert-notification"></div>
        <div class="button-group">
            <button class="change-stream-privacy button rounded small btn-warning" title="{{t 'Change stream permissions' }}" {{#unless can_change_stream_permissions}}style="display:none"{{/unless}}>
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="subscription-type">
        <div class="subscription-type-text">
            {{> stream_permission_description
              stream_post_policy_values=../stream_post_policy_values
              message_retention_text=../message_retention_text}}
        </div>
    </div>
</div>
{{/with}}
