<ul>
    {{#if invite_only}}
    <li>
        {{#tr}}
        This is a <b>private stream</b>. Only people who have been invited can access its content, but any subscriber can invite others.
        {{/tr}}
    </li>
    <li>
        {{#if history_public_to_subscribers}}{{t 'New subscribers can view complete message history.' }}
        {{else}}{{t 'New subscribers can only see messages sent after they join.' }}
        {{/if}}
    </li>
    {{else if is_web_public}}
    <li>
        {{#tr}}
        This is a <b>web public stream</b>. Any member of the organization can join without an invitation and anyone on the internet can read the content published.
        {{/tr}}
    </li>
    {{else}}
    <li>
        {{#tr}}
        This is a <b>public stream</b>. Any member of the organization can join without an invitation
        or view content sent to this stream.
        {{/tr}}
    </li>
    {{/if}}
    <li>
        {{#if (eq stream_post_policy stream_post_policy_values.admins.code)}}
        {{t 'Only organization administrators can post.'}}
        {{else if (eq stream_post_policy stream_post_policy_values.moderators.code)}}
        {{t 'Only organization administrators and moderators can post.'}}
        {{else if (eq stream_post_policy stream_post_policy_values.non_new_members.code)}}
        {{t 'Only organization full members can post.'}}
        {{else}}
        {{t 'All stream subscribers can post.'}}
        {{/if}}
    </li>
    {{#if message_retention_text}}
    <li>
        {{message_retention_text}}
    </li>
    {{/if}}
</ul>
