<div class="input-group stream-privacy-values">
    <div class="alert stream-privacy-status"></div>
    <label>{{t 'Who can access the stream?'}}
        {{> ../help_link_widget link="/help/stream-permissions" }}
    </label>

    <div class="stream-privacy_choices prop-element" id="id_stream_privacy" data-setting-widget-type="radio-group" data-setting-choice-type="string">
        {{#each stream_privacy_policy_values}}
            <div class="settings-radio-input-parent">
                <label class="radio">
                    <input type="radio" name="privacy" value="{{ this.code }}" {{#if (eq this.code ../stream_privacy_policy) }}checked{{/if}} />
                    <b>{{ this.name }}:</b> {{ this.description }}
                </label>
            </div>
        {{/each}}
    </div>
</div>

{{#if ask_to_announce_stream}}
    <div id="announce-new-stream">
        <label class="checkbox">
            <input type="checkbox" name="announce" value="announce" checked />
            <span></span>
            {{t "Announce stream" }}
        </label>
        <span class="fa fa-info-circle settings-info-icon" aria-hidden="true" id="announce-stream-docs"></span>
    </div>
{{/if}}

<div class="input-group">
    <label class="dropdown-title">{{t 'Who can post to the stream?'}}
        {{> ../help_link_widget link="/help/stream-sending-policy" }}
    </label>
    <select name="stream-post-policy" class="stream_post_policy_setting prop-element" id="id_stream_post_policy" data-setting-widget-type="number">
        {{#each stream_post_policy_values}}
            <option value="{{this.code}}" {{#if (eq this.code ../stream_post_policy) }}selected{{/if}}>
                {{ this.description}}
            </option>
        {{/each}}
    </select>
</div>

{{#if (or is_owner is_stream_edit)}}
<div>
    {{> ../settings/upgrade_tip_widget}}

    <div class="input-group inline-block message-retention-setting-group">
        <label class="dropdown-title">{{t "Message retention period" }}
            {{> ../help_link_widget link="/help/message-retention-policy" }}
        </label>
        <select name="stream_message_retention_setting"
          class="stream_message_retention_setting prop-element"
          id="id_message_retention_days"
          data-setting-widget-type="message-retention-setting">
            <option value="realm_default">{{#tr}}Use organization level settings {org_level_message_retention_setting}{{/tr}}</option>
            <option value="unlimited">{{t 'Retain forever' }}</option>
            <option value="custom_period">{{t 'Custom' }}</option>
        </select>

        <div class="dependent-settings-block stream-message-retention-days-input">
            <label class="inline-block">
                {{t 'Retention period (days)' }}:
            </label>
            <input type="text" autocomplete="off"
              name="stream-message-retention-days"
              class="stream-message-retention-days message-retention-setting-custom-input"
              id="stream_message_retention_custom_input"
              value="{{ stream_message_retention_days }}"/>
        </div>
    </div>
</div>
{{/if}}
