{{#if message}}
{{message}}
<br />
{{/if}}
{{#if subscribed_users}}
    {{#if subscribed_users.[1]}}
    {{t "Successfully subscribed users:" }}
    {{else}}
    {{t "Successfully subscribed user:" }}
    {{/if}}
    {{#each subscribed_users}}
        <a data-user-id="{{user_id}}" class="view_user_profile">{{full_name}}</a>{{#unless @last}},{{else}}.{{/unless}}
    {{/each}}
    <br />
{{/if}}
{{#if already_subscribed_users}}
    {{#each already_subscribed_users}}
        {{#if @first}}
        {{t "Already subscribed users:" }}
        {{/if}}
        <a data-user-id="{{user_id}}" class="view_user_profile">{{full_name}}</a>{{#unless @last}},{{else}}.{{/unless}}
    {{/each}}
    <br />
{{/if}}
{{#if ignored_deactivated_users}}
    {{#each ignored_deactivated_users}}
        {{#if @first}}
        {{t "Ignored deactivated users:" }}
        {{/if}}
        <a data-user-id="{{user_id}}" class="view_user_profile">{{full_name}}</a>{{#unless @last}},{{else}}.{{/unless}}
    {{/each}}
{{/if}}
