{{#with emoji_dict}}
<div class="emoji-popover-emoji {{#if has_reacted}}reacted{{/if}}" data-emoji-name="{{#if emoji_name}}{{emoji_name}}{{else}}{{name}}{{/if}}" tabindex="0" data-emoji-id="{{../type}},{{../section}},{{../index}}">
    {{#if is_realm_emoji}}
        {{#if (and (eq ../emoji_animation_setting "on_hover") still_url)}}
        <img src="{{url}}" class="emoji animated-emoji" />
        <img src="{{still_url}}" class="emoji still-emoji" />
        {{else if (and (eq ../emoji_animation_setting "never") still_url)}}
        <img src="{{still_url}}" class="emoji "/>
        {{else}}
        <img src="{{url}}" class="emoji" />
        {{/if}}
    {{else}}
        <div class="emoji emoji-{{emoji_code}}"></div>
    {{/if}}
</div>
{{/with}}
