<div class="popover-menu" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list">
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" class="compose_mobile_stream_button popover-menu-link" tabindex="0">
                <i class="popover-menu-icon zulip-icon zulip-icon-square-plus" aria-hidden="true"></i>
                {{#if is_in_private_narrow }}
                <span class="popover-menu-label">{{t "New channel message" }}</span>
                {{else}}
                <span class="popover-menu-label">{{t "New topic" }}</span>
                {{/if}}
            </a>
        </li>
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" class="compose_mobile_direct_message_button popover-menu-link" tabindex="0">
                <i class="popover-menu-icon zulip-icon zulip-icon-mail" aria-hidden="true"></i>
                {{#if is_in_private_narrow }}
                <span class="popover-menu-label">{{t "New direct message" }}</span>
                {{else}}
                <span class="popover-menu-label">{{t "New direct message" }}</span>
                {{/if}}
            </a>
        </li>
    </ul>
</div>
