<div class="popover-menu" id="scroll-to-time-popover" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list">
        <li role="none" class="text-item popover-menu-list-item">
            <span class="popover-header-name">{{t "Scroll to" }}</span>
        </li>
        <li role="separator" class="popover-menu-separator"></li>
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" class="popover-menu-link" id="scroll_to_oldest" tabindex="0">
                <span class="popover-menu-label">{{t "Oldest message" }}</span>
            </a>
        </li>
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" class="popover-menu-link" id="scroll_to_last_week" tabindex="0">
                <span class="popover-menu-label">{{t "A week ago" }}</span>
            </a>
        </li>
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" class="popover-menu-link" id="scroll_to_yesterday" tabindex="0">
                <span class="popover-menu-label">{{t "Yesterday" }}</span>
            </a>
        </li>
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" class="popover-menu-link" id="scroll_to_newest" tabindex="0">
                <span class="popover-menu-label">{{t "Newest message" }}</span>
            </a>
        </li>
        <li role="separator" class="popover-menu-separator"></li>
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" class="popover-menu-link" id="scroll_to_custom" tabindex="0">
                <span class="popover-menu-label">{{t "Custom" }}</span>
            </a>
        </li>
    </ul>
</div>
