<div class="popover-menu user-group-info-popover" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list">
        <li role="none" class="link-item popover-menu-list-item">
            <div class="popover-group-menu-info">
                <div class="popover-group-menu-name-container">
                    <i class="popover-menu-icon zulip-icon zulip-icon-triple-users" aria-hidden="true"></i>
                    <span class="popover-group-menu-name">{{group_name}}</span>
                </div>
                <div class="popover-group-menu-description">{{group_description}}</div>
            </div>
        </li>
        <li role="separator" class="popover-menu-separator"></li>
        <li role="none" class="popover-menu-list-item">
            {{#if members.length}}
                <ul class="popover-menu-list popover-group-menu-member-list" data-simplebar data-simplebar-tab-index="-1" data-simplebar-auto-hide="false">
                    {{#each members}}
                        <li class="popover-group-menu-member">
                            {{#if is_bot}}
                                <i class="zulip-icon zulip-icon-bot" aria-hidden="true"></i>
                            {{else}}
                                <span class="user_circle {{user_circle_class}} popover_user_presence hidden-for-spectators" data-tippy-content="{{user_last_seen_time_status}}"></span>
                            {{/if}}
                            <span class="popover-group-menu-member-name">{{full_name}}</span>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <span class="popover-group-menu-placeholder"><i>{{t 'This group has no members.'}}</i></span>
            {{/if}}
        </li>
        {{#unless (or is_guest is_system_group)}}
            <li role="separator" class="popover-menu-separator hidden-for-spectators"></li>
            <li role="none" class="link-item popover-menu-list-item hidden-for-spectators">
                <a href="{{group_edit_url}}" role="menuitem" class="navigate-link-on-enter popover-menu-link" tabindex="0">
                    <i class="popover-menu-icon zulip-icon zulip-icon-user-cog" aria-hidden="true"></i>
                    <span class="popover-menu-label">{{t "Group settings" }}</span>
                </a>
            </li>
        {{/unless}}
    </ul>
</div>
