<div class="group-info-popover">
    <div class="popover-inner">
        <div class="popover-content">
            <div class="group-info">
                <div class="group-name"> {{group_name}} </div>
                <div class="group-description">
                    {{group_description}}
                </div>
            </div>
            <hr />
            <ul class="nav nav-list member-list" data-simplebar data-simplebar-auto-hide="false">
                {{#each members}}
                    <li>
                        {{#if is_active }}
                            {{#if is_bot}}
                            <i class="zulip-icon zulip-icon-bot" aria-hidden="true"></i>
                            {{else}}
                            <span class="user_circle {{user_circle_class}}  popover_user_presence" title="{{user_last_seen_time_status}}"></span>
                            {{/if}}
                        {{/if}}
                        <span>{{full_name}}</span>
                    </li>
                {{/each}}
            </ul>
            <hr />
            <ul class="nav nav-list manage-group">
                <li>
                    <a href="#organization/user-groups-admin">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        {{t 'Manage user groups' }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
