<p>
    {{#tr}}
        Deactivating <z-user></z-user> will immediately log them out.
        {{#*inline "z-user"}}<strong>{{username}}</strong> &lt;{{email}}&gt;{{/inline}}
    {{/tr}}
</p>
<p>{{t "Their password will be cleared from our systems, and any bots they maintain will be disabled." }}</p>
<div class="deactivate-modal-info-group">
    <label class="checkbox">
        <input type="checkbox" name="mark_user_as_spammer" id="mark_as_spammer"/>
        <span></span>
        {{t "Mark as spammer" }}
    </label>
</div>
<div class="deactivate-modal-info-group" id="delete_action_info_group" style="display: none;">
    <label for="message_delete_action" class="dropdown-title">{{t "What should be done with the user's messages?" }}</label>
    <select name="message_delete_action" id="message_delete_action" class="prop-element" data-setting-widget-type="number">
        {{> ../settings/dropdown_options_widget option_values=message_delete_action}}
    </select>
</div>
