{{#if is_stream}}
    {{> inbox_stream_header_row}}
{{else}}
    <div id="inbox-row-conversation-{{conversation_key}}" class="inbox-row {{#if is_hidden}}hidden_by_filters{{/if}} {{#if is_collapsed}}collapsed_container{{/if}}" tabindex="0">
        <div class="inbox-focus-border">
            <div class="inbox-left-part-wrapper">
                <div class="inbox-left-part">
                    <div class="hide fake-collapse-button" tabindex="0"></div>
                    {{#if is_direct}}
                        <a class="recipients_info {{#unless user_circle_class}}inbox-group-or-bot-dm{{/unless}}" href="{{dm_url}}">
                            <span class="user_block">
                                {{#if is_bot}}
                                <span class="zulip-icon zulip-icon-bot" aria-hidden="true"></span>
                                {{else if is_group}}
                                <span class="zulip-icon zulip-icon-triple-users" aria-hidden="true"></span>
                                {{else}}
                                <span class="{{user_circle_class}} user_circle"></span>
                                {{/if}}
                                <span class="recipients_name">{{{rendered_dm_with}}}</span>
                            </span>
                        </a>
                        <div class="unread-count-focus-outline" tabindex="0">
                            <span class="unread_count tippy-zulip-tooltip on_hover_dm_read"
                              data-user-ids-string="{{user_ids_string}}" data-tippy-content="{{t 'Mark as read' }}"
                              aria-label="{{t 'Mark as read' }}">{{unread_count}}</span>
                        </div>
                    {{else if is_topic}}
                        {{!-- Invisible user circle element for alignment of topic text with DM user name --}}
                        <span class="user_circle_green user_circle invisible"></span>
                        <div class="inbox-topic-name">
                            <a tabindex="-1" href="{{topic_url}}">{{topic_name}}</a>
                        </div>
                        <span class="unread_mention_info tippy-zulip-tooltip
                          {{#unless mention_in_unread}}hidden{{/unless}}"
                          data-tippy-content="{{t 'You have mentions'}}">@</span>
                        <div class="unread-count-focus-outline" tabindex="0">
                            <span class="unread_count tippy-zulip-tooltip on_hover_topic_read"
                              data-stream-id="{{stream_id}}" data-topic-name="{{topic_name}}"
                              data-tippy-content="{{t 'Mark as read' }}" aria-label="{{t 'Mark as read' }}">
                                {{unread_count}}
                            </span>
                        </div>
                    {{/if}}
                </div>
            </div>
            {{#unless is_direct}}
            <div class="inbox-right-part-wrapper">
                <div class="inbox-right-part">
                    {{#if is_topic}}
                        <span class="visibility-policy-indicator change_visibility_policy hidden-for-spectators{{#if (eq visibility_policy all_visibility_policies.INHERIT)}} inbox-row-visibility-policy-inherit{{/if}}"
                          data-stream-id="{{stream_id}}" data-topic-name="{{topic_name}}" tabindex="0">
                            {{#if (eq visibility_policy all_visibility_policies.FOLLOWED)}}
                                <i class="zulip-icon zulip-icon-follow recipient_bar_icon" data-tippy-content="{{t 'You follow this topic'}}"
                                  role="button" aria-haspopup="true" aria-label="{{t 'You follow this topic' }}"></i>
                            {{else if (eq visibility_policy all_visibility_policies.UNMUTED)}}
                                <i class="zulip-icon zulip-icon-unmute-new recipient_bar_icon" data-tippy-content="{{t 'You have unmuted this topic'}}"
                                  role="button" aria-haspopup="true" aria-label="{{t 'You have unmuted this topic' }}"></i>
                            {{else if (eq visibility_policy all_visibility_policies.MUTED)}}
                                <i class="zulip-icon zulip-icon-mute-new recipient_bar_icon" data-tippy-content="{{t 'You have muted this topic'}}"
                                  role="button" aria-haspopup="true" aria-label="{{t 'You have muted this topic' }}"></i>
                            {{else if (eq visibility_policy all_visibility_policies.INHERIT)}}
                                <i class="zulip-icon zulip-icon-inherit recipient_bar_icon" data-tippy-content="{{t 'Default'}}"
                                  role="button" aria-haspopup="true" aria-label="{{t 'Default' }}"></i>
                            {{/if}}
                        </span>
                    {{/if}}
                    <div class="inbox-action-button inbox-topic-menu"
                      {{#if is_topic}}data-stream-id="{{stream_id}}" data-topic-name="{{topic_name}}"
                      data-topic-url="{{topic_url}}"{{/if}} tabindex="0">
                        <i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            {{/unless}}
        </div>
    </div>
{{/if}}
