<div id="inbox-stream-header-{{stream_id}}" class="inbox-header {{#if is_hidden}}hidden_by_filters{{/if}}" tabindex="0" data-stream-id="{{stream_id}}" style="background: {{stream_header_color}};">
    <div class="inbox-focus-border">
        <div class="inbox-left-part-wrapper">
            <div class="collapsible-button"><i class="zulip-icon zulip-icon-arrow-down toggle-inbox-header-icon {{#if is_collapsed}}icon-collapsed-state{{/if}}"></i></div>
            <div class="inbox-left-part">
                <div tabindex="0" class="inbox-header-name">
                    <span class="stream-privacy-original-color-{{stream_id}} stream-privacy filter-icon" style="color: {{stream_color}}">
                        {{> ../stream_privacy }}
                    </span>
                    <a tabindex="-1" href="{{stream_url}}">{{stream_name}}</a>
                </div>
                <span class="unread_count tippy-zulip-tooltip on_hover_topic_read" data-stream-id="{{stream_id}}" data-tippy-content="{{t 'Mark as read' }}" role="button" tabindex="0" aria-label="{{t 'Mark as read' }}">{{unread_count}}</span>
            </div>
        </div>
    </div>
</div>
