<div id="inbox-main" class="no-select">
    <div class="search_group" id="inbox-filters" role="group">
        <input type="text" id="{{INBOX_SEARCH_ID}}" value="{{search_val}}" autocomplete="off" placeholder="{{t 'Filter' }}" />
        <i class="zulip-icon zulip-icon-search-inbox"></i>
        <button data-filter="include_muted" id="{{MUTED_FILTER_ID}}" type="button" class="btn btn-default btn-inbox-filter {{#if is_spectator}}fake_disabled_button{{/if}}" role="checkbox" aria-checked="false" tabindex="0">
            <i id="inbox_filter_mute_toggle" class="fa fa-square-o"></i>
            {{t 'Include muted' }}
        </button>
    </div>
    <div id="inbox-list">
        {{> inbox_list}}
    </div>
</div>
