<div id="inbox-stream-header-{{stream_id}}" class="inbox-header {{#if is_hidden}}hidden_by_filters{{/if}}" tabindex="0" data-stream-id="{{stream_id}}" style="background: {{stream_header_color}};">
    <div class="inbox-focus-border">
        <div class="inbox-left-part-wrapper">
            <div class="collapsible-button"><i class="zulip-icon zulip-icon-arrow-down toggle-inbox-header-icon {{#if is_collapsed}}icon-collapsed-state{{/if}}"></i></div>
            <div class="inbox-left-part">
                <div tabindex="0" class="inbox-header-name">
                    <div class="inbox-header-name-focus-border">
                        <span class="stream-privacy-original-color-{{stream_id}} stream-privacy filter-icon" style="color: {{stream_color}}">
                            {{> ../stream_privacy . }}
                        </span>
                        <a tabindex="-1" href="{{stream_url}}">{{stream_name}}</a>
                        {{#if is_archived}}
                            <span class="inbox-header-stream-archived">
                                <i class="archived-indicator">({{t 'archived' }})</i>
                            </span>
                        {{/if}}
                    </div>
                </div>
                <span class="unread_mention_info tippy-zulip-tooltip
                  {{#unless mention_in_unread}}hidden{{/unless}}"
                  data-tippy-content="{{t 'You have mentions'}}">@</span>
                <div class="unread-count-focus-outline" tabindex="0">
                    <span class="unread_count tippy-zulip-tooltip on_hover_topic_read"
                      data-stream-id="{{stream_id}}" data-tippy-content="{{t 'Mark as read' }}"
                      aria-label="{{t 'Mark as read' }}">{{unread_count}}</span>
                </div>
                <div class="topic-visibility-indicator invisible" tabindex="0"></div>
            </div>
        </div>
        <div class="inbox-right-part-wrapper">
            <div class="inbox-right-part">
                <div class="inbox-action-button inbox-stream-menu" data-stream-id="{{stream_id}}" tabindex="0">
                    <i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
