<div id="inbox-dm-header" tabindex="0" class="inbox-header {{#unless has_dms_post_filter}}hidden_by_filters{{/unless}}">
    <div class="inbox-focus-border">
        <div class="inbox-left-part-wrapper">
            <div class="collapsible-button"><i class="zulip-icon zulip-icon-arrow-down toggle-inbox-header-icon {{#if is_dms_collaped}}icon-collapsed-state{{/if}}"></i></div>
            <div class="inbox-left-part">
                <div tabindex="0" class="inbox-header-name">
                    <i class="fa fa-envelope"></i>
                    <a tabindex="-1" role="button" href="/#narrow/is/private">{{t 'Direct message'}}</a>
                </div>
                <span class="unread_count tippy-zulip-tooltip on_hover_all_dms_read" data-tippy-content="{{t 'Mark as read' }}" role="button" tabindex="0" aria-label="{{t 'Mark as read' }}">{{unread_dms_count}}</span>
            </div>
        </div>
    </div>
</div>
<div id="inbox-direct-messages-container">
    {{#each dms_dict}}
        {{> inbox_row }}
    {{/each}}
</div>

<div id="inbox-streams-container">
    {{> inbox_stream_container }}
</div>

<div id="inbox-empty-with-search" class="inbox-empty-text">
    {{t "No conversations match your filters."}}
</div>
<div id="inbox-empty-without-search"  class="inbox-empty-text">
    {{t "There are no unread messages in your inbox."}}
</div>
