{{#if is_stream}}
    {{> inbox_stream_header_row .}}
{{else}}
    <div id="inbox-row-conversation-{{conversation_key}}" class="inbox-row {{#if is_hidden}}hidden_by_filters{{/if}}" tabindex="0" data-col-index="{{ column_indexes.FULL_ROW }}">
        <div class="inbox-focus-border">
            <div class="inbox-left-part-wrapper">
                <div class="inbox-left-part">
                    {{#if is_direct}}
                        <a class="recipients_info {{#unless user_circle_class}}inbox-group-or-bot-dm{{/unless}}" href="{{dm_url}}" tabindex="-1">
                            <span class="user_block">
                                {{#if is_bot}}
                                <span class="zulip-icon zulip-icon-bot" aria-hidden="true"></span>
                                {{else if is_group}}
                                <span class="conversation-partners-icon zulip-icon zulip-icon-dm-groups-3" aria-hidden="true"></span>
                                {{else}}
                                <span class="zulip-icon zulip-icon-{{user_circle_class}} {{user_circle_class}} user-circle" data-presence-indicator-user-id="{{user_ids_string}}"></span>
                                {{/if}}
                                <span class="recipients_name">{{{rendered_dm_with}}}</span>
                            </span>
                        </a>
                        <span class="unread_mention_info tippy-zulip-tooltip
                          {{#unless has_unread_mention}}hidden{{/unless}}"
                          data-tippy-content="{{t 'You have unread mentions' }}">@</span>
                        <div class="unread-count-focus-outline" tabindex="0" data-col-index="{{ column_indexes.UNREAD_COUNT }}">
                            <span class="unread_count tippy-zulip-tooltip on_hover_dm_read"
                              data-user-ids-string="{{user_ids_string}}" data-tippy-content="{{t 'Mark as read' }}"
                              aria-label="{{t 'Mark as read' }}">{{unread_count}}</span>
                        </div>
                    {{else if is_topic}}
                        <div class="inbox-topic-name">
                            <a tabindex="-1" href="{{topic_url}}" {{#if is_empty_string_topic}}class="empty-topic-display"{{/if}}>{{topic_display_name}}</a>
                        </div>
                        <span class="unread_mention_info tippy-zulip-tooltip
                          {{#unless mention_in_unread}}hidden{{/unless}}"
                          data-tippy-content="{{t 'You have unread mentions'}}">@</span>
                        {{#if unread_count}}
                        <div class="unread-count-focus-outline" tabindex="0" data-col-index="{{ column_indexes.UNREAD_COUNT }}">
                            <span class="unread_count tippy-zulip-tooltip on_hover_topic_read"
                              data-stream-id="{{stream_id}}" data-topic-name="{{topic_name}}"
                              data-tippy-content="{{t 'Mark as read' }}" aria-label="{{t 'Mark as read' }}">
                                {{unread_count}}
                            </span>
                        </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            {{#unless is_direct}}
            <div class="inbox-right-part-wrapper">
                <div class="inbox-right-part">
                    {{#if (and is_topic (not stream_archived))}}
                        <span class="visibility-policy-indicator change_visibility_policy hidden-for-spectators{{#if (eq visibility_policy all_visibility_policies.INHERIT)}} inbox-row-visibility-policy-inherit{{/if}}"
                          data-stream-id="{{stream_id}}" data-topic-name="{{topic_name}}" tabindex="0" data-col-index="{{ column_indexes.TOPIC_VISIBILITY }}">
                            {{#if (eq visibility_policy all_visibility_policies.FOLLOWED)}}
                                <i class="zulip-icon zulip-icon-follow recipient_bar_icon" data-tippy-content="{{t 'You follow this topic.'}}"
                                  role="button" aria-haspopup="true" aria-label="{{t 'You follow this topic.' }}"></i>
                            {{else if (eq visibility_policy all_visibility_policies.UNMUTED)}}
                                <i class="zulip-icon zulip-icon-unmute recipient_bar_icon" data-tippy-content="{{t 'You have unmuted this topic.'}}"
                                  role="button" aria-haspopup="true" aria-label="{{t 'You have unmuted this topic.' }}"></i>
                            {{else if (eq visibility_policy all_visibility_policies.MUTED)}}
                                <i class="zulip-icon zulip-icon-mute recipient_bar_icon" data-tippy-content="{{t 'You have muted this topic.'}}"
                                  role="button" aria-haspopup="true" aria-label="{{t 'You have muted this topic.' }}"></i>
                            {{else if (eq visibility_policy all_visibility_policies.INHERIT)}}
                                <i class="zulip-icon zulip-icon-inherit recipient_bar_icon"
                                  role="button" aria-haspopup="true" aria-label="{{t 'Notifications are based on your configuration for this channel.' }}"></i>
                            {{/if}}
                        </span>
                    {{/if}}
                    <div class="inbox-action-button inbox-topic-menu"
                      {{#if is_topic}}data-stream-id="{{stream_id}}" data-topic-name="{{topic_name}}"
                      data-topic-url="{{topic_url}}"{{/if}} tabindex="0" data-col-index="{{ column_indexes.ACTION_MENU }}">
                        <i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            {{/unless}}
        </div>
    </div>
{{/if}}
