<div class="popover-menu user-card-popover-actions no-auto-hide-right-sidebar-overlay" id="user_card_popover" data-simplebar data-simplebar-tab-index="-1">
    <div class="popover-menu-user-header">
        <div class="popover-menu-user-avatar-container">
            <img class="popover-menu-user-avatar" src="{{user_avatar}}" />
        </div>
        <div class="popover-menu-user-info">
            <div class="popover-menu-user-full-name text-select" data-tippy-content="{{t 'Unknown user' }}">
                {{t 'Unknown user' }}
            </div>
        </div>
    </div>
    <ul role="menu" class="popover-menu-list" data-user-id="{{user_id}}">
        <li role="separator" class="popover-menu-separator hidden-for-spectators"></li>
        <li role="none" class="popover-menu-list-item link-item">
            <a role="menuitem" href="{{ sent_by_url }}" class="narrow_to_messages_sent popover-menu-link hidden-for-spectators" tabindex="0">
                <i class="popover-menu-icon zulip-icon zulip-icon-message-square" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t "View messages sent" }}</span>
            </a>
        </li>
    </ul>
</div>
