{{#each profile_fields}}
    <li role="none" class="popover-menu-list-item text-item custom_user_field" data-type="{{this.type}}" data-field-id="{{this.id}}">
        {{#if this.is_link}}
            <a href="{{this.value}}" target="_blank" rel="noopener noreferrer" class="custom-profile-field-value custom-profile-field-link" data-tippy-content="{{this.name}}" tabindex="0">
                <span class="custom-profile-field-text">{{this.value}}</span>
            </a>
            <span role="menuitem" tabindex="0" class="popover-menu-link copy-button copy-custom-profile-field-link" aria-label="{{t 'Copy URL' }}" data-tippy-content="{{t 'Copy URL' }}">
                <i class="zulip-icon zulip-icon-copy" aria-hidden="true"></i>
            </span>
        {{else if this.is_external_account}}
            <a href="{{this.link}}" target="_blank" rel="noopener noreferrer" class="custom-profile-field-value custom-profile-field-link" data-tippy-content="{{this.name}}" tabindex="0">
                {{#if (eq this.subtype "github") }}
                    <i class="popover-menu-icon fa fa-github" aria-hidden="true"></i>
                {{else if (eq this.subtype "twitter") }}
                    <i class="popover-menu-icon fa fa-twitter" aria-hidden="true"></i>
                {{/if}}
                <span class="custom-profile-field-text">{{this.value}}</span>
            </a>
        {{else if this.rendered_value}}
            <div class="custom-profile-field-value rendered_markdown" data-tippy-content="{{this.name}}">
                {{rendered_markdown this.rendered_value}}
            </div>
        {{else}}
            <div class="custom-profile-field-value" data-tippy-content="{{this.name}}">
                <span class="custom-profile-field-text">{{this.value}}</span>
            </div>
        {{/if}}
    </li>
{{/each}}
