<ul class="nav nav-list user-card-popover-manage-menu" data-user-id="{{user_id}}">
    {{#if can_mute }}
    <li>
        <a tabindex="0" class="sidebar-popover-mute-user">
            <i class="fa fa-eye-slash" aria-hidden="true"></i> {{t "Mute this user" }}
        </a>
    </li>
    {{/if}}
    {{#if can_unmute}}
    <li>
        <a tabindex="0" class="sidebar-popover-unmute-user">
            <i class="fa fa-eye" aria-hidden="true"></i> {{t "Unmute this user" }}
        </a>
    </li>
    {{/if}}
    {{#if can_manage_user}}
        {{#if is_active}}
        <li>
            <a tabindex="0" class="sidebar-popover-manage-user">
                <i class="fa fa-edit" aria-hidden="true"></i> {{#if is_bot}}{{t "Manage this bot" }}{{else}}{{t "Manage this user" }}{{/if}}
            </a>
        </li>
        {{else}}
        <li>
            <a tabindex="0" class="sidebar-popover-reactivate-user">
                <i class="fa fa-user-plus" aria-hidden="true"></i> {{#if is_bot}}{{t "Reactivate this bot" }}{{else}}{{t "Reactivate this user" }}{{/if}}
            </a>
        </li>
        {{/if}}
    {{/if}}
</ul>
