{{! Contents of the "message actions" popup }}
<ul class="nav nav-list actions_popover">
    {{#if should_display_edit_and_view_source}}
    <li>
        <a href="#" class="popover_edit_message" data-message-id="{{message_id}}">
            {{! Can consider http://fontawesome.io/icon/file-code-o/ when we upgrade to font awesome 4.}}
            <i class="{{#if use_edit_icon}}fa fa-pencil{{else}}fa fa-file-text-o{{/if}}" aria-hidden="true"></i> {{editability_menu_item}}
        </a>
    </li>
    {{/if}}

    {{#if should_display_quote_and_reply}}
    <li>
        <a href="#" class="respond_button" data-message-id="{{message_id}}">
            <i class="fa fa-reply" aria-hidden="true"></i> {{t "Quote and reply" }}
        </a>
    </li>
    {{/if}}

    {{#if should_display_reminder_option}}
    <li>
        <a href="#" class='reminder_button' data-message-id="{{message_id}}">
            <i class="fa fa-bell" aria-hidden="true"></i> {{t "Remind me about this" }}
        </a>
    </li>
    {{/if}}

    {{#if should_display_collapse}}
    <li>
        <a href="#" class="popover_toggle_collapse" data-message-id="{{message_id}}">
            <i class="fa fa-minus" aria-hidden="true"></i>
            {{t "Collapse" }} <span class="hotkey-hint">(–)</span>
        </a>
    </li>
    {{/if}}

    {{#if should_display_uncollapse}}
    <li>
        <a href="#" class="popover_toggle_collapse" data-message-id="{{message_id}}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            {{t "Un-collapse" }} <span class="hotkey-hint">(–)</span>
        </a>
    </li>
    {{/if}}

    {{#if should_display_edit_history_option}}
    <li>
        <a href="#" class="view_edit_history" data-msgid="{{message_id}}">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            {{t "View edit history" }}
        </a>
    </li>
    {{/if}}
    {{#if should_display_delete_option}}
    <li>
        <a href="#" class="delete_message" data-message-id="{{message_id}}">
            <i class="fa fa-times" aria-hidden="true"></i>
            {{t "Delete message" }}
        </a>
    </li>
    {{/if}}
    {{#if can_mute_topic}}
    <li>
        <a href="#" class="popover_mute_topic" data-msg-stream-id="{{stream_id}}" data-msg-topic="{{topic}}">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
            {{#tr this}}Mute the topic <b>__topic__</b>{{/tr}} <span class="hotkey-hint">(M)</span>
        </a>
    </li>
    {{/if}}

    {{#if can_unmute_topic}}
    <li>
        <a href="#" class="popover_unmute_topic" data-msg-stream-id="{{stream_id}}" data-msg-topic="{{topic}}">
            <i class="fa fa-eye" aria-hidden="true"></i>
            {{#tr this}}Unmute the topic <b>__topic__</b>{{/tr}}
        </a>
    </li>
    {{/if}}

    {{#if should_display_add_reaction_option}}
    <li>
        <a href="#" class="reaction_button" data-message-id="{{message_id}}">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            {{#tr this}}Add emoji reaction{{/tr}}
        </a>
    </li>
    {{/if}}

    <li>
        <a href="#" class="copy_link" data-message-id="{{message_id}}" data-clipboard-text="{{ conversation_time_uri }}">
            <i class="fa fa-link" aria-hidden="true"></i> {{t "Copy link to conversation" }}
        </a>
    </li>

    {{#if historical}}
    <li class="small">({{t "Message sent when you were not subscribed" }})</li>
    {{/if}}
</ul>
