{{! Contents of the "message actions" popup }}
<ul class="nav nav-list actions_popover pull-right">
  {{#if can_edit_message}}
  <li>
    <a href="#" class="popover_edit_message" data-msgid="{{message.id}}">
      <i class="icon-vector-pencil"></i> Edit
    </a>
  </li>
  {{/if}}

  <li>
    <a href="#" class="respond_button">
      <i class="icon-vector-share-alt"></i> Reply
    </a>
  </li>

  <li>
    <a href="#" class="popover_toggle_collapse" data-msgid="{{message.id}}">
      <i class="{{#if message.collapsed}}icon-vector-plus{{else}}icon-vector-minus{{/if}}"></i>
        {{#if message.collapsed}}Un-collapse{{else}}Collapse{{/if}}
    </a>
  </li>

  {{#if can_mute_topic}}
  <li>
    <a href="#" class="popover_mute_topic" data-msg-stream="{{message.stream}}" data-msg-topic="{{message.subject}}">
      <i class="icon-vector-eye-close"></i>
      Mute the topic <b>{{message.subject}}</b>
    </a>
  </li>
  {{/if}}

  {{#if can_unmute_topic}}
  <li>
    <a href="#" class="popover_unmute_topic" data-msg-stream="{{message.stream}}" data-msg-topic="{{message.subject}}">
      <i class="icon-vector-eye-open"></i>
      Unmute the topic <b>{{message.subject}}</b>
    </a>
  </li>
  {{/if}}

  <li>
    <a id="copy_link_to_clipboard" data-clipboard-text="{{conversation_time_uri}}" data-toggle="tooltip" title="Copy link to clipboard">
    <i class="icon-vector-copy"></i> Copy link to message
    </a>
  </li>
</ul>
