{{#with realm_export}}
<tr class="export_row" id="export_{{id}}">
    <td>
        <span class="acting_user">{{acting_user}}</span>
    </td>
    <td>
        <span class="export_time">{{event_time}}</span>
    </td>
    <td>
        {{#if url}}
        <span class="export_status">{{t 'Complete' }}</span>
        {{else if failed}}
        <span class="export_status">{{t 'Failed' }}</span>
        {{else if pending}}
        <span class="export_status">{{t 'Pending' }}</span>
        {{/if}}
    </td>
    <td>
        {{#if url}}
        <span class="export_url"><a href="{{url}}" download>{{t 'Download' }}</a></span>
        {{/if}}
    </td>
    <td class="actions">
        <button class="button rounded small delete btn-danger" data-export-id="{{id}}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </td>
</tr>
{{/with}}
