{{#with user_group}}
<div class="user-group white-box" id="{{id}}">
    <div class="alert user-group-status"></div>
    <h4>
        <span class="name" data-placeholder="{{t 'Name' }}" contenteditable="true" spellcheck="false">{{name}}</span>
        <span class="spacer">—</span>
        <span class="description" data-placeholder="{{t 'Description' }}" contenteditable="true">{{description}}</span>
        <button class="button save-status sea-green small">
            <img class="checkmark" src="/static/images/checkbox-green.svg" />
            {{t 'Saved' }}
        </button>
        <div class="save-button-controls hide">
            <div class="inline-block organization-submission subsection-changes-save">
                <div class="save-discard-widget-button button primary save-button" type="button" data-status="save">
                    <span class="fa fa-spinner fa-spin save-discard-widget-button-loading"></span>
                    <span class="fa fa-check save-discard-widget-button-icon"></span>
                    <span class="save-discard-widget-button-text">
                        {{t 'Save changes' }}
                    </span>
                </div>
            </div>
            <div class="inline-block subsection-changes-discard">
                <div class="save-discard-widget-button button discard-button" type="button" id="org-discard-{{section_name}}">
                    <span class="fa fa-times save-discard-widget-button-icon"></span>
                    <span class="save-discard-widget-button-text">
                        {{t 'Discard' }}
                    </span>
                </div>
            </div>
        </div>
        <button class="button rounded small delete btn-danger">
            {{t 'Delete' }}
        </button>
    </h4>
    <p class="subscribers">{{t 'Subscribers' }}</p>
    <div class="pill-container" data-group-pills="{{id}}">
        <div class="input" contenteditable="true" data-placeholder="{{t 'Add member...' }}"></div>
    </div>
</div>
{{/with}}
