<div class="alert" id="organization-status"></div>
<div id="revoke_invite_modal_holder"></div>

{{ partial "admin-settings-modals"}}

{{ partial "organization-profile-admin" }}

{{ partial "organization-settings-admin" }}

{{ partial "organization-permissions-admin" }}

{{ partial "emoji-settings-admin" }}

{{ partial "user-list-admin" }}

{{ partial "deactivated-users-admin" }}

{{ partial "bot-list-admin" }}

{{ partial "default-streams-list-admin" }}

{{ partial "auth-methods-settings-admin" }}

{{ partial "linkifier-settings-admin" }}

{{ partial "invites-list-admin" }}

{{ partial "user-groups-admin" }}

{{ partial "profile-field-settings-admin" }}
