{{#with user_group}}
<div class="user-group white-box" id="{{id}}">
    <div class="alert user-group-status"></div>
    <h4 class="group-name">
        <span class="group-name-editable editable-section name" data-placeholder="{{t 'Name' }}" contenteditable="false" spellcheck="false">{{name}}</span>
        {{#if can_edit}}
        <span class="editable" data-make-editable=".group-name-editable"></span>
        <span class="checkmark" data-finish-editing=".group-name-editable">✓</span>
        {{/if}}
        <button class="button save-status sea-green small">
            <img class="checkmark" src="/static/images/checkbox-green.svg" />
            {{t 'Saved' }}
        </button>
        <button class="button save-status btn-danger small">
            {{t 'Discard changes' }}
        </button>
        <button class="button rounded small delete btn-danger">
            {{t 'Delete' }}
        </button>
    </h4>
    <h4 class="group-description">
        <span class="group-description-editable editable-section description" data-no-description="{{t 'No description.' }}">{{{description}}}</span>
        {{#if can_edit}}
        <span class="editable" data-make-editable=".group-description-editable"></span>
        <span class="checkmark" data-finish-editing=".group-description-editable">✓</span>
        {{/if}}
    </h4>
    <p class="subscribers">{{t 'Subscribers' }}</p>
    <div class="pill-container" data-group-pills="{{id}}">
        <div class="input" contenteditable="true" data-placeholder="{{t 'Add member...' }}"></div>
    </div>
    <p class="save-instructions">
        {{t 'Click outside the input box to save. We\'ll automatically notify anyone that was added or removed.'}}
    </p>
</div>
{{/with}}
