{{#with emoji}}
<tr class="emoji_row" id="emoji_{{name}}">
  <td>
    <span class="emoji_name">{{name}}</span>
  </td>
  <td>
    <span class="emoji_image"><a href="{{source_url}}"><img src="{{display_url}}" alt="{{name}}" /></a></span>
  </td>
  <td>
    <button class="btn delete btn-danger" data-emoji-name="{{name}}">
      {{t "Delete" }}
    </button>
  </td>
</tr>
{{/with}}
