<div class="alert" id="organization-status"></div>
<div id="revoke_invite_modal_holder"></div>

{{ partial "admin_settings_modals"}}

{{ partial "settings/organization_profile_admin" }}

{{ partial "settings/organization_settings_admin" }}

{{ partial "settings/organization_permissions_admin" }}

{{ partial "settings/emoji_settings_admin" }}

{{ partial "settings/user_list_admin" }}

{{ partial "settings/deactivated_users_admin" }}

{{ partial "settings/bot_list_admin" }}

{{ partial "settings/default_streams_list_admin" }}

{{ partial "settings/auth_methods_settings_admin" }}

{{ partial "settings/linkifier_settings_admin" }}

{{ partial "settings/invites_list_admin" }}

{{ partial "user_groups_admin" }}

{{ partial "settings/profile_field_settings_admin" }}
