{{#with user_group}}
<div class="user-group white-box" id="{{id}}">
    <div class="alert user-group-status"></div>
    <h4>
        <span class="name" data-placeholder="{{t 'Name' }}" contenteditable="true" spellcheck="false">{{name}}</span>
        <span class="spacer">—</span>
        <span class="description" data-placeholder="{{t 'Description' }}" contenteditable="true">{{description}}</span>
        <button class="button save-status sea-green small">
            <img class="checkmark" src="/static/images/checkbox-green.svg" />
            {{t 'Saved' }}
        </button>
        <button class="button save-status btn-danger small">
            {{t 'Discard changes' }}
        </button>
        <button class="button rounded small delete btn-danger">
            {{t 'Delete' }}
        </button>
    </h4>
    <p class="subscribers">{{t 'Subscribers' }}</p>
    <div class="pill-container" data-group-pills="{{id}}">
        <div class="input" contenteditable="true" data-placeholder="{{t 'Add member...' }}"></div>
    </div>
    <p class="save-instructions">
        {{t 'Click outside the input box to save. We\'ll automatically notify anyone that was added or removed.'}}
    </p>
</div>
{{/with}}
