{{#with emoji}}
<tr class="emoji_row" id="emoji_{{name}}">
  <td>
    <span class="emoji_name">{{name}}</span>
  </td>
  <td>
    <span class="emoji_image"><a href="{{source_url}}"><img src="{{display_url}}" alt="{{name}}" /></a></span>
  </td>
  <td>
    {{#if author}}
      <span class="emoji_author">{{author.full_name}}</span>
    {{else}}
      <span class="emoji_author">Unknown Author</span>
    {{/if}}
  </td>
  <td>
    <button class="button delete btn-danger" data-emoji-name="{{name}}">
      {{t "Delete" }}
    </button>
  </td>
</tr>
{{/with}}
