{{#with user}}
<tr class="user_row" data-user-id="{{user_id}}" data-email="{{email}}">
  <td>
    <span class="user_name">{{full_name}}</span>
  </td>
  <td>
    <span class="email">{{email}}</span>
  </td>
  {{#if is_bot}}
    <td>
      <span class="owner">{{bot_owner}}</span>
    </td>
  {{/if}}
  <td>
    {{#if is_active}}
      <button class="button deactivate btn-danger">
        {{t "Deactivate" }}
      </button>
    {{else}}
      <button class="button reactivate btn-warning">
        {{t "Reactivate" }}
      </button>
    {{/if}}
    <span class="user-admin-settings">
      {{#if is_active_human}}
        {{#if is_admin}}
          <button class="button remove-admin btn-danger">
            {{t "Remove admin" }}
          </button>
        {{else}}
          <button class="button make-admin btn-warning">
            {{t "Make admin" }}
          </button>
        {{/if}}
      {{/if}}
    </span>
    {{#if is_active}}
      <button class="button btn-primary open-user-form" title="{{t 'Edit user' }}" data-user-id="{{user_id}}">
          <i class="icon-vector-pencil"></i>
      </button>
    {{/if}}
    <div class='admin-user-status'>
    </div>
  </td>
</tr>
{{#if is_active}}
<tr class="user-name-form display-none" data-user-id="{{user_id}}">
  <td colspan="{{#if is_bot}}4{{else}}3{{/if}}">
    <form class="form-horizontal name-setting">
      <input type="hidden" name="is_full_name" value="true" />
      <div class="input-group name_change_container">
        <label for="full_name">{{t "Full name" }}</label>
        <input type="text" name="full_name" value="{{ full_name }}" />
      </div>
      {{#if is_bot}}
        <div class="input-group edit_bot_owner_container">
          <label for="bot_owner_select">{{t "Owner" }}</label>
        </div>
      {{/if}}
      <div class="input-group">
        <input type="button" class="btn btn-primary submit_name_changes" value="{{t 'Save changes' }}" />
        <button type="button" class="btn btn-default reset_edit_user">{{t 'Cancel' }}</button>
      </div>
    </form>
  </td>
</tr>
{{/if}}
{{/with}}
