{{#with invite}}
<tr class="invite_row">
    <td>
        {{#if is_multiuse}}
        <span class="email"><a href="{{link_url}}" target="_blank">{{t 'Invite link'}}</a></span>
        {{else}}
        <span class="email">{{email}}</span>
        {{/if}}
    </td>
    <td>
        <span class="referred_by">{{ref}}</span>
    </td>
    <td>
        <span class="invited_at">{{invited_absolute_time}}</span>
    </td>
    <td>
        <span>{{invited_as_text}}</span>
    </td>
    <td>
        <button class="button rounded small revoke btn-danger" data-invite-id="{{id}}" data-is-multiuse="{{is_multiuse}}">
            {{t "Revoke" }}
        </button>
        {{#unless is_multiuse}}
        <button class="button rounded small resend btn-warning" data-invite-id="{{id}}">
            {{t "Resend" }}
        </button>
        {{/unless}}
    </td>
</tr>
{{/with}}
