{{#with user}}
<tr class="user_row{{#unless is_active}} deactivated_user{{/unless}}" data-user-id="{{user_id}}" data-email="{{email}}">
    <td>
        <span class="user_name">{{full_name}}</span>
    </td>
    <td>
        <span class="email">{{email}}</span>
    </td>
    {{#unless is_bot}}
    <td>
        <span class="user_role">
            {{#if is_admin}}
            {{t "Administrator" }}
            {{else if is_guest}}
            {{t "Guest" }}
            {{else}}
            {{t "Member" }}
            {{/if}}
        </span>
    </td>
    {{/unless}}
    {{#if is_bot}}
    <td>
        <span class="owner">{{bot_owner}}</span>
    </td>
    <td>
        <span class="bot type">{{bot_type}}</span>
    </td>
    {{else if is_active}}
    <td class="last_active">
    </td>
    {{/if}}
    {{#if ../can_modify}}
    <td>
        <span class="user-status-settings">
            {{#if is_active}}
            <button class="button rounded small deactivate btn-danger">
                {{t "Deactivate" }}
            </button>
            {{else}}
            <button class="button rounded small reactivate btn-warning">
                {{t "Reactivate" }}
            </button>
            {{/if}}
        </span>
        <button class="button rounded small btn-warning open-user-form{{#unless is_active}} display-none{{/unless}}" title="{{t 'Edit user' }}" data-user-id="{{user_id}}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
    </td>
    {{/if}}
</tr>
{{/with}}
