{{#with user}}
<tr class="user_row{{#unless is_active}} deactivated_user{{/unless}}" data-user-id="{{user_id}}" data-email="{{email}}">
    <td>
        <span class="user_name">{{full_name}}</span>
        <i class="fa fa-ban deactivated-user-icon" title="{{t 'User is deactivated' }}" {{#if is_active}}style="display: none;"{{/if}}></i>
    </td>
    {{#if ../show_email}}
    <td>
        {{#if ../can_modify}}
        <span class="email">{{delivery_email}}</span>
        {{else}}
        <span class="email">{{email}}</span>
        {{/if}}
    </td>
    {{/if}}
    {{#unless is_bot}}
    <td>
        <span class="user_role">
            {{#if is_admin}}
            {{t "Administrator" }}
            {{else if is_guest}}
            {{t "Guest" }}
            {{else}}
            {{t "Member" }}
            {{/if}}
        </span>
    </td>
    {{/unless}}
    {{#if is_bot}}
    <td>
        {{#if ../can_modify}}
        <span class="owner">{{bot_owner_delivery_email}}</span>
        {{else}}
        <span class="owner">{{bot_owner}}</span>
        {{/if}}
    </td>
    <td>
        <span class="bot type">{{bot_type}}</span>
    </td>
    {{else if is_active}}
    <td class="last_active">
    </td>
    {{/if}}
    {{#if ../can_modify}}
    <td class="actions">
        <span class="user-status-settings">
            {{#if is_active}}
            <button class="button rounded small deactivate btn-danger" {{#if ../is_current_user}}disabled="disabled"{{/if}}>
                {{t "Deactivate" }}
            </button>
            {{else}}
            <button class="button rounded small reactivate btn-warning">
                {{t "Reactivate" }}
            </button>
            {{/if}}
        </span>
        <button class="button rounded small btn-warning open-user-form" {{#unless is_active}}style="display: none;"{{/unless}} title="{{t 'Edit user' }}" data-user-id="{{user_id}}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
    </td>
    {{/if}}
</tr>
{{/with}}
