<div class="alert" id="organization-status"></div>
<div id="revoke_invite_modal_holder"></div>

{{ partial "admin-settings-modals"}}

{{ partial "settings/organization-profile-admin" }}

{{ partial "settings/organization-settings-admin" }}

{{ partial "settings/organization-permissions-admin" }}

{{ partial "settings/emoji-settings-admin" }}

{{ partial "settings/user-list-admin" }}

{{ partial "settings/deactivated-users-admin" }}

{{ partial "settings/bot-list-admin" }}

{{ partial "settings/default-streams-list-admin" }}

{{ partial "settings/auth-methods-settings-admin" }}

{{ partial "settings/linkifier-settings-admin" }}

{{ partial "settings/invites-list-admin" }}

{{ partial "user-groups-admin" }}

{{ partial "settings/profile-field-settings-admin" }}
