{{#with user}}
<tr class="user_row" id="user_{{email}}">
  <td>
    <span class="user_name">{{full_name}}</span>
  </td>
  <td>
    <span class="email">{{email}}</span>
  </td>
  {{#if is_bot}}
    <td>
      <span class="owner">{{bot_owner}}</span>
    </td>
  {{/if}}
  <td>
    {{#if is_active}}
      <button class="btn deactivate btn-danger">
        Deactivate
      </button>
    {{else}}
      <button class="btn reactivate btn-warning">
        Reactivate
      </button>
    {{/if}}
    <span class="user-admin-settings">
      {{#if is_active_human}}
        {{#if is_admin}}
          <button class="btn remove-admin btn-danger">
            Remove admin
          </button>
        {{else}}
          <button class="btn make-admin btn-warning">
            Make admin
          </button>
        {{/if}}
      {{/if}}
    </span>
    <div class='admin-user-status'>
    </div>
  </td>
</tr>
{{/with}}
