<tr class="user_row{{#unless is_active}} deactivated_user{{/unless}}" data-user-id="{{user_id}}">
    <td>
        <span class="user_name" >{{full_name}} {{#if is_current_user}}<span class="my_user_status">{{t '(you)' }}</span>{{/if}}</span>
        <i class="fa fa-ban deactivated-user-icon" title="{{t 'User is deactivated' }}" {{#if is_active}}style="display: none;"{{/if}}></i>
    </td>
    {{#if display_email}}
    <td>
        <span class="email">{{display_email}}</span>
    </td>
    {{/if}}
    {{#unless is_bot}}
    <td>
        <span class="user_role">
            {{#if is_owner}}
            {{t "Owner" }}
            {{else if is_admin}}
            {{t "Administrator" }}
            {{else if is_guest}}
            {{t "Guest" }}
            {{else}}
            {{t "Member" }}
            {{/if}}
        </span>
    </td>
    {{/unless}}
    {{#if is_bot}}
    <td>
        <span class="owner">
            {{#if no_owner }}
            {{bot_owner_full_name}}
            {{else}}
            <a data-user-id="{{bot_owner_id}}" href="#" class="view_user_profile">{{bot_owner_full_name}}</a>
            {{/if}}
        </span>
    </td>
    <td>
        <span class="bot type">{{bot_type}}</span>
    </td>
    {{else if is_active}}
    <td class="last_active">
        {{ last_active_date }}
    </td>
    {{/if}}
    {{#if can_modify}}
    <td class="actions">
        <span class="user-status-settings">
            {{#if is_active}}
            <button title="{{t 'Deactivate' }}" class="button rounded small deactivate btn-danger" {{#if cannot_deactivate}}disabled="disabled"{{/if}}>
                <i class="fa fa-user-times" aria-hidden="true"></i>
            </button>
            {{else}}
            <button title="{{t 'Reactivate' }}" class="button rounded small reactivate btn-warning">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>
            {{/if}}
        </span>
        <button class="button rounded small btn-warning open-user-form" {{#unless is_active}}style="display: none;"{{/unless}} title="{{t 'Edit user' }}" data-user-id="{{user_id}}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
    </td>
    {{/if}}
</tr>
