{{#with realm_export}}
<tr class="export_row" id="export_{{id}}">
    <td>
        <span class="acting_user">{{acting_user}}</span>
    </td>
    <td>
        <span class="export_time">{{event_time}}</span>
    </td>
    <td>
        {{#if path}}
        <span class="export_url"><a href="{{path}}">{{t 'Download' }}</a></span>
        {{else}}
        <span class="export_url">{{t 'The export URL is not yet available... Check back soon.' }}</span>
        {{/if}}
    </td>
    <td class="actions">
        <button class="button rounded small delete btn-danger" data-export-id="{{id}}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </td>
</tr>
{{/with}}
