<div class="alert" id="organization-status"></div>

{{ partial "deactivation-user-modal" }}
{{ partial "realm-domains-modal" }}
{{ partial "revoke-invite-modal" }}
{{ partial "resend-invite-modal" }}

{{ partial "organization-profile-admin" }}
{{ partial "organization-settings-admin" }}
{{ partial "organization-permissions-admin" }}

{{ partial "emoji-settings-admin" }}

{{ partial "user-list-admin" }}

{{ partial "deactivated-users-admin" }}

{{ partial "bot-list-admin" }}

{{ partial "streams-list-admin" }}

{{ partial "default-streams-list-admin" }}

{{ partial "auth-methods-settings-admin" }}

{{ partial "realm-filter-settings-admin" }}

{{ partial "invites-list-admin" }}

{{ partial "user-groups-admin" }}

{{ partial "profile-field-settings-admin" }}
