<li class="bot-information-box white-box">
    <div class="image overflow-hidden">
        <img src="{{avatar_url}}" class="avatar" />
        <div class="details">
            <div class="name">{{name}}</div>
            {{#if is_active}}
            <div class="edit-bot-buttons">
                <button type="submit" class="btn open_edit_bot_form" data-sidebar-form="edit-bot" title="{{t 'Edit bot' }}" data-email="{{email}}">
                    <i class="icon-vector-pencil blue"></i>
                </button>
                <button class="btn open_get_zuliprc_modal" title="{{t 'Get zuliprc' }}" data-email="{{email}}">
                    <i class="icon-vector-download-alt sea-green"></i>
                </button>
                <div id="get_zuliprc_modal" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="get_zuliprc_modal_label">{{t "Get zuliprc for" }} {{name}}</h3>
                    </div>
                    <div class="modal-body">
                        <textarea id="zuliprc_textarea"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button id='copy_bot_zuliprc' class="button rounded" data-dismiss="modal" aria-hidden="true">{{t "Copy" }}</button>
                        <button id='download_bot_zuliprc' class="button rounded" data-dismiss="modal" aria-hidden="true">{{t "Download" }}</button>
                    </div>
                </div>
                <button type="submit" class="btn delete_bot" title="{{t 'Delete bot' }}" data-user-id="{{user_id}}">
                    <i class="icon-vector-trash danger-red"></i>
                </button>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="bot_info" data-user-id="{{user_id}}">
        <div class="email">
            <div class="field">{{t "Username" }}</div>
            <div class="value">{{email}}</div>
        </div>
        <div class="type">
            <div class="field">{{t "Bot type" }}</div>
            <div class="value">{{type}}</div>
        </div>
        {{#if is_active}}
        <div class="api_key">
            <span class="field">{{t "API key" }}</span>
            <span class="api-key-value-and-button no-select">
                <!-- have the `.text-select` in `.no-select` so that the value doesn't have trailing whitespace. -->
                <span class="value text-select">{{api_key}}</span>
                <button type="submit" class="button no-style btn-secondary regenerate_bot_api_key" title="{{t 'Generate new API key' }}" data-user-id="{{user_id}}">
                    <i class="icon-vector-refresh"></i>
                </button>
            </span>
            <div class="api_key_error text-error"></div>
        </div>
        <div id="bot_delete_error{{id_suffix}}" class="alert alert-error hide"></div>
        {{else}}
        <button class="button round btn-warning reactivate_bot" title="{{t 'Reactivate bot' }}" data-email="{{email}}">{{t "Reactivate bot" }}</button>
        {{/if}}
    </div>
</li>
