<li data-bot-id="{{bot_id}}">
    <span class="selectable_sidebar_block">
	    <span class="bot-status-indicator"></span>
	    <a href="{{href}}"
	        data-bot-id="{{bot_id}}"
	        data-name="{{name}}"
	        title="{{name}}">{{name}}</a>
    </span>
</li>
