{{! Content of sent-message notifications }}
<div>
    <div class="compose-notifications-content">
        <div class="title">{{title}}</div>
        {{content}} {{#if link_class}}<br /><a href="#" class="{{link_class}}" data-msgid="{{link_msg_id}}">{{link_text}}</a>{{/if}}
    </div>
</div>
