<button class="btn pull-right copy_button_base copy_message tippy-zulip-tooltip" data-tippy-content="{{#if is_content_editable}}{{t "Copy" }}{{else}}{{t "Copy and close" }}{{/if}}" aria-label="{{#if is_editable}}{{t "Copy" }}{{else}}{{t "Copy and close" }}{{/if}}" >
    {{> copy_to_clipboard_svg }}
</button>
