<p>
    {{#tr}}
    A language is marked as 100% translated only if every string in the web, desktop,
    and mobile apps is translated, including administrative UI and error messages.
    {{/tr}}
</p>
<p>
    {{#tr}}
        Zulip's translations are contributed by our amazing community of volunteer
        translators. If you'd like to help, see the
        <z-link>Zulip translation guidelines</z-link>.
        {{#*inline "z-link"}}<a target="_blank" rel="noopener noreferrer" href="https://zulip.readthedocs.io/en/latest/translating/translating.html">{{> @partial-block}}</a>{{/inline}}
    {{/tr}}
</p>
<table>
    {{#each language_list}}
    <tr>
        <td>
            <a class="language" data-code="{{this.first.code}}" data-name="{{this.first.name}}">
                {{#if this.first.selected}}
                <b>{{this.first.name_with_percent}}</b>
                {{else}}
                {{this.first.name_with_percent}}
                {{/if}}
            </a>
        </td>
        <td>
            <a class="language" data-code="{{this.second.code}}" data-name="{{this.second.name}}">
                {{#if this.second.selected}}
                <b>{{this.second.name_with_percent}}</b>
                {{else}}
                {{this.second.name_with_percent}}
                {{/if}}
            </a>
        </td>
    </tr>
    {{/each}}
</table>
