<div class="modal modal-bg new-style hide {{#if fade}}fade{{/if}}" id="dialog_widget_modal" tabindex="-1" role="dialog" aria-labelledby="dialog_widget_modal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-label="{{t 'Close' }}"><span aria-hidden="true">&times;</span></button>
        <div class="dialog_heading">{{{ html_dialog_heading }}}</div>
    </div>
    <div class="modal-body dialog_body">
        <div id="dialog_error" class="alert"></div>
        {{{ html_body }}}
    </div>
    <div class="modal-footer">
        <button class="button rounded close-modal-btn" data-dismiss="modal">{{t "Cancel" }}</button>
        <button class="button rounded {{#if danger_submit_button}}btn-danger{{else}}sea-green{{/if}} dialog_submit_button">
            <img class="loader" alt="" src="" />
            <span>{{{ html_submit_button }}}</span>
        </button>
    </div>
</div>
