<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="{{t 'Close' }}"><span aria-hidden="true">&times;</span></button>
    <h3 class="inline-block">{{t "Edit bot" }}</h3>
</div>
<form class="edit_bot_form form-horizontal" data-target="edit-bot" data-title="{{t 'Edit bot' }}" data-user-id="{{bot.user_id}}"
  data-email="{{bot.email}}" data-type="{{bot.bot_type}}">
    <div class="bot_edit_errors alert alert-error hide"></div>
    <div class="edit_bot_form_container">
        <div class="">
            <label>{{t "Bot email" }}</label>
            <div class="edit_bot_email">{{bot.email}}</div>
        </div>
        <div class="edit-bot-form-box">
            <div class="edit-bot-owner">
                <label for="bot_owner_select">{{t "Owner" }}</label>
                {{> settings/dropdown_list_widget
                  widget_name="bot_owner"
                  list_placeholder=(t 'Filter users')
                  reset_button_text=(t '[Remove owner]')
                  label="" }}
            </div>
            <div class="">
                <label for="edit_bot_name">{{t "Full name" }}</label>
                <input id="edit_bot_name" type="text" name="bot_name" class="edit_bot_name required" value="{{bot.full_name}}" maxlength=50 />
                <div><label for="edit_bot_name" generated="true" class="text-error"></label></div>
            </div>
            <div id="service_data">
            </div>
            <div class="avatar-section">
                <label for="bot_avatar_file_input">Avatar</label>
                <input type="file" name="bot_avatar_file_input" class="notvisible edit_bot_avatar_file_input" value="{{t 'Upload profile picture' }}" />
                <div class="edit_bot_avatar_file"></div>
                <button type="button" class="button white rounded edit_bot_avatar_upload_button">{{t "Choose avatar" }}</button>
                <button type="button" class="button white rounded edit_bot_avatar_clear_button" style="display: none;">{{t "Clear profile picture" }}</button>
                <div><label for="edit_bot_avatar_file" generated="true" class="edit_bot_avatar_error text-error"></label></div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal-footer">
            <div class="edit_bot_spinner"></div>
            <button class="button white rounded" type="button" data-dismiss="modal">{{t "Cancel" }}</button>
            <input type="submit" class="button rounded sea-green edit_bot_button" value="{{t 'Save' }}" />
        </div>
    </div>
</form>
