<form class="edit_bot_form form-horizontal" data-target="edit-bot" data-title="{{t 'Edit bot' }}">
    <div class="bot_edit_errors alert alert-error hide"></div>
    <div class="">
        <label>{{t "Bot email" }}</label>
        <div class="edit_bot_email"></div>
    </div>
    <div class="edit-bot-form-box">
        <div class="">
            <label for="edit_bot_name">{{t "Full name" }}</label>
            <input id="edit_bot_name" type="text" name="bot_name" class="edit_bot_name required" maxlength=50 />
            <div><label for="edit_bot_name" generated="true" class="text-error"></label></div>
        </div>
        <div class="edit-bot-owner">
            <label for="bot_owner_select">{{t "Owner" }}</label>
            <div class="select-form"></div>
        </div>
        <div id="service_data">
            <div class="">
                <label for="edit_service_base_url">{{t "Endoint URL" }}</label>
                <input id="edit_service_base_url" type="text" name="service_payload_url" class="edit_service_base_url required" maxlength=50 />
                <div><label for="edit_service_base_url" generated="true" class="text-error"></label></div>
            </div>
            <div class="">
                <label for="edit_service_interface">{{t "Interface" }}</label>
                <select id="edit_service_interface" name="service_interface" default="1">
                    <option value="1">{{t "Generic" }}</option>
                    <option value="2">{{t "Slack's outgoing webhooks" }}</option>
                </select>
            </div>
        </div>
        <div class="avatar-section">
            <label for="bot_avatar_file_input">Avatar</label>
            <input type="file" name="bot_avatar_file_input" class="notvisible edit_bot_avatar_file_input" value="{{t 'Upload avatar' }}" />
            <div class="edit_bot_avatar_file"></div>
            <button type="button" class="btn btn-default edit_bot_avatar_upload_button">{{t "Choose avatar" }}</button>
            <button type="button" class="btn btn-default edit_bot_avatar_clear_button display-none">{{t "Clear avatar" }}</button>
            <div><label for="edit_bot_avatar_file" generated="true" class="edit_bot_avatar_error text-error"></label></div>
        </div>
        <div class="buttons">
            <input type="submit" class="btn btn-primary edit_bot_button" value="{{t 'Save' }}" />
            <button type="button" class="btn btn-default reset_edit_bot" data-sidebar-form-close>{{t 'Cancel' }}</button>
            <div class="edit_bot_spinner"></div>
        </div>
    </div>
</form>
