<div class="dropdown actual-dropdown-menu" id="gear-menu" role="navigation">
    <a id="settings-dropdown" class="header-button dropdown-toggle" tabindex="0" role="button" data-target="nada" data-toggle="dropdown" title="{{t 'Menu' }} (g)">
        <i class="svg-icon svg-icon--settings settings-dropdown__icon"></i>
    </a>

    <div class="dropdown-menu {{#if is_guest}}dropdown-menu--spectator{{/if}}" role="menu" aria-labelledby="settings-dropdown">
        {{!-- It is quite ingrained in our frontend code that your Home
        view is a Bootstrap nav tab, even though we don't show the tab
        anymore --}}
        <div class="arrow"></div>
        <nav class="dropdown-menu__inner">
            <section class="organization-info-wrap">
                <div class="invisible" style="display: none;" role="presentation">
                    <a href="#message_feed_container" data-toggle="tab"></a>
                </div>
                <h3 class="org-info org-name">{{realm_name}}</h3>
                <p class="org-info org-url">{{realm_uri}}</p>

                {{#if is_self_hosted }}
                <p class="org-info org-version">
                    <a href="#about-zulip" role="menuitem">{{version_display_string}}</a>
                </p>

                {{#if server_needs_upgrade }}
                <p class="org-info org-upgrade small-font-size">
                    <a href="https://zulip.readthedocs.io/en/stable/production/upgrade-or-modify.html" target="_blank" rel="noopener noreferrer" role="menuitem">{{t 'Upgrade to the latest release' }}</a>
                </p>
                {{/if}}

                {{else}}
                <p class="org-info org-plan hidden-for-spectators small-font-size">
                    {{#if is_plan_limited }}
                    <a href="/plans" target="_blank" rel="noopener noreferrer" role="menuitem">Zulip Cloud Free</a>
                    {{else if is_plan_standard}}
                    <a href="/plans" target="_blank" rel="noopener noreferrer" role="menuitem">Zulip Cloud Standard</a>
                    {{else if is_plan_standard_sponsored_for_free}}
                    <a href="/plans" target="_blank" rel="noopener noreferrer" role="menuitem">Zulip Cloud Standard (sponsored)</a>
                    {{/if}}
                </p>
                {{/if}}
            </section>

            <div class="popover-list">
                <ul class="popover-list__list hidden-for-spectators">
                    <li class="popover-list__item admin-menu-item" role="presentation">
                        <a href="#organization" role="menuitem">
                            <i class="svg-icon svg-icon--building"></i>
                            <span>{{t 'Organization settings' }}</span>
                        </a>
                    </li>
                    <li role="presentation" class="popover-list__item">
                        <a href="/billing" target="_blank" rel="noopener noreferrer" role="menuitem">
                            <i class="svg-icon svg-icon--credit-card"></i>
                            <span>{{t 'Billing' }}</span>
                        </a>
                    </li>
                    {{#unless is_guest}}
                    <li class="popover-list__item" role="presentation">
                        <a href="/stats" target="_blank" rel="noopener noreferrer" role="menuitem">
                            <i class="svg-icon svg-icon--bar-chart"></i>
                            <span>{{t 'Usage statistic' }}</span>
                        </a>
                    </li>
                    {{/unless}}
                    <li class="popover-list__item" role="presentation">
                        <a href="#streams/subscribed" role="menuitem">
                            <i class="svg-icon svg-icon--hash-italic"></i>
                            {{t 'Manage streams' }}
                        </a>
                    </li>
                    {{#if can_invite_others_to_realm}}
                    <li class="popover-list__item" role="presentation">
                        <a href="#invite" role="menuitem">
                            <i class="svg-icon svg-icon--user-plus"></i>
                            {{t 'Invite users' }}
                        </a>
                    </li>
                    {{/if}}
                </ul>

                <ul class="popover-list__list hidden-for-spectators">
                    <li class="popover-list__item" role="presentation">
                        <a href="/integrations" target="_blank" rel="noopener noreferrer" role="menuitem">
                            <i class="svg-icon svg-icon--git-pull-request"></i>
                            {{t 'Integrations' }}
                        </a>
                    </li>
                    <li class="popover-list__item" role="presentation">
                        <a href="/api" target="_blank" rel="noopener noreferrer" role="menuitem">
                            <i class="svg-icon svg-icon--file-text"></i>
                            {{t 'API documentation' }}
                        </a>
                    </li>
                </ul>

                <ul class="popover-list__list">
                    <li class="popover-list__item" role="presentation">
                        <a href="/help" target="_blank" rel="noopener noreferrer" role="menuitem">
                            <i class="svg-icon svg-icon--help"></i>
                            {{t 'Help center' }}
                        </a>
                    </li>
                    <li class="popover-list__item" role="presentation">
                        <a tabindex="0" role="menuitem" data-overlay-trigger="keyboard-shortcuts">
                            <i class="svg-icon svg-icon--keyboard"></i>
                            {{t 'Keyboard shortcuts' }}
                        </a>
                    </li>
                    <li class="popover-list__item hidden-for-spectators" role="presentation">
                        <a tabindex="0" role="menuitem" data-overlay-trigger="message-formatting">
                            <i class="svg-icon svg-icon--edit"></i>
                            {{t 'Message formatting' }}
                        </a>
                    </li>
                    <li class="popover-list__item" role="presentation">
                        <a tabindex="0" role="menuitem" data-overlay-trigger="search-operators">
                            <i class="svg-icon svg-icon--manage-search"></i>
                            {{t 'Search operators' }}
                        </a>
                    </li>
                    {{#if corporate_enabled}}
                    <li class="popover-list__item" role="presentation">
                        <a href="/help/contact-support" target="_blank" rel="noopener noreferrer" role="menuitem">
                            <i class="svg-icon svg-icon--life-buoy"></i>
                            {{t 'Contact support' }}
                        </a>
                    </li>
                    {{/if}}
                </ul>

                <ul class="popover-list__list">
                    <li class="popover-list__item hidden-for-spectators" role="presentation">
                        <a href="{{ apps_page_url }}" target="_blank" rel="noopener noreferrer" role="menuitem">
                            <i class="svg-icon svg-icon--monitor"></i>
                            {{t 'Desktop & mobile apps' }}
                        </a>
                    </li>
                    <li class="popover-list__item" role="presentation" id="gear_menu_about_zulip">
                        <a href="#about-zulip" role="menuitem" class="menuitem-version">
                            <i class="svg-icon svg-icon--info"></i>
                            <span class="about_zulip_text">{{t "About Zulip" }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
