<div id="hotspot_{{name}}_overlay" class="hotspot overlay" data-overlay="hotspot_{{name}}_overlay">
    <div class="hotspot-popover">
        <div class="hotspot-popover-top">
            <h1 class="hotspot-title">{{title}}</h1>
        </div>
        <div class="hotspot-popover-content">
            <p class="hotspot-description">{{description}}</p>
        </div>
        <div class="hotspot-popover-bottom">
            <img class="hotspot-img" src="{{img}}" />
            <button class="hotspot-confirm">{{t 'Got it!' }}</button>
        </div>
    </div>
</div>
