<div class="left-sidebar" id="left-sidebar" role="navigation">
    <div class="narrows_panel">
        <ul id="global_filters" class="filters">
            {{!-- Special-case this link so we don't actually go to page top. --}}
            <li class="top_left_all_messages top_left_row" title="{{t 'All messages' }} (a)">
                <a href="#all_messages" class="home-link">
                    <span class="filter-icon">
                        <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 6.75C2.41421 6.75 2.75 6.41421 2.75 6C2.75 5.58579 2.41421 5.25 2 5.25C1.58579 5.25 1.25 5.58579 1.25 6C1.25 6.41421 1.58579 6.75 2 6.75Z" fill="#D0D5DD"/>
                            <path d="M2 2.25C2.41421 2.25 2.75 1.91421 2.75 1.5C2.75 1.08579 2.41421 0.75 2 0.75C1.58579 0.75 1.25 1.08579 1.25 1.5C1.25 1.91421 1.58579 2.25 2 2.25Z" fill="#D0D5DD"/>
                            <path d="M2 11.25C2.41421 11.25 2.75 10.9142 2.75 10.5C2.75 10.0858 2.41421 9.75 2 9.75C1.58579 9.75 1.25 10.0858 1.25 10.5C1.25 10.9142 1.58579 11.25 2 11.25Z" fill="#D0D5DD"/>
                            <path d="M14.75 6L5.75 6M14.75 1.5L5.75 1.5M14.75 10.5L5.75 10.5M2.75 6C2.75 6.41421 2.41421 6.75 2 6.75C1.58579 6.75 1.25 6.41421 1.25 6C1.25 5.58579 1.58579 5.25 2 5.25C2.41421 5.25 2.75 5.58579 2.75 6ZM2.75 1.5C2.75 1.91421 2.41421 2.25 2 2.25C1.58579 2.25 1.25 1.91421 1.25 1.5C1.25 1.08579 1.58579 0.75 2 0.75C2.41421 0.75 2.75 1.08579 2.75 1.5ZM2.75 10.5C2.75 10.9142 2.41421 11.25 2 11.25C1.58579 11.25 1.25 10.9142 1.25 10.5C1.25 10.0858 1.58579 9.75 2 9.75C2.41421 9.75 2.75 10.0858 2.75 10.5Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span>{{t 'All messages' }}</span>
                    <span class="unread_count"></span>
                </a>
                <span class="arrow all-messages-sidebar-menu-icon hidden-for-spectators"><i class="zulip-icon zulip-icon-ellipsis-v-solid" aria-hidden="true"></i></span>
            </li>
            <li class="top_left_recent_topics top_left_row" title="{{t 'Recent conversations' }} (t)">
                <a href="#recent">
                    <span class="filter-icon">
                        <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 13.875H8.25M1.95 1.5H10.05C10.47 1.5 10.6801 1.5 10.8405 1.58175C10.9816 1.65365 11.0964 1.76839 11.1683 1.90951C11.25 2.06994 11.25 2.27996 11.25 2.7V4.25589C11.25 4.62277 11.25 4.80622 11.2086 4.97885C11.1718 5.1319 11.1112 5.27822 11.029 5.41243C10.9362 5.5638 10.8065 5.69352 10.5471 5.95294L8.34853 8.15147C8.05152 8.44848 7.90301 8.59699 7.84737 8.76824C7.79842 8.91887 7.79842 9.08113 7.84737 9.23176C7.90301 9.40301 8.05152 9.55152 8.34853 9.84853L10.5471 12.0471C10.8065 12.3065 10.9362 12.4362 11.029 12.5876C11.1112 12.7218 11.1718 12.8681 11.2086 13.0212C11.25 13.1938 11.25 13.3772 11.25 13.7441V15.3C11.25 15.72 11.25 15.9301 11.1683 16.0905C11.0964 16.2316 10.9816 16.3464 10.8405 16.4183C10.6801 16.5 10.47 16.5 10.05 16.5H1.95C1.52996 16.5 1.31994 16.5 1.15951 16.4183C1.01839 16.3464 0.90365 16.2316 0.831745 16.0905C0.75 15.9301 0.75 15.72 0.75 15.3V13.7441C0.75 13.3772 0.75 13.1938 0.791445 13.0212C0.82819 12.8681 0.888797 12.7218 0.97104 12.5876C1.0638 12.4362 1.19352 12.3065 1.45294 12.0471L3.65147 9.84853C3.94848 9.55152 4.09699 9.40301 4.15263 9.23176C4.20158 9.08113 4.20158 8.91887 4.15263 8.76824C4.09699 8.59699 3.94848 8.44848 3.65147 8.15147L1.45294 5.95294C1.19352 5.69352 1.0638 5.5638 0.97104 5.41243C0.888797 5.27822 0.82819 5.1319 0.791445 4.97885C0.75 4.80622 0.75 4.62277 0.75 4.25589V2.7C0.75 2.27996 0.75 2.06994 0.831745 1.90951C0.90365 1.76839 1.01839 1.65365 1.15951 1.58175C1.31994 1.5 1.52996 1.5 1.95 1.5Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span>{{t 'Recent conversations' }}</span>
                </a>
            </li>
            <li class="top_left_mentions top_left_row hidden-for-spectators" title="{{t 'Mentions' }}">
                <a href="#narrow/is/mentioned">
                    <span class="filter-icon">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6.00002V9.75002C12 10.3468 12.2371 10.9191 12.659 11.341C13.081 11.763 13.6533 12 14.25 12C14.8467 12 15.419 11.763 15.841 11.341C16.263 10.9191 16.5 10.3468 16.5 9.75002V9.00002C16.4999 7.30729 15.9272 5.66438 14.875 4.33842C13.8227 3.01246 12.3529 2.08144 10.7045 1.69675C9.05605 1.31205 7.32596 1.4963 5.79552 2.21955C4.26508 2.94279 3.02431 4.16249 2.27495 5.68032C1.5256 7.19814 1.31173 8.92483 1.66813 10.5796C2.02453 12.2344 2.93024 13.7199 4.23798 14.7947C5.54572 15.8695 7.17858 16.4703 8.87106 16.4994C10.5635 16.5285 12.2161 15.9842 13.56 14.955M12 9.00002C12 10.6569 10.6569 12 9.00001 12C7.34315 12 6.00001 10.6569 6.00001 9.00002C6.00001 7.34317 7.34315 6.00002 9.00001 6.00002C10.6569 6.00002 12 7.34317 12 9.00002Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span>{{t 'Mentions' }}</span>
                    <span class="unread_count"></span>
                </a>
            </li>
            <li class="top_left_starred_messages top_left_row hidden-for-spectators" title="{{t 'Starred messages' }}">
                <a href="#narrow/is/starred">
                    <span class="filter-icon">
                        <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 6.875L5.25 8.375L8.625 5M11.25 14.75V4.85C11.25 3.58988 11.25 2.95982 11.0048 2.47852C10.789 2.05516 10.4448 1.71095 10.0215 1.49524C9.54018 1.25 8.91012 1.25 7.65 1.25H4.35C3.08988 1.25 2.45982 1.25 1.97852 1.49524C1.55516 1.71095 1.21095 2.05516 0.995235 2.47852C0.75 2.95982 0.75 3.58988 0.75 4.85V14.75L6 11.75L11.25 14.75Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span>{{t 'Starred messages' }}</span>
                    <span class="unread_count"></span>
                </a>
                <span class="arrow starred-messages-sidebar-menu-icon"><i class="zulip-icon zulip-icon-ellipsis-v-solid" aria-hidden="true"></i></span>
            </li>
            <li class="top_left_drafts top_left_row hidden-for-spectators" title="{{t 'Drafts' }} (d)">
                <a href="#drafts">
                    <span class="filter-icon">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.75 12.5L13.9999 13.3205C13.6021 13.7556 13.0626 14 12.5001 14C11.9376 14 11.3981 13.7556 11.0003 13.3205C10.6019 12.8863 10.0625 12.6425 9.50013 12.6425C8.93778 12.6425 8.39835 12.8863 7.99998 13.3205M1.25 14H2.50591C2.87279 14 3.05624 14 3.22887 13.9585C3.38192 13.9218 3.52824 13.8612 3.66245 13.7789C3.81382 13.6862 3.94354 13.5565 4.20296 13.297L13.625 3.87499C14.2463 3.25367 14.2463 2.24631 13.625 1.62499C13.0037 1.00367 11.9963 1.00367 11.375 1.62499L1.95295 11.047C1.69352 11.3065 1.5638 11.4362 1.47104 11.5876C1.3888 11.7218 1.32819 11.8681 1.29145 12.0211C1.25 12.1938 1.25 12.3772 1.25 12.7441V14Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                    {{~!-- squash whitespace --~}}
                    <span>{{t 'Drafts' }}</span>
                    <span class="unread_count"></span>
                </a>
                <span class="arrow drafts-sidebar-menu-icon"><i class="zulip-icon zulip-icon-ellipsis-v-solid" aria-hidden="true"></i></span>
            </li>
        </ul>
    </div>

    <div id="private_messages_sticky_header" class="private_messages_container zoom-out hidden-for-spectators">
        <div id="private_messages_section">
            <div id="private_messages_section_header" class="zoom-out zoom-in-sticky">
                <span id="pm_tooltip_container">
                    <i id="toggle_private_messages_section_icon" class="fa fa-sm fa-caret-down toggle_private_messages_section zoom-in-hide" aria-hidden="true"></i>
                    <h4 class="sidebar-title toggle_private_messages_section">{{t 'PRIVATE MESSAGES' }}</h4>
                </span>
                <span class="unread_count"></span>
                <a id="show_all_private_messages" href="#narrow/is/private">
                    <i aria-label="{{t 'All private messages' }}">
                        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.66667 4.66667H7M3.66667 7H9M3.66667 11V12.557C3.66667 12.9122 3.66667 13.0898 3.73949 13.1811C3.80282 13.2604 3.89885 13.3066 4.00036 13.3065C4.11708 13.3063 4.25578 13.1954 4.53317 12.9735L6.12348 11.7012C6.44834 11.4413 6.61078 11.3114 6.79166 11.219C6.95213 11.137 7.12295 11.0771 7.29948 11.0408C7.49845 11 7.70646 11 8.1225 11H9.8C10.9201 11 11.4802 11 11.908 10.782C12.2843 10.5903 12.5903 10.2843 12.782 9.90798C13 9.48016 13 8.9201 13 7.8V4.2C13 3.07989 13 2.51984 12.782 2.09202C12.5903 1.71569 12.2843 1.40973 11.908 1.21799C11.4802 1 10.9201 1 9.8 1H4.2C3.0799 1 2.51984 1 2.09202 1.21799C1.71569 1.40973 1.40973 1.71569 1.21799 2.09202C1 2.51984 1 3.07989 1 4.2V8.33333C1 8.95331 1 9.2633 1.06815 9.51764C1.25308 10.2078 1.79218 10.7469 2.48236 10.9319C2.7367 11 3.04669 11 3.66667 11Z" stroke="#98A2B3" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </i>
                </a>
            </div>
        </div>
        <a class="zoom-out-hide" id="hide_more_private_messages">
            <span> {{t 'back to streams' }}</span>
        </a>
    </div>
    {{~!-- squash whitespace --~}}
    <div id="left_sidebar_scroll_container" class="scrolling_list" data-simplebar>
        <div class="private_messages_container zoom-out hidden-for-spectators">
            <div id="private_messages_list"></div>
        </div>

        <div id="streams_list" class="zoom-out">
            <div id="streams_header" class="zoom-in-hide"><h4 class="sidebar-title" data-tippy-content="{{t 'Filter streams' }} (q)">{{t 'STREAMS' }}</h4>
                <span class="tippy-zulip-tooltip streams_inline_icon_wrapper hidden-for-spectators" data-tippy-content="{{t 'Add streams' }}">
                    <i id="streams_inline_icon" aria-hidden="true" >
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.00004 5.33337V10.6667M5.33337 8.00004H10.6667M14.6667 8.00004C14.6667 11.6819 11.6819 14.6667 8.00004 14.6667C4.31814 14.6667 1.33337 11.6819 1.33337 8.00004C1.33337 4.31814 4.31814 1.33337 8.00004 1.33337C11.6819 1.33337 14.6667 4.31814 14.6667 8.00004Z" stroke="#98A2B3" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    </i>
                </span>
                <i class="streams_filter_icon tippy-zulip-tooltip" aria-hidden="true" data-tippy-content="{{t 'Filter streams' }} (q)">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.25722 2.77791C1.75299 2.21437 1.50088 1.93259 1.49137 1.69312C1.48311 1.48509 1.57251 1.28515 1.73305 1.15259C1.91785 1 2.29595 1 3.05215 1H12.9474C13.7036 1 14.0817 1 14.2665 1.15259C14.4271 1.28515 14.5165 1.48509 14.5082 1.69312C14.4987 1.93259 14.2466 2.21437 13.7424 2.77791L9.9382 7.02962C9.83769 7.14196 9.78743 7.19813 9.7516 7.26205C9.71981 7.31875 9.69649 7.37978 9.68238 7.44323C9.66646 7.51476 9.66646 7.59013 9.66646 7.74087V11.3056C9.66646 11.436 9.66646 11.5011 9.64543 11.5575C9.62685 11.6073 9.59663 11.6519 9.55729 11.6877C9.51277 11.7281 9.45225 11.7524 9.3312 11.8008L7.06453 12.7074C6.8195 12.8054 6.69699 12.8545 6.59864 12.834C6.51263 12.8161 6.43716 12.765 6.38862 12.6918C6.33312 12.6081 6.33312 12.4762 6.33312 12.2122V7.74087C6.33312 7.59013 6.33312 7.51476 6.3172 7.44323C6.30309 7.37978 6.27977 7.31875 6.24798 7.26205C6.21215 7.19813 6.16189 7.14196 6.06138 7.02962L2.25722 2.77791Z" stroke="#98A2B3" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </i>
                <div class="input-append notdisplayed stream_search_section">
                    <input class="stream-list-filter home-page-input" type="text" autocomplete="off" placeholder="{{t 'Filter streams' }}" />
                    <button type="button" class="btn clear_search_button" id="clear_search_stream_button">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div id="topics_header">
                <a class="show-all-streams" tabindex="0">{{t 'Back to streams' }}</a>
            </div>
            <div id="stream-filters-container">
                <ul id="stream_filters" class="filters"></ul>
                {{#unless is_guest }}
                    <div id="subscribe-to-more-streams"></div>
                {{/unless}}
                <div id="login-link-container" class="only-visible-for-spectators">
                    <a class="login_button">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        {{~!-- squash whitespace --~}}
                        {{t 'Log in to browse more streams'}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
