<div id="linkifier-info-form-modal" class="modal modal-bg hide fade" tabindex="-1" role="dialog" aria-labelledby="linkifier-info-form-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{t 'Close' }}"><span aria-hidden="true">&times;</span></button>
        <h3 id="linkifier-info-form-modal-label">{{t "Edit linkifiers" }}</h3>
    </div>
    <div class="modal-body">
        <div id="linkifier-form" data-filter-id="{{filter_id}}">
            <form class="form-horizontal linkifier-update-form">
                <div class="input-group name_change_container">
                    <label for="filter_pattern" >{{t "Pattern" }}</label>
                    <input type="text" autocomplete="off" id="filter_pattern" name="pattern" value="{{ pattern }}" />
                </div>
                <div class="input-group name_change_container">
                    <label for="filter_url_format_string" >{{t "URL format string" }}</label>
                    <input type="text" autocomplete="off" id="filter_url_format_string" name="url_format_string" value="{{ url_format_string }}" />
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="button rounded sea-green submit_linkifier_info_change">{{t 'Save changes' }}</button>
        <button type="button" class="button rounded reset_edit_user" data-dismiss="modal">{{t "Cancel" }}</button>
    </div>
</div>
