<div id="login_to_access_modal" class="modal modal-bg fade new-style" tabindex="-1" role="dialog" aria-labelledby="login_to_access_modal" aria-hidden="true">
    <div class="modal-header">

        <div class="color_animated_button spectator_go_back">
            <i class="fa fa-arrow-left"></i>
            <span class="login_to_access_label"><b>{{t "Login required" }}</b></span>
        </div>
    </div>
    <div class="modal-body">
        <p>
            {{#tr}}
                Since you are not logged in, you can only view messages in
                <z-link>web public streams</z-link>.
                {{#*inline "z-link"}}<a target="_blank" href="https://zulipchat.com/help/stream-permissions">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
        </p>
        <div class="topic_edit_spinner"></div>
    </div>
    <div class="modal-footer">
        <div class="login_to_access_footer">
            <a class="signup_button color_animated_button" href="{{signup_link}}">
                <i class="fa fa-pencil-square-o"></i>
                <span>{{t "Sign up" }}</span>
            </a>
            <a class="login_button color_animated_button" href="{{login_link}}">
                <i class="fa fa-sign-in"></i>
                <span>{{t "Log in" }}</span>
            </a>
        </div>
    </div>
</div>
