<span class="message_sender no-select">
    <span class="sender_info_hover">
        <span title="{{t 'View user profile' }} (u)">
            {{> message_avatar}}
        </span>
    </span>

    <span class="sender-status">
        <span class="sender_info_hover sender_name-in-status auto-select" role="button" tabindex="0">
            <span title="{{t 'View user profile' }} (u)" >
                {{msg/sender_full_name}}
            </span>
        </span>
        {{#if sender_is_bot}}
        <i class="zulip-icon bot" aria-label="{{t 'Bot' }}"></i>
        {{/if}}

        <span class="rendered_markdown status-message auto-select">{{rendered_markdown status_message}}</span>

        {{#if edited_status_msg}}
        {{> edited_notice}}
        {{/if}}
    </span>
</span>
