<div class="message_controls{{#status_message}} sender-status-controls{{/status_message}} no-select">
    {{#if msg/sent_by_me}}
    <div class="edit_content message_control_button hidden-for-spectators"></div>
    {{/if}}

    {{#unless msg/sent_by_me}}
    <div class="reaction_button message_control_button hidden-for-spectators" data-tippy-content="{{t 'Add emoji reaction' }} (:)">
        <i class="fa fa-smile-o" aria-label="{{#tr}}Add emoji reaction{{/tr}} (:)" role="button" aria-haspopup="true" tabindex="0"></i>
    </div>
    {{/unless}}

    {{#unless msg/locally_echoed}}
    <div class="actions_hover message_control_button" data-tippy-content="{{#tr}}Message actions{{/tr}} (i)" >
        <i class="zulip-icon zulip-icon-ellipsis-v-solid" role="button" aria-haspopup="true" tabindex="0" aria-label="{{#tr}}Message actions{{/tr}}"></i>
    </div>
    {{/unless}}

    <div class="message_failed message_control_button {{#unless msg.failed_request}}notvisible{{/unless}}">
        <i class="fa fa-refresh refresh-failed-message tippy-zulip-tooltip" data-tippy-content="{{t 'Retry' }}" aria-label="{{t 'Retry' }}" role="button" tabindex="0"></i>
        <i class="fa fa-times-circle remove-failed-message tippy-zulip-tooltip" data-tippy-content="{{t 'Cancel' }}" aria-label="{{t 'Cancel' }}" role="button" tabindex="0"></i>
    </div>

    {{#unless msg/locally_echoed}}
    <div class="star_container message_control_button {{#if msg/starred}}{{else}}empty-star{{/if}} hidden-for-spectators" data-tippy-content="{{#with msg}}{{#tr}}{starred_status} this message{{/tr}}{{/with}} (Ctrl + s)">
        <i role="button" tabindex="0" class="star fa {{#if msg/starred}}fa-star{{else}}fa-star-o{{/if}}"></i>
    </div>
    {{/unless}}

</div>
