{{#if stream_settings_link}}
<a class="stream" href="{{stream_settings_link}}">
    {{> navbar_icon_and_title }}
</a>
<span class="narrow_description navbar-click-opens-search rendered_markdown">
    {{#if rendered_narrow_description}}
    {{rendered_markdown rendered_narrow_description}}
    {{else}}
    {{t "(no description)"}}
    {{/if}}
</span>
{{else}}
<span class="navbar-click-opens-search">
    {{> navbar_icon_and_title }}
</span>
{{/if}}
