<div class="message_top_line">
    {{#unless status_message}}
    <span class="message_sender sender_info_hover no-select">
        {{#if include_sender}}
        <span title="{{t 'View user profile' }} (u)">
            {{> message_avatar}}
            <span class="sender_name auto-select" role="button" tabindex="0">{{msg/sender_full_name}}</span>
            {{#if sender_is_bot}}
            <i class="zulip-icon bot" aria-label="{{t 'Bot' }}"></i>
            {{/if}}
        </span>
        {{/if}}
    </span>
    {{/unless}}

    {{#if status_message}}
    {{> me_message}}
    {{/if}}

    <span class="alert-msg pull-right"></span>

    <span class="message_time{{#if msg.locally_echoed}} notvisible{{/if}}{{#if status_message}} status-time{{/if}}">
        {{#unless include_sender}}
        <span class="copy-paste-text">&nbsp;</span>
        {{/unless}}
        {{timestr}}
    </span>

    {{#if edited_alongside_sender}}
    {{> edited_notice}}
    {{/if}}

    {{> message_controls}}

</div>

{{#unless status_message}}
<div class="message_content rendered_markdown">{{#if use_match_properties}}{{rendered_markdown msg/match_content}}{{else}}{{rendered_markdown msg/content}}{{/if}}</div>
{{/unless}}

{{#if edited_in_left_col}}
{{> edited_notice}}
{{/if}}

<div class="message_edit">
    <div class="message_edit_form"></div>
</div>
<div class="message_expander message_length_controller" title="{{t 'Expand message (-)' }}">{{t "[More...]" }}</div>
<div class="message_condenser message_length_controller" title="{{t 'Condense message (-)' }}">{{t "[Condense message]" }}</div>
<div class="message_reactions">{{> message_reactions }}</div>
