<div class="left-col">
    {{#if include_sender}}
    <span class="sender_info_hover">
        {{> "message_avatar"}}
    </span>
    {{/if}}

    {{#if edited_in_left_col}}
    {{> "edited_notice"}}
    {{/if}}
</div>

<div class="middle-col">
    {{#if include_sender}}
        {{#if status_message}}
        {{> "me_message"}}
        {{/if}}

        {{#unless status_message}}
            <span class="sender_info_hover">
                <span class="sender_name auto-select" role="button" tabindex="0">{{msg/sender_full_name}}</span>
                {{#if sender_is_bot}}
                <i class="zulip-icon bot" aria-label="{{t 'Bot' }}"></i>
                {{/if}}
            </span>

            {{#if edited_alongside_sender}}
            {{> "edited_notice"}}
            {{/if}}
        {{/unless}}
    {{/if}}

    <div class="message_content rendered_markdown">{{#unless status_message}}{{#if use_match_properties}}{{{msg/match_content}}}{{else}}{{{msg/content}}}{{/if}}{{/unless}}</div>

    <div class="message_edit">
        <div class="message_edit_form"></div>
    </div>

    <div class="message_expander message_length_controller" title="{{t 'Expand message (-)' }}">{{t "[More...]" }}</div>

    <div class="message_condenser message_length_controller" title="{{t 'Condense message (-)' }}">{{t "[Condense message]" }}</div>

    <div class="message_reactions">{{> message_reactions }}</div>
</div>

<div class="right-col{{#if status_message}} sender-status-right-col{{/if}}">
    <span class="alert-msg"></span>

    <span class="message_time{{#if msg.locally_echoed}} notvisible{{/if}}">
        {{#unless include_sender}}
        <span class="copy-paste-text">&nbsp;</span>
        {{/unless}}
        {{timestr}}
    </span>

    {{> "message_controls"}}
</div>
