{{! Contents of the "message info" popup }}
<ul class="nav nav-list actions_popover sender_info_popover" data-email="{{message.sender_email}}" data-user-id="{{message.sender_id}}">
  <div class="popover_info">
    <li>{{#tr this}}Sent by <b>__message.sender_full_name__</b>{{/tr}}</li>
    <li class='my_email'>{{message.sender_email}}</li>
    <hr />

    <li>{{message.full_date_str}}</li>
    <li>{{message.full_time_str}}</li>
    {{#if message.historical}}
    <li class="small">({{t "Message sent when you were not subscribed" }})</li>
    {{/if}}
  </div>
  <hr />
  <li>
    <a href="#" class="respond_personal_button">
      <i class="icon-vector-edit"></i> {{#tr this}}Send __message.sender_full_name__ a private message{{/tr}}
    </a>
  </li>
  <li>
    <a href="{{ pm_with_uri }}" class="narrow_to_private_messages">
      <i class="icon-vector-user"></i> {{#tr this}}Narrow to private messages with __message.sender_full_name__{{/tr}}
    </a>
  </li>
  <li>
    <a href="{{ sent_by_uri }}" class="narrow_to_messages_sent">
      <i class="icon-vector-bullhorn"></i> {{#tr this}}Narrow to messages sent by __message.sender_full_name__{{/tr}}
    </a>
  </li>
  <li>
    <a class="mention_user">
      {{#tr this}}@ Compose a reply @-mentioning __message.sender_full_name__{{/tr}}
    </a>
  </li>
</ul>
