{{#with muted_topics}}
<tr data-stream-id="{{stream_id}}" data-stream="{{stream}}" data-topic="{{topic}}" data-date-muted="{{date_muted_str}}">
    <td>{{stream}}</td>
    <td>{{topic}}</td>
    <td>{{date_muted_str}}</td>
    <td class="actions">
        <span><a class="settings-unmute-topic">{{t "Unmute" }}</a></span>
    </td>
</tr>
{{/with}}
