{{#with user_group}}
<div class="user-group white-box ntm" id="{{id}}">
    <h4>
        <span class="name" data-placeholder="{{t 'Name' }}">{{name}}</span>
        —
        <span class="description" data-placeholder="{{t 'Description' }}">{{description}}</span>
    </h4>
    <p>
        {{t 'Subscribers' }}
        <div class="pill-container notmem" data-group-pills="{{name}}"></div>
    </p>
</div>
{{/with}}
