<li class='{{#if is_active}}active-sub-filter{{/if}} {{#if is_zero}}zero-pm-unreads{{/if}} top_left_row expanded_private_message' data-user-ids-string='{{user_ids_string}}'>
    <span class='pm-box' id='pm_user_status' data-user-ids-string='{{user_ids_string}}' data-is-group='{{is_group}}'>

        <div class="pm_left_col">
            {{#if is_group}}
                {{#if fraction_present}}
                <span class="{{user_circle_class}} user_circle" style="background:hsla(106, 74%, 44%, {{fraction_present}});"></span>
                {{else}}
                <span class="{{user_circle_class}} user_circle" style="background:none; border-color:hsl(0, 0%, 50%);"></span>
                {{/if}}
            {{else}}
                <span class="{{user_circle_class}} user_circle"></span>
            {{/if}}
        </div>

        <a href='{{url}}' class="conversation-partners">
            {{recipients}}
        </a>
        <div class="private_message_count {{#if is_zero}}zero_count{{/if}}">
            <div class="value">{{unread}}</div>
        </div>
    </span>
</li>

