<li class='{{#if is_active}}active-sub-filter{{/if}} {{#if is_zero}}zero-pm-unreads{{/if}} pm-list-item bottom_left_row' data-user-ids-string='{{user_ids_string}}'>
    <span class='pm-box' id='pm_user_status' data-user-ids-string='{{user_ids_string}}' data-is-group='{{is_group}}'>

        <div class="pm_left_col">
            {{#if is_group}}
            <span class="fa fa-group"></span>
            {{else}}
            <span class="{{user_circle_class}} user_circle"></span>
            {{/if}}
        </div>

        <a href='{{url}}' class="conversation-partners">
            {{recipients}}
            {{> status_emoji status_emoji_info}}
        </a>
        <span class="unread_count {{#if is_zero}}zero_count{{/if}}">
            {{unread}}
        </span>
    </span>
</li>
