{{! Contents of the "reaction emoji map" popup }}
<div class="reaction-popover">
    <div class="reaction-popover-top">
        <input class="reaction-popover-filter" type="text" autofocus placeholder={{t 'Search' }} />
        <i class="icon-vector-search"></i>
    </div>
    {{#if message_id}} {{! message_id -> message reaction, no message_id -> compose }}
    <div class="reaction-popover-emoji-map" data-message-id="{{message_id}}">
        {{#each emojis}}
        <div class="reaction-popover-reaction {{#if has_reacted}} reacted {{/if}}" title={{name}} tabindex="0">
            {{#if is_realm_emoji}}
            <img src="{{url}}" class="emoji" title= ":{{name}}:" />
            {{else}}
            <div class="emoji emoji-{{css_class}}" title= ":{{name}}:" />
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="reaction-popover-emoji-map">
        {{#each emojis}}
        <div class="reaction-popover-reaction" title={{name}} tabindex="0">
            {{#if is_realm_emoji}}
            <img src="{{url}}" class="emoji" title= ":{{name}}:" />
            {{else}}
            <div class="emoji emoji-{{css_class}}" title= ":{{name}}:" />
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
