<div id="recent_topics_filter_buttons" class="btn-group" role="group">
    <div id="recent_filters_group">
        {{> recent_topics_filters}}
    </div>
    <div class="search_group" role="group">
        <input type="text" id="recent_topics_search" value="{{ search_val }}" placeholder="{{t 'Filter topics (t)' }}" />
        <button type="button" class="btn clear_search_button" id="recent_topics_search_clear">
            <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class="table_fix_head" data-simplebar>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th data-sort="stream_sort">{{t 'Stream' }}</th>
                <th data-sort="topic_sort">{{t 'Topic' }}</th>
                <th class='participants_header'>{{t 'Participants' }}</th>
                <th data-sort="numeric" data-sort-prop="last_msg_id" class="last_msg_time_header active descend">{{t 'Time' }}</th>
            </tr>
        </thead>
        <tbody class="required-text" data-empty="{{t 'No topics match your current filter.' }}"></tbody>
    </table>
    <div class="bottom_whitespace">
        <div class="bottom-messages-logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 773.12 773.12">
                <circle cx="386.56" cy="386.56" r="386.56"/>
                <path d="M566.66 527.25c0 33.03-24.23 60.05-53.84 60.05H260.29c-29.61 0-53.84-27.02-53.84-60.05 0-20.22 9.09-38.2 22.93-49.09l134.37-120c2.5-2.14 5.74 1.31 3.94 4.19l-49.29 98.69c-1.38 2.76.41 6.16 3.25 6.16h191.18c29.61 0 53.83 27.03 53.83 60.05zm0-281.39c0 20.22-9.09 38.2-22.93 49.09l-134.37 120c-2.5 2.14-5.74-1.31-3.94-4.19l49.29-98.69c1.38-2.76-.41-6.16-3.25-6.16H260.29c-29.61 0-53.84-27.02-53.84-60.05s24.23-60.05 53.84-60.05h252.54c29.61 0 53.83 27.02 53.83 60.05z"/>
            </svg>
        </div>
        <div id="recent_topics_loading_messages_indicator"></div>
    </div>
</div>
