<tr id="recent_conversation:{{conversation_key}}" {{#if unread_count}}class="unread_topic"{{/if}} data-unread-count="{{unread_count}}" data-muted="{{muted}}" data-participated="{{participated}}">
    <td class="recent_topic_stream">
        {{#if is_private}}
        <div class="flex_container flex_container_pm">
            <div class="left_part recent_topics_focusable">
                <span class="fa fa-envelope"></span>
                <a href="{{pm_url}}">Private messages</a>
            </div>
            <div class="right_part">
                <span class="stream-privacy filter-icon">
                    {{#if is_group}}
                    <span class="fa fa-group"></span>
                    {{else}}
                    <span class="{{user_circle_class}} user_circle"></span>
                    {{/if}}
                </span>
            </div>
        </div>
        {{else}}
        <div class="recent_topics_focusable">
            <span id="stream_sidebar_privacy_swatch_{{stream_id}}" class="stream-privacy filter-icon" style="color: {{stream_color}}">
                {{> stream_privacy }}
            </span>
            <a href="{{topic_url}}">{{stream}}</a>
        </div>
        {{/if}}
    </td>
    <td class="recent_topic_name">
        <div class="flex_container">
            <div class="left_part recent_topics_focusable">
                {{#if is_private}}
                <a href="{{pm_url}}">{{pm_with}}</a>
                {{else}}
                <a href="{{topic_url}}">{{topic}}</a>
                {{/if}}
            </div>
            <div class="right_part">
                {{#if is_private}}
                <span class="unread_count unread_count_pm {{#unless unread_count}}unread_hidden{{/unless}}">{{unread_count}}</span>
                {{else}}
                <div class="recent_topic_actions">
                    <div class="recent_topics_focusable hidden-for-spectators">
                        <span class="unread_count {{#unless unread_count}}unread_hidden{{/unless}} tippy-zulip-tooltip on_hover_topic_read" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" data-tippy-content="{{t 'Mark as read' }}" role="button" tabindex="0" aria-label="{{t 'Mark as read' }}">{{unread_count}}</span>
                    </div>
                </div>
                <div class="recent_topic_actions">
                    <div class="recent_topics_focusable hidden-for-spectators">
                        {{#if topic_muted}}
                        <i class="zulip-icon zulip-icon-mute on_hover_topic_unmute recipient_bar_icon tippy-zulip-tooltip" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" data-tippy-content="{{t 'Unmute topic' }}" role="button" tabindex="0" aria-label="{{t 'Unmute topic' }}"></i>
                        {{else}}
                        <i class="zulip-icon zulip-icon-mute on_hover_topic_mute recipient_bar_icon tippy-zulip-tooltip" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" data-tippy-content="{{t 'Mute topic' }}" role="button" tabindex="0" aria-label="{{t 'Mute topic' }}"></i>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </td>
    <td class='recent_topic_users'>
        <ul class="recent_topics_participants">
            {{#if other_senders_count}}
            <li class="recent_topics_participant_item tippy-zulip-tooltip" data-tooltip-template-id="recent_topics_participant_overflow_tooltip:{{conversation_key}}">
                <span class="recent_topics_participant_overflow">+{{other_senders_count}}</span>
            </li>
            <template id="recent_topics_participant_overflow_tooltip:{{conversation_key}}">{{{other_sender_names_html}}}</template>
            {{/if}}
            {{#each senders}}
                {{#if this.is_muted}}
                <li class="recent_topics_participant_item participant_profile tippy-zulip-tooltip" data-tippy-content="{{t 'Muted user'}}" data-user-id="{{this.user_id}}">
                    <span><i class="fa fa-user recent_topics_participant_overflow"></i></span>
                </li>
                {{else}}
                <li class="recent_topics_participant_item participant_profile tippy-zulip-tooltip" data-tippy-content="{{this.full_name}}" data-user-id="{{this.user_id}}">
                    <img src="{{this.avatar_url_small}}" class="recent_topics_participant_avatar" />
                </li>
                {{/if}}
            {{/each}}
        </ul>
    </td>
    <td class="recent_topic_timestamp">
        <div class="last_msg_time tippy-zulip-tooltip" data-tippy-content="{{this.full_last_msg_date_time}}">
            <a href="{{last_msg_url}}">{{ last_msg_time }}</a>
        </div>
    </td>
</tr>
