<tr id="recent_topic:{{topic_key}}" {{#if unread_count}}class="unread_topic"{{/if}} data-unread-count="{{unread_count}}" data-muted="{{muted}}" data-participated="{{participated}}">
    <td class="recent_topic_stream">
        <div class="recent_topics_focusable">
            <span id="stream_sidebar_privacy_swatch_{{stream_id}}" class="stream-privacy filter-icon" style="color: {{stream_color}}">
                {{> stream_privacy }}
            </span>
            <a href="{{stream_url}}">{{stream}}</a>
        </div>
    </td>
    <td class="recent_topic_name">
        <div class="flex_container">
            <div class="left_part recent_topics_focusable">
                <a href="{{topic_url}}">{{topic}}</a>
            </div>
            <div class="right_part">
                {{#if unread_count}}<span class="unread_count">{{unread_count}}</span>{{/if}}
                <div class="recent_topic_actions">
                    <div class="recent_topics_focusable hidden-for-spectators">
                        {{#if topic_muted}}
                        <i class="fa fa-bell-slash on_hover_topic_unmute recipient_bar_icon tippy-zulip-tooltip" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" data-tippy-content="{{t 'Unmute topic' }}" role="button" tabindex="0" aria-label="{{t 'Unmute topic' }}"></i>
                        {{else}}
                        <i class="fa fa-bell-slash on_hover_topic_mute recipient_bar_icon tippy-zulip-tooltip" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" data-tippy-content="{{t 'Mute topic' }}" role="button" tabindex="0" aria-label="{{t 'Mute topic' }}"></i>
                        {{/if}}
                    </div>
                    <div class="recent_topics_focusable hidden-for-spectators">
                        <i class="fa fa-check-circle on_hover_topic_read recipient_bar_icon tippy-zulip-tooltip" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" data-tippy-content="{{t 'Mark as read' }}" role="button" tabindex="0" aria-label="{{t 'Mark as read' }}"></i>
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td class='recent_topic_users'>
        <ul class="recent_topics_participants">
            {{#if other_senders_count}}
            <li class="recent_topics_participant_item tippy-zulip-tooltip" data-tippy-content="{{other_sender_names}}" data-tippy-allowHtml="true">
                <span class="recent_topics_participant_overflow">+{{other_senders_count}}</span>
            </li>
            {{/if}}
            {{#each senders}}
                {{#if this.is_muted}}
                <li class="recent_topics_participant_item participant_profile tippy-zulip-tooltip" data-tippy-content="{{t 'Muted user'}}" data-user-id="{{this.user_id}}">
                    <span><i class="fa fa-user recent_topics_participant_overflow"></i></span>
                </li>
                {{else}}
                <li class="recent_topics_participant_item participant_profile tippy-zulip-tooltip" data-tippy-content="{{this.full_name}}" data-user-id="{{this.user_id}}">
                    <img src="{{this.avatar_url_small}}" class="recent_topics_participant_avatar" />
                </li>
                {{/if}}
            {{/each}}
        </ul>
    </td>
    <td class="recent_topic_timestamp">
        <div class="last_msg_time tippy-zulip-tooltip" data-tippy-content="{{this.full_last_msg_date_time}}">
            {{ last_msg_time }}
        </div>
    </td>
</tr>
