<div id="recent_topics_filter_buttons" class="btn-group" role="group">
    <div id="recent_filters_group">
        {{> recent_topics_filters}}
    </div>
    <input type="text" id="recent_topics_search" placeholder="{{t 'Search stream / topic' }}">
</div>
<div class="tableFixHead">
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>{{t 'Stream' }}</th>
                <th>{{t 'Topic' }}</th>
                <th>{{t 'Actions' }}</th>
                <th>{{t 'Participants' }}</th>
                <th>{{t 'Last message' }}</th>
            </tr>
        </thead>
        {{#each recent_topics}}
        {{> recent_topic_row}}
        {{/each}}
    </table>
</div>
