<tr id="{{stream_id}}:{{topic}}">
    <td class="recent_unread_count">
        {{unread_count}}
    </td>
    <td class="recent_stream_name">
        <a href="{{stream_url}}">{{stream_name}}</a>
    </td>
    <td class="recent_topic_name">
        <a href="{{topic_url}}">{{topic}}</a>
    </td>
    <td class="recent_actions">
        <i class="fa fa-bell-slash on_hover_topic_mute recipient_bar_icon" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" title="{{t 'Mute topic' }} (M)" role="button" tabindex="0" aria-label="{{t 'Mute topic' }} (M)"></i>
        <i class="fa fa-check-circle on_hover_topic_read recipient_bar_icon" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" title="{{t 'Mark as read' }} (R)" role="button" tabindex="0" aria-label="{{t 'Mark as read' }} (R)"></i>
    </td>
    <td class='recent_users'>
        <ul class="recent_avatars">
            <li class="recent_avatars__item">
                <span class="recent_avatars__others">+3</span>
            </li>
            <li class="recent_avatars__item">
                <img src="https://secure.gravatar.com/avatar/0f030c97ab51312c7bbffd3966198ced?d=identicon&version=1&s=50" class="recent_avatars__img" />
            </li>
            <li class="recent_avatars__item">
                <img src="https://secure.gravatar.com/avatar/6d8cad0fd00256e7b40691d27ddfd466?d=identicon&version=1&s=50" class="recent_avatars__img" />
            </li>
        </ul>
    </td>
    <td class="recent_timestamp">
        {{ timestamp }}
    </td>
</tr>
