<tr id="recent_topic:{{topic_key}}" {{#if unread_count}}class="unread_topic"{{/if}} data-unread-count="{{unread_count}}" data-muted="{{muted}}" data-participated="{{participated}}">
    <td class="recent_topic_stream">
        <div class="recent_topics_focusable">
            <span id="stream_sidebar_privacy_swatch_{{stream_id}}" class="stream-privacy filter-icon" style="color: {{stream_color}}">
                {{> stream_privacy }}
            </span>
            <a href="{{stream_url}}">{{stream}}</a>
        </div>
    </td>
    <td class="recent_topic_name">
        <div class="flex_container">
            <div class="left_part">
                <div class="recent_topics_focusable">
                    <a href="{{topic_url}}">{{topic}}</a>
                </div>
            </div>
            <div class="right_part">
                {{#if unread_count}}<span class="recent_topic_unread_count">{{unread_count}}</span>{{/if}}
                <div class="recent_topic_actions">
                    <div class="recent_topics_focusable">
                        {{#if topic_muted}}
                        <i class="fa fa-bell-slash on_hover_topic_unmute recipient_bar_icon" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" title="{{t 'Unmute topic' }}" role="button" tabindex="0" aria-label="{{t 'Mute topic' }}"></i>
                        {{else}}
                        <i class="fa fa-bell-slash on_hover_topic_mute recipient_bar_icon" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" title="{{t 'Mute topic' }}" role="button" tabindex="0" aria-label="{{t 'Mute topic' }}"></i>
                        {{/if}}
                    </div>
                    <div class="recent_topics_focusable">
                        <i class="fa fa-check-circle on_hover_topic_read recipient_bar_icon" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" title="{{t 'Mark as read' }}" role="button" tabindex="0" aria-label="{{t 'Mark as read' }}"></i>
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td class='recent_topic_users'>
        <ul class="recent_avatars">
            {{#if other_senders_count}}
            <li class="recent_avatars_item">
                <span class="recent_avatars_others">+{{other_senders_count}}</span>
            </li>
            {{/if}}
            {{#each senders}}
            <li class="recent_avatars_item" title="{{this.full_name}}">
                <img src="{{this.avatar_url_small}}" class="recent_avatars_img" />
            </li>
            {{/each}}
        </ul>
    </td>
    <td class="recent_topic_timestamp">
        <div class="last_msg_time"  title="{{this.full_last_msg_date_time}}">
            {{ last_msg_time }}
        </div>
    </td>
</tr>
