{{#if is_stream}}
<div class="message_header message_header_stream right_part">
    <div class="message-header-wrapper">
        <div class="message-header-contents">
            {{! stream link }}
            <a class="message_label_clickable narrows_by_recipient stream_label {{color_class}}"
                style="background: {{background_color}}; border-left-color: {{background_color}};"
                href="{{stream_url}}"
                title="{{#tr this}}Narrow to stream &quot;__display_recipient__&quot;{{/tr}}">
                {{! invite only lock }}
                {{#if invite_only}}
                <i class="fa fa-lock invite-stream-icon" title="{{t 'This is a private stream' }}" aria-label="{{t 'This is a private stream' }}"></i>
                {{/if}}
                {{display_recipient}}</a>

            {{! hidden narrow icon for copy-pasting }}
            <span class="copy-paste-text">&gt;</span>

            {{! topic stuff }}
            <span class="stream_topic">
                {{! topic link }}
                <a class="message_label_clickable narrows_by_topic"
                    href="{{topic_url}}"
                    title="{{#tr this}}Narrow to stream &quot;__display_recipient__&quot;, topic &quot;__topic__&quot;{{/tr}}">
                    {{#if use_match_properties}}
                    {{{match_topic}}}
                    {{else}}
                    {{topic}}
                    {{/if}}
                </a>
                <!-- The missing whitespace on the next line is a hack; ideally, would be user-select: none. -->
            </span><span class="recipient_bar_controls no-select">
                {{! exterior links (e.g. to a trac ticket) }}
                {{#each topic_links}}
                <a href="{{this}}" target="_blank" class="no-underline">
                    <i class="fa fa-external-link-square" aria-label="{{t 'External link' }}"></i>
                </a>
                {{/each}}

                {{! edit topic pencil icon }}
                {{#if always_visible_topic_edit}}
                    <i class="fa fa-pencil always_visible_topic_edit" {{#unless realm_allow_message_editing}}style="display: none"{{/unless}} role="button" tabindex="0" aria-label="{{t 'Edit' }}"></i>
                {{else}}
                    {{#if on_hover_topic_edit}}
                    <i class="fa fa-pencil on_hover_topic_edit" {{#unless realm_allow_message_editing}}style="display: none"{{/unless}} role="button" tabindex="0" aria-label="{{t 'Edit' }}"></i>
                    {{/if}}
                {{/if}}

                <span class="topic_edit">
                    <span class="topic_edit_form" id="{{id}}"></span>
                </span>

                <i class="fa fa-eye-slash on_hover_topic_mute" data-stream-id="{{stream_id}}" data-topic-name="{{topic}}" title="{{t 'Mute topic' }} (M)" role="button" tabindex="0" aria-label="{{t 'Mute topic' }} (M)"></i>
                <span class="recipient_row_date {{#if group_date_divider_html}}{{else}}hide-date{{/if}}">{{{date}}}</span>
            </span>
        </div>
    </div>
</div>
{{else}}
<div class="message_header message_header_private_message dark_background">
    <div class="message-header-wrapper">
        <div class="message-header-contents">
            <a class="message_label_clickable narrows_by_recipient stream_label"
                href="{{pm_with_url}}"
                title="{{#tr this}}Narrow to your private messages with __display_reply_to__{{/tr}}">
                {{#tr this}}You and __display_reply_to__{{/tr}}
            </a>

            <span class="recipient_row_date {{#if group_date_divider_html}}{{else}}hide-date{{/if}}">{{{date}}}</span>
        </div>
    </div>
</div>
{{/if}}
