<div id="rename_topic_modal" class="modal modal-bg hide fade new-style" tabindex="-1" role="dialog" aria-labelledby="rename_topic_modal_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{t 'Close'}}"><span aria-hidden="true">&times;</span></button>
        <h3 id="rename_topic_modal_label">{{t "Rename topic" }}</h3>
    </div>
    <div class="modal-body">
        <p>{{#tr}}Rename <strong>{topic_name}</strong> to:{{/tr}}</p>
        <form id="rename_topic_form">
            <div id="topic_stream_edit_form_error" class="alert">
                <span class="send-status-close">&times;</span>
                <span class="error-msg"></span>
            </div>
            <div class="topic_stream_edit_header">
                <input name="new_topic_name" type="text" class="inline_topic_edit" value="{{topic_name}}" />
                <input name="old_topic_name" type="hidden" class="inline_topic_edit" value="{{topic_name}}" />
                <input name="current_stream_id" type="hidden" value="{{current_stream_id}}" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="button" data-dismiss="modal">{{t "Cancel"}}</button>
        <button class="button btn-danger rounded" id="do_rename_topic_button">
            {{t "Confirm"}}
        </button>
    </div>
</div>
