<h1><i class="icon-vector-wrench settings-icon"></i>{{t "Settings" }}</h1>

<div id="settings-change-box">

  <div class="alert" id="settings-status"></div>

  {{ partial "account-settings" }}

  {{ partial "display-settings" }}

  {{ partial "muted-topics-settings" }}

  {{ partial "notification-settings" }}
</div>

{{ partial "bot-settings" }}

{{ partial "alert-word-settings" }}

{{ partial "ui-settings" }}
