<div id="settings-change-box" class="new-style">
    {{ partial "account-settings" }}

    {{ partial "display-settings" }}

    {{ partial "notification-settings" }}

    {{ partial "bot-settings" }}

    {{ partial "alert-word-settings" }}

    {{ partial "attachments-settings" }}

    {{ partial "muted-topics-settings" }}

    {{ partial "ui-settings" }}
</div>
