<div id="settings-change-box" class="new-style">
    {{ partial "settings/account-settings" }}

    {{ partial "settings/display-settings" }}

    {{ partial "settings/notification-settings" }}

    {{ partial "settings/bot-settings" }}

    {{ partial "settings/alert-word-settings" }}

    {{ partial "settings/attachments-settings" }}

    {{ partial "settings/muted-topics-settings" }}
</div>
