<h1><i class="icon-vector-wrench settings-icon"></i>{{t "Settings" }}</h1>

<div id="settings-change-box">

  <div class="alert" id="settings-status"></div>

  <div id="account-settings" class="settings-section">
    <div class="settings-section-title">
      <i class="icon-vector-user settings-section-icon"></i>
      {{t "Your Account" }}
    </div>
    <div class="account-settings-form">
      <form action="/json/settings/change" method="post"
            class="form-horizontal your-account-settings">
        <div class="input-group" id="name_change_container">
          <label for="full_name">{{t "Full name" }}</label>
          <input type="text" name="full_name" id="full_name" value="{{ page_params.fullname }}" />
        </div>

        <!-- password start -->
        {{#if page_params.password_auth_enabled}}
        <div class="input-group" id="pw_change_link">
          <label for="change_password_button">{{t "Password" }}</label>
          <button class="change_password_button button" data-dismiss="modal" aria-hidden="true">{{t "Change Password" }}</button>
        </div>

        <div id="pw_change_controls">
          <div class="input-group">
            <label for="old_password">{{t "Old password" }}</label>
            <input type="password" autocomplete="off" name="old_password" id="old_password" value="" />
            (<a href="/accounts/password/reset/" target="_blank">{{t "Forgotten it?" }}</a>)
          </div>

          <div class="input-group">
            <label for="new_password">{{t "New password" }}</label>
            <input type="password" autocomplete="off" name="new_password" id="new_password" value="" />
          </div>

          <div class="input-group">
            <label>{{t "Password strength" }}</label>
            <div class="progress" id="pw_strength">
              <div class="bar bar-danger fade" style="width: 10%;"></div>
            </div>
          </div>

          <div class="input-group">
            <label for="confirm_password">{{t "Confirm password" }}</label>
            <input type="password" autocomplete="off" name="confirm_password" id="confirm_password" value="" />
          </div>

        </div>
        {{/if}}

        <div class="input-group">
          <input type="submit" class="button green" name="change_settings" value="Save Changes" />
        </div>

        <div class="input-group">
          <img id="user-settings-avatar" src="{{ page_params.avatar_url }}" />
          <div id="user_avatar_file_input_error" class="text-error"></div>
          <div id="user_avatar_file"></div>
          <input type="file" name="user_avatar_file_input" class="notvisible" id="user_avatar_file_input" value="{{t 'Upload avatar' }}" />
          <div id="upload_avatar_spinner"></div>
          <button class="button standalone" id="user_avatar_upload_button">{{t 'Customize avatar' }}</button>
        </div>

      </form>

    </div>
  </div>

  {{ partial "display-settings" }}

  {{ partial "notification-settings" }}
</div>

{{ partial "bot-settings" }}

<div id="alert-word-settings" class="settings-section">
  <div class="settings-section-title">
    <i class="icon-vector-book settings-section-icon"></i>
    {{t "Custom Alert Words" }}
  </div>
  <form class="form-horizontal" id="alert_word_info_box">
    {{#tr this}}
    <p class="alert-word-settings-note">
      {{t "Alert words allow you to be notified as if you were @-mentioned
      when certain words or phrases are used in Zulip."}}
    </p>
    {{/tr}}
  </form>
  <ul id="alert_words_list"></ul>
</div>

<div class="ui-settings">
  <div id="ui-settings" class="settings-section">
    <div class="settings-section-title"><i class="icon-vector-beaker settings-section-icon"></i>{{#tr this}}__page_params.product_name__ Labs{{/tr}}</div>
    <div class="alert" id="ui-settings-status"></div>
    <form class="ui-settings-form">
      <p class="input-group">
        {{t "Warning: the below features are experimental features and may not work as well as you would like." }}
      </p>
      <div class="input-group thinner">
        <input type="checkbox" class="inline-block" name="autoscroll_forever" id="autoscroll_forever"
               {{#if page_params.autoscroll_forever}}
               checked="checked"
            {{/if}} />
        <label for="autoscroll_forever" class="inline-block">
          {{t "Always auto-scroll to new messages" }}
        </label>
      </div>
      <div class="input-group thinner">
        <input type="checkbox" class="inline-block" name="default_desktop_notifications" id="default_desktop_notifications"
               {{#if page_params.default_desktop_notifications}}
               checked="checked"
            {{/if}} />
        <label for="default_desktop_notifications" class="inline-block">
          {{t "Enable desktop notifications for new streams" }}
        </label>

      </div>
      <div class="input-group">
        <div class="ui-submission">
          <input type="submit" name="change_settings" value="{{t 'Save Changes' }}" class="button green" />
        </div>
      </div>
    </form>
  </div>
</div>
