<ul class='expanded_subjects' data-stream='{{stream}}'>
    {{#each subjects}}
    <li class='{{#if is_zero}}zero-subject-unreads {{/if}}expanded_subject' data-name='{{subject}}'>
      <span class='subject_box'>
        <a href='{{url}}' class="subject-name">
          {{subject}}
        </a>
        <div class="subject_count {{#if is_zero}}zero_count{{/if}}">
            <div class="value">{{unread}}</div>
        </div>
      </span>
      {{#if ../topic_sidebar_arrow}}
        <span class="arrow topic-sidebar-arrow">
          <i class="icon-vector-chevron-down"></i>
        </span>
      {{/if}}
    </li>
    {{/each}}
</ul>
