<div id="private-container" class="scrolling_list">
    <ul class='expanded_private_messages {{zoom_class}}' data-name='private'>
        {{#each messages}}
        <li class='{{#if is_zero}}zero-pm-unreads{{/if}} {{#if zoom_out_hide}}zoom-out-hide{{/if}} expanded_private_message' data-user-ids-string='{{user_ids_string}}'>
            <span class='pm-box'>

                {{#if is_group}}
                    {{#if fraction_present}}
                    <span class="{{user_circle_class}} user_circle" style="background:rgba(68,194,29,{{fraction_present}});"></span>
                    {{else}}
                    <span class="{{user_circle_class}} user_circle" style="background:none; border-color:rgb(127,127,127);"></span>
                    {{/if}}
                {{else}}
                    <span class="{{user_circle_class}} user_circle"></span>
                {{/if}}

                <a href='{{url}}' class="conversation-partners" title="{{ recipients }}">
                    {{recipients}}
                </a>
                <div class="private_message_count {{#if is_zero}}zero_count{{/if}}">
                    <div class="value">{{unread}}</div>
                </div>
            </span>
        </li>
        {{/each}}
        {{#if want_show_more_messages_links}}
        <li class="show-more-private-messages" data-name='more-private-messages'>
            <a href="#">({{t "more conversations" }})</a>
        </li>
        {{/if}}
    </ul>
</div>
