<ul class='expanded_subjects' data-stream='{{stream}}'>
    {{#each subjects}}
    <li class='{{#if is_zero}}zero-subject-unreads{{/if}} {{#if is_muted}}muted_topic{{/if}} {{#if zoom_out_hide}} zoom-out-hide{{/if}} expanded_subject' data-name='{{topic_name}}'>
      <span class='subject_box'>
        <a href='{{url}}' class="subject-name">
          {{topic_name}}
        </a>
        <div class="subject_count {{#if is_zero}}zero_count{{/if}}">
            <div class="value">{{unread}}</div>
        </div>
      </span>
      <span class="arrow topic-sidebar-arrow">
        <i class="icon-vector-chevron-down"></i>
      </span>
    </li>
    {{/each}}
    {{#if want_show_more_topics_links}}
    <li class="show-more-topics" data-stream="{{stream}}">
      <a href="#">Show more topics...</a>
    </li>
    {{/if}}
</ul>
