<ul class='expanded_subjects' data-stream='{{stream}}'>
    {{#each subjects}}
    <li class='{{#if is_zero}}zero-subject-unreads {{/if}}expanded_subject' data-name='{{subject}}'>
      <span class='subject_box'>
        <a href='{{url}}' class="subject-name">
          {{subject}}
        </a>
        <div class="count-container">
        <div class="subject_count {{#if is_zero}}zero_count{{/if}}">
            (<span class="value">{{unread}}</span>)
        </div>
      </div>
      </span>
    </li>
    {{/each}}
</ul>
