<div zid="{{id}}" id="{{dom_id}}"
  class="message_row{{^is_stream}} private-message{{/is_stream}}{{#include_sender}} include-sender{{/include_sender}}{{#contains_mention}} mention{{/contains_mention}}{{#include_footer}} last_message{{/include_footer}}{{#unread}} unread{{/unread}} {{#if local_id}}local{{/if}} selectable_row">
  <div class="unread_marker"><div class="unread-marker-fill"></div></div>
  <div class="messagebox{{^include_sender}} prev_is_same_sender{{/include_sender}}{{^is_stream}} private-message{{/is_stream}}">
    <div class="messagebox-border">
      <div class="messagebox-content">
        <div class="message_top_line">
          {{#include_sender}}
          <span class="message_sender{{^status_message}} sender_info_hover{{/status_message}}">
            {{! See ../js/notifications.js for another user of avatar_url. }}
            <div class="inline_profile_picture{{#status_message}} sender_info_hover{{/status_message}}"
                 style="background-image: url('{{small_avatar_url}}');"/><span class="{{^status_message}}sender_name{{/status_message}}{{#status_message}}sender-status{{/status_message}}">{{#unless status_message}}{{sender_full_name}}{{else}}<span class="sender_name sender_info_hover">{{sender_full_name}}</span>{{{ status_message }}}{{/unless}}</span>
          </span>
          {{/include_sender}}
          <span class="message_time{{#if local_id}} notvisible{{/if}}{{#if status_message}} status-time{{/if}}">{{timestr}}</span>
          {{#if_and last_edit_timestr include_sender}}
          <div class="message_edit_notice" title="Edited ({{last_edit_timestr}})">EDITED</div>
          {{/if_and}}
          <div class="message_controls">
            <div class="star">
              <span class="message_star {{#if starred}}icon-vector-star{{else}}icon-vector-star-empty empty-star{{/if}}"
                    title="{{#if starred}}Unstar{{else}}Star{{/if}} this message"></span>
            </div>
            <div class="info actions_hover">
              <i class="icon-vector-chevron-down"></i>
            </div>
            <div class="message_failed {{#unless failed_request}}notvisible{{/unless}}">
              <span class="failed_text">Not delivered </span><i class="icon-vector-refresh refresh-failed-message"></i><i class="icon-vector-pencil edit-failed-message"></i><i class="icon-vector-remove-sign remove-failed-message"></i>
            </div>
          </div>
        </div>
        <div class="message_content">{{#unless status_message}}{{#if match_content}}{{{match_content}}}{{else}}{{{content}}}{{/if}}{{/unless}}</div>
        {{#if last_edit_timestr}}
          {{#unless include_sender}}
          <div class="message_edit_notice" title="Edited ({{last_edit_timestr}})">EDITED</div>
          {{/unless}}
        {{/if}}
        <div class="message_edit">
          <div class="message_edit_form" id="{{id}}"></div>
        </div>
        <div class="message_expander message_length_controller" title="See the rest of this message">[More...]</div>
        <div class="message_condenser message_length_controller" title="Make this message take up less space on the screen">[Condense this message]</div>
      </div>
    </div>
  </div>
</div>