<div zid="{{msg/id}}" id="{{table_name}}{{msg/id}}"
    class="message_row{{^msg/is_stream}} private-message{{/msg/is_stream}}{{#include_sender}} include-sender{{/include_sender}}{{#contains_mention}} mention{{/contains_mention}}{{#include_footer}} last_message{{/include_footer}}{{#msg.unread}} unread{{/msg.unread}} {{#if msg.locally_echoed}}local{{/if}} selectable_row">
    <div class="unread_marker"><div class="unread-marker-fill"></div></div>
    <div class="messagebox{{^include_sender}} prev_is_same_sender{{/include_sender}}{{^msg/is_stream}} private-message{{/msg/is_stream}} {{#if next_is_same_sender}}next_is_same_sender{{/if}}"
        style="box-shadow: inset 2px 0px 0px 0px {{#if msg/is_stream}}{{background_color}}{{else}}#444444{{/if}}, -1px 0px 0px 0px {{#if msg/is_stream}}{{background_color}}{{else}}#444444{{/if}};">
        <div class="messagebox-border">
            <div class="messagebox-content">
                <div class="message_top_line">
                    <span class="message_sender{{^status_message}} sender_info_hover{{/status_message}} no-select">
                        {{#include_sender}}
                            {{! See ../js/notifications.js for another user of avatar_url. }}
                            <div class="u-{{msg/sender_id}} inline_profile_picture{{#status_message}} sender_info_hover{{/status_message}}">
                                <img src="{{small_avatar_url}}" alt="" class="no-drag"/>
                            </div>
                            {{#if status_message}}
                                <span class="sender-status">
                                    <span class="sender_name-in-status auto-select sender_info_hover">{{msg/sender_full_name}}</span>
                                    {{#if sender_is_bot}}
                                    <img class="bot-icon" title="{{t 'Bot' }}" src="/static/images/bot.svg" />
                                    {{/if}}
                                    <span class="status-message">
                                        {{{ status_message }}}
                                    </span>
                                    {{#if_and last_edit_timestr include_sender}}
                                    <div class="message_edit_notice" title="{{#tr this}}Edited (__last_edit_timestr__){{/tr}}">{{t "EDITED" }}</div>
                                    {{/if_and}}
                                </span>
                            {{else}}
                                <span class="sender_name auto-select">{{msg/sender_full_name}}</span>
                                {{#if sender_is_bot}}
                                <img class="bot-icon" title="{{t 'Bot' }}" src="/static/images/bot.svg" />
                                {{/if}}
                            {{/if}}
                        {{/include_sender}}
                    </span>
                    <span class="alert-copied pull-right">{{t 'Copied!' }}</span>
                    <span class="message_time{{#if msg.locally_echoed}} notvisible{{/if}}{{#if status_message}} status-time{{/if}}">{{timestr}}</span>
                    {{#if_and last_edit_timestr include_sender}}
                        {{#unless status_message}}
                        <div class="message_edit_notice" title="{{#tr this}}Edited (__last_edit_timestr__){{/tr}}">{{t "EDITED" }}</div>
                        {{/unless}}
                    {{/if_and}}
                    <div class="message_controls{{#status_message}} sender-status-controls{{/status_message}} no-select">
                        {{#if msg/sent_by_me}}
                        <div class="edit_content"></div>
                        {{else}}
                        <div class="reaction_button">
                            <i class="icon-vector-smile" title="{{#tr this}}Add emoji reaction{{/tr}} (:)"></i>
                        </div>
                        {{/if}}
                        <div class="info actions_hover">
                            <i class="icon-vector-chevron-down" title="{{#tr this}}Message actions{{/tr}} (i)"></i>
                        </div>
                        <div class="message_failed {{#unless msg.failed_request}}notvisible{{/unless}}">
                            <i class="icon-vector-refresh refresh-failed-message" data-toggle="tooltip" title="{{t 'Retry' }}"></i>
                            <i class="icon-vector-remove-sign remove-failed-message" data-toggle="tooltip" title="{{t 'Cancel' }}"></i>
                        </div>
                        <div class="star {{#if msg/starred}}icon-vector-star{{else}}icon-vector-star-empty{{/if}} {{#if msg/starred}}{{else}}empty-star{{/if}}" title="{{#tr this.msg}}__starred_status__ this message{{/tr}} (*)">
                        </div>
                    </div>
                </div>
                <div class="message_content">{{#unless status_message}}{{#if use_match_properties}}{{{msg/match_content}}}{{else}}{{{msg/content}}}{{/if}}{{/unless}}</div>
                {{#if last_edit_timestr}}
                    {{#unless include_sender}}
                    <div class="message_edit_notice" title="{{#tr this}}Edited (__last_edit_timestr__){{/tr}}">{{t "EDITED" }}</div>
                    {{/unless}}
                {{/if}}
                <div class="message_edit">
                    <div class="message_edit_form"></div>
                </div>
                <div class="message_expander message_length_controller" title="{{t 'See the rest of this message' }}">{{t "[More...]" }}</div>
                <div class="message_condenser message_length_controller" title="{{t 'Make this message take up less space on the screen' }}">{{t "[Condense this message]" }}</div>
                <div class="message_reactions">{{ partial "message_reactions" }}</div>
            </div>
        </div>
    </div>
</div>
