<div zid="{{msg/id}}" id="{{table_name}}{{msg/id}}"
  class="message_row{{^msg/is_stream}} private-message{{/msg/is_stream}}{{#include_sender}} include-sender{{/include_sender}}{{#if mention_classname}} {{mention_classname}}{{/if}}{{#include_footer}} last_message{{/include_footer}}{{#msg.unread}} unread{{/msg.unread}} {{#if msg.locally_echoed}}local{{/if}} selectable_row"
  role="listitem">
    <div class="unread_marker"><div class="unread-marker-fill"></div></div>
    {{#if want_date_divider}}
    <div class="date_row no-select" {{#if msg/is_stream}}style="box-shadow: inset 3px 0px 0px -1px {{background_color}}, -1px 0px 0px 0px {{background_color}};"{{/if}}>{{{date_divider_html}}}</div>
    {{/if}}
    <div class="messagebox {{#if next_is_same_sender}}next_is_same_sender{{/if}}"
      {{#if msg/is_stream}}style="box-shadow: inset 3px 0px 0px -1px {{background_color}}, -1px 0px 0px 0px {{background_color}};"{{/if}}>
        <div class="messagebox-content">
            {{> message_body}}
        </div>
    </div>
</div>
