{{#each subscribed_users}}
    {{#if @first}}
    {{t "Successfully subscribed users:" }}
    {{/if}}
    <a data-user-id="{{user_id}}" class="view_user_profile">{{full_name}}</a>{{#unless @last}},{{else}}.{{/unless}}
{{/each}}
<br>
{{#each already_subscribed_users}}
    {{#if @first}}
    {{t "Already subscribed users:" }}
    {{/if}}
    <a data-user-id="{{user_id}}" class="view_user_profile">{{full_name}}</a>{{#unless @last}},{{else}}.{{/unless}}
{{/each}}
