<div stream_id="{{stream.stream_id}}" class="preset_container">
    {{#each stream_color_presets.color }}
    <div class="presets" style="background-color: #{{this}};"></div>
    {{/each}}
</div>
<hr>
<input stream_id="{{stream.stream_id}}" id="stream_color_picker" type="color" value="{{stream.color}}"/>
<div id="custom_color">{{t "Custom input" }}</div>
