{{! Stream sidebar rows }}

<li class="narrow-filter{{#if is_muted}} out_of_home_view{{/if}}" data-stream-id="{{id}}">
    <div class="bottom_left_row">
        <div class="subscription_block selectable_sidebar_block">

            <span id="stream_sidebar_privacy_swatch_{{id}}" class="stream-privacy filter-icon" style="color: {{color}}">
                {{> stream_privacy }}
            </span>

            <a href="{{uri}}" class="stream-name">{{name}}</a>

            <div class="count"><div class="value"></div></div>
        </div>
        <span class="stream-sidebar-menu-icon"><i class="zulip-icon ellipsis-v-solid" aria-hidden="true"></i></span>
    </div>
</li>
