<div class="hide" id="stream-creation" tabindex="-1" role="dialog"
  aria-label="{{t 'Stream creation' }}">
    <form id="stream_creation_form" class="form-inline">
        <div class="alert stream_create_info"></div>
        <div id="stream_creating_indicator"></div>
        <div class="stream-creation-body">
            <section class="block">
                <div class="stream-title">
                    {{t "Stream name" }}
                </div>
                <input type="text" name="stream_name" id="create_stream_name"
                  placeholder="{{t 'Stream name' }}" value="" autocomplete="off" maxlength="{{ max_name_length }}" />
                <div id="stream_name_error" class="stream_creation_error"></div>
            </section>
            <section class="block">
                <div class="stream-title">
                    {{t "Stream description (optional)"}}
                </div>
                <input type="text" name="stream_description" id="create_stream_description"
                  placeholder="{{t 'Stream description' }}" value="" autocomplete="off" maxlength="{{ max_description_length }}" />
            </section>
            <section class="block" id="make-invite-only">
                <div class="stream-title">
                    {{t "Stream permissions" }}
                </div>
                <div class="stream-creation-info">
                    {{t 'These settings are explained in detail in the <a target="_blank" href="/help/stream-permissions">help center</a>.'}}
                </div>

                {{ partial "stream_types" "is_public" true }}

                <div id="announce-new-stream">
                    <label class="checkbox">
                        <input type="checkbox" name="announce" value="announce" checked />
                        <span></span>
                        {{t "Announce stream" }}
                    </label>
                    <span class="fa fa-question-circle settings-info-icon" aria-hidden="true" id="announce-stream-docs"></span>
                </div>
            </section>
            <section class="block">
                <label class="stream-title" for="people_to_add">
                    {{t "People to add" }}
                </label>
                <div id="stream_subscription_error" class="stream_creation_error"></div>
                <div class="controls" id="people_to_add"></div>
            </section>
        </div>
        <div class="modal-footer">
            <button class="button small white rounded" data-dismiss="modal">{{t "Cancel" }}</button>
            <button class="button small sea-green rounded" type="submit">{{t "Create" }}</button>
        </div>
    </form>
</div>
