{{! Contents of the "stream actions" popup }}
<ul class="nav nav-list streams_popover" data-stream-id="{{ stream.stream_id }}" data-name="{{ stream.name }}">
    <li>
        <p class="topic-name">
            <span id="stream_sidebar_privacy_swatch_{{stream.stream_id}}" class="stream-privacy filter-icon" style="color: {{stream.color}}">
                {{> stream_privacy
                  invite_only=stream.invite_only
                  is_web_public=stream.is_web_public }}
            </span>
            <b>{{stream.name}}</b>
        </p>
    </li>

    <hr>

    {{! tabindex="0" Makes anchor tag focusable. Needed for keyboard support. }}
    <li>
        <a tabindex="0" class="open_stream_settings">
            <i class="fa fa-cog" aria-hidden="true"></i>
            {{t "Stream settings" }}
        </a>
    </li>
    <li>
        <a tabindex="0" class="pin_to_top">
            <i class="fa fa-thumb-tack stream-pin-icon" aria-hidden="true"></i>
            {{#if stream.pin_to_top}}
            {{t "Unpin stream from top"}}
            {{else}}
            {{t "Pin stream to top"}}
            {{/if}}
        </a>
    </li>
    <li>
        <a tabindex="0" class="mark_stream_as_read">
            <i class="fa fa-book" aria-hidden="true"></i>
            {{t "Mark all messages as read"}}
        </a>
    </li>
    <li>
        <a tabindex="0" class="toggle_stream_muted">
            {{#if stream.is_muted}}
            <i class="fa fa-bell" aria-hidden="true"></i>
            {{t "Unmute stream"}}
            {{else}}
            <i class="fa fa-bell-slash" aria-hidden="true"></i>
            {{t "Mute stream"}}
            {{/if}}
        </a>
    </li>
    <li>
        <a tabindex="0" class="popover_sub_unsub_button" data-name="{{stream.name}}">
            <i class='fa fa-envelope' aria-hidden="true"></i>
            {{t "Unsubscribe" }}
        </a>
    </li>
    <li>
        <span class="colorpicker-container"><input stream_id="{{stream.stream_id}}" class="colorpicker" type="text" value="{{stream.color}}" /></span>
        <a tabindex="0" class="choose_stream_color">
            <i class="fa fa-eyedropper" aria-hidden="true"></i>
            {{t "Change color" }}
        </a>
    </li>

</ul>
