{{! Client-side Mustache template for rendering subscriptions.}}
{{#with this}}
<div class="stream-row" data-stream-id="{{stream_id}}" data-stream-name="{{name}}">
  <div class="subscription_table_elem subscription_header collapsed" data-toggle="collapse" data-target="#subscription_settings_{{stream_id}}">

    {{#if subscribed}}
    <div class="check checked sub_unsub_button"></div>
    {{else}}
    <div class="check sub_unsub_button"></div>
    {{/if}}
    {{ partial "subscription_setting_icon" }}
    <div class="sub-info-box">
        <div class="top-bar">
            <div class="stream-name">{{name}}</div>
            <div class="settings-dropdown-trigger">
                <i class="icon-vector-chevron-down"></i>
            </div>
            <div class="subscriber-count">
                <i class="icon-vector-user"></i>
                {{subscriber_count}}
            </div>
        </div>
        <div class="description">{{description}}</div>
    </div>
  </div>
  {{ partial "subscription_settings" }}
</div>
{{/with}}
