{{#if invite_only}}
    {{t 'This is a <span class="fa fa-lock" aria-hidden="true"></span> <b>private stream</b>. Only people who have been invited can access its content, but any member of the stream can invite others.' }}
    {{#if history_public_to_subscribers}}{{t 'New members can view complete message history.' }}
    {{else}}{{t 'New members can only see messages sent after they join.' }}
    {{/if}}
    {{else if is_web_public}}
    {{t 'This is a <i class="fa fa-globe" aria-hidden="true"></i> <b>web public stream</b>. Any member of the organization can join without an invitation and anyone on the internet can read the content published.'}}
{{else}}
    {{t 'This is a <i class="hash" aria-hidden="true"></i> <b>public stream</b>. Any member of the organization can join without an invitation.' }}
{{/if}}
{{#if (eq stream_post_policy stream_post_policy_values.admins.code)}}
{{t 'Only organization administrators can post.'}}
{{else if (eq stream_post_policy stream_post_policy_values.non_new_members.code)}}
{{t 'Only organization full members can post.'}}
{{else}}
{{t 'All stream members can post.'}}
{{/if}}
{{message_retention_text}}
