{{! Client-side Mustache template for rendering subscriptions.}}
{{#with this}}
<div class="stream-row" data-stream-id="{{stream_id}}" data-stream-name="{{name}}">
    {{#if subscribed}}
    <div class="check checked sub_unsub_button"></div>
    {{else}}
    <div class="check sub_unsub_button"></div>
    {{/if}}
    {{ partial "subscription_setting_icon" }}
    <div class="sub-info-box">
        <div class="top-bar">
            <div class="stream-name">{{name}}</div>
            <div class="subscriber-count">
                <span class="subscriber-count-text">{{subscriber_count}}</span>
                <i class="icon-vector-user"></i>
            </div>
        </div>
        <div class="description" data-no-description="{{t 'No description.'}}">{{description}}</div>
    </div>
</div>
{{/with}}
