{{! Client-side Mustache template for rendering subscriptions.}}
{{#with this}}
<div class="stream-row" data-stream-id="{{stream_id}}" data-stream-name="{{name}}">
    <img class="check {{#if subscribed }}checked{{/if}} sub_unsub_button" src="/static/images/checkbox-stream.svg">
    {{ partial "subscription_setting_icon" }}
    <div class="sub-info-box">
        <div class="top-bar">
            <div class="stream-name">{{name}}</div>
            <div class="subscriber-count" data-toggle="tooltip" title="{{t 'Subscriber count' }}">
                {{partial "subscription_count"}}
            </div>
        </div>
        <div class="bottom-bar">
            <div class="description" data-no-description="{{t 'No description.'}}">{{{rendered_description}}}</div>
            {{#if is_old_stream}}
            <div class="stream-message-count" data-toggle="tooltip" title="{{t 'Estimated messages per week' }}">
                <i class="fa fa-bar-chart"></i>
                <span class="stream-message-count-text">{{stream_weekly_traffic}}</span>
            </div>
            {{else}}
            <div class="stream-message-count" data-toggle="tooltip" title="{{t 'Stream created recently' }}">
                <span class="stream-message-count-text">{{t "New" }}</span>
            </div>
            {{/if}}
        </div>
    </div>
</div>
{{/with}}
