<div id="subscription_overlay" class="overlay new-style" data-overlay="subscriptions">
    <div class="flex overlay-content">
        <div class="subscriptions-container modal-bg">
            <div class="subscriptions-header">
                <div class="fa fa-chevron-left"></div>
                <span class="subscriptions-title">{{t 'Streams' }}</span>
                <div class="exit">
                    <span class="exit-sign">&times;</span>
                </div>
            </div>
            <div class="left">
                <div class="search-container">
                    <form id="add_new_subscription" class="form-inline" action="">
                        <input type="text" name="stream_name" id="search_stream_name"
                          placeholder="{{t 'Filter streams' }}" value="" autocomplete="off" />
                        {{#if can_create_streams}}
                        <input type="submit" class="create_stream_button"
                          value="+" title="{{t 'Create new stream' }} (n)"/>
                        {{/if}}
                        <div class="float-clear"></div>
                    </form>
                    <div class="clear-float"></div>
                </div>
                <div class="streams-list">
                    {{#each subscriptions}}
                    {{partial "subscription"}}
                    {{/each}}
                </div>
            </div>
            <div class="right">
                <div class="display-type">
                    <div id="add_new_stream_title" class="stream-info-title">{{t 'Create stream' }}</div>
                    <div id="stream_settings_title" class="stream-info-title">{{t 'Stream settings' }}</div>
                </div>
                <div class="nothing-selected">
                    {{#if can_create_streams}}
                    <button type="button" class="create_stream_button button small rounded">Create Stream</button>
                    <span>{{t 'First time? Read our <a href="/help/create-a-stream" target="_blank">guidelines</a> for creating and naming streams.' }}</span>
                    {{/if}}
                </div>
                <div class="settings">
                    {{!-- edit stream here --}}
                </div>
                {{ partial "subscription_creation_form" }}
            </div>
        </div>
    </div>
</div>
