{{! Client-side Mustache template for rendering subscriptions.}}
{{#with this}}
<div class="stream-row" data-stream-id="{{stream_id}}" data-stream-name="{{name}}">
    <div class="check {{#if subscribed }}checked{{/if}} sub_unsub_button">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <path d="M448,71.9c-17.3-13.4-41.5-9.3-54.1,9.1L214,344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8 c-15.6,15.5-16.4,41.6-1.7,58.1c0,0,120.4,133.6,137.7,147c17.3,13.4,41.5,9.3,54.1-9.1l206.3-301.7 C469.2,110.9,465.3,85.2,448,71.9z"/>
        </svg>
    </div>
    {{ partial "subscription_setting_icon" }}
    <div class="sub-info-box">
        <div class="top-bar">
            <div class="stream-name">{{name}}</div>
            <div class="subscriber-count" data-toggle="tooltip" title="{{t 'Subscriber count' }}">
                {{partial "subscription_count"}}
            </div>
        </div>
        <div class="bottom-bar">
            <div class="description" data-no-description="{{t 'No description.'}}">{{{rendered_description}}}</div>
            {{#if is_old_stream}}
            <div class="stream-message-count" data-toggle="tooltip" title="{{t 'Average messages per week' }}">
                <i class="fa fa-bar-chart"></i>
                <span class="stream-message-count-text">{{stream_weekly_traffic}}</span>
            </div>
            {{else}}
            <div class="stream-message-count" data-toggle="tooltip" title="{{t 'Stream created recently' }}">
                <span class="stream-message-count-text">{{t "New" }}</span>
            </div>
            {{/if}}
        </div>
    </div>
</div>
{{/with}}
