<div id="subscription_overlay" class="new-style">
    <div class="flex">
        <div class="subscriptions-container">
            <div class="subscriptions-header">
                Subscriptions
                <div class="exit">
                    <span class="exit-sign">&times;</span>
                </div>
            </div>
            <div class="left">
                <div class="search-container">
                    <form id="add_new_subscription" class="form-inline" action="">
                        <input type="text" name="stream_name" id="search_stream_name"
                          placeholder="{{t 'Filter Streams' }}" value="" autocomplete="off" />
                        {{#if can_create_streams}}
                            <input type="submit" class=""
                              id="create_stream_button" value="{{t '+' }}" />
                        {{/if}}
                        <div class="float-clear"></div>
                    </form>
                    <div class="clear-float"></div>
                </div>
                <div class="streams-list">
                    {{#each subscriptions}}
                    {{partial "subscription"}}
                    {{/each}}
                </div>
            </div>
            <div class="right">
                <div class="display-type">
                    <div id="add_new_stream_title" class="stream-info-title">Add New Stream</div>
                    <div id="stream_settings_title" class="stream-info-title">Stream Settings</div>
                </div>
                <div class="nothing-selected">
                    Nothing selected.
                </div>
                <div class="settings">
                    {{#each subscriptions}}
                    {{ partial "subscription_settings" }}
                    {{/each}}
                </div>
                {{ partial "subscription_creation_form" }}
            </div>
        </div>
    </div>
</div>
