{{! Client-side Mustache template for rendering subscriptions.}}
{{#with this}}
<div class="stream-row" data-stream="{{stream_id}}" data-stream-name="{{name}}">
    {{#if subscribed}}
    <div class="check checked sub_unsub_button"></div>
    {{else}}
    <div class="check sub_unsub_button"></div>
    {{/if}}
    {{ partial "subscription_setting_icon" }}
    <div class="sub-info-box">
        <div class="top-bar">
            <div class="stream-title">{{name}}</div>
            <div class="settings-dropdown-trigger">
                <i class="icon-vector-chevron-down"></i>
            </div>
            <div class="num-subs">
                <i class="icon-vector-user"></i>
                {{subscriber_count}}
            </div>
        </div>
        <div class="description">{{description}}</div>
    </div>
</div>
{{/with}}
