<div class="hide" id="stream-creation" tabindex="-1" role="dialog"
  aria-label="{{t 'Stream creation' }}">
    <form id="stream_creation_form" class="form-inline">
        <div class="alert stream_create_info"></div>
        <div id="stream_creating_indicator"></div>
        <div class="stream-creation-body">
            <section class="block">
                <div class="stream-title">
                    {{t "Stream name" }}
                </div>
                <input type="text" name="stream_name" id="create_stream_name"
                  placeholder="{{t 'Stream name' }}" value="" autocomplete="off" />
                <div id="stream_name_error" class="stream_creation_error"></div>
            </section>
            <section class="block">
                <div class="stream-title">
                    {{t "Stream description (optional)"}}
                </div>
                <textarea name="stream_description" id="create_stream_description"
                  placeholder="{{t 'Stream description' }}" value="" autocomplete="off"></textarea>
            </section>
            <section class="block" id="make-invite-only">
                <div class="stream-title">
                    {{t "Stream accessibility" }}
                </div>
                <div class="stream-creation-info">
                    {{#tr this}}
                    For more information on public/private streams, check out our <a target="_blank" href="https://zulip.readthedocs.io/en/latest/production/security-model.html?highlight=private#messages-and-history">docs</a>.
                    {{/tr}}
                </div>
                <ul class="grey-box">
                    <li>
                        <label class="radio">
                            <input type="radio" name="privacy" value="public" checked />
                            {{#tr this}}
                            <b>Public:</b> anyone can join; anyone can view complete message history without joining
                            {{/tr}}
                        </label>
                    </li>
                    <li>
                        <label class="radio">
                            <input type="radio" name="privacy" value="invite-only" />
                            {{#tr this}}
                            <b>Private:</b> must be invited by a member; new members can only see messages sent after they join; hidden from non-administrator users
                            {{/tr}}
                        </label>
                    </li>
                </ul>
                <div id="announce-new-stream">
                    <label class="checkbox">
                        <input type="checkbox" name="announce" value="announce" checked />
                        <span></span>
                        <div class="fa fa-bullhorn" aria-hidden="true"></div>
                        {{t "Announce stream" }}
                    </label>
                    <span class="fa fa-question-circle settings-info-icon" aria-hidden="true" id="announce-stream-docs"></span>
                </div>
            </section>
            <section class="block">
                <label class="stream-title" for="people_to_add">
                    {{t "People to add" }}
                </label>
                <div id="stream_subscription_error" class="stream_creation_error"></div>
                <div class="controls" id="people_to_add"></div>
            </section>
        </div>
        <div class="modal-footer">
            <button class="button small white rounded" data-dismiss="modal">{{t "Cancel" }}</button>
            <button class="button small sea-green rounded" type="submit">{{t "Create" }}</button>
        </div>
    </form>
</div>
