<ul id="tab_list">
    {{#each tabs}}
    <li class="{{active}} {{cls}}" {{#if data}}data-name="{{data}}"{{/if}}>
        {{#if icon}}
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        {{/if}}
        {{! Most tabs are links, but some are not since we don't have a narrow for them (e.g. Search) }}
        {{#if hash}}
            <a href="{{hash}}">{{title}}</a>
        {{else}}
            {{#if home}}
            <i class="fa fa-home" aria-hidden="true"></i>
            {{else}}
            {{title}}
            {{/if}}
        {{/if}}
    </li>
    {{/each}}
</ul>
