<ul id="tab_list">
    <li class="{{cls}}" {{#if data}}data-name="{{data}}"{{/if}}>
        {{#if icon}}
        <i class="fa fa-{{icon}}" aria-hidden="true"></i>
        {{else}}
        <span class="hash">#</span>
        {{/if}}
        {{! Most tabs are links, but some are not since we don't have a narrow for them (e.g. Search) }}
        {{#if private_stream}}<i class="fa fa-lock navbar-lock"></i>{{/if}}
        {{#if settings_modal_link}}
        <a class="settings_link" href="{{settings_modal_link}}">
            {{title}}
        </a>
        {{else}}
        {{title}}
        {{/if}}
    </li>
    {{#if sub_count}}
    <li class="sub_count" data-toggle="tooltip" title="{{sub_count}} users are subscribed to #{{title}}"><i class="fa fa-user-o"></i>{{formated_sub_count}}</li>
    {{/if}}
    {{#if rendered_narrow_description}}
    <li class="narrow_description" data-toggle="tooltip" title="{{rendered_narrow_description}}">{{{rendered_narrow_description}}}</li>
    {{/if}}
    <span class="search_icon search_closed {{#if left_side_userlist}}user-list-off{{/if}}" ><i class="fa fa-search" aria-hidden="true"></i></span>
</ul>
