<ul id="tab_list">
    {{#each tabs}}
    <li class="{{active}} {{cls}}" {{#if data}}data-name="{{data}}"{{/if}}>
        {{#if icon}}
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        {{/if}}
        {{! Most tabs are links, but some are not since we don't have a narrow for them (e.g. Search) }}
        {{#if hash}}
            <a href="{{hash}}"><span class="hash">#</span> <i class="fa fa-lock"></i> {{title}}</a>
        {{else}}
            {{#if home}}
            <i class="fa fa-home" aria-hidden="true"></i>
            {{else}}
            <span class="hash">#</span> <i class="fa fa-lock"></i> {{title}}
            {{/if}}
        {{/if}}
    </li>
    {{/each}}
    <li class="number_of_users"><i class="fa fa-user-o"></i> 50</li>
    <li class="stream_description">This is the stream description.</li>
</ul>
