<span id="tab_list">
    <span {{#if extra_class}}class="{{extra_class}}"{{/if}} {{#if data}}data-name="{{data}}"{{/if}}>
        {{#if icon}}
        <i class="fa fa-{{icon}}" aria-hidden="true"></i>
        {{/if}}
        {{#if stream_settings_link}}
        <a class="settings_link" href="{{stream_settings_link}}">{{title}}</a>
        {{else}}
        {{title}}
        {{/if}}
    </span>
    {{#if sub_count}}
    <span class="sub_count" data-toggle="tooltip" title="{{sub_count}} users are subscribed to #{{title}}"><i class="fa fa-user-o"></i>{{formatted_sub_count}}</span>
    {{/if}}
    {{#if rendered_narrow_description}}
    <span class="narrow_description" data-toggle="tooltip" title="{{rendered_narrow_description}}">{{{rendered_narrow_description}}}</span>
    {{/if}}
    <span class="search_icon search_closed" ><i class="fa fa-search" aria-hidden="true"></i></span>
</span>
