<ul class="nav nav-list topics_popover">
  <li>
    <a class="narrow_to_topic" data-stream-name="{{ stream_name}}" data-topic-name="{{ topic_name }}">
      <i class="icon-vector-bullhorn"></i>
      Narrow to topic <b>{{ topic_name }}</b>
    </a>
  </li>


  {{#if can_mute_topic}}
  <li>
    <a href="#" class="sidebar-popover-mute-topic" data-stream-name="{{ stream_name }}" data-topic-name="{{ topic_name }}">
      <i class="icon-vector-eye-close"></i>
      Mute the topic <b>{{ topic_name }}</b>
    </a>
  </li>
  {{/if}}

  {{#if can_unmute_topic}}
  <li>
    <a href="#" class="sidebar-popover-unmute-topic" data-stream-name="{{ stream_name }}" data-topic-name="{{ topic_name }}">
      <i class="icon-vector-eye-open"></i>
      Unmute the topic <b>{{ topic_name }}</b>
    </a>
  </li>
  {{/if}}
  <li>
    <a class="sidebar-popover-mark-topic-read" data-stream-name="{{ stream_name }}" data-topic-name="{{ topic_name }}">
      <i class="icon-vector-book"></i>
      Mark all messages in <b>{{topic_name}}</b> as read
    </a>
  </li>


</ul>
