<ul class="nav nav-list topics_popover">
    <li>
        <a class="narrow_to_topic" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="icon-vector-bullhorn"></i>
            {{#tr this}}Narrow to topic <b>__topic_name__</b>{{/tr}}
        </a>
    </li>


    {{#if can_mute_topic}}
    <li>
        <a href="#" class="sidebar-popover-mute-topic" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="icon-vector-eye-close"></i>
            {{#tr this}}Mute the topic <b>__topic_name__</b>{{/tr}}
        </a>
    </li>
    {{/if}}

    {{#if can_unmute_topic}}
    <li>
        <a href="#" class="sidebar-popover-unmute-topic" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="icon-vector-eye-open"></i>
            {{#tr this}}Unmute the topic <b>__topic_name__</b>{{/tr}}
        </a>
    </li>
    {{/if}}
    <li>
        <a class="sidebar-popover-mark-topic-read" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="icon-vector-book"></i>
            {{#tr this}}Mark all messages in <b>__topic_name__</b> as read{{/tr}}
        </a>
    </li>


</ul>
