<ul class="nav nav-list topics_popover">
    <li>
        <a class="narrow_to_topic" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
            {{#tr this}}Narrow to topic <b>__topic_name__</b>{{/tr}}
        </a>
    </li>


    {{#if can_mute_topic}}
    <li>
        <a href="#" class="sidebar-popover-mute-topic" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
            {{#tr this}}Mute the topic <b>__topic_name__</b>{{/tr}}
        </a>
    </li>
    {{/if}}

    {{#if can_unmute_topic}}
    <li>
        <a href="#" class="sidebar-popover-unmute-topic" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="fa fa-eye" aria-hidden="true"></i>
            {{#tr this}}Unmute the topic <b>__topic_name__</b>{{/tr}}
        </a>
    </li>
    {{/if}}
    <li>
        <a class="sidebar-popover-mark-topic-read" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="fa fa-book" aria-hidden="true"></i>
            {{#tr this}}Mark all messages in <b>__topic_name__</b> as read{{/tr}}
        </a>
    </li>

    {{#if is_admin}}
    <li>
        <a class="sidebar-popover-delete-topic-messages" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="fa fa-trash" aria-hidden="true"></i>
            {{#tr this}}Delete all messages in <b>__topic_name__</b>{{/tr}}
        </a>
    </li>
    {{/if}}

</ul>
