<li class='bottom_left_row {{#if is_active_topic}}active-sub-filter{{/if}} {{#if is_zero}}zero-topic-unreads{{/if}} {{#if is_muted}}muted_topic{{/if}} topic-list-item' data-topic-name='{{topic_name}}'>
    <span class='topic-box'>
        <a href='{{url}}' class="topic-name" title="{{topic_name}}">
            {{topic_name}}
        </a>
        <div class="topic-unread-count {{#if is_zero}}zero_count{{/if}}">
            <div class="value">{{unread}}</div>
        </div>
    </span>
    <span class="topic-sidebar-menu-icon">
        <i class="zulip-icon ellipsis-v-solid" aria-hidden="true"></i>
    </span>
</li>
