<tr data-topic-name="{{topic_name}}" data-stream-id="{{stream_id}}">
    <td style="width: 150px; text-align: center;">
        <a href="{{stream_url}}">{{stream_name}}</a>
    </td>
    <td style="width: 250px; text-align: center;">
        <a href="{{topic_url}}">{{topic_name}}</a>
    </td>
    <td style="width: 150px; text-align: center;">
        <span>{{muted_datetime}}</span>
    </td>
</tr>
