<ul class="nav nav-list topics_popover">
    <li>
        <p class="topic-name">
            <i class="fa fa-chevron-right" aria-hidden="true" style="color: {{color}}"></i>
            <b>{{topic_name}}</b>
        </p>
    </li>

    <hr>

    {{! tabindex="0" Makes anchor tag focusable. Needed for keyboard support. }}
    <li>
        <a tabindex="0" class="narrow_to_topic" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
            {{t "Narrow to topic"}}
        </a>
    </li>


    {{#if can_mute_topic}}
    <li>
        <a tabindex="0" class="sidebar-popover-mute-topic" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="fa fa-bell-slash" aria-hidden="true"></i>
            {{t "Mute topic"}}
        </a>
    </li>
    {{/if}}

    {{#if can_unmute_topic}}
    <li>
        <a tabindex="0" class="sidebar-popover-unmute-topic" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="fa fa-bell" aria-hidden="true"></i>
            {{t "Unmute topic"}}
        </a>
    </li>
    {{/if}}
    <li>
        <a tabindex="0" class="sidebar-popover-mark-topic-read" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="fa fa-book" aria-hidden="true"></i>
            {{t "Mark all messages as read"}}
        </a>
    </li>

    {{#if is_realm_admin}}

    <div class="admin-separator">{{#tr this}}ADMIN ACTIONS{{/tr}}</div>

    <li>
        <a tabindex="0" class="sidebar-popover-delete-topic-messages" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="fa fa-trash" aria-hidden="true"></i>
            {{t "Delete all messages in topic"}}
        </a>
    </li>
    {{/if}}

    {{#if is_realm_admin}}
    <li>
        <a tabindex="0" class="sidebar-popover-move-topic-messages" data-stream-id="{{ stream_id }}" data-topic-name="{{ topic_name }}">
            <i class="fa fa-arrows" aria-hidden="true"></i>
            {{t "Move topic"}}
        </a>
    </li>
    {{/if}}

</ul>
