<div id="user-info-form-modal" class="modal modal-bg hide fade" tabindex="-1" role="dialog" aria-labelledby="user-info-form-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{t 'Close' }}"><span aria-hidden="true">&times;</span></button>
        {{#if is_bot}}
        <h3 id="user-info-form-modal-label">{{t "Change bot info and owner" }}</h3>
        {{else}}
        <h3 id="user-info-form-modal-label">{{t "Change user info and roles" }}</h3>
        {{/if}}
    </div>
    <div class="modal-body">
        <div id="user-name-form" data-user-id="{{user_id}}">
            <form class="form-horizontal name-setting">
                <input type="hidden" name="is_full_name" value="true" />
                <div class="input-group name_change_container">
                    <label for="full_name">{{t "Full name" }}</label>
                    <input type="text" autocomplete="off" name="full_name" value="{{ full_name }}" />
                </div>
                <div class="input-group email_change_container">
                    <label for="email">{{t "Email" }}</label>
                    <input type="text" autocomplete="off" name="email" value="{{ email }}" readonly/>
                </div>
                {{#if is_bot}}
                <div class="input-group edit_bot_owner_container">
                    <label for="bot_owner_select">{{t "Owner" }}</label>
                </div>
                {{else}}
                <div class="input-group">
                    <label class="input-label" for="user-role-select">{{t 'User role' }}</label>
                    <select name="user-role-select" id="user-role-select">
                        <option value="guest" {{#if is_guest}}selected{{/if}}>{{t 'Guest'}}</option>
                        <option value="regular" {{#if is_member}}selected{{/if}}>{{t 'Member' }}</option>
                        <option value="admin" {{#if is_admin}}selected{{/if}}>{{t 'Administrator' }}</option>
                    </select>
                </div>
                <div class="custom-profile-field-form"></div>
                {{/if}}
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="button rounded sea-green submit_user_info_change">{{t 'Save changes' }}</button>
        <button type="button" class="button rounded reset_edit_user" data-dismiss="modal">{{t "Cancel" }}</button>
    </div>
</div>
