<div id="user-profile-modal" class="modal modal-bg fade" tabindex="-1"
  role="dialog" aria-labelledby="user_profile_modal_label" aria-hidden="true">
    <div class="modal-body" id="user-profile-modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{t 'Close' }}">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="user-profile-modal-avatar" style="background-image: url('{{user_avatar}}');" ></div>
        <div class="user-profile-modal-name-email-section">
            <div class="user-profile-modal-name">
                {{full_name}}
                {{#if is_me}}
                <a href="/#settings/your-account">
                    <i class="fa fa-edit user-profile-modal-edit-button" aria-hidden="true"></i>
                </a>
                {{/if}}
            </div>
            <div class="user-profile-modal-email">
                {{email}}
            </div>
        </div>
        <hr class="user-profile-modal-hr">
        {{#if profile_data}}
        {{/if}}
        <div class="user-profile-modal-content">
            {{#each profile_data}}
                {{#if this}}
                <div class="user-profile-key-value-section">
                    <div class="user-profile-modal-field-name">{{@key}}:</div>
                    <div class="user-profile-modal-field-value">{{this}}</div>
                </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
