{{! Contents of the "message info" popup }}
<ul class="nav nav-list actions_popover info_popover_actions" data-user-id="{{user_id}}">
    <div class="popover_info">
        <li class="user_{{presence_status}}">
            <b>{{user_full_name}}</b>
            {{#if is_active }}
                {{#if is_bot}}
                <i class="zulip-icon bot" aria-hidden="true"></i>
                {{else}}
                <span class="user-status-indicator popover_user_presence" title="{{user_last_seen_time_status}}"></span>
                {{/if}}
            {{/if}}
        </li>

        {{#if is_active }}
        <li class="user_popover_email">
            <i class="fa fa-clone hide_copy_icon" data-clipboard-text="{{ user_email }}"></i>
            {{ user_email }}
            <div class="tooltip_holder">
                <span class="email_tooltip">{{ user_email }}</span>
            </div>
        </li>
        {{else}}
        <li class="user_popover_email half-opacity italic">{{#tr this}}(This user has been deactivated){{/tr}}</li>
        {{/if}}

        {{#if user_time}}
        <li>{{ user_time }} {{#tr this}}Local time{{/tr}}</li>
        {{/if}}
    </div>
    <hr />
    {{#if is_active}}
        {{#unless is_me}}
        <li>
            <a href="#" class="{{ private_message_class }}">
                <i class="fa fa-envelope" aria-hidden="true"></i> {{#tr this}}Send private message{{/tr}} {{#if is_sender_popover}}<span class="hotkey-hint">(R)</span>{{/if}}
            </a>
        </li>
        {{/unless}}
    {{/if}}
    {{#if is_me}}
    <li>
        <a href="/#settings/your-account">
            <i class="icon-vector-user" aria-hidden="true"></i> {{#tr this}}Edit your profile{{/tr}}
        </a>
    </li>
    {{/if}}
    {{#unless is_me}}
    <li>
        <a class="mention_user">
            <i class="fa fa-at" aria-hidden="true"></i> {{#tr this}}Reply mentioning user{{/tr}} {{#if is_sender_popover}}<span class="hotkey-hint">(@)</span>{{/if}}
        </a>
    </li>
    {{/unless}}
    <hr />
    {{#unless is_me}}
    <li>
        <a href="{{ pm_with_uri }}" class="narrow_to_private_messages">
            <i class="icon-vector-user"></i> {{#tr this}}View private messages{{/tr}}
        </a>
    </li>
    {{/unless}}
    <li>
        <a href="{{ sent_by_uri }}" class="narrow_to_messages_sent">
            <i class="icon-vector-bullhorn"></i> {{#tr this}}View messages sent{{/tr}}
        </a>
    </li>
</ul>
