<li data-user-id="{{user_id}}" class="user_sidebar_entry {{#if num_unread}} user-with-count {{/if}} narrow-filter {{#if faded}} user-fade {{/if}}">
    <div class="selectable_sidebar_block">
        <span class="{{user_circle_class}} user_circle"></span>
        <a class="user-presence-link"
          href="{{href}}"
          data-user-id="{{user_id}}"
          data-name="{{name}}">
            {{name}}
            {{#if my_user_status}}
            <span class="my_user_status">{{my_user_status}}</span>
            {{/if}}
        </a>
        <span class="count"><span class="value">{{#if num_unread}}{{num_unread}}{{/if}}</span></span>
    </div>
    <span class="user-list-sidebar-menu-icon"><i class="zulip-icon ellipsis-v-solid" aria-hidden="true"></i></span>
</li>
