{{! Contents of the "message info" popup }}
<nav class="popover-menu info_popover_actions" id="user_info_popover" data-user-id="{{user_id}}">
    <ul class="popover-menu__list">
    {{#if is_active }}
        {{#if show_email}}
        {{!-- This div is added to enable interactivity for tooltip - https://atomiks.github.io/tippyjs/v5/accessibility/#interactivity --}}
        <div>
            <li class="popover-menu__text-item user_popover_email">
                <i class="fa fa-clone hide_copy_icon" data-clipboard-text="{{ user_email }}"></i>
                {{ user_email }}
            </li>
        </div>
        {{/if}}
    {{else}}
        <li class="popover-menu__text-item user_popover_email half-opacity italic">{{#if is_bot}}{{#tr}}This bot has been deactivated.{{/tr}}{{else}}{{#tr}}This user has been deactivated.{{/tr}}{{/if}}</li>
    {{/if}}

    {{!-- Display selected custom profile fields in this popover. --}}
    {{#each display_profile_fields}}
            {{#if this.is_link}}
            <li data-type="{{this.type}}" class="popover-menu__link-item field-section custom_user_field" data-field-id="{{this.id}}">
                <a tabindex="0" href="{{this.value}}" target="_blank" rel="noopener noreferrer" class="value custom_profile_fields_link tippy-zulip-tooltip" data-tippy-content="{{this.name}}">{{this.value}}</a>
            </li>
            {{else if this.is_external_account}}
            <li data-type="{{this.type}}" class="popover-menu__link-item field-section custom_user_field" data-field-id="{{this.id}}">
                <a tabindex="0" href="{{this.link}}" target="_blank" rel="noopener noreferrer" class="value custom_profile_fields_link tippy-zulip-tooltip" data-tippy-content="{{this.name}}">
                    {{#if (eq this.subtype "github") }}
                    <i class="fa fa-github" aria-hidden="true"></i>
                    {{else if (eq this.subtype "twitter") }}
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    {{/if}}
                    {{this.value}}
                </a>
            </li>
            {{else}}
            <li data-type="{{this.type}}" class="popover-menu__text-item field-section custom_user_field" data-field-id="{{this.id}}">
                {{#if this.rendered_value}}
                <span class="value rendered_markdown tippy-zulip-tooltip" data-tippy-content="{{this.name}}">{{rendered_markdown this.rendered_value}}</span>
                {{else}}
                <span class="value tippy-zulip-tooltip" data-tippy-content="{{this.name}}">{{this.value}}</span>
                {{/if}}
            </li>
            {{/if}}
    {{/each}}

        <li class="popover-menu__text-item only-visible-for-spectators">{{#tr}}Joined {date_joined}{{/tr}}</li>
        {{#if (and user_time is_active)}}
            <li class="popover-menu__text-item hidden-for-spectators local_time">{{#tr}}{user_time} local time{{/tr}}</li>
        {{/if}}

    </ul>

    {{#if is_me}}
        <ul class="popover-menu__list">
        <li class="popover-menu__link-item">
            <a tabindex="0" class="update_status_text">
                <i class="fa fa-comments" aria-hidden="true"></i>
                {{#if status_text}}
                    {{#tr}}Edit status{{/tr}}
                {{else}}
                    {{#tr}}Set a status{{/tr}}
                {{/if}}
            </a>
        </li>
        {{#if invisible_mode}}
        <li class="popover-menu__link-item">
            <a tabindex="0" class="invisible_mode_turn_off">
                <i class="fa fa-circle-o" aria-hidden="true"></i> {{#tr}}Turn off invisible mode{{/tr}}
            </a>
        </li>
        {{else}}
        <li class="popover-menu__link-item">
            <a tabindex="0" class="invisible_mode_turn_on">
                <i class="fa fa-circle-o" aria-hidden="true"></i> {{#tr}}Go invisible{{/tr}}
            </a>
        </li>
        {{/if}}
        </ul>
    {{/if}}


    {{#unless spectator_view}}
        <ul class="popover-menu__list">
        <li class="popover-menu__link-item">
            <a tabindex="0" class="view_full_user_profile">
                {{#if is_me}}
                    <i class="fa fa-user" aria-hidden="true"></i> {{#tr}}View your profile{{/tr}}
                {{else}}
                    <i class="fa fa-user" aria-hidden="true"></i> {{#tr}}View profile{{/tr}}
                {{/if}}
            </a>
        </li>
        {{#if can_send_private_message}}
            <li class="popover-menu__link-item">
                <a tabindex="0" class="{{ private_message_class }}">
                    <i class="fa fa-comment" aria-hidden="true"></i> {{#tr}}Send private message{{/tr}} {{#if is_sender_popover}}<span class="hotkey-hint">(R)</span>{{/if}}
                </a>
            </li>
        {{/if}}
        {{#unless is_me}}
        <li class="popover-menu__link-item">
            {{#if has_message_context}}
            <a tabindex="0" class="mention_user">
                <i class="fa fa-at" aria-hidden="true"></i>
                {{#if is_bot}}{{#tr}}Reply mentioning bot{{/tr}}{{else}}{{#tr}}Reply mentioning user{{/tr}}{{/if}}
                {{#if is_sender_popover}}<span class="hotkey-hint">(@)</span>{{/if}}
            </a>
            {{else}}
            <a tabindex="0" class="copy_mention_syntax" data-clipboard-text="{{ user_mention_syntax }}">
                <i class="fa fa-at" aria-hidden="true"></i>
                {{#tr}}Copy mention syntax{{/tr}}
                {{#if is_sender_popover}}<span class="hotkey-hint">(@)</span>{{/if}}
            </a>
            {{/if}}
        </li>
        {{/unless}}
        {{#if is_me}}
        <li class="popover-menu__link-item">
            <a href="/#settings/profile">
                <i class="fa fa-edit" aria-hidden="true"></i> {{#tr}}Edit your profile{{/tr}}
            </a>
        </li>
        {{/if}}
        </ul>
        <ul class="popover-menu__list">
        <li class="popover-menu__link-item">
            <a href="{{ pm_with_url }}" class="narrow_to_private_messages">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                {{#if is_me}}
                    {{#tr}}View messages with yourself{{/tr}}
                {{else}}
                    {{#tr}}View private messages{{/tr}}
                {{/if}}
            </a>
        </li>
        <li class="popover-menu__link-item">
            <a href="{{ sent_by_uri }}" class="narrow_to_messages_sent">
                <i class="fa fa-paper-plane" aria-hidden="true"></i> {{#tr}}View messages sent{{/tr}}
            </a>
        </li>
        </ul>
    {{/unless}}
    {{#if show_manage_menu}}
    <ul class="popover-menu__list">
    {{#if can_mute }}
    <li class="popover-menu__link-item">
        <a tabindex="0" class="sidebar-popover-mute-user">
            <i class="fa fa-eye-slash" aria-hidden="true"></i> {{#tr}}Mute this user{{/tr}}
        </a>
    </li>
    {{/if}}
    {{#if can_unmute}}
    <li class="popover-menu__link-item">
        <a tabindex="0" class="sidebar-popover-unmute-user">
            <i class="fa fa-eye" aria-hidden="true"></i> {{#tr}}Unmute this user{{/tr}}
        </a>
    </li>
    {{/if}}
    {{#if can_manage_user}}
        {{#if is_active}}
        <li class="popover-menu__link-item">
            <a tabindex="0" class="sidebar-popover-manage-user">
                <i class="fa fa-edit" aria-hidden="true"></i> {{#if is_bot}}{{#tr}}Manage this bot{{/tr}}{{else}}{{#tr}}Manage this user{{/tr}}{{/if}}
            </a>
        </li>
        {{else}}
        <li class="popover-menu__link-item">
            <a tabindex="0" class="sidebar-popover-reactivate-user">
                <i class="fa fa-user-plus" aria-hidden="true"></i> {{#if is_bot}}{{#tr}}Reactivate this bot{{/tr}}{{else}}{{#tr}}Reactivate this user{{/tr}}{{/if}}
            </a>
        </li>
        {{/if}}
    {{/if}}
    </ul>
    {{/if}}
</nav>
