{{! User Presence rows }}
{{#each users}}
<li data-email="{{email}}" class="user_sidebar_entry narrow-filter user_{{type}}">
  <span class="selectable_sidebar_block">
    <span class="user-status-indicator"></span>
      <a href="#" data-email="{{email}}" data-name="{{name}}" title="{{name}} {{type_desc}}"
         class="{{#if my_fullname}} my_fullname{{/if}}">{{name}}</a>
  </span>
  <span class="count"><span class="value"></span></span>
  <span class="arrow"><i class="icon-vector-chevron-down"></i></span>
</li>
{{/each}}
