<li data-user-id="{{user_id}}" class="user_sidebar_entry {{#if num_unread}} user-with-count {{/if}} narrow-filter {{#if faded}} user-fade {{/if}}">
    <div class="selectable_sidebar_block">
        <span class="{{user_circle_class}} user_circle"></span>
        <a class="user-presence-link"
          href="{{href}}"
          data-user-id="{{user_id}}"
          data-name="{{name}}">
            {{name}}
            {{#if my_user_status}}
            <span class="my_user_status">{{my_user_status}}</span>
            {{/if}}
        </a>
        {{#if status_emoji_info}}
            {{#if status_emoji_info.emoji_alt_code}}
                <div class="emoji_alt_code">&nbsp:{{status_emoji_info.emoji_name}}:</div>
            {{else}}
                {{#if status_emoji_info.url}}
                <img src="{{status_emoji_info.url}}" class="emoji status_emoji" />
                {{else}}
                <div class="emoji status_emoji emoji-{{status_emoji_info.emoji_code}}"></div>
                {{/if}}
            {{/if}}
        {{/if}}
        <span class="count"><span class="value">{{#if num_unread}}{{num_unread}}{{/if}}</span></span>
    </div>
    <span class="user-list-sidebar-menu-icon"><i class="zulip-icon ellipsis-v-solid" aria-hidden="true"></i></span>
</li>
