{{! Contents of the "message info" popup }}
<ul class="nav nav-list actions_popover info_popover_actions" data-user-id="{{user_id}}">
    <div class="popover_info">
        <li>
            <b>{{user_full_name}}</b>
            {{#if is_active }}
                {{#if is_bot}}
                <i class="zulip-icon bot" aria-hidden="true"></i>
                {{else}}
                <span class="{{user_circle_class}} user_circle popover_user_presence" title="{{user_last_seen_time_status}}"></span>
                {{/if}}
            {{/if}}
        </li>


        {{#if is_active }}
            {{#if show_email}}
            <li class="user_popover_email">
                <i class="fa fa-clone hide_copy_icon" data-clipboard-text="{{ user_email }}"></i>
                {{ user_email }}
                <div class="tooltip_holder">
                    <span class="email_tooltip">{{ user_email }}</span>
                </div>
            </li>
            {{/if}}
        {{else}}
            <li class="user_popover_email half-opacity italic">{{#tr this}}(This user has been deactivated){{/tr}}</li>
        {{/if}}


        {{#if user_time}}
        <li>{{ user_time }} {{#tr this}}Local time{{/tr}}</li>
        {{/if}}

        {{#if is_bot}}
            {{#if bot_owner}}
                <li>{{#tr this}}Owner{{/tr}}:
                    <span class="bot-owner-name view_user_profile" data-user-id='{{ bot_owner.user_id }}'>
                        {{bot_owner.full_name}}
                    </span>
                </li>
            {{else}}
                {{#if is_cross_realm_bot}}
                <li>{{#tr this}}System bot{{/tr}}</li>
                {{else}}
                <li>{{#tr this}}Bot{{/tr}}</li>
                {{/if}}
            {{/if}}
        {{else}}
            <li>{{ user_type }}</li>
        {{/if}}
    </div>

    {{#if is_me}}
        <hr>
        {{#if can_set_away}}
        <li>
            <a tabindex="0" class="set_away_status">
                <i class="fa fa-minus-circle" aria-hidden="true"></i> {{#tr this}}set yourself as unavailable{{/tr}}
            </a>
        </li>
        {{/if}}
        {{#if can_revoke_away}}
        <li>
            <a tabindex="0" class="revoke_away_status">
                <i class="fa fa-minus-circle" aria-hidden="true"></i> {{#tr this}}Set yourself as active{{/tr}}
            </a>
        </li>
        {{/if}}
        <li>
            <a tabindex="0" class="update_status_text">
                <i class="fa fa-comments" aria-hidden="true"></i>
                {{#if status_text}}
                       
                    {{#tr this}}Edit status message{{/tr}}
                {{else}}
                    {{#tr this}}Set a status message{{/tr}}
                {{/if}}
            </a>
        </li>
    {{/if}}

    {{#if status_text}}
        {{#unless is_me}}<hr>{{/unless}}
        <li class="user_info_status_text">
            <span id="status_message">
                {{status_text}}
                {{#if is_me}}(<a tabindex="0" class="clear_status">{{#tr this}}clear{{/tr}}</a>){{/if}}
            </span>
        </li>
    {{/if}}

    <hr>
    {{#if show_user_profile}}
    <li>
        <a tabindex="0" class="view_full_user_profile">
            {{#if is_me}}
                <i class="fa fa-user" aria-hidden="true"></i> {{#tr this}}View your profile{{/tr}}
            {{else}}
                <i class="fa fa-user" aria-hidden="true"></i> {{#tr this}}View full profile{{/tr}}
            {{/if}}
        </a>
    </li>
    {{/if}}
    {{#if is_active}}
        {{#unless is_me}}
        <li>
            <a tabindex="0" class="{{ private_message_class }}">
                <i class="fa fa-envelope" aria-hidden="true"></i> {{#tr this}}Send private message{{/tr}} {{#if is_sender_popover}}<span class="hotkey-hint">(R)</span>{{/if}}
            </a>
        </li>
        {{/unless}}
    {{/if}}
    {{#unless is_me}}
    <li>
        {{#if has_message_context}}
        <a tabindex="0" class="mention_user">
            <i class="fa fa-at" aria-hidden="true"></i>
            {{#tr this}}Reply mentioning user{{/tr}}
            {{#if is_sender_popover}}<span class="hotkey-hint">(@)</span>{{/if}}
        </a>
        {{else}}
        <a tabindex="0" class="copy_mention_syntax" data-clipboard-text="{{ user_mention_syntax }}">
            <i class="fa fa-at" aria-hidden="true"></i>
            {{#tr this}}Copy mention syntax{{/tr}}
            {{#if is_sender_popover}}<span class="hotkey-hint">(@)</span>{{/if}}
        </a>
        {{/if}}
    </li>
    {{/unless}}
    {{#if is_me}}
    <li>
        <a href="/#settings/your-account">
            <i class="fa fa-edit" aria-hidden="true"></i> {{#tr this}}Edit your profile{{/tr}}
        </a>
    </li>
    {{/if}}
    <hr>
    <li>
        <a href="{{ pm_with_uri }}" class="narrow_to_private_messages">
            <i class="fa fa-lock" aria-hidden="true"></i>
            {{#if is_me}}
                {{#tr this}}View private messages to myself{{/tr}}
            {{else}}
                {{#tr this}}View private messages{{/tr}}
            {{/if}}
        </a>
    </li>
    <li>
        <a href="{{ sent_by_uri }}" class="narrow_to_messages_sent">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> {{#tr this}}View messages sent{{/tr}}
        </a>
    </li>
</ul>
