<div id="user-groups-admin" class="settings-section" data-name="user-groups-admin">
    {{#unless is_admin}}
        {{#if (eq realm_user_group_edit_policy USER_GROUP_EDIT_POLICY_MEMBERS) }}
        <div class="tip">{{t 'Only group members and organization administrators can modify a group.' }}</div>
        {{else}}
        <div class="tip">{{t 'Only organization administrators can modify user groups in this organization.' }}</div>
        {{/if}}
    {{/unless}}

    {{#unless is_guest}}
        <p>
            {{#tr this}}User groups allow you to <a href="/help/mention-a-user-or-group" target="_blank" rel="noopener noreferrer">mention</a> multiple users at once. When you mention a user group, everyone in the group is notified as if they were individually mentioned.{{/tr}}
        </p>
        {{#if (or is_admin (eq realm_user_group_edit_policy USER_GROUP_EDIT_POLICY_MEMBERS))}}
        <form class="form-horizontal admin-user-group-form">
            <div class="add-new-user-group-box grey-box">
                <div class="new-user-group-form">
                    <div class="settings-section-title new-user-group-section-title no-padding">{{t "Add a new user group" }}</div>
                    <div class="alert" id="admin-user-group-status"></div>
                    <div class="inline-block">
                        <label for="user_group_name">{{t "Name" }}</label>
                        <input type="text" name="name" id="user_group_name" maxlength="100" placeholder="{{t 'marketing' }}" />
                    </div>
                    <div class="inline-block">
                        <label for="user_group_description">{{t "Description" }}</label>
                        <input type="text" name="description" id="user_group_description" maxlength="300" placeholder="{{t 'Marketing team' }}" />
                    </div>
                    <button type="submit" class="button rounded sea-green">
                        {{t 'Save' }}
                    </button>
                </div>
            </div>
        </form>
        {{/if}}
    {{/unless}}

    <div id="user-groups" class="new-style"></div>
</div>
