<li data-user-id="{{user_id}}" class="user_sidebar_entry {{#if is_current_user}}user_sidebar_entry_me {{/if}}{{#if num_unread}} user-with-count {{/if}} narrow-filter {{#if faded}} user-fade {{/if}}">
    <div class="selectable_sidebar_block">
        <span class="{{user_circle_class}} user_circle"></span>
        <a class="user-presence-link"
          href="{{href}}"
          data-user-id="{{user_id}}"
          data-name="{{name}}">
            <span class="user-name">{{name}}</span>
            {{#if status_emoji_info}}
                {{#if status_emoji_info.emoji_alt_code}}
                    <div class="emoji_alt_code">&nbsp:{{status_emoji_info.emoji_name}}:</div>
                {{else}}
                    {{#if status_emoji_info.still_url}}
                    <img src="{{status_emoji_info.still_url}}" class="emoji status_emoji" data-animated-url="{{status_emoji_info.url}}" data-still-url="{{status_emoji_info.still_url}}" />
                    {{else if status_emoji_info.url}}
                    <img src="{{status_emoji_info.url}}" class="emoji status_emoji" data-animated-url="{{status_emoji_info.url}}" data-still-url="{{status_emoji_info.still_url}}" />
                    {{else}}
                    <div class="emoji status_emoji emoji-{{status_emoji_info.emoji_code}}"></div>
                    {{/if}}
                {{/if}}
            {{/if}}
        </a>
        <span class="unread_count">{{#if num_unread}}{{num_unread}}{{/if}}</span>
    </div>
    <span class="user-list-sidebar-menu-icon"><i class="zulip-icon zulip-icon-ellipsis-v-solid" aria-hidden="true"></i></span>
</li>
