{{! Contents of the "message info" popup }}
<ul class="nav nav-list actions_popover sender_info_popover" data-user-id="{{user_id}}">
    <div class="popover_info">
        <li><b>{{user_full_name}}</b></li>
        <li class='my_email'>{{user_email}}</li>

        {{#if user_time}}
        <li>{{ user_time }} {{#tr this}}Local time{{/tr}}</li>
        {{/if}}
    </div>
    <hr />
    <li>
        <a href="#" class="{{ private_message_class }}">
            <i class="fa fa-envelope" aria-hidden="true"></i> {{#tr this}}Send private message{{/tr}}
        </a>
    </li>
    <li>
        <a class="mention_user">
            <i class="fa fa-at" aria-hidden="true"></i> {{#tr this}}Reply mentioning user{{/tr}}
        </a>
    </li>
    <hr />
    <li>
        <a href="{{ pm_with_uri }}" class="narrow_to_private_messages">
            <i class="icon-vector-user"></i> {{#tr this}}View private messages{{/tr}}
        </a>
    </li>
    <li>
        <a href="{{ sent_by_uri }}" class="narrow_to_messages_sent">
            <i class="icon-vector-bullhorn"></i> {{#tr this}}View messages sent{{/tr}}
        </a>
    </li>
</ul>
