{{! Contents of the "message info" popup }}
<section class="user-info-popover-content info_popover_actions" id="user_info_popover" data-user-id="{{user_id}}">
    {{!-- Display selected custom profile fields in this popover. --}}

    {{#if status_content_available}}
    <p class="user-info-popover-content__text-item">
        <span id="status_message">
            {{#if status_emoji_info}}
            {{#if status_emoji_info.emoji_alt_code}}
            <span class="emoji_alt_code">&nbsp:{{status_emoji_info.emoji_name}}:</span>
            {{else if status_emoji_info.url}}
            <img src="{{status_emoji_info.url}}" class="emoji status_emoji" />
            {{else}}
            <span class="emoji status_emoji emoji-{{status_emoji_info.emoji_code}}"></span>
            {{/if}}
            {{/if}}
            <span class="status_text">
                {{status_text}}
            </span>
        </span>
    </p>
    {{/if}}

    {{#if custom_user_field}}
    <ul>
        {{#each display_profile_fields}}
            <li data-type="{{this.type}}" class="user-info-popover-content__text-item field-section custom_user_field" data-field-id="{{this.id}}">
                {{#if this.is_link}}
                <i class="svg-icon svg-icon--globe"></i>
                <a tabindex="0" href="{{this.value}}" target="_blank" rel="noopener noreferrer" class="value custom_profile_fields_link tippy-zulip-tooltip" data-tippy-content="{{this.name}}">{{this.value}}</a>
                {{else if this.is_external_account}}
                <a tabindex="0" href="{{this.link}}" target="_blank" rel="noopener noreferrer" class="value custom_profile_fields_link tippy-zulip-tooltip" data-tippy-content="{{this.name}}">
                    {{#if (eq this.subtype "github") }}
                    <i class="svg-icon svg-icon--github"></i>
                    {{else if (eq this.subtype "twitter") }}
                    <i class="svg-icon svg-icon--twitter"></i>
                    {{/if}}
                    {{this.value}}
                </a>
                {{else}}
                {{#if this.rendered_value}}
                <span class="value rendered_markdown tippy-zulip-tooltip" data-tippy-content="{{this.name}}">{{rendered_markdown this.rendered_value}}</span>
                {{else}}
                <span class="value tippy-zulip-tooltip" data-tippy-content="{{this.name}}">{{this.value}}</span>
                {{/if}}
                {{/if}}
            </li>
        {{/each}}
    </ul>
    {{/if}}

    {{#if spectator_view}}
    <ul>
        <li class="user-info-popover-content__text-item only-visible-for-spectators">{{#tr}}Joined {date_joined}{{/tr}}</li>
    </ul>
    {{/if}}

    {{#if (and user_time is_active)}}
    <ul>
        <li class="user-info-popover-content__text-item hidden-for-spectators local_time">
            <i class="svg-icon svg-icon--clock"></i>
            {{#tr}}{user_time} local time{{/tr}}
        </li>
        <li class="user-info-popover-content__text-item hidden-for-spectators local_time">
            <i class="svg-icon svg-icon--past-time"></i>
            {{user_last_seen_time_status}}
        </li>
    </ul>
    {{/if}}

    {{#unless spectator_view}}
    <ul>
        <li class="user-info-popover-content__link-item">
            <a tabindex="0" class="view_full_user_profile">
                {{#if is_me}}
                <i class="svg-icon svg-icon--account"></i>
                {{#tr}}Full profile{{/tr}}
                {{else}}
                <i class="svg-icon svg-icon--account"></i>
                {{#tr}}Full profile{{/tr}}
                {{/if}}
            </a>
        </li>

        <li class="user-info-popover-content__link-item">
            <a href="{{ pm_with_url }}" class="narrow_to_private_messages">
                <i class="svg-icon svg-icon--mail"></i>
                {{#if is_me}}
                {{#tr}}Message with yourself{{/tr}}
                {{else}}
                {{#tr}}Direct message{{/tr}}
                {{/if}}
            </a>
        </li>
    </ul>

    {{#unless is_me}}
    <ul>
        <li class="user-info-popover-content__link-item">
            <a tabindex="0" class="copy_mention_syntax" data-clipboard-text="{{ user_mention_syntax }}">
                <i class="svg-icon svg-icon--at-sign"></i>
                {{#tr}}Copy mention syntax{{/tr}}
            </a>
        </li>
        <li class="user-info-popover-content__link-item">
            <a href="{{ sent_by_uri }}" class="narrow_to_messages_sent">
                <i class="svg-icon svg-icon--message-square"></i>
                {{#tr}}View messages sent{{/tr}}
            </a>
        </li>
    </ul>
    {{/unless}}

    {{#if muting_allowed}}
    {{#unless is_me}}
    <ul>
        {{#if can_mute}}
        <li class="user-info-popover-content__link-item">
            <a href="" class="narrow_to_messages_sent mute_user">
                <i class="svg-icon svg-icon--visibility-off"></i>
                {{#tr}}Mute this user{{/tr}}
            </a>
        </li>
        {{else}}
        <li class="user-info-popover-content__link-item">
            <a href="" class="narrow_to_messages_sent unmute_user">
                <i class="svg-icon svg-icon--visibility-off"></i>
                {{#tr}}Unmute this user{{/tr}}
            </a>
        </li>
        {{/if}}
    </ul>
    {{/unless}}
    {{/if}}

    {{/unless}}
</section>
