<div class="micromodal" id="user-profile-modal" data-user-id="{{user_id}}" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1">
        <div class="modal__container new-style" role="dialog" aria-modal="true" aria-labelledby="dialog_title">
            <div class="modal__header">
                <div class="tippy-zulip-tooltip" data-tippy-content="{{last_seen}}">
                    <span class="{{user_circle_class}} user_circle user_profile_presence"></span>
                </div>
                <h1 class="modal__title" id="name">
                    {{full_name}}
                    {{#if is_bot}}
                    <i class="zulip-icon zulip-icon-bot" aria-hidden="true"></i>
                    {{/if}}
                    {{#if is_me}}
                    <a href="/#settings/profile">
                        <i class="fa fa-edit" id="edit-button" aria-hidden="true"></i>
                    </a>
                    {{/if}}
                </h1>
                <button class="modal__close" aria-label="{{t 'Close modal' }}" data-micromodal-close></button>
            </div>
            <div id="tab-toggle" class="center"></div>
            <main class="modal__body" id="body" data-simplebar data-simplebar-auto-hide="false">
                <div class="tab-data">
                    <div class="tabcontent active" id="profile-tab">
                        <div class="top">
                            <div class="col-wrap col-left">
                                <div id="default-section">
                                    {{#if show_email}}
                                    <div id="email" class="default-field">
                                        <div class="name">{{#tr}}Email{{/tr}}</div>
                                        <div class="value">{{email}}</div>
                                    </div>
                                    {{/if}}
                                    <div id="user-id" class="default-field">
                                        <div class="name">{{#tr}}User ID{{/tr}}</div>
                                        <div class="value">{{user_id}}</div>
                                    </div>
                                    <div id="user-type" class="default-field">
                                        <div class="name">{{#tr}}Role{{/tr}}</div>
                                        {{#if is_bot}}
                                            {{#if is_system_bot}}
                                            <div class="value">{{#tr}}System bot{{/tr}}</div>
                                            {{else}}
                                            <div class="value">{{#tr}}Bot{{/tr}}</div>
                                            {{/if}}
                                        {{else}}
                                            <div class="value">{{user_type}}</div>
                                        {{/if}}
                                    </div>
                                    <div id="date-joined" class="default-field">
                                        <div class="name">{{#tr}}Joined{{/tr}}</div>
                                        <div class="value">{{date_joined}}</div>
                                    </div>
                                    {{#if user_time}}
                                    <div class="default-field">
                                        <div class="name">{{#tr}}Local time{{/tr}}</div>
                                        <div class="value">{{user_time}}</div>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="col-wrap col-right">
                                <div id="avatar" {{#if user_is_guest}} class="guest-avatar" {{/if}}
                                  style="background-image: url('{{user_avatar}}');">
                                </div>
                            </div>
                        </div>
                        <div class="bottom">
                            <div id="content">
                                {{#if is_bot}}
                                    <div class="field-section">
                                        <div class="name">{{#tr}}Bot type{{/tr}}</div>
                                        <div class="bot_info_value">{{bot_type}}</div>
                                    </div>
                                    {{#if bot_owner}}
                                    <div class="field-section bot_owner_user_field" data-field-id="{{bot_owner.user_id}}">
                                        <div class="name">{{#tr}}Owner{{/tr}}</div>
                                        <div class="pill-container not-editable">
                                            <div class="input" contenteditable="false" style="display: none;"></div>
                                        </div>
                                    </div>
                                    {{/if}}
                                {{else}}
                                    {{#each profile_data}}
                                        <div data-type="{{this.type}}" class="field-section custom_user_field" data-field-id="{{this.id}}">
                                            <div class="name">{{this.name}}</div>
                                            {{#if this.is_user_field}}
                                                <div class="pill-container not-editable" data-field-id="{{this.id}}">
                                                    <div class="input" contenteditable="false" style="display: none;"></div>
                                                </div>
                                            {{else if this.is_link}}
                                                <a href="{{this.value}}" target="_blank" rel="noopener noreferrer" class="value">{{this.value}}</a>
                                            {{else if this.is_external_account}}
                                                <a href="{{this.link}}" target="_blank" rel="noopener noreferrer" class="value">{{this.value}}</a>
                                            {{else}}
                                                {{#if this.rendered_value}}
                                                <div class="value rendered_markdown">{{rendered_markdown this.rendered_value}}</div>
                                                {{else}}
                                                <div class="value">{{this.value}}</div>
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                    {{/each}}
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <div class="tabcontent" id="user-profile-streams-tab">
                        <div class="stream-list-top-section">
                            <div class="header-section">
                                <h3 class="stream-list-header">{{t 'Subscribed streams' }}</h3>
                            </div>
                            <input type="text" class="stream-search" placeholder="{{t 'Filter streams' }}" />
                            <button type="button" class="clear_search_button" id="clear_stream_search">
                                <i class="fa fa-remove" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="alert stream_list_info"></div>
                        <div class="subscription-stream-list">
                            <table class="user-stream-list" data-empty="{{t 'No stream subscriptions.'}}"></table>
                        </div>
                    </div>

                    <div class="tabcontent" id="user-profile-groups-tab">
                        <div class="subscription-group-list">
                            <table class="user-group-list" data-empty="{{t 'No user group subscriptions.'}}"></table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
