{{! Contents of the "user group info" popup }}
<div class="group-info">
    {{#if is_group_active}}
    <div class="group-name"> {{group_name}} </div>
    <div class="group-description">
        {{group_description}}
    </div>
    {{else}}
    <div class="group-description">
        This user group has been deleted
    </div>
    {{/if}}
</div>
<hr />
{{#if is_group_active}}
<ul class="nav nav-list member-list" data-simplebar data-simplebar-auto-hide="false">
    {{#each members}}
    <li>
        {{#if is_active }}
            {{#if is_bot}}
            <i class="zulip-icon bot" aria-hidden="true"></i>
            {{else}}
            <span class="user_circle {{user_circle_class}}  popover_user_presence" title="{{user_last_seen_time_status}}"></span>
            {{/if}}
        {{/if}}
        <span>{{full_name}}</span>
    </li>
    {{/each}}
</ul>
{{/if}}
<hr />
<ul class="nav nav-list manage-group">
    <li>
        <a href="#organization/user-groups-admin">
            <i class="fa fa-cog" aria-hidden="true"></i>
            {{t 'Manage user groups' }}
        </a>
    </li>
</ul>
