<div zid="{{msg/id}}" id="{{table_name}}{{msg/id}}" class="message_row selectable_row">
    <div class="messagebox"
        style="box-shadow: inset 2px 0px 0px 0px, -1px 0px 0px 0px;">
        <div class="messagebox-border">
            <div class="messagebox-content">
                <div class="message_top_line">
                    <span class="message_sender sender_info_hover no-select">
                        <div class="u-{{msg/sender_id}} inline_profile_picture">
                            <img src="{{small_avatar_url}}" alt="" class="no-drag"/>
                        </div>
                        <span class="sender_name auto-select">{{msg/sender_full_name}}</span>
                    </span>
                </div>
                <div class="message_content">
                    {{{msg/content}}}
                </div>
            </div>
        </div>
    </div>
</div>
