<div>
    <label for="change_stream_name" class="modal-field-label">
        {{t 'Channel name' }}
    </label>
    <input type="text" id="change_stream_name" class="modal_text_input" name="stream_name" value="{{ stream_name }}" maxlength="{{ max_stream_name_length }}" />
</div>
<div>
    <label for="change_stream_description" class="modal-field-label">
        {{t 'Description' }}
        {{> ../help_link_widget link="/help/change-the-channel-description" }}
    </label>
    <textarea id="change_stream_description" class="settings_textarea" name="stream_description" maxlength="{{ max_stream_description_length }}">{{ stream_description }}</textarea>
</div>
