<div id="channel_folder_banner" class="banner-wrapper"></div>
<div>
    <label for="edit_channel_folder_name" class="modal-field-label">
        {{t 'Channel folder name' }}
    </label>
    <input type="text" id="edit_channel_folder_name" class="modal_text_input" name="channel_folder_name" maxlength="{{ max_channel_folder_name_length }}" value="{{name}}" {{#unless can_manage_folder}} disabled {{/unless}}/>
</div>
<div>
    <label for="edit_channel_folder_description" class="modal-field-label">
        {{t 'Description' }}
    </label>
    <textarea id="edit_channel_folder_description" class="modal-textarea" name="channel_folder_description" maxlength="{{ max_channel_folder_description_length }}" {{#unless can_manage_folder}} disabled {{/unless}}>{{~description~}}</textarea>
</div>
<div>
    <div>
        <h3 class="folder-channels-list-header">
            {{t 'Channels' }}
        </h3>
    </div>
    <div class="stream-list-container" data-folder-id="{{folder_id}}">
        <div class="stream-search-container filter-input has-input-icon has-input-button input-element-wrapper">
            <i class="input-icon zulip-icon zulip-icon-search" aria-hidden="true"></i>
            <input type="text" class="input-element stream-search" placeholder="{{t 'Filter' }}" />
            <button type="button" class="input-button input-close-filter-button icon-button icon-button-square icon-button-neutral ">
                <i class="zulip-icon zulip-icon-close" aria-hidden="true"></i>
            </button>
        </div>
        <div class="edit-channel-folder-stream-list" data-simplebar data-simplebar-tab-index="-1">
            <ul class="folder-stream-list" data-empty="{{t 'No channel in channel folder.' }}" data-search-results-empty="{{t 'No matching channels.' }}"></ul>
        </div>
    </div>
</div>
{{#if can_manage_folder}}
<div>
    <div>
        <h3 class="folder-channels-list-header">
            {{t 'Add a channel' }}
        </h3>
    </div>
    <div class="add_channel_folder_widget">
        {{> ../dropdown_widget widget_name="add_channel_folder"}}
        {{> ../components/action_button label=(t "Add") custom_classes="add-channel-button" variant="subtle" intent="brand" aria-label=(t "Add") }}
    </div>
</div>
{{/if}}
