<tr>
    <td class="panel_user_list">
        {{> ../user_display_only_pill . display_value=full_name strikethrough=soft_removed is_active=true}}
    </td>
    {{#if email}}
        <td class="subscriber-email settings-email-column {{#if soft_removed}} strikethrough {{/if}}">{{email}}</td>
    {{else}}
        <td class="hidden-subscriber-email {{#if soft_removed}} strikethrough {{/if}}">{{t "(hidden)"}}</td>
    {{/if}}
    <td>
        {{#if soft_removed}}
            <button data-user-id="{{user_id}}" class="undo_soft_removed_potential_subscriber button small rounded white">{{t 'Add' }}</button>
        {{else}}
            <button {{#if disabled}} disabled="disabled"{{/if}} data-user-id="{{user_id}}" class="remove_potential_subscriber button small rounded white">{{t 'Remove' }}</button>
        {{/if}}
    </td>
</tr>
