<tr>
    <td class="subscriber-name pill-container">
        <a data-user-id="{{user_id}}" class="view_user_profile pill-value" tabindex="0">
        <img class="pill-image" src="{{img_src}}" />
        <span class="pill-value">{{full_name}}</span>
        {{#if is_current_user}} <span class="my_user_status">{{t "(you)"}}</span>{{/if}}
    </td>
    {{#if email}}
        <td class="subscriber-email">{{email}}</td>
    {{else}}
        <td class="hidden-subscriber-email">{{t "(hidden)"}}</td>
    {{/if}}
    <td>
        <button {{#if disabled}} disabled="disabled"{{/if}} data-user-id="{{user_id}}" class="remove_potential_subscriber button small rounded white">{{t 'Remove' }}</button>
    </td>
</tr>
