<tr>
    <td>
        <a data-user-id="{{user_id}}" class="view_user_profile" tabindex="0">{{full_name}}</a>
        {{#if is_current_user}} <span class="my_user_status">{{t "(you)"}}</span>{{/if}}
    </td>
    {{#if email}}
        <td class="subscriber-email">{{email}}</td>
    {{else}}
        <td class="hidden-subscriber-email">{{t "(hidden)"}}</td>
    {{/if}}
    <td>
        <button {{#if disabled}} disabled="disabled"{{/if}} data-user-id="{{user_id}}" class="remove_potential_subscriber button small rounded white">{{t 'Remove' }}</button>
    </td>
</tr>
