<div class="subscriber_list_settings">
    <div class="subscriber_list_add float-left">
        {{> add_subscribers_form hide_add_button=true}}
    </div>
    <br />
</div>

<div class="create_stream_subscriber_list_header">
    <h4 class="stream_setting_subsection_title">{{t 'Subscribers preview' }}</h4>
    <input class="add-user-list-filter filter_text_input" name="user_list_filter" type="text"
      autocomplete="off" placeholder="{{t 'Filter' }}" />
</div>

<div class="add-subscriber-loading-spinner"></div>

<div class="subscriber-list-box">
    <div class="subscriber_list_container" data-simplebar data-simplebar-tab-index="-1">
        <table class="subscriber-list table table-striped">
            <thead class="table-sticky-headers">
                <th data-sort="alphabetic" data-sort-prop="full_name">{{t "Name" }}
                    <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                </th>
                <th class="settings-email-column" data-sort="email">{{t "Email" }}
                    <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                </th>
                <th>{{t "Action" }}</th>
            </thead>
            <tbody id="create_stream_subscribers" class="subscriber_table" data-empty="{{t 'This channel has no subscribers.' }}" data-search-results-empty="{{t 'No channel subscribers match your current filter.'}}"></tbody>
        </table>
    </div>
</div>
