<tr class="settings-subscriber-row" data-user-id="{{user_id}}" >
    <td class="panel_user_list">
        {{> ../user_display_only_pill . display_value=full_name strikethrough=soft_removed is_active=true is_bot=is_bot}}
    </td>
    {{#if email}}
        <td class="subscriber-email settings-email-column {{#if soft_removed}} strikethrough {{/if}}">{{email}}</td>
    {{else}}
        <td class="hidden-subscriber-email {{#if soft_removed}} strikethrough {{/if}}">{{t "(hidden)"}}</td>
    {{/if}}
    <td class="action-column">
        {{#if soft_removed}}
            {{> ../components/action_button custom_classes="undo_soft_removed_potential_subscriber" label=(t "Add") variant="subtle" intent="neutral" aria-label=(t "Add") }}
        {{else}}
            {{> ../components/action_button custom_classes="remove_potential_subscriber" label=(t "Remove") variant="subtle" intent="neutral" aria-label=(t "Remove") }}
        {{/if}}
    </td>
</tr>
