<div class="subscriber_list_settings">
    <div class="subscriber_list_add float-left">
        {{> add_subscribers_form}}
    </div>
    <br />


    {{t "Do you want to add everyone?"}}
    <span class="add_all_users_to_stream_btn_container">
        <button class="add_all_users_to_stream small button rounded sea-green">{{t 'Add all users'}}</button>
    </span>
</div>

<div class="create_stream_subscriber_list_header">
    <h4 class="stream_setting_subsection_title">{{t 'Subscribers' }}</h4>
    <input class="add-user-list-filter filter_text_input" name="user_list_filter" type="text"
      autocomplete="off" placeholder="{{t 'Filter subscribers' }}" />
</div>

<div class="subscriber-list-box">
    <div class="subscriber_list_container" data-simplebar>
        <table class="subscriber-list table table-striped">
            <thead class="table-sticky-headers">
                <th data-sort="alphabetic" data-sort-prop="full_name">{{t "Name" }}</th>
                <th data-sort="email">{{t "Email" }}</th>
                <th>{{t "Action" }}</th>
            </thead>
            <tbody id="create_stream_subscribers" class="subscriber_table" data-empty="{{t 'This channel has no subscribers.' }}" data-search-results-empty="{{t 'No channel subscribers match your current filter.'}}"></tbody>
        </table>
    </div>
</div>
