{{#if message}}
    {{message}}
    <br />
{{/if}}
{{#if (eq subscribed_users_count 0)}}
    {{t "All users were already subscribed."}}
    <br />
{{else}}
    {{#if subscribed_users}}
        {{#if is_total_subscriber_more_than_five }}
            {{t "{subscribed_users_count, plural,
              one {Subscribed: {subscribed_users_count} user.}
                other {Subscribed: {subscribed_users_count} users.}
            }"}}
        {{else}}
            {{t "Subscribed:" }}
            {{#each subscribed_users}}
                <a data-user-id="{{user_id}}" class="view_user_profile">{{full_name}}</a>{{#unless @last}},{{else}}.{{/unless}}
            {{/each}}
        {{/if}}
    {{/if}}
    {{#if already_subscribed_users}}
        {{#if is_total_subscriber_more_than_five }}
            {{#if already_subscribed_users_count}}
                {{t "{already_subscribed_users_count, plural,
                  one {Already subscribed: {already_subscribed_users_count} user.}
                    other {Already subscribed: {already_subscribed_users_count} users.}
                }"}}
            {{/if}}
        {{else}}
            {{#each already_subscribed_users}}
                {{#if @first}}
                {{t "Already a subscriber:" }}
                {{/if}}
                <a data-user-id="{{user_id}}" class="view_user_profile">{{full_name}}</a>{{#unless @last}},{{else}}.{{/unless}}
            {{/each}}
        {{/if}}
    {{/if}}
    <br/>
{{/if}}
{{#if ignored_deactivated_users}}
    {{#each ignored_deactivated_users}}
        {{#if @first}}
        {{t "Ignored deactivated users:" }}
        {{/if}}
        <a data-user-id="{{user_id}}" class="view_user_profile">{{full_name}}</a>{{#unless @last}},{{else}}.{{/unless}}
    {{/each}}
{{/if}}
