{{#if (not attempt_to_subscribe_users)}}
    {{#if message}}
        {{#if (eq add_class "text-success")}}
        <div class="banner-wrapper">
            <div class="banner banner-success">
                <span class="banner-label">
                    {{message}}
                </span>
            </div>
        </div>
        {{else}}
        {{message}}
        <br/>
        {{/if}}
    {{/if}}
{{else}}
    <div class="banner-wrapper">
        <div class="banner banner-success">
            <span class="banner-label">
                {{#if (eq subscribed_users_count 0)}}
                {{t "All users were already subscribed."}}
                {{else}}
                {{#if subscribed_users}}
                    {{#if is_total_subscriber_more_than_five }}
                        {{t "{subscribed_users_count, plural,
                          one {Subscribed: {subscribed_users_count} user.}
                    other {Subscribed: {subscribed_users_count} users.}
                }"}}
                    {{else}}
                        {{#if subscribe_success_messages.subscribed_users_message}}
                        {{t "Subscribed:" }} {{{subscribe_success_messages.subscribed_users_message}}}.
                        {{/if}}
                    {{/if}}
                {{/if}}
                {{#if already_subscribed_users}}
                    {{#if is_total_subscriber_more_than_five }}
                        {{#if already_subscribed_users_count}}
                            {{t "{already_subscribed_users_count, plural,
                              one {Already subscribed: {already_subscribed_users_count} user.}
                        other {Already subscribed: {already_subscribed_users_count} users.}
                    }"}}
                        {{/if}}
                    {{else}}
                        {{#if subscribe_success_messages.already_subscribed_users_message}}
                        {{t "Already a subscriber:" }} {{{subscribe_success_messages.already_subscribed_users_message}}}.
                        {{/if}}
                    {{/if}}
                {{/if}}
                <br/>
                {{/if}}
            </span>
        </div>
    </div>
{{/if}}

{{#if ignored_deactivated_users}}
    {{#each ignored_deactivated_users}}
        {{#if @first}}
        {{t "Ignored deactivated users:" }}
        {{/if}}
        <a data-user-id="{{user_id}}" class="view_user_profile">{{full_name}}</a>{{#unless @last}},{{else}}.{{/unless}}
    {{/each}}
{{/if}}
