{{!-- If setting is disabled on realm level, then render setting as control-label-disabled and do not set setting value. Setting status should not change on any click handler, as it is disabled at realm level. --}}
<div id="sub_{{setting_name}}_setting"
  class="sub_setting_checkbox
  {{#if disabled_realm_setting}}control-label-disabled
  {{else if notification_setting}}sub_notification_setting {{#if is_muted}}muted-sub{{/if}}{{/if}} new-style">
    <label class="checkbox">
        <input id="{{setting_name}}_{{stream_id}}" name="{{setting_name}}"
          class="sub_setting_control" type="checkbox"
          {{#if is_checked}}checked{{/if}}
          {{#if is_disabled}}disabled="disabled"{{/if}} />
        <span></span>
    </label>
    <label class="inline" for="{{setting_name}}_{{stream_id}}">{{label}}</label>

    {{!-- Tooltips for settings --}}
    {{#if (eq setting_name "is_muted")}}
    <p class="mute-note {{#unless is_muted}}hide-mute-note{{/unless}}">
        {{#tr}}
        Muted streams don't show up in "All messages" or generate notifications unless you are mentioned.
        {{/tr}}
    </p>
    {{/if}}
    {{#if (eq setting_name "push_notifications")}}
    <i class="fa fa-question-circle settings-info-icon {{#unless disabled_realm_setting}}hide{{/unless}} tippy-zulip-tooltip"
      data-tippy-content="{{t 'Mobile push notifications are not configured on this server.' }}">
    </i>
    {{/if}}
</div>
