<tr data-subscriber-id="{{user_id}}">
    <td class="subscriber-name pill_container">
        <a data-user-id="{{user_id}}" class="view_user_profile pill-value" tabindex="0">
        <img class="pill-image" src="{{img_src}}" />
        <span class="pill-value">{{name}}</span>
        {{#if is_current_user}} <span class="my_user_status">{{t "(you)"}}</span>{{/if}}
        {{!-- <i class="fa fa-ban deactivated-user-icon tippy-zulip-delayed-tooltip" data-tippy-content="{{t 'User is deactivated' }}" {{#if is_active}}style="display: none;"{{/if}}></i> --}}
    </td>
    {{#if email}}
    <td class="subscriber-email">{{email}}</td>
    {{else}}
    <td class="hidden-subscriber-email">{{t "(hidden)"}}</td>
    {{/if}}
    {{#if can_remove_subscribers}}
    <td class="unsubscribe">
        <div class="subscriber_list_remove">
            <form class="remove-subscriber-form">
                <button type="submit" name="unsubscribe" class="remove-subscriber-button button small rounded btn-danger">
                    {{t 'Unsubscribe' }}
                </button>
            </form>
        </div>
    </td>
    {{/if}}
</tr>
