<tr data-subscriber-id="{{user_id}}">
    <td class="subscriber-name panel_user_list">
        {{> ../user_display_only_pill . display_value=name is_active=true}}
    </td>
    {{#if email}}
    <td class="subscriber-email settings-email-column">{{email}}</td>
    {{else}}
    <td class="hidden-subscriber-email">{{t "(hidden)"}}</td>
    {{/if}}
    {{#if can_remove_subscribers}}
    <td class="unsubscribe">
        {{#if for_user_group_members}}
            {{> ../components/action_button label=(t "Remove") custom_classes="remove-subscriber-button" attention="quiet" intent="danger" aria-label=(t "Remove") }}
        {{else}}
            {{> ../components/action_button label=(t "Unsubscribe") custom_classes="remove-subscriber-button" attention="quiet" intent="danger" aria-label=(t "Unsubscribe") }}
        {{/if}}
    </td>
    {{/if}}
</tr>
