{{#render_subscribers}}
<div class="subscriber_list_settings_container" {{#unless can_access_subscribers}}style="display: none"{{/unless}}>
    <h4 class="stream_setting_subsection_title">
        {{t "Add subscribers" }}
    </h4>
    <div class="subscriber_list_settings">
        <div class="subscriber_list_add float-left">
            {{> add_subscribers_form}}
            <div class="stream_subscription_request_result"></div>
        </div>
        <div class="clear-float"></div>
    </div>
    <div>
        <h4 class="inline-block stream_setting_subsection_title">{{t "Subscribers"}}</h4>
        <span class="subscriber-search float-right">
            <input type="text" class="search filter_text_input" placeholder="{{t 'Filter subscribers' }}" />
        </span>
    </div>
    <div class="subscriber-list-box">
        <div class="subscriber_list_container" data-simplebar>
            <div class="subscriber_list_loading_indicator"></div>
            <table id="stream_members_list" class="subscriber-list table table-striped">
                <thead class="table-sticky-headers">
                    <th data-sort="alphabetic" data-sort-prop="full_name">{{t "Name" }}</th>
                    <th data-sort="email">{{t "Email" }}</th>
                    {{#if can_remove_subscribers}}
                    <th>{{t "Actions" }}</th>
                    {{/if}}
                </thead>
                <tbody class="subscriber_table" data-empty="{{t 'This channel has no subscribers.' }}" data-search-results-empty="{{t 'No channel subscribers match your current filter.'}}"></tbody>
            </table>
        </div>
    </div>
</div>
{{/render_subscribers}}
