<tr data-subscriber-id="{{user_id}}">
    <td class="subscriber-name panel_user_list">
        {{> ../user_display_only_pill display_value=name}}
    </td>
    {{#if email}}
    <td class="subscriber-email">{{email}}</td>
    {{else}}
    <td class="hidden-subscriber-email">{{t "(hidden)"}}</td>
    {{/if}}
    {{#if can_remove_subscribers}}
    <td class="unsubscribe">
        <div class="subscriber_list_remove">
            <form class="remove-subscriber-form">
                <button type="submit" name="unsubscribe" class="remove-subscriber-button button small rounded btn-danger">
                    {{#if for_user_group_members}}
                    {{t 'Remove'}}
                    {{else}}
                    {{t 'Unsubscribe' }}
                    {{/if}}
                </button>
            </form>
        </div>
    </td>
    {{/if}}
</tr>
