<div id="stream_permission_settings" class="stream-permissions {{#if is_stream_edit}}settings-subsection-parent{{/if}}">
    {{#if is_stream_edit}}
        <div class="subsection-header">
            <h3 class="stream_setting_subsection_title">{{t "Channel permissions" }}
            </h3>
            {{> ../settings/settings_save_discard_widget section_name="stream-permissions" }}
        </div>
        <div class="stream-permissions-warning-banner"></div>
    {{/if}}

    <div class="input-group stream-privacy-values">
        <div class="alert stream-privacy-status"></div>
        <label>{{t 'Who can access this channel'}}
            {{> ../help_link_widget link="/help/channel-permissions" }}
        </label>

        <div class="stream-privacy_choices prop-element" id="{{prefix}}stream_privacy" data-setting-widget-type="radio-group" data-setting-choice-type="string">
            {{#each stream_privacy_policy_values}}
                <div class="settings-radio-input-parent">
                    <label class="radio">
                        <input type="radio" name="privacy" value="{{ this.code }}" {{#if (eq this.code ../stream_privacy_policy) }}checked{{/if}} />
                        <b>{{ this.name }}:</b> {{ this.description }}
                    </label>
                </div>
            {{/each}}
        </div>
    </div>

    {{#if ask_to_announce_stream}}
        <div id="announce-new-stream">
            {{>announce_stream_checkbox . }}
        </div>
    {{/if}}

    <div class="default-stream">
        {{> ../settings/settings_checkbox
          prefix=prefix
          setting_name="is_default_stream"
          is_checked=check_default_stream
          label=(t "Default channel for new users")
          help_link="/help/set-default-channels-for-new-users"
          }}
    </div>
</div>

<div id="stream-advanced-configurations" class="advanced-configurations-container stream-permissions {{#if is_stream_edit}}settings-subsection-parent{{/if}}">
    <div class="advance-config-title-container {{#if is_stream_edit}}subsection-header{{/if}}">
        <i class="fa fa-sm fa-caret-right toggle-advanced-configurations-icon" aria-hidden="true"></i>
        <h4 class="stream_setting_subsection_title"><span>{{t 'Advanced configurations' }}</span></h4>
        {{#if is_stream_edit}}
            {{> ../settings/settings_save_discard_widget section_name="stream-permissions" }}
        {{/if}}
    </div>
    <div class="advanced-configurations-collapase-view hide">

        {{> ../settings/group_setting_value_pill_input
          setting_name="can_send_message_group"
          label=(t 'Who can post to this channel')
          prefix=prefix
          help_link="/help/stream-sending-policy" }}

        {{> ../settings/group_setting_value_pill_input
          setting_name="can_administer_channel_group"
          label=(t 'Who can administer this channel')
          label_parens_text=(t 'in addition to organization administrators')
          prefix=prefix }}

        {{> ../settings/group_setting_value_pill_input
          setting_name="can_remove_subscribers_group"
          label=(t 'Who can unsubscribe others from this channel')
          label_parens_text=(t 'in addition to organization administrators')
          prefix=prefix }}


        {{#if (or is_owner is_stream_edit)}}
            <div>
                <div class="input-group inline-block message-retention-setting-group time-limit-setting">
                    <label class="dropdown-title settings-field-label" for="{{prefix}}message_retention_days">{{t "Message retention period" }}
                        {{> ../help_link_widget link="/help/message-retention-policy" }}
                    </label>

                    {{> ../settings/upgrade_tip_widget .}}

                    <select name="stream_message_retention_setting"
                      class="stream_message_retention_setting prop-element settings_select bootstrap-focus-style"
                      id="{{prefix}}message_retention_days"
                      data-setting-widget-type="message-retention-setting">
                        <option value="realm_default">{{t "Use organization level settings {org_level_message_retention_setting}" }}</option>
                        <option value="unlimited">{{t 'Retain forever' }}</option>
                        <option value="custom_period">{{t 'Custom' }}</option>
                    </select>

                    <div class="dependent-settings-block stream-message-retention-days-input">
                        <label class="inline-block" for="{{prefix}}stream_message_retention_custom_input">
                            {{t 'Retention period (days)' }}:
                        </label>
                        <input type="text" autocomplete="off"
                          name="stream-message-retention-days"
                          class="stream-message-retention-days message-retention-setting-custom-input time-limit-custom-input"
                          id="{{prefix}}stream_message_retention_custom_input" />
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>
