<i class="buddy-list-section-toggle zulip-icon zulip-icon-heading-triangle-right {{#if is_collapsed}}rotate-icon-right{{else}}rotate-icon-down{{/if}}" aria-hidden="true"></i>
<h5 id="{{id}}" data-user-count="{{user_count}}" class="buddy-list-heading no-style hidden-for-spectators">
    <span class="buddy-list-heading-text">{{header_text}}</span>
    <span class="buddy-list-heading-user-count-with-parens">
        (<span class="buddy-list-heading-user-count">{{user_count}}</span>)
    </span>
</h5>
