<h5 id="{{id}}" class="buddy-list-heading no-style tippy-zulip-tooltip hidden-for-spectators" data-tippy-content="{{tooltip_text}}" data-tippy-placement="bottom">
    {{header_text}} ({{user_count}})
</h5>
<i class="{{toggle_class}} fa fa-sm fa-caret-down" aria-hidden="true"></i>
