{{! Contents of the "message actions" popup }}
<ul class="nav nav-list actions_popover">
  <div class="popover_info">
    <li>Sent by <b>{{message.sender_full_name}}</b></li>
    <li class='my_email'>{{message.sender_email}}</li>
    <hr />

    <li>{{message.full_date_str}}</li>
    <li>{{message.full_time_str}}</li>
    {{#if message.historical}}
    <li class="small">(Message sent when you were not subscribed)</li>
    {{/if}}
    <hr />
  </div>

  <li>
    <a class="respond_button">
      <i class="icon-share-alt"></i>
      {{#if message.is_stream}}
      Reply to this subject on stream <b>{{message.stream}}</b>
      {{else}}
      Reply to this private message
      {{/if}}
    </a>
  </li>
  {{#unless message.is_private}}
  <li>
    <a class="respond_personal_button">
      <i class="icon-user"></i> Reply to <b>{{message.sender_full_name}}</b> only
    </a>
  </li>
  {{/unless}}

  {{#if message.is_stream}}
    <li>
      <a class="popover_narrow_by_subject_button" data-msgid="{{message.id}}">
        <i class="icon-bullhorn"></i>
        Narrow to this subject on stream <b>{{message.stream}}</b>
      </a>
    </li>
  {{else}}
    <li>
      <a class="popover_narrow_by_recipient_button" data-msgid="{{message.id}}">
        <i class="icon-user"></i>
        Narrow to this private message conversation
      </a>
    </li>
  {{/if}}
    <li>
      <a class="popover_narrow_by_sender_button" data-msgid="{{message.id}}" data-sender_email="{{message.sender_email}}">
        <i class="icon-user"></i>
        Narrow to messages sent by <b>{{message.sender_full_name}}</b>
      </a>
    </li>

  {{#if narrowed}}
  <li>
    <a class="popover_narrow_by_time_travel_button" data-msgid="{{message.id}}">
      <i class="icon-time"></i> Narrow to messages around this time
    </a>
  </li>
  {{/if}}

  {{#if can_edit_message}}
  <li>
    <a class="popover_edit_message" data-msgid="{{message.id}}">
      <i class="icon-pencil"></i> Edit this message
    </a>
  </li>
  {{/if}}

  <li>
    <a class="popover_toggle_collapse" data-msgid="{{message.id}}">
      <i class="{{#if message.collapsed}}icon-plus{{else}}icon-minus{{/if}}"></i>
        {{#if message.collapsed}}Un-collapse{{else}}Collapse{{/if}} this message
    </a>
  </li>

</ul>
