<ul class='expanded_subjects' data-stream='{{stream}}'>
    {{#each subjects}}
    <li class='expanded_subject' data-name='{{subject}}'>
        <a href='#narrow/stream/{{../stream}}/subject/{{subject}}'>
          {{subject}}
          <span class="subject_count {{#if is_zero}}zero_count{{/if}}">
              (<span class="value">{{unread}}</span>)
          </span>
        </a>
    </li>
    {{/each}}
</ul>
