{{! User Presence rows }}
<li class="user_sidebar_entry user_{{type}}">
<a href="#" data-email="{{email}}" title="{{name}} {{type_desc}}"
 class="{{#if my_fullname}} my_fullname{{/if}}">{{name}}</a>
</li>
