{{#with invite}}
<tr class="invite_row">
    <td>
        {{#if is_multiuse}}
        <span class="email">
            <a href="{{link_url}}" target="_blank" rel="noopener noreferrer">
                {{t 'Invite link'}}
            </a>
        </span>
        {{else}}
        <span class="email">{{email}}</span>
        {{/if}}
    </td>
    {{#if is_admin}}
    <td>
        <span class="referred_by">
            <a data-user-id="{{invited_by_user_id}}" class="view_user_profile" tabindex="0">{{referrer_name}}</a>
        </span>
    </td>
    {{/if}}
    <td>
        <span class="invited_at">{{invited_absolute_time}}</span>
    </td>
    <td>
        {{#if expiry_date_absolute_time}}
        <span class="expires_at">{{expiry_date_absolute_time}}</span>
        {{else}}
        <span class="expires_at">{{t "Never expires"}}</span>
        {{/if}}
    </td>
    <td>
        <span>{{invited_as_text}}</span>
    </td>
    <td class="actions">
        {{#if is_multiuse}}
        <button
          class="button rounded small edit-invite btn-warning"
          {{#if disable_buttons}}disabled="disabled"{{/if}}
          data-invite-id="{{id}}"
          data-is-multiuse="{{is_multiuse}}"
          data-tippy-content="{{t 'Edit'}}"
          >
            <i class="fa fa-pencil"></i>
        </button>
        {{else}}
        <button
          class="button rounded small resend-invite btn-warning"
          {{#if disable_buttons}}disabled="disabled"{{/if}}
          data-invite-id="{{id}}"
          data-tippy-content="{{t 'Resend'}}"
          >
            <i class="fa fa-paper-plane"></i>
        </button>
        {{/if}}
        <button
          class="button rounded small revoke-invite btn-danger"
          {{#if disable_buttons}}disabled="disabled"{{/if}}
          data-invite-id="{{id}}"
          data-is-multiuse="{{is_multiuse}}"
          data-tippy-content="{{t 'Revoke'}}"
          >
            <i class="fa fa-trash"></i>
        </button>
    </td>
</tr>
{{/with}}
