{{#with invite}}
<tr class="invite_row" data-invite-id="{{id}}" data-is-multiuse="{{#unless is_multiuse}}false{{else}}true{{/unless}}">
    <td>
        {{#if is_multiuse}}
        <span class="email">
            <a href="{{link_url}}" target="_blank" rel="noopener noreferrer">
                {{t 'Invite link'}}
            </a>
        </span>
        {{else}}
        <span class="email">{{email}}</span>
        {{/if}}
    </td>
    {{#if is_admin}}
    <td>
        <span class="referred_by panel_user_list">
            {{> ../user_display_only_pill display_value=referrer_name user_id=invited_by_user_id is_active=true}}
        </span>
    </td>
    {{/if}}
    <td>
        <span class="invited_at">{{invited_absolute_time}}</span>
    </td>
    <td>
        {{#if expiry_date_absolute_time}}
        <span class="expires_at">{{expiry_date_absolute_time}}</span>
        {{else}}
        <span class="expires_at">{{t "Never expires"}}</span>
        {{/if}}
    </td>
    <td>
        <span>{{invited_as_text}}</span>
    </td>
    <td class="actions">
        {{> ../components/icon_button
          icon="trash"
          intent="danger"
          custom_classes="revoke tippy-zulip-delayed-tooltip"
          data-tippy-content=(t "Revoke")
          disabled=disable_buttons
          }}
        {{#unless is_multiuse}}
        {{> ../components/icon_button
          icon="check"
          intent="success"
          custom_classes="check hide"
          disabled=true
          }}
        {{> ../components/icon_button
          icon="send-dm"
          intent="neutral"
          custom_classes="resend tippy-zulip-delayed-tooltip"
          data-tippy-content=(t "Resend")
          disabled=disable_buttons
          }}
        {{/unless}}
    </td>
</tr>
{{/with}}
