{{#with profile_field}}
<tr class="profile-field-row movable-row" data-profile-field-id="{{id}}">
    <td>
        {{#if ../can_modify}}
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        {{/if}}
        <span class="profile_field_name">{{name}}</span>
    </td>
    <td>
        <span class="profile_field_hint">{{hint}}</span>
    </td>
    <td>
        <span class="profile_field_type">{{type}}</span>
    </td>
    <td class="display_in_profile_summary_cell">
        {{#if valid_to_display_in_summary}}
        <span class="profile_field_display_in_profile_summary">
            <label class="checkbox display_in_profile_summary_{{display_in_profile_summary}}" for="profile_field_display_in_profile_summary_{{id}}">
                <input class="display_in_profile_summary display_in_profile_summary_checkbox_{{display_in_profile_summary}}" type="checkbox" id="profile_field_display_in_profile_summary_{{id}}" {{#if display_in_profile_summary}} checked="checked" {{/if}} data-profile-field-id="{{id}}"/>
                <span></span>
            </label>
        </span>
        {{/if}}
    </td>
    {{#if ../can_modify}}
    <td class="actions">
        <button class="button rounded small btn-warning open-edit-form-modal" title="{{t 'Edit' }}" data-profile-field-id="{{id}}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="button rounded small delete btn-danger" title="{{t 'Delete' }}" data-profile-field-id="{{id}}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </td>
    {{/if}}
</tr>
{{/with}}
