{{#with linkifier}}
<tr class="linkifier_row{{#if (and ../can_modify ../can_drag)}} movable-row{{/if}}" data-linkifier-id="{{id}}">
    <td>
        {{#if (and ../can_modify ../can_drag)}}
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        {{/if}}
        <span class="linkifier_pattern">{{pattern}}</span>
    </td>
    <td>
        <span class="linkifier_url_template">{{url_template}}</span>
    </td>
    {{#if ../can_modify}}
    <td class="no-select actions">
        <button class="button small edit btn-warning" data-linkifier-id="{{id}}" title="{{t 'Edit' }}" aria-label="{{t 'Edit' }}">
            <i class="fa fa-pencil"></i>
        </button>
        <button class="button small delete btn-danger" data-linkifier-id="{{id}}" title="{{t 'Delete' }}" aria-label="{{t 'Delete' }}">
            <i class="fa fa-trash-o"></i>
        </button>
    </td>
    {{/if}}
</tr>
{{/with}}
