{{#with invite}}
<tr class="invite_row">
    <td>
        {{#if is_multiuse}}
        <span class="email">
            <a href="{{link_url}}" target="_blank" rel="noopener noreferrer">
                {{t 'Invite link'}}
            </a>
        </span>
        {{else}}
        <span class="email">{{email}}</span>
        {{/if}}
    </td>
    {{#if is_admin}}
    <td>
        <span class="referred_by panel_user_list">
            {{> ../user_display_only_pill display_value=referrer_name user_id=invited_by_user_id is_active=true}}
        </span>
    </td>
    {{/if}}
    <td>
        <span class="invited_at">{{invited_absolute_time}}</span>
    </td>
    <td>
        {{#if expiry_date_absolute_time}}
        <span class="expires_at">{{expiry_date_absolute_time}}</span>
        {{else}}
        <span class="expires_at">{{t "Never expires"}}</span>
        {{/if}}
    </td>
    <td>
        <span>{{invited_as_text}}</span>
    </td>
    <td class="actions" data-invite-id="{{id}}" data-is-multiuse="{{#unless is_multiuse}}false{{else}}true{{/unless}}">
        {{#unless is_multiuse}}
        {{> ../components/action_button
          label=(t 'Resend')
          type="quiet"
          intent="warning"
          custom_classes="resend inline-block"
          disabled=disable_buttons
          }}
        {{/unless}}
        {{> ../components/action_button
          label=(t 'Revoke')
          type="quiet"
          intent="danger"
          custom_classes="revoke inline-block"
          disabled=disable_buttons
          }}
    </td>
</tr>
{{/with}}
