<div id="edit-user-form" data-user-id="{{user_id}}">
    <form class="name-setting">
        <div class="alert" id="edit-user-form-error"></div>
        <input type="hidden" name="is_full_name" value="true" />
        <div class="input-group name_change_container">
            <label for="edit_user_full_name" class="modal-field-label">{{t "Name" }}</label>
            <input type="text" autocomplete="off" name="full_name" id="edit_user_full_name" class="modal_text_input" value="{{ full_name }}" maxlength="{{max_user_name_length}}" />
        </div>
        {{#if email}}
        <div class="input-group email_change_container">
            <label for="email" class="modal-field-label">{{t "Email" }}</label>
            <input type="text" autocomplete="off" name="email" class="modal_text_input" value="{{ email }}" readonly/>
        </div>
        {{/if}}
        <div class="input-group user_id_container">
            <label for="user_id" class="modal-field-label">{{t "User ID" }}</label>
            <input type="text" autocomplete="off" name="user_id" class="modal_text_input" value="{{ user_id }}" readonly/>
        </div>
        <div class="input-group">
            <label for="user-role-select" class="modal-field-label">{{t 'User role' }}
                {{> ../help_link_widget link="/help/user-roles" }}
            </label>
            <select name="user-role-select" class="bootstrap-focus-style modal_select" id="user-role-select" data-setting-widget-type="number" {{#if disable_role_dropdown}}disabled{{/if}}>
                {{> dropdown_options_widget option_values=user_role_values}}
            </select>
        </div>
        <div class="custom-profile-field-form"></div>
    </form>
    <div class="input-group {{#if hide_deactivate_button}}hide{{/if}}">
        {{#if is_active}}
        {{> ../components/action_button custom_classes="deactivate-user-button" attention="quiet" intent="danger" label=(t "Deactivate user") aria-label=(t "Deactivate user") }}
        {{else}}
        {{> ../components/action_button custom_classes="reactivate-user-button" attention="quiet" intent="success" label=(t "Reactivate user") aria-label=(t "Reactivate user") }}
        {{/if}}
    </div>
</div>
