{{#with profile_field}}
<tr class="profile-field-row movable-row" data-profile-field-id="{{id}}">
    <td class="profile_field_name">
        {{#if ../can_modify}}
        <span class="move-handle">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </span>
        {{/if}}
        <span class="profile_field_name">{{name}}</span>
    </td>
    <td class="profile_field_hint">
        <span class="profile_field_hint">{{hint}}</span>
    </td>
    <td>
        <span class="profile_field_type">{{type}}</span>
    </td>
    <td class="display_in_profile_summary_cell">
        {{#if valid_to_display_in_summary}}
        <span class="profile_field_display_in_profile_summary">
            <label class="checkbox display_in_profile_summary_{{display_in_profile_summary}}" for="profile_field_display_in_profile_summary_{{id}}">
                <input class="display_in_profile_summary display_in_profile_summary_checkbox_{{display_in_profile_summary}}" type="checkbox" id="profile_field_display_in_profile_summary_{{id}}" {{#if display_in_profile_summary}} checked="checked" {{/if}} data-profile-field-id="{{id}}"/>
                <span class="rendered-checkbox"></span>
            </label>
        </span>
        {{/if}}
    </td>
    <td class="required-cell">
        <span class="profile-field-required">
            <label class="checkbox" for="profile-field-required-{{id}}">
                <input class="required-field-toggle required-checkbox-{{required}}" type="checkbox" id="profile-field-required-{{id}}" {{#if required}} checked="checked" {{/if}} data-profile-field-id="{{id}}"/>
                <span class="rendered-checkbox"></span>
            </label>
        </span>
    </td>
    {{#if ../can_modify}}
    <td class="actions">
        {{> ../components/icon_button
          icon="edit"
          intent="neutral"
          custom_classes="tippy-zulip-delayed-tooltip open-edit-form-modal"
          data-tippy-content=(t "Edit")
          }}
        {{> ../components/icon_button
          icon="trash"
          intent="danger"
          custom_classes="tippy-zulip-delayed-tooltip delete"
          data-tippy-content=(t "Delete")
          aria-label=(t "Delete")
          }}
    </td>
    {{/if}}
</tr>
{{/with}}
