{{#with invite}}
<tr class="invite_row">
    <td>
        {{#if is_multiuse}}
        <span class="email">
            <a href="{{link_url}}" target="_blank" rel="noopener noreferrer">
                {{t 'Invite link'}}
            </a>
        </span>
        {{else}}
        <span class="email">{{email}}</span>
        {{/if}}
    </td>
    {{#if is_admin}}
    <td>
        <span class="referred_by panel_user_list">
            {{> ../user_display_only_pill display_value=referrer_name user_id=invited_by_user_id}}
        </span>
    </td>
    {{/if}}
    <td>
        <span class="invited_at">{{invited_absolute_time}}</span>
    </td>
    <td>
        {{#if expiry_date_absolute_time}}
        <span class="expires_at">{{expiry_date_absolute_time}}</span>
        {{else}}
        <span class="expires_at">{{t "Never expires"}}</span>
        {{/if}}
    </td>
    <td>
        <span>{{invited_as_text}}</span>
    </td>
    <td class="actions">
        {{#unless is_multiuse}}
        <button class="button rounded small resend btn-warning" {{#if disable_buttons}}disabled="disabled"{{/if}} data-invite-id="{{id}}">
            {{t "Resend" }}
        </button>
        {{/unless}}
        <button class="button rounded small revoke btn-danger" {{#if disable_buttons}}disabled="disabled"{{/if}} data-invite-id="{{id}}" data-is-multiuse="{{is_multiuse}}">
            {{t "Revoke" }}
        </button>
    </td>
</tr>
{{/with}}
