<div id="watched-phrase-settings" class="settings-section" data-name="watched-phrases">
    <form id="watched_phrase_info_box">
        <p class="watched-phrase-settings-note">
            {{t "Watched phrases allow you to be notified as if you were @-mentioned when certain words or phrases are used in Zulip. Watched phrases are not case sensitive."}}
        </p>
    </form>
    <button class="button rounded sea-green" id="open-add-watched-phrase-modal" type="button">
        {{t 'Add watched phrase'}}
    </button>

    <div class="settings_panel_list_header">
        <h3>{{t "Watched phrases"}}</h3>
    </div>
    <div class="alert" id="watched_phrase_status" role="alert">
        <button type="button" class="close close-watched-phrase-status" aria-label="{{t 'Close' }}">
            <span aria-hidden="true">&times;</span>
        </button>
        <span class="watched_phrase_status_text"></span>
    </div>
    <div class="progressive-table-wrapper" data-simplebar>
        <table class="table table-striped wrapped-table">
            <thead class="table-sticky-headers">
                <th data-sort="alphabetic" data-sort-prop="watched_phrase">{{t "Phrase" }}</th>
                <th class="actions">{{t "Actions" }}</th>
            </thead>
            <tbody id="watched-phrases-table" class="watched-phrases-table"
              data-empty="{{t 'There are no current watched phrases.' }}"></tbody>
        </table>
    </div>
</div>
