<div id="attachments-settings" class="settings-section" data-name="uploaded-files">
    <div id="attachment-stats-holder"></div>
    <div class="settings_panel_list_header">
        <h3>{{t "Uploaded files"}}</h3>
        <input id="upload_file_search" class="search filter_text_input" type="text" placeholder="{{t 'Filter uploaded files' }}" aria-label="{{t 'Filter uploads' }}"/>
    </div>
    <div class="clear-float"></div>
    <div class="alert" id="delete-upload-status"></div>
    <div class="progressive-table-wrapper" data-simplebar>
        <table class="table table-striped wrapped-table">
            <thead class="table-sticky-headers">
                <th data-sort="alphabetic" data-sort-prop="name" class="upload-file-name">{{t "File" }}</th>
                <th class="active upload-date" data-sort="numeric" data-sort-prop="create_time">{{t "Date uploaded" }}</th>
                <th class="upload-mentioned-in" data-sort="mentioned_in">{{t "Mentioned in" }}</th>
                <th class="upload-size" data-sort="numeric" data-sort-prop="size">{{t "Size" }}</th>
                <th class="upload-actions actions">{{t "Actions" }}</th>
            </thead>
            <tbody class="required-text" data-empty="{{t 'You have not uploaded any files.' }}"
              id="uploaded_files_table"></tbody>
        </table>
    </div>
    <div id="attachments_loading_indicator"></div>
</div>
