{{#if (eq realm_bot_creation_policy permission_type.admins_only.code)}}
    <div class='tip'>{{t "This organization is configured so that only administrators can add bots." }}</div>
{{else if (eq realm_bot_creation_policy permission_type.restricted.code) }}
    <div class='tip'>{{t "This organization is configured so that only administrators can add generic bots." }}</div>
{{else}}
    <div class='tip'>{{t "This organization is configured so that anyone can add bots." }}</div>
{{/if}}
