<div id="admin-bot-list" class="settings-section" data-name="bot-list-admin">
    <div class="bot-settings-tip" id="admin-bot-settings-tip">
    </div>
    <div class="clear-float"></div>
    <div>
        {{t "You are viewing all the bots in this organization." }}
        {{#if can_create_new_bots}}
            {{#tr}}
                You can <z-link-new-bot>add a new bot</z-link-new-bot> or <z-link-manage-bot>manage</z-link-manage-bot> your own bots.
                {{#*inline "z-link-new-bot"}}<a class="add-a-new-bot">{{> @partial-block}}</a>{{/inline}}
                {{#*inline "z-link-manage-bot"}}<a href="/#settings/your-bots">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
        {{else if has_bots}}
            {{#tr}}
                You can <z-link>manage</z-link> your own bots.
                {{#*inline "z-link"}}<a href="/#settings/your-bots">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
        {{/if}}
    </div>
    <div class="settings_panel_list_header">
        <h3>{{t "Bots"}}</h3>
        <div class="alert-notification" id="bot-field-status"></div>
        <input type="text" class="search filter_text_input" placeholder="{{t 'Filter bots' }}" aria-label="{{t 'Filter bots' }}"/>
    </div>

    <div class="progressive-table-wrapper" data-simplebar>
        <table class="table table-striped wrapped-table">
            <thead class="table-sticky-headers">
                <th class="active" data-sort="alphabetic" data-sort-prop="full_name">{{t "Name" }}</th>
                <th data-sort="email">{{t "Email" }}</th>
                <th class="user_role" data-sort="role">{{t "Role" }}</th>
                <th data-sort="bot_owner">{{t "Owner" }}</th>
                <th data-sort="alphabetic" data-sort-prop="bot_type" class="bot_type">{{t "Bot type" }}</th>
                {{#if is_admin}}
                <th class="actions">{{t "Actions" }}</th>
                {{/if}}
            </thead>
            <tbody id="admin_bots_table" class="admin_bot_table required-text thick"
              data-empty="{{t 'No bots match your current filter.' }}"></tbody>
        </table>
    </div>
    <div id="admin_page_bots_loading_indicator"></div>
</div>
