<div class="settings_panel_list_header">
    <h3>{{section_title}}</h3>
    <div class="alert-notification"></div>
    <div class="bot-filters">
        {{> ../dropdown_widget widget_name=dropdown_widget_name}}
        {{> filter_text_input placeholder=(t 'Filter') aria_label=(t 'Filter bots')}}
    </div>
</div>

<div class="progressive-table-wrapper" data-simplebar data-simplebar-tab-index="-1">
    <table class="table table-striped wrapped-table">
        <thead class="table-sticky-headers">
            <tr>
                <th class="active" data-sort="alphabetic" data-sort-prop="full_name">{{t "Name" }}
                    <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                </th>
                <th class="settings-email-column" data-sort="email">{{t "Email" }}
                    <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                </th>
                <th class="user_role" data-sort="role">{{t "Role" }}
                    <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                </th>
                <th data-sort="bot_owner">{{t "Owner" }}
                    <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                </th>
                <th data-sort="alphabetic" data-sort-prop="bot_type" class="bot_type">{{t "Bot type" }}
                    <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                </th>
                <th class="actions">{{t "Actions" }}</th>
            </tr>
        </thead>
        <tbody id="admin_{{section_name}}_table" class="admin_bot_table"
          data-empty="{{#if (eq section_name 'all_bots')}}{{t 'There are no active bots in this organization.' }}{{else}}{{t 'You have no active bots'}}{{/if}}" data-search-results-empty="{{#if (eq section_name 'all_bots')}}{{t 'No bots match your current filter.' }}{{else}}{{t 'None of your bots match your current filter.' }}{{/if}}"></tbody>
    </table>
</div>
<div id="admin_page_{{section_name}}_loading_indicator"></div>
