<div id="bot-settings" class="settings-section" data-name="your-bots">
    <div class="bot-settings-form">
        {{#unless current_user.is_guest}}
        <div class="tip">
            {{#tr}}
                Looking for our <z-integrations>integrations</z-integrations> or <z-api>API</z-api> documentation?
                {{#*inline "z-integrations"}}<a href="/integrations/" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
                {{#*inline "z-api"}}<a href="/api/" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
        </div>
        <div class="bot-settings-tip" id="personal-bot-settings-tip">
        </div>
        <div>
            {{> ../components/action_button
              label=(t "Add a new bot")
              attention="quiet"
              intent="brand"
              custom_classes="add-a-new-bot"
              hidden=(not can_create_new_bots)
              }}
        </div>
        {{/unless}}

        <hr/>

        <div class="tab-container"></div>

        <div id="active_bots_list_container" class="bots_section" data-bot-settings-section="active-bots">
            <div class="config-download-text">
                <span>{{t 'Download config of all active outgoing webhook bots in Zulip Botserver format.' }}</span>
                <a type="submit" download="{{botserverrc}}" id= "download_botserverrc" class="bootstrap-btn tippy-zulip-delayed-tooltip" data-tippy-content="{{t 'Download botserverrc' }}">
                    <i class="fa fa-download sea-green" aria-hidden="true"></i>
                </a>
            </div>
            <ol id="active_bots_list" class="bots_list" data-empty="{{t 'You have no active bots.' }}">
            </ol>
        </div>

        <div id="inactive_bots_list_container" class="bots_section" data-bot-settings-section="inactive-bots">
            <ol id="inactive_bots_list" class="bots_list" data-empty="{{t 'You have no inactive bots.' }}">
            </ol>
        </div>
    </div>
</div>
