<div class="custom_user_field" name="{{ field.name }}" data-field-id="{{ field.id }}">
    <span class="custom-user-field-label-wrapper {{#if field.required}}required-field-wrapper{{/if}}">
        <label class="settings-field-label inline-block" for="{{ field.name }}" class="title">{{ field.name }}</label>
        <span class="required-symbol {{#unless is_empty_required_field}}hidden{{/unless}}"> *</span>
    </span>
    <div class="alert-notification custom-field-status"></div>
    <div class="settings-profile-user-field-hint">{{ field.hint }}</div>
    <div class="settings-profile-user-field {{#if is_empty_required_field}}empty-required-field{{/if}}">
        {{#if is_long_text_field}}
        <textarea maxlength="500" class="custom_user_field_value settings_textarea">{{ field_value.value }}</textarea>
        {{else if is_select_field}}
        <select class="custom_user_field_value {{#if for_manage_user_modal}}modal_select{{else}}settings_select{{/if}} bootstrap-focus-style">
            <option value=""></option>
            {{#each field_choices}}
                <option value="{{ this.value }}" {{#if this.selected}}selected{{/if}}>{{ this.text }}</option>
            {{/each}}
        </select>
        {{else if is_user_field }}
        <div class="pill-container person_picker">
            <div class="input" contenteditable="true"></div>
        </div>
        {{else if is_date_field }}
        <input class="custom_user_field_value datepicker {{#if for_manage_user_modal}}modal_text_input{{else}}settings_text_input{{/if}}" data-field-id="{{ field.id }}" type="text"
          value="{{ field_value.value }}" />
        <span class="remove_date"><i class="fa fa-close"></i></span>
        {{else if is_url_field }}
        <input class="custom_user_field_value {{#if for_manage_user_modal}}modal_url_input{{else}}settings_url_input{{/if}}" type="{{ field_type }}" value="{{ field_value.value }}" maxlength="2048" />
        {{else if is_pronouns_field}}
        <input class="custom_user_field_value pronouns_type_field {{#if for_manage_user_modal}}modal_text_input{{else}}settings_text_input{{/if}}" type="{{ field_type }}" value="{{ field_value.value }}" maxlength="50" />
        {{else}}
        <input class="custom_user_field_value {{#if for_manage_user_modal}}modal_text_input{{else}}settings_text_input{{/if}}" type="{{ field_type }}" value="{{ field_value.value }}" maxlength="50" />
        {{/if}}
    </div>
</div>
