<div id="data-exports" class="settings-section" data-name="data-exports-admin">
    <h3>{{t "Export organization" }}
        {{> ../help_link_widget link="/help/export-your-organization" }}
    </h3>
    <p>
        {{t 'Your organization’s data will be exported in a format designed for imports into Zulip Cloud or a self-hosted installation of Zulip.' }}
        {{t 'You will be able to export all public data, and (optionally) private data from users who have given their permission.' }}
        {{#tr}}
            <z-link>Learn more</z-link> about other data export options.
            {{#*inline "z-link"}}<a href="/help/export-your-organization" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </p>
    <p>
        {{t 'Depending on the size of your organization, an export can take anywhere from seconds to an hour.' }}
    </p>

    {{#if is_admin}}
    <div class="alert" id="export_status" role="alert">
        <span class="export_status_text"></span>
    </div>
    <form>
        {{> ../components/action_button
          label=(t "Start export")
          id="start-export-button"
          attention="quiet"
          intent="brand"
          type="submit"
          }}
    </form>
    {{/if}}

    <hr/>

    <div class="tab-container"></div>

    <div class="export_section" data-export-section="data-exports">
        <div class="settings_panel_list_header">
            <h3>{{t "Data exports"}}</h3>
            <input type="hidden" class="search" placeholder="{{t 'Filter exports' }}"
              aria-label="{{t 'Filter exports' }}"/>
        </div>

        <div class="progressive-table-wrapper" data-simplebar data-simplebar-tab-index="-1">
            <table class="table table-striped wrapped-table admin_exports_table">
                <thead class="table-sticky-headers">
                    <th class="active" data-sort="user">{{t "Requesting user" }}
                        <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                    </th>
                    <th>{{t "Type"}}</th>
                    <th data-sort="numeric" data-sort-prop="export_time">{{t "Time" }}
                        <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
                    </th>
                    <th>{{t "Status" }}</th>
                    <th class="actions">{{t "Actions" }}</th>
                </thead>
                <tbody id="admin_exports_table" data-empty="{{t 'There are no exports.' }}"></tbody>
            </table>
        </div>
    </div>

    <div class="export_section" data-export-section="export-permissions">
        <div class="settings_panel_list_header">
            <h3>{{t "Export permissions"}}</h3>
            <div class="user_filters">
                {{> ../dropdown_widget widget_name="filter_by_consent"}}
                {{> filter_text_input placeholder=(t 'Filter') aria_label=(t 'Filter users')}}
            </div>
        </div>

        <div class="progressive-table-wrapper" data-simplebar data-simplebar-tab-index="-1">
            <table class="table table-striped wrapped-table">
                <thead class="table-sticky-headers">
                    <th class="active" data-sort="full_name">{{t "Name" }}</th>
                    <th>{{t "Export permission"}}</th>
                </thead>
                <tbody id="admin_export_consents_table"></tbody>
            </table>
        </div>
    </div>
</div>
