<div id="data-exports" class="settings-section" data-name="data-exports-admin">
    <h3>{{t "Export organization" }}
        {{> ../help_link_widget link="/help/export-your-organization" }}
    </h3>
    <p>
        {{t 'Exports all users, settings, and all data visible in public channels.' }}
        {{t 'Any organization administrator can conduct an export.'}}
        {{t 'Depending on the size of your organization, an export can take anywhere from seconds to an hour.' }}
    </p>
    <p>
        {{#tr}}
            <z-link>Click here</z-link> to learn about exporting private channels and direct messages.
            {{#*inline "z-link"}}<a href="/help/export-your-organization" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
        {{t 'Note that organizations are limited to five exports per week.' }}
    </p>

    {{#if is_admin}}
    <div class="alert" id="export_status" role="alert">
        <span class="export_status_text"></span>
    </div>
    <form>
        <button type="submit" class="button rounded sea-green" id="export-data">
            {{t 'Start export of public data' }}
        </button>
    </form>
    {{/if}}

    <div class="settings_panel_list_header">
        <h3>{{t "Data exports"}}</h3>
        <input type="hidden" class="search" placeholder="{{t 'Filter exports' }}"
          aria-label="{{t 'Filter exports' }}"/>
    </div>

    <div class="progressive-table-wrapper" data-simplebar>
        <table class="table table-striped wrapped-table admin_exports_table">
            <thead class="table-sticky-headers">
                <th class="active" data-sort="user">{{t "Requesting user" }}</th>
                <th data-sort="numeric" data-sort-prop="export_time">{{t "Time" }}</th>
                <th>{{t "Status" }}</th>
                <th class="actions">{{t "Actions" }}</th>
            </thead>
            <tbody id="admin_exports_table" data-empty="{{t 'There are no exports.' }}"></tbody>
        </table>
    </div>
</div>
