{{#with item}}
<li class="list_item" role="presentation" data-value="{{value}}">
    <a role="menuitem" tabindex="0">
        {{#if stream}}
            {{> ../inline_decorated_stream_name stream=stream show_colored_icon=true}}
        {{else if is_direct_message}}
            <i class="zulip-icon zulip-icon-users stream-privacy-type-icon"></i> {{name}}
        {{else}}
            {{name}}
        {{/if}}
    </a>
</li>
{{/with}}
