<div class="input-group" id="service_name_list">
    <label for="select_service_name" class="modal-field-label">{{t "Bot"}}</label>
    <select name="service_name" id="select_service_name" class="modal_select bootstrap-focus-style">
        {{#each realm_embedded_bots}}
            <option value="{{this.name}}"
              {{#if ../service}}
              {{#if (eq this.name ../service.service_name)}}selected{{/if}}
              {{/if}}>
                {{this.name}}
            </option>
        {{/each}}
    </select>
</div>
{{#if service}}
    {{#if service.config_data}}
        <div id="config_edit_inputbox">
            {{#each (object_entries service.config_data) as |entry|}}
                <div class="input-group">
                    <label for="embedded_bot_{{entry.[0]}}_edit" class="modal-field-label">{{entry.[0]}}</label>
                    <input type="text" name="{{entry.[0]}}" id="embedded_bot_{{entry.[0]}}_edit" class="modal_text_input"
                      maxlength=1000 value="{{entry.[1]}}" />
                </div>
            {{/each}}
        </div>
    {{/if}}
{{/if}}
