{{#if is_guest}}
    <div class='tip'>{{t "Guests cannot edit custom emoji." }}</div>
{{else if (eq realm_can_add_custom_emoji_group_name "role:administrators") }}
    <div class='tip'>{{t "This organization is configured so that only administrators can add custom emoji." }}</div>
{{else if (eq realm_can_add_custom_emoji_group_name "role:moderators")}}
    <div class='tip'>{{t 'This organization is configured so that administrators and moderators can add custom emoji.'}}</div>
{{else if (eq realm_can_add_custom_emoji_group_name "role:fullmembers")}}
    <div class='tip'>{{t 'This organization is configured so that full members can add custom emoji.'}}</div>
{{else}}
    <div class='tip'>{{t "This organization is configured so that any member of this organization can add custom emoji." }}</div>
{{/if}}
