<div class="input-group" id="{{container_id}}-parameter">
    <label class="checkbox">
        <input
          type="checkbox"
          id="{{checkbox_id}}"
          class="integration-url-parameter"
          />
        <span class="rendered-checkbox"></span>
    </label>
    <label class="inline" for="{{checkbox_id}}">
        {{checkbox_label}}
    </label>
</div>
<div class="input-group hide" id="{{container_id}}">
    <label for="{{input_id}}" class="modal-label-field">
        {{input_label}}
    </label>
    <div class="pill-container">
        <div id="{{input_id}}" class="input" contenteditable="true"></div>
    </div>
</div>
