<div id="{{widget}}-upload-widget" class="inline-block image_upload_widget">
    {{#if disabled_text}}
    <div class="image-disabled {{#if is_editable_by_current_user}}hide{{/if}}">
        <div class="image-hover-background"></div>
        <span class="image-disabled-text flex" aria-label="{{ disabled_text }}" role="button" tabindex="0">
            {{ disabled_text }}
        </span>
    </div>
    {{/if}}
    <div class="image_upload_button {{#unless is_editable_by_current_user}}hide{{/unless}}">
        <div class="image-hover-background"></div>
        <button class="image-delete-button" aria-label="{{ delete_text }}" role="button" tabindex="0">
            &times;
        </button>
        <span class="image-delete-text" aria-label="{{ delete_text }}" tabindex="0">
            {{ delete_text }}
        </span>
        <span class="image-upload-text" aria-label="{{ upload_text }}" role="button" tabindex="0">
            {{ upload_text }}
        </span>
        <span class="upload-spinner-background">
            <img class="image_upload_spinner" src="../../images/loading/tail-spin.svg" alt="" />
        </span>
    </div>
    <img class="image-block" src="{{ image }}"/>
    <input type="file" name="file_input" class="notvisible image_file_input"  value="{{ upload_text }}" />
    <div class="image_file_input_error text-error"></div>
</div>
