<div id="admin-invites-list" class="settings-section" data-name="invites-list-admin">
    <div class="tip invite-user-settings-tip"></div>
    {{#unless is_admin }}
    <div class="tip">{{t "You can only view or manage invitations that you sent." }}</div>
    {{/unless}}
    <a class="invite-user-link" role="button"><i class="fa fa-user-plus" aria-hidden="true"></i>{{t "Invite users to organization" }}</a>

    <div class="settings_panel_list_header">
        <h3>{{t "Invites"}}</h3>
        <div class="alert-notification" id="invites-field-status"></div>
        <input type="text" class="search filter_text_input" placeholder="{{t 'Filter invites' }}" aria-label="{{t 'Filter invites' }}"/>
    </div>

    <div class="progressive-table-wrapper" data-simplebar>
        <table class="table table-striped">
            <thead class="table-sticky-headers">
                <th class="active" data-sort="invitee">{{t "Invitee" }}</th>
                {{#if is_admin }}
                <th data-sort="alphabetic" data-sort-prop="referrer_name">{{t "Invited by" }}</th>
                {{/if}}
                <th data-sort="numeric" data-sort-prop="invited">{{t "Invited at" }}</th>
                <th data-sort="numeric" data-sort-prop="expiry_date">{{t "Expires at" }}</th>
                <th data-sort="numeric" data-sort-prop="invited_as">{{t "Invited as" }}</th>
                <th class="actions">{{t "Actions" }}</th>
            </thead>
            <tbody id="admin_invites_table" class="admin_invites_table" data-empty="{{t 'There are no invites.' }}" data-search-results-empty="{{t 'No invites match your current filter.' }}"></tbody>
        </table>
    </div>
    <div id="admin_page_invites_loading_indicator"></div>
</div>
