<div class="language_selection_widget input-group prop-element" id="id_{{section_name}}" data-setting-widget-type="language-setting">
    <label class="settings-field-label" for="select_language">
        <span class="settings-field-label-text">{{section_title}}</span>
        {{#if help_link_widget_link}}
        {{> ../help_link_widget link=help_link_widget_link }}
        {{/if}}
    </label>
    <button id="select_language" type="button" class="language_selection_button button rounded tippy-zulip-delayed-tooltip" data-section="{{section_name}}" data-tippy-content="{{t 'Change language' }}">
        <span class="{{section_name}}" data-language-code="{{language_code}}">{{setting_value}}</span>
    </button>
</div>
