<div id="linkifier-settings" class="settings-section" data-name="linkifier-settings">
    <div class="admin-table-wrapper">

        <p>
            {{t "Configure regular expression patterns that will be used to
              automatically transform any matching text in Zulip messages
              and topics into links." }}
        </p>
        <p>
            {{t "Linkifiers make it easy to refer to issues or tickets in
              third party issue trackers, like GitHub, Salesforce, Zendesk,
              and others. For instance, you can add a linkifier that
              automatically turns #2468 into a link to the GitHub issue
              in the Zulip repository with:" }}
        </p>
        <ul>
            <li>
                {{t "Pattern" }}: <span class="rendered_markdown"><code>#(?P&lt;id&gt;[0-9]+)</code></span>
            </li>
            <li>
                {{t "URL template" }}: <span class="rendered_markdown"><code>https://github.com/zulip/zulip/issues/{id}</code></span>
            </li>
        </ul>
        <p>
            {{#tr}}
                For more examples, see the <z-link>help center documentation</z-link>
                on adding linkifiers.
                {{#*inline "z-link"}}<a href="/help/add-a-custom-linkifier" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
        </p>

        {{#if is_admin}}
        <form class="admin-linkifier-form">
            <div class="add-new-linkifier-box grey-box">
                <div class="new-linkifier-form wrapper">
                    <div class="settings-section-title new-linkifier-section-title">
                        {{t "Add a new linkifier" }}
                        {{> ../help_link_widget link="/help/add-a-custom-linkifier" }}
                    </div>
                    <div class="alert" id="admin-linkifier-status"></div>
                    <div class="input-group">
                        <label for="linkifier_pattern">{{t "Pattern" }}</label>
                        <input type="text" id="linkifier_pattern" class="settings_text_input" name="pattern" placeholder="#(?P<id>[0-9]+)" />
                        <div class="alert" id="admin-linkifier-pattern-status"></div>
                    </div>
                    <div class="input-group">
                        <label for="linkifier_template">{{t "URL template" }}</label>
                        <input type="text" id="linkifier_template" class="settings_text_input" name="url_template" placeholder="https://github.com/zulip/zulip/issues/{id}" />
                        <div class="alert" id="admin-linkifier-template-status"></div>
                    </div>
                    <button type="submit" class="button rounded sea-green">
                        {{t 'Add linkifier' }}
                    </button>
                </div>
            </div>
        </form>
        {{/if}}

        <div class="settings_panel_list_header">
            <h3>{{t "Linkifiers"}}</h3>
            <div class="alert-notification edit-linkifier-status" id="linkifier-field-status"></div>
            <input type="text" class="search filter_text_input" placeholder="{{t 'Filter linkifiers' }}" aria-label="{{t 'Filter linkifiers' }}"/>
        </div>

        <div class="progressive-table-wrapper" data-simplebar>
            <table class="table table-striped wrapped-table admin_linkifiers_table">
                <thead class="table-sticky-headers">
                    <th>{{t "Pattern" }}</th>
                    <th>{{t "URL template" }}</th>
                    {{#if is_admin}}
                    <th class="actions">{{t "Actions" }}</th>
                    {{/if}}
                </thead>
                <tbody id="admin_linkifiers_table" class="required-text" data-empty="{{t 'No linkifiers set.' }}"></tbody>
            </table>
        </div>
    </div>
</div>
