<div id="muted-user-settings" class="settings-section" data-name="muted-users">
    <div class="settings_panel_list_header">
        <h3>{{t "Muted users"}}</h3>
        <input id="muted_users_search" class="search filter_text_input" type="text" placeholder="{{t 'Filter muted users' }}" aria-label="{{t 'Filter muted users' }}"/>
    </div>
    <div class="progressive-table-wrapper" data-simplebar>
        <table class="table table-striped wrapped-table">
            <thead class="table-sticky-headers">
                <th data-sort="alphabetic" data-sort-prop="user_name">{{t "User" }}</th>
                <th data-sort="numeric" data-sort-prop="date_muted">{{t "Date muted" }}</th>
                <th class="actions">{{t "Actions" }}</th>
            </thead>
            <tbody id="muted_users_table" class="required-text" data-empty="{{t 'You have not muted any users yet.'}}"></tbody>
        </table>
    </div>
</div>
