<div id="organization-profile" data-name="organization-profile" class="settings-section">
    <form class="admin-realm-form org-profile-form">
        <div class="alert" id="admin-realm-deactivation-status"></div>

        <div id="org-org-profile" class="settings-subsection-parent">
            <div class="subsection-header">
                <h3>{{t "Organization profile" }}
                    {{> ../help_link_widget link="/help/create-your-organization-profile" }}
                </h3>
                {{> settings_save_discard_widget section_name="org-profile" }}
            </div>

            <div class="organization-settings-parent">
                <div class="input-group admin-realm">
                    <label for="id_realm_name" class="settings-field-label">{{t "Organization name" }}</label>
                    <input type="text" id="id_realm_name" name="realm_name" class="admin-realm-name setting-widget prop-element settings_text_input"
                      autocomplete="off" data-setting-widget-type="string"
                      value="{{ realm_name }}" maxlength="40" />
                </div>
                <div class="input-group admin-realm">
                    <label for="realm_org_type" class="settings-field-label">{{t "Organization type" }}
                        {{> ../help_link_widget link="/help/organization-type" }}
                    </label>
                    <select name="realm_org_type" class="setting-widget prop-element settings_select bootstrap-focus-style" id="id_realm_org_type" data-setting-widget-type="number">
                        {{> dropdown_options_widget option_values=realm_org_type_values}}
                    </select>
                </div>
                {{> settings_checkbox
                  setting_name="realm_want_advertise_in_communities_directory"
                  prefix="id_"
                  is_checked=realm_want_advertise_in_communities_directory
                  is_disabled=disable_want_advertise_in_communities_directory
                  label=admin_settings_label.realm_want_advertise_in_communities_directory
                  help_link="/help/communities-directory"}}
                <div class="input-group admin-realm">
                    <label for="realm_description" class="settings-field-label">{{t "Organization description" }}</label>
                    <textarea id="id_realm_description" name="realm_description" class="admin-realm-description setting-widget prop-element settings_textarea"
                      maxlength="1000" data-setting-widget-type="string">{{ realm_description }}</textarea>
                </div>
            </div>
        </div>

        <div>{{t "Organization profile picture" }}</div>
        <div class="realm-icon-section">
            {{> image_upload_widget
              widget = "realm-icon"
              upload_text = (t "Upload icon")
              delete_text = (t "Delete icon")
              is_editable_by_current_user = is_admin
              image = realm_icon_url }}
        </div>
        <a href="/login/?preview=true" target="_blank" rel="noopener noreferrer" class="button rounded sea-green w-200 block" id="id_org_profile_preview">
            {{t 'Preview organization profile' }}
            <i class="fa fa-external-link" aria-hidden="true" title="{{t 'Preview organization profile' }}"></i>
        </a>

        <div class="subsection-header">
            <h3>{{t "Organization logo" }}
                {{> ../help_link_widget link="/help/create-your-organization-profile#add-a-wide-logo" }}
            </h3>
            {{> upgrade_tip_widget }}
        </div>

        <p>{{t "A wide image (200×25 pixels) for the upper left corner of the app." }}</p>
        <div class="realm-logo-group">
            <div class="realm-logo-block realm-logo-section">
                <h5 class="realm-logo-title">{{t "Light theme logo" }}</h5>
                {{> image_upload_widget
                  widget = "realm-day-logo"
                  upload_text = (t "Upload logo")
                  delete_text = (t "Delete logo")
                  is_editable_by_current_user = user_can_change_logo
                  image = realm_logo_url }}
            </div>
            <div class="realm-logo-block realm-logo-section">
                <h5 class="realm-logo-title">{{t "Dark theme logo" }}</h5>
                {{> image_upload_widget
                  widget = "realm-night-logo"
                  upload_text = (t "Upload logo")
                  delete_text = (t "Delete logo")
                  is_editable_by_current_user = user_can_change_logo
                  image = realm_night_logo_url }}
            </div>
        </div>
        <h3 class="light">
            {{t "Deactivate organization" }}
            {{> ../help_link_widget link="/help/deactivate-your-organization" }}
        </h3>
        <div class="deactivate-realm-section">
            <div class="input-group">
                <div id="deactivate_realm_button_container" class="inline-block {{#unless is_owner}}disabled_setting_tooltip{{/unless}}">
                    <button class="button rounded btn-danger deactivate_realm_button">
                        {{t 'Deactivate organization' }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
