<div class="navigation-settings {{#if for_realm_settings}}settings-subsection-parent{{else}}subsection-parent{{/if}}">
    <div class="subsection-header">
        <h3 class="light">{{t "Navigation" }}</h3>
        {{> settings_save_discard_widget section_name="navigation-settings" show_only_indicator=(not for_realm_settings) }}
    </div>

    <div class="input-group">
        <label for="{{prefix}}web_home_view" class="settings-field-label">{{t "Home view" }}
            {{> ../help_link_widget link="/help/configure-home-view" }}
        </label>
        <select name="web_home_view" class="setting_web_home_view prop-element settings_select bootstrap-focus-style" id="{{prefix}}web_home_view" data-setting-widget-type="string">
            {{> dropdown_options_widget option_values=web_home_view_values}}
        </select>
    </div>

    {{> settings_checkbox
      setting_name="web_escape_navigates_to_home_view"
      is_checked=settings_object.web_escape_navigates_to_home_view
      label=settings_label.web_escape_navigates_to_home_view
      prefix=prefix}}

    {{> settings_checkbox
      setting_name="web_navigate_to_sent_message"
      is_checked=settings_object.web_navigate_to_sent_message
      label=settings_label.web_navigate_to_sent_message
      prefix=prefix}}

    <div class="input-group">
        <label for="{{prefix}}web_mark_read_on_scroll_policy" class="settings-field-label">{{t "Automatically mark messages as read" }}
            {{> ../help_link_widget link="/help/marking-messages-as-read" }}
        </label>
        <select name="web_mark_read_on_scroll_policy" class="setting_web_mark_read_on_scroll_policy prop-element settings_select bootstrap-focus-style" id="{{prefix}}web_mark_read_on_scroll_policy"  data-setting-widget-type="number">
            {{> dropdown_options_widget option_values=web_mark_read_on_scroll_policy_values}}
        </select>
    </div>

    <div class="input-group">
        <label for="{{prefix}}web_channel_default_view" class="settings-field-label">{{t "Channel links in the left sidebar go to" }}</label>
        <select name="web_channel_default_view" class="setting_web_channel_default_view prop-element settings_select bootstrap-focus-style" id="{{prefix}}web_channel_default_view"  data-setting-widget-type="number">
            {{> dropdown_options_widget option_values=web_channel_default_view_values}}
        </select>
    </div>
</div>
