<div class="general-settings {{#if for_realm_settings}}settings-subsection-parent{{else}}subsection-parent{{/if}}">
    <!-- this is inline block so that the alert notification can sit beside
    it. If there's not an alert, don't make it inline-block.-->
    <div class="subsection-header inline-block">
        <h3>{{t "General" }}</h3>
        {{> settings_save_discard_widget section_name="general-settings" show_only_indicator=(not for_realm_settings) }}
    </div>
    {{#unless for_realm_settings}}
        {{> language_selection_widget
          section_name="default_language_name"
          setting_value=default_language_name
          section_title=settings_label.default_language_settings_label
          language_code=default_language }}
    {{/unless}}

    <div class="input-group">
        <label for="{{prefix}}twenty_four_hour_time" class="settings-field-label">{{ settings_label.twenty_four_hour_time }}</label>
        <select name="twenty_four_hour_time" class="setting_twenty_four_hour_time prop-element settings_select bootstrap-focus-style" id="{{prefix}}twenty_four_hour_time" data-setting-widget-type="string">
            {{#each twenty_four_hour_time_values}}
                <option value='{{ this.value }}'>{{ this.description }}</option>
            {{/each}}
        </select>
    </div>
    <div class="input-group">
        <label for="{{prefix}}color_scheme" class="settings-field-label">{{t "Theme" }}</label>
        <select name="color_scheme" class="setting_color_scheme prop-element settings_select bootstrap-focus-style" id="{{prefix}}color_scheme" data-setting-widget-type="number">
            {{> dropdown_options_widget option_values=color_scheme_values}}
        </select>
    </div>

    {{> settings_checkbox
      setting_name="enter_sends"
      is_checked=settings_object.enter_sends
      label=settings_label.enter_sends
      prefix=prefix}}

    {{> settings_checkbox
      setting_name="dense_mode"
      is_checked=settings_object.dense_mode
      label=settings_label.dense_mode
      prefix=prefix}}

    <div class="information-density-settings">
        <div class="title">{{t "Information density settings"}}</div>
        {{#each information_density_settings.settings.user_preferences}}
            {{> settings_numeric_input
              setting_name=this
              setting_value=(lookup ../settings_object this)
              label=(lookup ../settings_label this)
              render_only=(lookup ../settings_render_only.render_only this)
              prefix=../prefix}}
        {{/each}}
    </div>
</div>
