<div class="general-settings {{#if for_realm_settings}}settings-subsection-parent{{else}}subsection-parent{{/if}}">
    <!-- this is inline block so that the alert notification can sit beside
    it. If there's not an alert, don't make it inline-block.-->
    <div class="subsection-header inline-block">
        <h3>{{t "General" }}</h3>
        {{> settings_save_discard_widget section_name="general-settings" show_only_indicator=(not for_realm_settings) }}
    </div>
    {{#unless for_realm_settings}}
        {{> language_selection_widget
          section_name="default_language_name"
          setting_value=default_language_name
          section_title=settings_label.default_language_settings_label
          language_code=default_language }}
    {{/unless}}

    <div class="input-group">
        <label for="{{prefix}}twenty_four_hour_time" class="settings-field-label">{{ settings_label.twenty_four_hour_time }}</label>
        <select name="twenty_four_hour_time" class="setting_twenty_four_hour_time prop-element settings_select bootstrap-focus-style" id="{{prefix}}twenty_four_hour_time" data-setting-widget-type="string">
            {{#each twenty_four_hour_time_values}}
                <option value='{{ this.value }}'>{{ this.description }}</option>
            {{/each}}
        </select>
    </div>
    <div class="input-group">
        <label for="{{prefix}}color_scheme" class="settings-field-label">{{t "Theme" }}</label>
        <div id="{{prefix}}color_scheme" class="tab-picker prop-element" data-setting-widget-type="radio-group" data-setting-choice-type="number">
            <input type="radio" id="{{prefix}}theme_select_automatic" class="tab-option setting_color_scheme" data-setting-widget-type="number" name="{{prefix}}theme_select" value="{{color_scheme_values.automatic.code}}" />
            <label class="tab-option-content tippy-zulip-delayed-tooltip" for="{{prefix}}theme_select_automatic" aria-label="{{t 'Select automatic theme' }}" data-tooltip-template-id="automatic-theme-template" tabindex="0">
                <i class="zulip-icon zulip-icon-monitor" aria-hidden="true"></i>
            </label>
            <input type="radio" id="{{prefix}}theme_select_light" class="tab-option setting_color_scheme" data-setting-widget-type="number" name="{{prefix}}theme_select" value="{{color_scheme_values.light.code}}" />
            <label class="tab-option-content tippy-zulip-delayed-tooltip" for="{{prefix}}theme_select_light" aria-label="{{t 'Select light theme' }}" data-tippy-content="{{t 'Light theme' }}" tabindex="0">
                <i class="zulip-icon zulip-icon-sun" aria-hidden="true"></i>
            </label>
            <input type="radio" id="{{prefix}}theme_select_dark" class="tab-option setting_color_scheme" data-setting-widget-type="number" name="{{prefix}}theme_select" value="{{color_scheme_values.dark.code}}" />
            <label class="tab-option-content tippy-zulip-delayed-tooltip" for="{{prefix}}theme_select_dark" aria-label="{{t 'Select dark theme' }}" data-tippy-content="{{t 'Dark theme' }}" tabindex="0">
                <i class="zulip-icon zulip-icon-moon" aria-hidden="true"></i>
            </label>
            <span class="slider"></span>
        </div>
    </div>

    {{> settings_checkbox
      setting_name="enter_sends"
      is_checked=settings_object.enter_sends
      label=settings_label.enter_sends
      prefix=prefix}}

    <div class="information-density-settings">
        <div class="font-size-setting info-density-controls">
            <div class="title">{{t "Font size"}}</div>
            <div class="button-group" data-property="web_font_size_px">
                <div class="info-density-button-container">
                    <button class="info-density-button default-button" aria-label="{{t 'Set font size to default' }}">
                        <i class="zulip-icon zulip-icon-type-big" aria-hidden="true"></i>
                    </button>
                </div>
                <span class="display-value">{{settings_object.web_font_size_px}}</span>
                <input class="current-value prop-element" id="{{prefix}}web_font_size_px" data-setting-widget-type="info-density-setting" type="hidden" value="{{settings_object.web_font_size_px}}" />
                <div class="info-density-button-container">
                    <button class="info-density-button decrease-button" aria-label="{{t 'Decrease font size' }}">
                        <i class="zulip-icon zulip-icon-minus" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="info-density-button-container">
                    <button class="info-density-button increase-button" aria-label="{{t 'Increase font size' }}">
                        <i class="zulip-icon zulip-icon-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="line-height-setting info-density-controls">
            <div class="title">{{t "Line height"}}</div>
            <div class="button-group" data-property="web_line_height_percent">
                <div class="info-density-button-container">
                    <button class="info-density-button default-button" aria-label="{{t 'Set line spacing to default' }}">
                        <i class="zulip-icon zulip-icon-line-height-big" aria-hidden="true"></i>
                    </button>
                </div>
                <span class="display-value">{{web_line_height_percent_display_string}}</span>
                <input class="current-value prop-element" id="{{prefix}}web_line_height_percent" data-setting-widget-type="info-density-setting" type="hidden" value="{{settings_object.web_line_height_percent}}" />
                <div class="info-density-button-container">
                    <button class="info-density-button decrease-button" aria-label="{{t 'Decrease line spacing' }}">
                        <i class="zulip-icon zulip-icon-minus" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="info-density-button-container">
                    <button class="info-density-button increase-button" aria-label="{{t 'Increase line spacing' }}">
                        <i class="zulip-icon zulip-icon-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
