<div id="profile-field-settings" class="settings-section" data-name="profile-field-settings">
    <div class="settings_panel_list_header">
        <h3>{{t "Custom profile fields"}}</h3>
        <div class="alert-notification" id="admin-profile-field-status"></div>
        {{#if is_admin}}
            {{> ../components/action_button
              id="add-custom-profile-field-button"
              label=(t "Add a new profile field")
              attention="quiet"
              intent="brand"
              }}
        {{/if}}
    </div>
    <div class="progressive-table-wrapper" data-simplebar data-simplebar-tab-index="-1">
        <table class="table table-striped admin_profile_fields_table">
            <thead>
                <tr>
                    <th>{{t "Label" }}</th>
                    <th>{{t "Hint" }}</th>
                    <th>{{t "Type" }}</th>
                    {{#if is_admin}}
                    <th class="display">{{t "Card"}}</th>
                    <th class="required">{{t "Required"}}</th>
                    <th class="actions">{{t "Actions" }}</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody id="admin_profile_fields_table" data-empty="{{t 'No custom profile fields configured.' }}"></tbody>
        </table>
    </div>
</div>
