<div class='choice-row movable-row' data-value="{{value}}">
    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    <span {{#if edit_disabled}} class="tippy-zulip-tooltip" data-tippy-content="{{t 'Choices cannot be modified.'}}"{{/if}}>
        <input type='text' {{#if edit_disabled}} disabled {{/if}} class="modal_text_input" placeholder='{{t "New option" }}' value="{{ text }}" />
    </span>

    <button type='button' class="button rounded small delete-choice tippy-zulip-tooltip {{#if new_empty_choice_row}} hide {{/if}}" data-tippy-content="{{t 'Delete' }}">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
</div>
