<div id="profile-field-settings" class="settings-section" data-name="profile-field-settings">
    <div class="settings_panel_list_header">
        <h3>{{t "Custom profile fields"}}</h3>
        <div class="alert-notification" id="admin-profile-field-status"></div>
        {{#if is_admin}}
        <button class="button rounded sea-green" id="add-custom-profile-field-btn">{{t "Add a new profile field" }}</button>
        {{/if}}
    </div>
    <div class="admin-table-wrapper" data-simplebar>
        <table class="table table-striped admin_profile_fields_table">
            <thead>
                <tr>
                    <th>{{t "Label" }}</th>
                    <th>{{t "Hint" }}</th>
                    <th>{{t "Type" }}</th>
                    {{#if is_admin}}
                    <th class="display">{{t "Card"}}</th>
                    <th class="required">{{t "Required"}}</th>
                    <th class="actions">{{t "Actions" }}</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody id="admin_profile_fields_table" class="required-text" data-empty="{{t 'No custom profile field configured for this organization.' }}"></tbody>
        </table>
    </div>
</div>
