<tr class="user_row{{#if is_active}} active-user{{else}} deactivated_user{{/if}}" data-user-id="{{user_id}}">
    <td class="user_name panel_user_list">
        {{> ../user_display_only_pill display_value=full_name user_id=user_id is_bot=is_bot img_src=img_src is_active=is_active is_current_user=is_current_user}}
    </td>
    {{#if display_email}}
    <td class="email settings-email-column">
        <span class="email">{{display_email}}</span>
    </td>
    {{else}}
    <td class="email settings-email-column">
        <span class="hidden-email">{{t "(hidden)"}}</span>
    </td>
    {{/if}}
    <td>
        <span class="user_role">{{user_role_text}}</span>
    </td>
    {{#if display_last_active_column}}
    <td class="last_active">
        {{#if last_active_date}}
            {{last_active_date}}
        {{else}}
            <div class="loading-placeholder"></div>
        {{/if}}
    </td>
    {{/if}}
    {{#if can_modify}}
    <td class="actions">
        <span class="user-status-settings">
            <span class="tippy-zulip-delayed-tooltip" data-tippy-content="{{t 'Manage user'}}">
                {{> ../components/icon_button
                  icon="user-cog"
                  intent="neutral"
                  custom_classes="open-user-form manage-user-button"
                  disabled=cannot_edit
                  }}
            </span>
            {{#if is_active}}
            <span class="deactivate-user-tooltip {{#if cannot_deactivate}}tippy-zulip-tooltip{{/if}}"
              {{#if cannot_deactivate}}data-tippy-content="{{t 'This user cannot be deactivated.'}}"{{/if}}>
                {{> ../components/icon_button
                  icon="user-x"
                  intent="danger"
                  custom_classes="deactivate"
                  disabled=cannot_deactivate
                  }}
            </span>
            {{else}}
            <span class="reactivate-user-tooltip">
                {{> ../components/icon_button
                  icon="user-plus"
                  intent="success"
                  custom_classes="reactivate"
                  }}
            </span>
            {{/if}}
        </span>
    </td>
    {{/if}}
</tr>
