<tr class="user_row{{#if is_active}} active-user{{else}} deactivated_user{{/if}}" data-user-id="{{user_id}}">
    <td class="user_name panel_user_list">
        {{> ../user_display_only_pill display_value=full_name user_id=user_id img_src=img_src is_active=is_active is_current_user=is_current_user}}
    </td>
    {{#if display_email}}
    <td class="email settings-email-column">
        <span class="email">{{display_email}}</span>
    </td>
    {{else}}
    <td class="email settings-email-column">
        <span class="hidden-email">{{t "(hidden)"}}</span>
    </td>
    {{/if}}
    <td>
        <span class="user_role">{{user_role_text}}</span>
    </td>
    {{#if is_bot}}
    <td>
        <span class="owner panel_user_list">
            {{#if no_owner }}
            {{bot_owner_full_name}}
            {{else}}
            {{> ../user_display_only_pill display_value=bot_owner_full_name user_id=bot_owner_id img_src=owner_img_src is_active=is_bot_owner_active}}
            {{/if}}
        </span>
    </td>
    <td class="bot_type">
        <span class="bot type">{{bot_type}}</span>
    </td>
    {{else if display_last_active_column}}
    <td class="last_active">
        {{#if last_active_date}}
            {{last_active_date}}
        {{else}}
            <div class="loading-placeholder"></div>
        {{/if}}
    </td>
    {{/if}}
    {{#if can_modify}}
    <td class="actions">
        <span class="user-status-settings">
            <span class="{{#if (and is_bot cannot_edit)}}tippy-zulip-tooltip{{else}}tippy-zulip-delayed-tooltip{{/if}}"
              {{#if (and is_bot cannot_edit)}}
              data-tippy-content="{{t 'This bot cannot be managed.'}}"
              {{else}}
              data-tippy-content="{{#if is_bot}}{{#unless cannot_edit}}{{t 'Manage bot'}}{{/unless}}{{else}}{{t 'Manage user'}}{{/if}}"
              {{/if}}>
                {{> ../components/icon_button
                  icon="user-cog"
                  intent="neutral"
                  custom_classes="open-user-form manage-user-button"
                  disabled=cannot_edit
                  }}
            </span>
            {{#if is_active}}
            <span class="{{#if is_bot}}deactivate-bot-tooltip{{else}}deactivate-user-tooltip{{/if}} {{#if cannot_deactivate}}tippy-zulip-tooltip{{/if}}"
              {{#if (and is_bot cannot_deactivate)}}data-tippy-content="{{t 'This bot cannot be deactivated.'}}"{{else if cannot_deactivate}}data-tippy-content="{{t 'This user cannot be deactivated.'}}"{{/if}}>
                {{> ../components/icon_button
                  icon="user-x"
                  intent="danger"
                  custom_classes="deactivate"
                  disabled=cannot_deactivate
                  }}
            </span>
            {{else}}
            <span class="{{#if is_bot}}reactivate-bot-tooltip{{else}}reactivate-user-tooltip{{/if}}">
                {{> ../components/icon_button
                  icon="user-plus"
                  intent="success"
                  custom_classes="reactivate"
                  }}
            </span>
            {{/if}}
        </span>
    </td>
    {{/if}}
</tr>
