<div>
    {{#unless is_guest}}
        {{#unless zulip_plan_is_not_limited}}
        {{#if is_business_type_org}}
            {{#if has_billing_access}}
            <a href="/upgrade/" class="upgrade-tip" target="_blank" rel="noopener noreferrer">
                {{upgrade_text_for_wide_organization_logo}}
            </a>
            {{else}}
            <div class="upgrade-tip">
                {{upgrade_text_for_wide_organization_logo}}
            </div>
            {{/if}}
        {{else}}
            <div class="upgrade-or-sponsorship-tip">
                {{#if has_billing_access}}
                {{#tr}}
                    Available on Zulip Cloud Standard. <z-link-upgrade>Upgrade</z-link-upgrade> or <z-link-sponsorship>request sponsorship</z-link-sponsorship> to access.
                    {{#*inline "z-link-upgrade"}}<a href="/upgrade/" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
                    {{#*inline "z-link-sponsorship"}}<a href="/sponsorship/" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
                {{/tr}}
                {{else}}
                {{t 'Available on Zulip Cloud Standard.'}}
                {{/if}}
            </div>
        {{/if}}
        {{/unless}}
    {{/unless}}
</div>
