{{#with attachment}}
<tr class="uploaded_file_row" data-attachment-name="{{name}}" data-attachment-id="{{id}}">
    <td>
        <a type="submit" class="tippy-zulip-delayed-tooltip" href="/user_uploads/{{path_id}}" target="_blank" rel="noopener noreferrer" data-tippy-content="{{t 'View file' }}">
            {{ name }}
        </a>
    </td>
    <td>{{ create_time_str }}</td>
    <td>
        {{#if messages }}
        <div class="attachment-messages">
            {{#each messages}}
                <a class="ind-message" href="/#narrow/id/{{ this.id }}">
                    #{{ this.id }}
                </a>
            {{/each}}
        </div>
        {{/if}}
    </td>
    <td class="upload-size" >{{ size_str }}</td>
    <td class="actions">
        <span class="edit-attachment-buttons">
            <a type="submit" href="/user_uploads/{{path_id}}" class="hidden-attachment-download" download></a>
            {{> ../components/icon_button
              icon="download"
              intent="info"
              custom_classes="tippy-zulip-delayed-tooltip download-attachment"
              data-tippy-content=(t "Download")
              }}
        </span>
        <span class="edit-attachment-buttons">
            {{> ../components/icon_button
              icon="trash"
              custom_classes="tippy-zulip-delayed-tooltip delete remove-attachment"
              intent="danger"
              data-tippy-content=(t "Delete")
              }}
        </span>
    </td>
</tr>
{{/with}}
