<div id="admin-user-list" class="settings-section" data-name="user-list-admin">

    <div class="clear-float"></div>

    <div class="settings_panel_list_header">
        <h3>{{t "Users"}}</h3>
        <div class="alert-notification" id="user-field-status"></div>
        <div class="user_filters">
            {{> ../dropdown_widget widget_name=active_user_list_dropdown_widget_name}}
            <input type="text" class="search filter_text_input" placeholder="{{t 'Filter users' }}" aria-label="{{t 'Filter users' }}"/>
        </div>
    </div>

    <div class="progressive-table-wrapper" data-simplebar>
        <table class="table table-striped wrapped-table">
            <thead class="table-sticky-headers">
                <th class="active" data-sort="alphabetic" data-sort-prop="full_name">{{t "Name" }}</th>
                <th data-sort="email">{{t "Email" }}</th>
                <th class="user_role" data-sort="role">{{t "Role" }}</th>
                <th class="last_active" data-sort="last_active">{{t "Last active" }}</th>
                {{#if is_admin}}
                <th class="actions">{{t "Actions" }}</th>
                {{/if}}
            </thead>
            <tbody id="admin_users_table" class="admin_user_table"
              data-empty="{{t 'No users match your filters.' }}"></tbody>
        </table>
    </div>
    <div id="admin_page_users_loading_indicator"></div>
</div>
