<div id="user-topic-settings" class="settings-section" data-name="topics">
    <p>
        {{#if development}}
            {{#tr}}
                Zulip lets you configure notifications for each topic. You can also automatically follow or unmute topics
                you start or participate in.
            {{/tr}}
        {{else}}
            {{#tr}}
                Zulip lets you mute topics and streams to avoid receiving notifications messages you are not interested in.
                Muting a stream effectively mutes all topics in that stream. You can also manually mute a topic in an unmuted stream,
                or unmute a topic in a muted stream. <z-link>Learn more.</z-link>
                {{#*inline "z-link"}}<a href="/help/mute-a-topic" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
        {{/if}}
    </p>
    <div class="settings_panel_list_header">
        {{#if development}}
            <h3>{{t "Topic settings"}}
                {{> ../help_link_widget link="/help/mute-a-topic" }}
            </h3>
        {{else}}
            <h3>{{t "Topic settings"}}</h3>
        {{/if}}
        {{> settings_save_discard_widget section_name="user-topics-settings" show_only_indicator=true }}
        <input id="user_topics_search" class="search filter_text_input" type="text" placeholder="{{t 'Filter topics' }}" aria-label="{{t 'Filter topics' }}"/>
    </div>
    <div class="progressive-table-wrapper" data-simplebar>
        <table class="table table-striped wrapped-table">
            <thead class="table-sticky-headers">
                <th data-sort="alphabetic" data-sort-prop="stream">{{t "Stream" }}</th>
                <th data-sort="alphabetic" data-sort-prop="topic">{{t "Topic" }}</th>
                <th data-sort="numeric" data-sort-prop="visibility_policy">{{t "Status" }}</th>
                <th data-sort="numeric" data-sort-prop="date_updated" class="active topic_date_updated">{{t "Date updated" }}</th>
            </thead>
            <tbody id="user_topics_table" class="required-text" data-empty="{{t 'You have not configured any topics yet.'}}"></tbody>
        </table>
    </div>
</div>
