<div id="user-topic-settings" class="settings-section" data-name="topics">
    <p>
        {{#tr}}
            Zulip lets you follow topics you are interested in, and mute topics you want to ignore.
            You can also <z-automatically-follow>automatically follow</z-automatically-follow>
            topics you start or participate in, and topics where you're mentioned.
            {{#*inline "z-automatically-follow"}}<a href="/help/follow-a-topic#automatically-follow-topics" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </p>
    <div class="settings_panel_list_header">
        <h3>{{t "Topic settings"}}
            {{> ../help_link_widget link="/help/topic-notifications" }}
        </h3>
        {{> settings_save_discard_widget section_name="user-topics-settings" show_only_indicator=true }}
        <input id="user_topics_search" class="search filter_text_input" type="text" placeholder="{{t 'Filter topics' }}" aria-label="{{t 'Filter topics' }}"/>
    </div>
    <div class="progressive-table-wrapper" data-simplebar>
        <table class="table table-striped wrapped-table">
            <thead class="table-sticky-headers">
                <th data-sort="alphabetic" data-sort-prop="stream">{{t "Channel" }}</th>
                <th data-sort="alphabetic" data-sort-prop="topic">{{t "Topic" }}</th>
                <th data-sort="numeric" data-sort-prop="visibility_policy">{{t "Status" }}</th>
                <th data-sort="numeric" data-sort-prop="date_updated" class="active topic_date_updated">{{t "Date updated" }}</th>
            </thead>
            <tbody id="user_topics_table" data-empty="{{t 'You have not configured any topics yet.'}}" data-search-results-empty="{{t 'No topics match your current filter.' }}"></tbody>
        </table>
    </div>
</div>
