<div class="micromodal" id="invite-details-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="dialog_title">
            <div class="modal__header">
                <div class="modal__header-content">
                    <h1 class="modal__title" id="dialog_title">{{t "Manage invitation"}}</h1>
                </div>
                {{> ../components/icon_button
                  icon="close"
                  intent="neutral"
                  custom_classes="modal__close"
                  aria-label=(t "Close modal")
                  data-micromodal-close=true
                  }}
            </div>
            <main class="modal__content" data-simplebar data-simplebar-tab-index="-1" data-simplebar-auto-hide="false">
                <div id="invite-details-default-section">
                    {{#if is_multiuse}}
                    <div class="default-field">
                        <div class="name">{{t "Invitee" }}</div>
                        <div class="value">
                            <a href="{{email}}" target="_blank" rel="noopener noreferrer">
                                {{t "Invite link"}}
                            </a>
                        </div>
                    </div>
                    {{else}}
                    <div class="default-field">
                        <div class="name">{{t "Invitee" }}</div>
                        <div class="value">{{email}}</div>
                    </div>
                    {{/if}}
                    <div class="default-field">
                        <div class="name">{{t "Invited as" }}</div>
                        <div class="value">{{invited_as_text}}</div>
                    </div>
                    {{#if is_admin}}
                    <div class="default-field">
                        <div class="name">{{t "Invited by" }}</div>
                        <span class="referred_by panel_user_list">
                            {{> ../user_display_only_pill display_value=referrer_name user_id=invited_by_user_id is_active=true}}
                        </span>
                    </div>
                    {{/if}}
                    <div class="default-field">
                        <div class="name">{{t "Invited at" }}</div>
                        <div class="value">{{invited_at}}</div>
                    </div>
                    {{#if expires_at}}
                    <div class="default-field">
                        <div class="name">{{t "Expires at" }}</div>
                        <div class="value">{{expires_at}}</div>
                    </div>
                    {{/if}}
                    {{#if welcome_message_custom_text}}
                    <div class="default-field">
                        <div class="name">{{t "Welcome message" }}</div>
                        <div class="value">{{welcome_message_custom_text}}</div>
                    </div>
                    {{/if}}
                    <div class="default-field">
                        <div class="name">{{t "Channels they will join" }}</div>
                        {{#if has_streams}}
                        <ul class="invite-details-stream-list">
                            {{#each streams}}
                                <li>
                                    {{> ../decorated_channel_name stream=this inline_with_text=true show_colored_icon=true}}
                                </li>
                            {{/each}}
                        </ul>
                        {{else}}
                        <div class="value">{{t "None"}}</div>
                        {{/if}}
                    </div>
                    <div class="default-field">
                        <div class="name">{{t "Groups they will join" }}</div>
                        {{#if has_group_names}}
                        <ul class="invite-details-group-list">
                            {{#each group_names}}
                                <li>
                                    <i class="zulip-icon zulip-icon-triple-users" aria-hidden="true"></i>
                                    <span>{{this}}</span>
                                </li>
                            {{/each}}
                        </ul>
                        {{else}}
                        <div class="value">{{t "None"}}</div>
                        {{/if}}
                    </div>
                </div>
            </main>
            <footer class="modal__footer">
                {{#unless is_multiuse}}
                {{> ../components/icon_button
                  icon="send-dm"
                  intent="neutral"
                  custom_classes="resend tippy-zulip-delayed-tooltip"
                  aria-label=(t "Resend")
                  data-tippy-content=(t "Resend")
                  }}
                {{/unless}}
                {{> ../components/icon_button
                  icon="trash"
                  intent="danger"
                  custom_classes="revoke tippy-zulip-delayed-tooltip"
                  aria-label=(t "Revoke")
                  data-tippy-content=(t "Revoke")
                  }}
            </footer>
        </div>
    </div>
</div>
