<div class="popover-menu" id="help-menu-dropdown" aria-labelledby="help-menu" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list">
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" href="/help/" target="_blank" rel="noopener noreferrer" class="navigate-link-on-enter popover-menu-link">
                <i class="popover-menu-icon zulip-icon zulip-icon-help" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t 'Help center' }}</span>
            </a>
        </li>
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" tabindex="0" class="navigate-link-on-enter popover-menu-link" data-overlay-trigger="keyboard-shortcuts">
                <i class="popover-menu-icon zulip-icon zulip-icon-keyboard" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t 'Keyboard shortcuts' }}</span>
                {{popover_hotkey_hints "?"}}
            </a>
        </li>
        <li role="none" class="link-item popover-menu-list-item hidden-for-spectators">
            <a role="menuitem" tabindex="0" class="navigate-link-on-enter popover-menu-link" data-overlay-trigger="message-formatting">
                <i class="popover-menu-icon zulip-icon zulip-icon-edit" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t 'Message formatting' }}</span>
            </a>
        </li>
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" tabindex="0" class="navigate-link-on-enter popover-menu-link" data-overlay-trigger="search-operators">
                <i class="popover-menu-icon zulip-icon zulip-icon-manage-search" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t 'Search filters' }}</span>
            </a>
        </li>
        <li role="none" class="link-item popover-menu-list-item" id="gear_menu_about_zulip">
            <a role="menuitem" href="#about-zulip" class="navigate-link-on-enter popover-menu-link">
                <i class="popover-menu-icon zulip-icon zulip-icon-info" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t "About Zulip" }}</span>
            </a>
        </li>
        {{#if corporate_enabled}}
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" href="/help/contact-support" target="_blank" rel="noopener noreferrer" class="navigate-link-on-enter popover-menu-link">
                <i class="popover-menu-icon zulip-icon zulip-icon-life-buoy" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t 'Contact support' }}</span>
            </a>
        </li>
        {{#if (or is_admin is_owner)}}
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" href="/contact-sales" target="_blank" rel="noopener noreferrer" class="navigate-link-on-enter popover-menu-link">
                <i class="popover-menu-icon zulip-icon zulip-icon-handshake" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t 'Contact sales' }}</span>
            </a>
        </li>
        {{/if}}
        {{/if}}
    </ul>
</div>
