<div id="account-settings" class="settings-section show" data-name="your-account">
  <div class="settings-section-title">
    <i class="icon-vector-user settings-section-icon"></i>
    {{t "Your Account" }}
  </div>
  <div class="account-settings-form">
    <form action="/json/settings/change" method="post"
          class="form-horizontal your-account-settings">
      <div class="input-group name_change_container">
        <label for="full_name">{{t "Full name" }}</label>
        <input type="text" name="full_name" value="{{ page_params.fullname }}" />
      </div>

      <!-- password start -->
      {{#if page_params.password_auth_enabled}}
      <div class="input-group" id="pw_change_link">
        <label for="change_password_button">{{t "Password" }}</label>
        <button class="change_password_button button" data-dismiss="modal" aria-hidden="true">{{t "Change Password" }}</button>
      </div>

      <div id="pw_change_controls">
        <div class="input-group">
          <label for="old_password">{{t "Old password" }}</label>
          <input type="password" autocomplete="off" name="old_password" id="old_password" value="" />
          (<a href="/accounts/password/reset/" target="_blank">{{t "Forgotten it?" }}</a>)
        </div>

        <div class="input-group">
          <label for="new_password">{{t "New password" }}</label>
          <input type="password" autocomplete="off" name="new_password" id="new_password" value="" />
        </div>

        <div class="input-group">
          <label>{{t "Password strength" }}</label>
          <div class="progress" id="pw_strength">
            <div class="bar bar-danger fade" style="width: 10%;"></div>
          </div>
        </div>

        <div class="input-group">
          <label for="confirm_password">{{t "Confirm password" }}</label>
          <input type="password" autocomplete="off" name="confirm_password" id="confirm_password" value="" />
        </div>

      </div>
      {{/if}}

      <div class="input-group">
        <input type="submit" class="button green" name="change_settings" value="Save Changes" />
      </div>

      <div class="input-group">
        <img id="user-settings-avatar" src="{{ page_params.avatar_url }}" />
        <div id="user_avatar_file_input_error" class="text-error"></div>
        <div id="user_avatar_file"></div>
        <input type="file" name="user_avatar_file_input" class="notvisible" id="user_avatar_file_input" value="{{t 'Upload avatar' }}" />
        <div id="upload_avatar_spinner"></div>
        <button class="button standalone" id="user_avatar_upload_button">{{t 'Customize avatar' }}</button>
        <button class="button standalone btn-danger" id="user_avatar_delete_button">{{t 'Delete avatar' }}</button>
        <button class="button standalone btn-danger" id="user_deactivate_account_button">{{t 'Deactivate Account' }}</button>
      </div>

    </form>

      <div id="deactivate_self_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deactivation_self_modal_label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="deactivation_user_modal_label">{{t "Deactivate Your Account" }} </h3>
        </div>
        <div class="modal-body">
          <p>{{#tr this}}By deactivating your account, you will be logged out immediately.{{/tr}}</p>
          <p>{{t "Note that any bots that you maintain will be disabled." }}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{t "Cancel" }}</button>
          <button class="button btn-danger" id="do_deactivate_self_button">{{t "Deactivate now" }}</button>

        </div>
      </div>

  </div>
</div>
