{{#with linkifier}}
<tr class="linkifier_row">
    <td>
        <span class="linkifier_pattern">{{pattern}}</span>
    </td>
    <td>
        <span class="linkifier_url_format_string">{{url_format_string}}</span>
    </td>
    {{#if ../can_modify}}
    <td class="no-select actions">
        <button class="button small edit btn-warning tippy-zulip-tooltip" data-linkifier-id="{{id}}" data-tippy-content="{{t 'Edit' }}" data-tippy-placement="top" aria-label="{{t 'Edit' }}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="button small delete btn-danger tippy-zulip-tooltip" data-linkifier-id="{{id}}" data-tippy-content="{{t 'Delete' }}" data-tippy-placement="top" aria-label="{{t 'Delete' }}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </td>
    {{/if}}
</tr>
{{/with}}
