<tr class="user_row{{#unless is_active}} deactivated_user{{/unless}}" data-user-id="{{user_id}}">
    <td>
        <span class="user_name" >{{full_name}} {{#if is_current_user}}<span class="my_user_status">{{t '(you)' }}</span>{{/if}}</span>
        <span class="tippy-zulip-tooltip" {{#if is_active}}style="display: none;"{{/if}} data-tippy-content="{{t 'User is deactivated' }}" aria-label="{{t 'User is deactivated' }}">
            <i class="fa fa-ban deactivated-user-icon" aria-hidden="true"></i>
        </span>
    </td>
    {{#if display_email}}
    <td>
        <span class="email">{{display_email}}</span>
    </td>
    {{/if}}
    {{#unless is_bot}}
    <td>
        <span class="user_role">{{user_role_text}}</span>
    </td>
    {{/unless}}
    {{#if is_bot}}
    <td>
        <span class="owner">
            {{#if no_owner }}
            {{bot_owner_full_name}}
            {{else}}
            <a data-user-id="{{bot_owner_id}}" href="#" class="view_user_profile">{{bot_owner_full_name}}</a>
            {{/if}}
        </span>
    </td>
    <td>
        <span class="bot type">{{bot_type}}</span>
    </td>
    {{else if is_active}}
    <td class="last_active">
        {{ last_active_date }}
    </td>
    {{/if}}
    {{#if can_modify}}
    <td class="actions">
        <span class="user-status-settings">
            <button class="button rounded small btn-warning open-user-form tippy-zulip-tooltip" {{#unless is_active}}style="display: none;"{{/unless}} data-user-id="{{user_id}}" data-tippy-content="{{t 'Edit user' }}" data-tippy-placement="top" aria-label="{{t 'Edit user' }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            {{#if is_active}}
            <button class="button rounded small deactivate btn-danger tippy-zulip-tooltip" {{#if cannot_deactivate}}disabled="disabled"{{/if}} data-tippy-content="{{t 'Deactivate user' }}" data-tippy-placement="top" aria-label="{{t 'Deactivate user' }}">
                <i class="fa fa-user-times" aria-hidden="true"></i>
            </button>
            {{else}}
            <button class="button rounded small reactivate btn-warning tippy-zulip-tooltip" data-tippy-content="{{t 'Reactivate user' }}" data-tippy-placement="top" aria-label="{{t 'Reactivate user' }}">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>
            {{/if}}
        </span>
    </td>
    {{/if}}
</tr>
