{{#with emoji}}
<tr class="emoji_row" id="emoji_{{name}}">
    <td>
        <span class="emoji_name">{{display_name}}</span>
    </td>
    <td>
        <span class="emoji_image">
            <a href="{{source_url}}" target="_blank" rel="noopener noreferrer">
                <img class="emoji" src="{{source_url}}" alt="{{display_name}}" />
            </a>
        </span>
    </td>
    <td>
        {{#if author}}
        <span class="emoji_author">{{author.full_name}}</span>
        {{else}}
        <span class="emoji_author">Unknown author</span>
        {{/if}}
    </td>
    <td>
        <button class="button rounded small delete btn-danger" {{#unless can_delete_emoji}}disabled="disabled"{{/unless}} data-emoji-name="{{name}}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </td>
</tr>
{{/with}}
