<div id="attachments-settings" class="settings-section" data-name="uploaded-files">
    <input id="upload_file_search" class="search" type="text" placeholder="{{t 'Search uploads...' }}" aria-label="{{t 'Search uploads...' }}"/>
    <div class="clear-float"></div>
    <div class="alert" id="delete-upload-status"></div>
    <table class="table table-condensed table-striped wrapped-table">
        <thead>
            <th data-sort="alphabetic" data-sort-prop="name" class="upload-file-name">{{t "File" }}</th>
            <th class="active" data-sort="numeric" data-sort-prop="create_time">{{t "Date uploaded" }}</th>
            <th data-sort="mentioned-in">{{t "Mentioned in" }}</th>
            <th class="upload-size" data-sort="numeric" data-sort-prop="size">{{t "Size" }}</th>
            <th class="upload-actions">{{t "Actions" }}</th>
        </thead>
    </table>
    <div class="progressive-table-wrapper" data-list-render="uploaded-files-list">
        <table class="table table-condensed table-striped wrapped-table">
            <tbody class="required-text" data-empty="{{t 'You have not uploaded any files.' }}"
              id="uploaded_files_table" ></tbody>
        </table>
    </div>
    <div id="attachments_loading_indicator"></div>
</div>
