<div id="attachments-settings" class="settings-section" data-name="uploaded-files">
    <div class="progressive-table-wrapper">
        <table class="table table-condensed table-striped">
            <thead>
                <th>{{t "File" }}</th>
                <th>{{t "Date uploaded" }}</th>
                <th>{{t "Mentioned in" }}</th>
                <th>{{t "Size" }}</th>
                <th>{{t "Actions" }}</th>
            </thead>
            <tbody class="required-text" data-empty="{{t 'You have not uploaded any files.' }}"
                   id="uploaded_files_table" ></tbody>
        </table>
    </div>
</div>
