<div id="organization-auth-settings" class="settings-section" data-name="auth-methods">
    {{#unless is_owner}}
    <div class='tip'>{{t "Only organization owners can edit these settings."}}</div>
    {{/unless}}
    <form class="form-horizontal admin-realm-form org-authentications-form">
        <div id="org-auth_settings" class="admin-table-wrapper org-subsection-parent">
            <div class ="subsection-header">
                <h3>{{t "Authentication methods" }}
                    {{> ../help_link_widget link="/help/configure-authentication-methods" }}
                </h3>
                {{> settings_save_discard_widget section_name="auth_settings" }}
            </div>

            <div>
                <p>{{t "Configure the authentication methods for your organization."}}</p>
                <table id="id_realm_authentication_methods"
                  class="table table-condensed table-striped prop-element">
                    <thead>
                        <th>{{t "Method" }}</th>
                        <th>{{t "Enabled" }}</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
