<div id="admin-user-list" class="settings-section">
<div class="settings-section-title"><i class="icon-vector-github settings-section-icon"></i>
{{t "Bots" }}</div>
<table class="table table-condensed table-striped wrapped-table">
  <tbody id="admin_bots_table" class="admin_bot_table">
    <th class="wrapped-cell">{{t "Name" }}</th>
    <th>{{t "Email" }}</th>
    <th>{{t "Owner" }}</th>
    <th>{{t "Actions" }}</th>
  </tbody>
</table>
<div id="admin_page_bots_loading_indicator"></div>
</div>
