<div id="admin-bot-list" class="settings-section" data-name="bot-list-admin">
    <div class="tip bot-settings-tip"></div>
    <h3 class="inline-block">{{t "Bots" }}
        {{> ../help_link_widget link="/help/view-all-bots-in-your-organization" }}
    </h3>
    <input type="text" class="search" placeholder="{{t 'Filter bots' }}" aria-label="{{t 'Filter bots' }}"/>
    <div class="alert-notification" id="bot-field-status"></div>
    <div class="clear-float"></div>
    <div class="progressive-table-wrapper" data-simplebar>
        <table class="table table-condensed table-striped wrapped-table">
            <thead class="table-sticky-headers">
                <th class="active" data-sort="alphabetic" data-sort-prop="full_name">{{t "Name" }}</th>
                <th data-sort="email">{{t "Email" }}</th>
                <th data-sort="bot_owner">{{t "Owner" }}</th>
                <th data-sort="alphabetic" data-sort-prop="bot_type">{{t "Bot type" }}</th>
                {{#if is_admin}}
                <th class="actions">{{t "Actions" }}</th>
                {{/if}}
            </thead>
            <tbody id="admin_bots_table" class="admin_bot_table required-text thick"
              data-empty="{{t 'No bots match your current filter.' }}"></tbody>
        </table>
    </div>
    <div id="admin_page_bots_loading_indicator"></div>
</div>
