<div id="change_email_modal" class="modal new-style" tabindex="-1" role="dialog"
    aria-labelledby="change_email_modal_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close close_change_email_modal" aria-label="{{t 'Close' }}"><span aria-hidden="true">&times;</span></button>
        <h3 id="change_email_modal_label">{{t "Change email" }}</h3>
    </div>
    <div class="modal-body">
        <div class="input-group email_change_container">
            <label for="email">{{t "Email" }}</label>
            <input type="text" name="email" value="{{ email }}" autocomplete="off" />
        </div>
    </div>
    <div class="modal-footer">
        <button id='change_email_button' class="button rounded sea-green">{{t "Change" }}</button>
        <button class="close_change_email_modal button white rounded">{{t "Close" }}</button>
    </div>
</div>
