<div class="user-name-section custom_user_field">
    <label for="{{ field.name }}" class="title">{{ field.name }}</label>
    {{#if is_long_text_field}}
    <textarea name="{{ field.name }}" id="{{ field.id }}" maxlength="500">{{ field_value }}</textarea>
    {{else}}
    <input type="{{ field_type }}" name="{{ field.name }}" id="{{ field.id }}" value="{{ field_value }}" maxlength="50" />
    {{/if}}
    <div class="field_hint">{{ field.hint }}</div>
</div>
