<div class="user-name-section custom_user_field" name="{{ field.name }}" data-field-id="{{ field.id }}">
    <label for="{{ field.name }}" class="title">{{ field.name }}</label>
    {{#if is_long_text_field}}
        <textarea maxlength="500" class="custom_user_field_value">{{ field_value }}</textarea>
    {{else}}
        {{#if is_choice_field }}
        <select class="custom_user_field_value">
            {{#unless field_value}}
            <option></option>
            {{/unless}}
            {{#each field_choices}}
            <option value="{{ this.value }}" {{#if this.selected}}selected{{/if}}>{{ this.text }}</option>
            {{/each}}
        </select>
        {{else}}
        <input class="custom_user_field_value" type="{{ field_type }}" value="{{ field_value }}" maxlength="50" />
        {{/if}}
    {{/if}}
    <div class="field_hint">{{ field.hint }}</div>
</div>
