<div id="data-exports" class="settings-section" data-name="data-exports-admin">
    <p class="alert-word-settings-note">{{#tr this}}Depending on the size of your organization, the time to complete an export can range from several minutes to an hour.{{/tr}}</p>
    <h3>{{t "Data exports" }}
        <a href="/help/export-your-organization" target="_blank">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        </a>
    </h3>

    {{#if is_admin}}
    <div class="alert" id="export_status" role="alert">
        <span class="export_status_text"></span>
    </div>
    <form class="form-horizontal">
        <div class="add-new-export-box grey-box">
            <div class="wrapper">
                <button type="submit" class="button rounded sea-green" id="export-data">
                    {{t 'Start public export' }}
                </button>
            </div>
            <p class="alert-word-settings-note">{{#tr this}}Zulip also supports exporting private streams and messages under some circumstances. <a href="/help/export-your-organization" target="_blank">Read more</a>{{/tr}}</p>
        </div>
    </form>
    {{/if}}
    <p class="alert-word-settings-note">{{#tr this}}Any member with administrative access can conduct an export.  Please note that individual organizations are limited to five exports per week.{{/tr}}</p>

    <input type="text" class="search" placeholder="{{t 'Filter exports' }}"
      aria-label="{{t 'Filter exports' }}"/>
    <div class="progressive-table-wrapper admin-table-wrapper" data-simplebar data-list-render="admin-exports-list">
        <table class="table table-condensed table-striped wrapped-table admin_exports_table">
            <thead>
                <th class="active" data-sort="user">{{t "Requesting user" }}</th>
                <th data-sort="numeric" data-sort-prop="export_time">{{t "Time" }}</th>
                <th>{{t "File" }}</th>
                <th class="actions">{{t "Actions" }}</th>
            </thead>
            <tbody id="admin_exports_table" class="required-text" data-empty="{{t 'No exports.' }}"></tbody>
        </table>
    </div>
</div>
