<div id="admin-deactivated-users-list" class="settings-section" data-name="deactivated-users-admin">
    <h3 class="inline-block">{{t "Deactivated users" }}</h3>
    <input type="text" class="search" placeholder="{{t 'Filter deactivated users' }}" aria-label="{{t 'Filter deactivated users' }}"/>
    <div class="alert-notification" id="deactivated-user-field-status"></div>
    <div class="clear-float"></div>

    <div class="progressive-table-wrapper" data-simplebar data-list-render="deactivated_users_table_list">
        <table class="table table-condensed table-striped">
            <thead>
                <th data-sort="alphabetic" data-sort-prop="full_name">{{t "Name" }}</th>
                <th data-sort="alphabetic" data-sort-prop="email">{{t "Email" }}</th>
                <th class="user_role">{{t "Role" }}</th>
                <th class="actions">{{t "Actions" }}</th>
            </thead>
            <tbody id="admin_deactivated_users_table" class="required-text thick admin_user_table" data-empty="{{t 'No users match your current filter.' }}"></tbody>
        </table>
    </div>
    <div id="admin_page_deactivated_users_loading_indicator"></div>
</div>
