<div id="admin-default-streams-list" class="settings-section" data-name="default-streams-list">
    <div class="side-padded-container">
        <p>{{#tr this}}Configure the default streams new users are subscribed to when joining your organization.{{/tr}}</p>
    </div>

    {{#if is_admin}}
    <form class="form-horizontal default-stream-form">
        <div class="add-new-default-stream-box grey-box">
            <div class="wrapper">
                <div class="alert" id="admin-default-stream-status"></div>
                <div class="settings-section-title">{{t "Add new default stream" }}</div>
                <div class="inline-block" id="default_stream_inputs">
                    <label for="default_stream_name">{{t "Stream name" }}</label>
                    <input class="create_default_stream" type="text" placeholder="{{t "Stream name" }}" name="stream_name" autocomplete="off" aria-label="{{t "Stream name" }}"></input>
                </div>
                <div class="inline-block">
                    <button type="submit" id="do_submit_stream" class="button rounded sea-green">{{t "Add stream" }}</button>
                </div>
            </div>
        </div>
    </form>
    {{/if}}

    <input type="text" class="search" placeholder="{{t 'Filter streams' }}" aria-label="{{t 'Filter streams' }}"/>
    <div class="clear-float"></div>

    <div class="progressive-table-wrapper">
        <table class="table table-condensed table-striped">
            <thead>
                <th>{{t "Name" }}</th>
                {{#if is_admin}}
                <th class="actions">{{t "Actions" }}</th>
                {{/if}}
            </thead>
            <tbody class="required-text" data-empty="{{t 'No default streams match you current filter.' }}"
                   id="admin_default_streams_table" class="admin_default_stream_table"></tbody>
        </table>
    </div>

    <div id="admin_page_default_streams_loading_indicator"></div>
</div>
