<div id="display-settings" class="settings-section" data-name="display-settings">
    <form class="display-settings-form">
        <div id="user-lang-settings">
            <!-- this is inline block so that the alert notification can sit beside
            it. If there's not an alert, don't make it inline-block. -->
            <h3 class="inline-block">{{t "Language settings" }}</h3>
            <div class="alert-notification" id="language-settings-status"></div>

            <div class="input-group user-name-section">
                <label class="inline-block title">{{t "Default language" }}</label>
                <button id="default_language" type="button" class="button btn-link rounded small inline-block">
                    <span id="default_language_name">{{page_params.default_language_name}}</span>
                    <i class="fa fa-pencil"></i>
                </button>
            </div>

            {{> ../default_language_modal}}
        </div>

        <div id="user-display-settings">
            <h3 class="inline-block">{{t "Display settings" }}</h3>
            <div class="alert-notification" id="display-settings-status"></div>

            <form class="form-horizontal final-escape-key">
                <div class="input-group  grid user-name-parent">
                    <div class="user-name-section inline-block">
                        <label for="final_escape_narrow" class="inline-block title">{{t "Set narrow for final escape key" }}</label>
                        <button type="button" id='change_final_escape_narrow' class="button btn-link small white rounded inline-block" id="final_escape_narrow">
                            <span id="final_escape_narrow_value">{{page_params.final_escape_narrow}}</span>
                            <i class="fa fa-pencil"></i>
                        </button>
                    </div>
                    <div id="change_final_escape_narrow_modal" class="modal modal-bg hide fade" tabindex="-1" role="dialog"
                      aria-labelledby="change_final_escape_narrow_modal_label" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="{{t 'Close' }}"><span aria-hidden="true">&times;</span></button>
                            <h3 class="inline-block" id="change_final_escape_narrow_modal_label">{{t "Change narrow for final escape key" }}</h3>
                            <div class="alert-notification change_final_escape_narrow_info"></div>
                        </div>
                        <div class="modal-body">
                            <div class="input-group final_escape_narrow_change_container">
                                <label for="final_escape_narrow">{{t "Enter narrow URL after hash (#)" }}</label>
                                <ul>
                                    <li><code>all_messages</code> {{t "For all messages view" }}</li>
                                    <li>{{t "Leave empty and save for recent topics view (default)"  }}</li>
                                    <li><code>narrow/is/private</code> {{t "For private messages and so on..." }}</li>
                                </ul>
                                <input type="text" name="final_escape_narrow" value="{{ page_params.final_escape_narrow }}" autocomplete="off" spellcheck="false" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="button white rounded" type="button" data-dismiss="modal">{{t "Cancel" }}</button>
                            <button id='change_final_escape_narrow_button' class="button rounded sea-green" data-dismiss="modal">{{t "Change" }}</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="input-group">
                <label for="color_scheme" class="dropdown-title">{{t "Color scheme" }}
                </label>
                <select name="color_scheme" id="color_scheme">
                    {{> dropdown_options_widget option_values=color_scheme_values}}
                </select>
            </div>

            {{#each display_settings.settings.user_display_settings}}
            {{> settings_checkbox
              setting_name=this
              is_checked=(lookup ../page_params this)
              label=(lookup ../settings_label this)
              render_only=(lookup ../display_settings.render_only this)}}
            {{/each}}

            <div class="input-group">
                <label for="demote_inactive_streams" class="dropdown-title">{{t "Demote inactive streams" }}
                    {{> ../help_link_widget link="/help/manage-inactive-streams" }}
                </label>
                <select name="demote_inactive_streams" id="demote_inactive_streams">
                    {{> dropdown_options_widget option_values=demote_inactive_streams_values}}
                </select>
            </div>
        </div>

        <div id="user-time-settings">
            <h3 class="inline-block">{{t "Time settings" }}</h3>
            <div class="alert-notification" id="time-settings-status"></div>

            <div class="input-group">
                <label for="twenty_four_hour_time" class="dropdown-title">{{ settings_label.twenty_four_hour_time }}</label>
                <select name="twenty_four_hour_time" id="twenty_four_hour_time">
                    {{#each twenty_four_hour_time_values}}
                    <option value='{{ this.value }}'>{{ this.description }}</option>
                    {{/each}}
                </select>
            </div>

            <div class="input-group">
                <label for="timezone" class="dropdown-title">{{t "Time zone" }}</label>
                <select name="timezone" id="user_timezone">
                    {{#unless page_params.timezone}}
                    <option></option>
                    {{/unless}}

                    {{#each timezones}}
                    <option value="{{ this }}">{{ this }}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div id="user-emoji-settings">
            <h3 class="inline-block light">{{t "Emoji settings" }}</h3>
            <div class="alert-notification" id="emoji-settings-status"></div>

            <div class="input-group">
                <div class="emojiset_choices grey-box">
                    {{#each page_params.emojiset_choices}}
                    <label>
                        <input type="radio" class="emojiset_choice" name="emojiset_group" value="{{this.key}}" />
                        <span>{{this.text}}</span>
                        <span class="right">
                            {{#if (eq this.key "text") }}
                            <div class="emoji_alt_code">&nbsp;:relaxed:</div>
                            {{else}}
                            <img class="emoji" src="/static/generated/emoji/images-{{this.key}}-64/1f642.png" />
                            <img class="emoji" src="/static/generated/emoji/images-{{this.key}}-64/1f44d.png" />
                            <img class="emoji" src="/static/generated/emoji/images-{{this.key}}-64/1f680.png" />
                            <img class="emoji" src="/static/generated/emoji/images-{{this.key}}-64/1f389.png" />
                            {{/if}}
                        </span>
                    </label>
                    {{/each}}
                </div>
            </div>

            {{> settings_checkbox
              setting_name="translate_emoticons"
              is_checked=page_params.translate_emoticons
              label=settings_label.translate_emoticons}}
        </div>
    </form>
</div>
