<div id="display-settings" class="settings-section" data-name="display-settings">
  <div class="settings-section-title">
    <i class="icon-vector-time settings-section-icon"></i>
    {{t 'Display settings' }}
  </div>
  <div class="alert" id="display-settings-status"></div>
  <form class="display-settings-form">

    <p for="default_language" class="inline-block title">
      {{t "Default language" }}: <span id='default_language_name'>{{page_params.default_language_name}}</span>
      <a id="default_language" href="#default_language" title="{{t 'Change default language' }}">[Change]</a>
    </p>

    <div id="default_language_modal" class="modal hide" tabindex="-1" role="dialog"
          aria-labelledby="default_language_modal_label" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="default_language_modal_label">{{t "Select default language" }}</h3>
      </div>
      <div class="modal-body">
        <p>
        The following is a few of the languages we have started to
        support or are hoping to support in the near future. We would
        love help translating; if you're interested in helping, make an
        account at <a href='https://www.transifex.com/zulip/zulip/'>
        https://www.transifex.com/zulip/zulip/</a>, and sign up for a
        language! You can also request any language we don't currently
        have. It only takes a few hours to translate the most important
        parts of the app.
        </p>
        <div>
          <table>
            {{#each page_params.language_list_dbl_col}}
              <tr>
                <td>
                  <a class="language" data-code="{{this.first.code}}" data-name="{{this.first.name}}">
                    {{#if this.first.selected}}
                    <b>{{this.first.percent}}</b>
                    {{else}}
                    {{this.first.percent}}
                    {{/if}}
                  </a>
                </td>
                <td>
                  <a class="language" data-code="{{this.second.code}}" data-name="{{this.second.name}}">
                    {{#if this.second.selected}}
                    <b>{{this.second.percent}}</b>
                    {{else}}
                    {{this.second.percent}}
                    {{/if}}
                  </a>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{t "Close" }}</button>
      </div>
    </div>

    <div class="input-group">
      <label class="checkbox">
        <input type="checkbox" name="left_side_userlist" id="left_side_userlist"
        {{#if page_params.left_side_userlist}}
          checked="checked"
        {{/if}} />
        <span></span>
      </label>
        <label for="left_side_userlist" class="inline-block">{{t "Display user list on left side in narrow windows." }}</label>
    </div>

    <div class="input-group">
      <label class="checkbox">
        <input type="checkbox" name="emoji_alt_code" id="emoji_alt_code"
        {{#if page_params.emoji_alt_code}}
          checked="checked"
        {{/if}} />
        <span></span>
      </label>
        <label for="emoji_alt_code" class="inline-block">{{t 'Display emoji reactions as text (:heart: instead of <img alt=":heart:" class="emoji" src="/static/generated/emoji/images/emoji/unicode/2764.png" title=":heart:"/>).' }}</label>
    </div>

    <div class="input-group">
      <label class="checkbox">
        <input type="checkbox" name="twenty_four_hour_time" id="twenty_four_hour_time"
        {{#if page_params.twenty_four_hour_time}}
          checked="checked"
        {{/if}} />
        <span></span>
      </label>
      <label for="twenty_four_hour_time" class="inline-block">
        {{t "Display time in 24-hour format (17:00 instead of 5:00 PM)" }}
      </label>
    </div>
  </form>
</div>
