<div id="display-settings" class="settings-section" data-name="display-settings">
    <div class="alert" id="display-settings-status"></div>
    <form class="display-settings-form">
        <h3 class="light">{{t "Language settings" }}</h3>

        <div class="side-padded-container input-group user-name-section">
            <label class="inline-block title">{{t "Default language" }}</label>
            <a id="default_language" href="#default_language">
                    {{page_params.default_language_name}}
                    <i class="fa fa-pencil"></i>
            </a>
        </div>

        {{ partial "default_language_modal"}}

        <h3 class="light">{{t "Display settings" }}</h3>

        <div class="side-padded-container">
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox" name="high_contrast_mode" id="high_contrast_mode"
                    {{#if page_params.high_contrast_mode}}
                      checked="checked"
                    {{/if}} />
                    <span></span>
                </label>
                <label for="high_contrast_mode" class="inline-block">{{t "High contrast mode" }}</label>
            </div>

            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox" name="left_side_userlist" id="left_side_userlist"
                    {{#if page_params.left_side_userlist}}
                      checked="checked"
                    {{/if}} />
                    <span></span>
                </label>
                <label for="left_side_userlist" class="inline-block">{{t "User list on left sidebar in narrow windows" }}</label>
            </div>

            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox" name="emoji_alt_code" id="emoji_alt_code"
                    {{#if page_params.emoji_alt_code}}
                      checked="checked"
                    {{/if}} />
                    <span></span>
                </label>
                <label for="emoji_alt_code" class="inline-block">{{t 'Display emoji reactions as text (:heart: instead of <img alt=":heart:" class="emoji" src="/static/generated/emoji/images/emoji/unicode/2764.png" title=":heart:"/>)' }}</label>
            </div>
        </div>

        <h3 class="light">{{t "Time settings" }}</h3>

        <div class="side-padded-container">
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox" name="twenty_four_hour_time" id="twenty_four_hour_time"
                    {{#if page_params.twenty_four_hour_time}}
                      checked="checked"
                    {{/if}} />
                    <span></span>
                </label>
                <label for="twenty_four_hour_time" class="inline-block">
                    {{t "24-hour time (17:00 instead of 5:00 PM)" }}
                </label>
            </div>

            <div class="input-group">
                <label for="timezone">{{t "Time zone" }}:</label>
                <select name="timezone" id="user_timezone">
                    {{#unless page_params.timezone}}
                    <option></option>
                    {{/unless}}

                    {{#each timezones}}
                    <option value="{{ this }}">{{ this }}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        {{#if false}}
        <div class="input-group">
            <label for="emojiset_select">{{t "Emoji style" }}:</label>
            <select name="emojiset_select" id="emojiset_select">
                {{#each page_params.emojiset_choices}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
            <div id="emojiset_spinner"></div>
        </div>
        {{/if}}
    </form>
</div>
