<div class="input-group dropdown-list-widget" id="{{setting_name}}_widget">
    <label for="{{setting_name}}" id="{{setting_name}}_label" class="inline-block">
        {{ label }}
        <span class="{{setting_name}}_setting dropup actual-dropdown-menu prop-element" id="id_{{setting_name}}"
          name="{{setting_name}}" aria-labelledby="{{setting_name}}_label">
            <button class="button small rounded dropdown-toggle" data-toggle="dropdown">
                <span id="{{setting_name}}_name"></span>
                <i class="fa fa-pencil"></i>
            </button>
            <ul class="dropdown-menu modal-bg" role="menu">
                <li class="dropdown-search" role="presentation">
                    <input class="no-input-change-detection" type="text" role="menuitem" placeholder="{{list_placeholder}}" autofocus/>
                </li>
                <span class="dropdown-list-body" data-simplebar></span>
            </ul>
        </span>
    </label>
    {{#if is_admin }}
    <a class="dropdown_list_reset_button">{{reset_button_text}}</a>
    {{/if}}
</div>
