<div id ="{{widget}}-upload-widget" class="inline-block image_upload_widget">
    {{#if is_editable_by_current_user}}
    <div class="image_upload_button">
        <div class="image-upload-background"></div>
        <span class="image-delete-button" aria-label="{{ delete_text }}" role="button" tabindex="0">
            &times;
        </span>
        <span class="image-delete-text" aria-label="{{ delete_text }}" tabindex="0">
            {{ delete_text }}
        </span>
        <span class="image-upload-text" aria-label="{{ upload_text }}" role="button" tabindex="0">
            {{ upload_text }}
        </span>
        <span class="upload-spinner-background">
            <object class="image_upload_spinner" type="image/svg+xml" data="/static/images/tail-spin.svg"></object>
        </span>
    </div>
    {{/if}}
    <img class="image-block" src="{{ image }}"/>
    <input type="file" name="file_input" class="notvisible image_file_input"  value="{{ upload_text }}" />
    <div class="image_file_input_error text-error"></div>
</div>
