<div id ="{{widget}}-upload-widget" class="inline-block avatar-icon-logo-settings">
    {{#if is_editable_by_current_user}}
    <div class="image_upload_button">
        <div class="settings-page-image-background"></div>
        <span class="settings-page-delete-button" aria-label="{{t delete_text }}" role="button" tabindex="0">
            &times;
        </span>
        <span class="settings-page-delete-text" aria-label="{{t delete_text }}" tabindex="0">
            {{t delete_text }}
        </span>
        <span class="settings-page-upload-text" aria-label="{{t upload_text }}" role="button" tabindex="0">
            {{t upload_text }}
        </span>
        <span class="upload-spinner-background">
            <object class="image_upload_spinner" type="image/svg+xml" data="/static/images/tail-spin.svg"></object>
        </span>
    </div>
    {{/if}}
    <img id="user-avatar-block" src="{{ image }}"/>
    <input type="file" name="user_avatar_file_input" class="notvisible" id="user_avatar_file_input" value="{{t 'Upload profile picture' }}" />
    <div id="user_avatar_file_input_error" class="text-error"></div>
</div>
