<div id="admin-invites-list" class="settings-section" data-name="invites-list-admin">
    {{#unless is_admin }}
    <div class="tip">{{t "Members can only view or manage invitations that you yourself sent." }}</div>
    {{/unless}}
    {{#if can_invite_others_to_realm}}
    <a class="invite-user-link" href="#invite"><i class="fa fa-user-plus" aria-hidden="true"></i>{{t "Invite more users" }}</a>
    {{/if}}
    <div>
        <h3 class="inline-block">{{t "Invites" }}
            {{> ../help_link_widget link="/help/invite-new-users" }}
        </h3>
        <input type="text" class="search" placeholder="{{t 'Filter invites' }}" aria-label="{{t 'Filter invites' }}"/>
        <div class="alert-notification" id="invites-field-status"></div>
    </div>
    <div class="clear-float"></div>

    <div class="progressive-table-wrapper" data-simplebar>
        <table class="table table-condensed table-striped">
            <thead class="table-sticky-headers">
                <th class="active" data-sort="invitee">{{t "Invitee" }}</th>
                {{#if is_admin }}
                <th data-sort="alphabetic" data-sort-prop="ref">{{t "Invited by" }}</th>
                {{/if}}
                <th data-sort="numeric" data-sort-prop="invited">{{t "Invited at" }}</th>
                <th data-sort="numeric" data-sort-prop="invited_as">{{t "Invited as" }}</th>
                <th class="actions">{{t "Actions" }}</th>
            </thead>
            <tbody id="admin_invites_table" class="required-text thick admin_invites_table" data-empty="{{t 'No invites match your current filter.' }}"></tbody>
        </table>
    </div>
    <div id="admin_page_invites_loading_indicator"></div>
</div>
