<div class="input-group">
    <label for="realm_{{ notifications_type }}_stream" id="realm_{{ notifications_type }}_stream_label" class="inline-block">
        {{ label }}
        <span class="notifications-stream-setting dropup actual-dropdown-menu" id="id_realm_{{ notifications_type }}_stream"
          name="realm_{{ notifications_type }}_stream" aria-labelledby="realm_{{ notifications_type }}_stream_label"
          data-notifications-type="{{ notifications_type }}">
            <button class="button small rounded dropdown-toggle" data-toggle="dropdown">
                <span id="realm_{{ notifications_type }}_stream_name"></span>
                <i class="fa fa-pencil"></i>
            </button>
            <ul class="dropdown-menu modal-bg" role="menu">
                <li class="dropdown-search" role="presentation">
                    <input class="no-input-change-detection" type="text" role="menuitem" placeholder="{{t 'Filter streams' }}" autofocus/>
                </li>
                <span class="dropdown-list-body" data-simplebar></span>
            </ul>
        </span>
    </label>
    {{#if is_admin }}
    <a class="notification-disable" id="{{ notifications_type }}_stream_disable">{{t "[Disable]" }}</a>
    {{/if}}
</div>
