<div id="organization-settings" data-name="organization-settings" class="settings-section">
    <form class="form-horizontal admin-realm-form org-settings-form">
        <div class="alert" id="admin-realm-notifications-stream-status"></div>
        <div class="alert" id="admin-realm-signup-notifications-stream-status"></div>
        <div class="alert admin-realm-failed-change-status"></div>

        <div id="org-msg-editing" class="org-subsection-parent">
            <div class="subsection-header">
                <h3>{{t "Message editing" }}</h3>
                {{ partial "settings-save-discard-widget" "section_name" "msg-editing" }}
            </div>
            <div class="inline-block organization-settings-parent">
                {{partial "settings_checkbox"
                  "setting_name" "realm_allow_message_editing"
                  "prefix" "id_"
                  "is_checked" realm_allow_message_editing
                  "label" admin_settings_label.realm_allow_message_editing}}

                <div class="input-group disableable {{#unless realm_allow_message_editing}}control-label-disabled{{/unless}}">
                    <label for="id_realm_message_content_edit_limit_minutes"
                      id="id_realm_message_content_edit_limit_minutes_label">
                        {{t 'Message edit limit in minutes (0 for no limit)' }}
                    </label>
                    <input type="text" id="id_realm_message_content_edit_limit_minutes"
                      name="realm_message_content_edit_limit_minutes"
                      class="admin-realm-message-content-edit-limit-minutes"
                      value="{{ realm_message_content_edit_limit_minutes }}"
                      {{#unless realm_allow_message_editing}}disabled="disabled"{{/unless}} />
                </div>

                <div class="input-group">
                    <label class="checkbox">
                        <input type="checkbox" id="id_realm_allow_message_deleting" name="realm_allow_message_deleting"
                          {{#if realm_allow_message_deleting}}checked="checked"{{/if}} />
                        <span></span>
                    </label>
                    <label for="id_realm_allow_message_deleting" id="id_realm_allow_message_deleting_label" class="inline-block">
                        {{t "Users can delete their messages" }}
                    </label>
                    <i class="icon-vector-info-sign settings-info-icon realm_allow_message_deleting_tooltip" data-toggle="tooltip"
                      title="{{t 'Administrators can always delete any message.' }}"/>
                </div>

                {{partial "settings_checkbox"
                  "setting_name" "realm_allow_edit_history"
                  "prefix" "id_"
                  "is_checked" realm_allow_edit_history
                  "label" admin_settings_label.realm_allow_edit_history}}
            </div>
        </div>

        <div id="org-msg-feed" class="org-subsection-parent">
            <div class="subsection-header">
                <h3>{{t "Message feed" }}</h3>
                {{ partial "settings-save-discard-widget" "section_name" "msg-feed" }}
            </div>
            <div class="inline-block organization-settings-parent">
                {{#if false}}
                <div class="input-group">
                    <label for="realm_message_retention_days"
                      id="id_realm_message_retention_days_label">
                        {{t 'Messages retention period in days (blank means messages are retained forever)' }}
                    </label>
                    <input type="text" id="id_realm_message_retention_days"
                      name="realm_message_retention_days"
                      class="admin-realm-message-retention-days"
                      value="{{ realm_message_retention_days }}"/>
                </div>
                {{/if}}
                {{partial "settings_checkbox"
                  "setting_name" "realm_mandatory_topics"
                  "prefix" "id_"
                  "is_checked" realm_mandatory_topics
                  "label" admin_settings_label.realm_mandatory_topics}}

                {{#if server_inline_image_preview}}
                {{partial "settings_checkbox"
                  "setting_name" "realm_inline_image_preview"
                  "prefix" "id_"
                  "is_checked" realm_inline_image_preview
                  "label" admin_settings_label.realm_inline_image_preview}}
                {{/if}}

                {{#if server_inline_url_embed_preview}}
                {{partial "settings_checkbox"
                  "setting_name" "realm_inline_url_embed_preview"
                  "prefix" "id_"
                  "is_checked" realm_inline_url_embed_preview
                  "label" admin_settings_label.realm_inline_url_embed_preview}}
                {{/if}}
            </div>
        </div>

        <div id="org-user-defaults" class="org-subsection-parent">
            <div class="subsection-header">
                <h3>{{t "Default user settings" }}</h3>
                {{ partial "settings-save-discard-widget" "section_name" "user-defaults" }}
            </div>
            <p>{{t "Configure default settings for new users joining this organization." }}</p>
            <div class="inline-block organization-settings-parent">
                <div class="input-group">
                    <label for="realm_default_language" class="dropdown-title">{{t "Default language" }}:</label>
                    <select name="realm_default_language" id="id_realm_default_language">
                        {{#each language_list}}
                        <option value='{{this.code}}'>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                {{partial "settings_checkbox"
                  "setting_name" "realm_default_twenty_four_hour_time"
                  "prefix" "id_"
                  "is_checked" realm_default_twenty_four_hour_time
                  "label" admin_settings_label.realm_default_twenty_four_hour_time}}
            </div>
        </div>

        <div id="org-notifications" class="org-subsection-parent">
            <div class="subsection-header">
                <h3>{{t "Notifications" }}</h3>
                {{ partial "settings-save-discard-widget" "section_name" "notifications" }}
            </div>
            <div class="inline-block organization-settings-parent">
                {{partial "settings_checkbox"
                  "setting_name" "realm_send_welcome_emails"
                  "prefix" "id_"
                  "is_checked" realm_send_welcome_emails
                  "label" admin_settings_label.realm_send_welcome_emails}}
            </div>

            <div class="input-group">
                <label for="realm_notifications_stream" id="realm_notifications_stream_label" class="inline-block"
                  title="{{t 'The stream to which new stream notifications go to.' }}">
                    {{t "New stream notifications:" }}
                    <span class="dropup actual-dropdown-menu" id="id_realm_notifications_stream"
                      name="realm_notifications_stream" aria-labelledby="realm_notifications_stream_label">
                        <button class="button small rounded dropdown-toggle" data-toggle="dropdown">
                            <span id="realm_notifications_stream_name"></span>
                            <i class="fa fa-pencil"></i>
                        </button>
                        <ul class="dropdown-menu modal-bg" role="menu">
                            <li class="dropdown-search" role="presentation">
                                <input type="text" role="menuitem" placeholder="{{t 'Filter streams' }}" autofocus/>
                            </li>
                            <span class="dropdown-list-body"></span>
                        </ul>
                    </span>
                </label>
                {{#if is_admin }}
                <a class="notifications-stream-disable notification-disable">{{t "[Disable]" }}</a>
                {{/if}}
            </div>

            <div class="input-group">
                <label for="realm_signup_notifications_stream" id="realm_signup_notifications_stream_label" class="inline-block"
                  title="{{t 'The stream which new user signup notifications go to.' }}">
                    {{t "New user notifications:" }}
                    <span class="dropup actual-dropdown-menu" id="id_realm_signup_notifications_stream"
                      name="realm_signup_notifications_stream" aria-labelledby="realm_signup_notifications_stream_label">
                        <button class="button small rounded dropdown-toggle" data-toggle="dropdown">
                            <span id="realm_signup_notifications_stream_name"></span>
                            <i class="fa fa-pencil"></i>
                        </button>
                        <ul class="dropdown-menu modal-bg" role="menu">
                            <li class="dropdown-search" role="presentation">
                                <input type="text" role="menuitem" placeholder="{{t 'Filter streams' }}" autofocus/>
                            </li>
                            <span class="dropdown-list-body"></span>
                        </ul>
                    </span>
                </label>
                {{#if is_admin }}
                <a class="signup-notifications-stream-disable notification-disable">{{t "[Disable]" }}</a>
                {{/if}}
            </div>
        </div>
    </form>
</div>
