<div id="organization-profile" data-name="organization-profile" class="settings-section">
    <form class="form-horizontal admin-realm-form org-profile-form">
        <div class="alert" id="admin-realm-deactivation-status"></div>
        <div class="alert admin-realm-failed-change-status"></div>

        <div id="org-org-profile" class="org-subsection-parent">
            <div class="subsection-header">
                <h3>{{t "Organization profile" }}</h3>
                {{ partial "settings-save-discard-widget" "section_name" "org-profile" }}
            </div>

            <div class="organization-settings-parent">
                <div class="input-group admin-realm">
                    <label for="id_realm_name">{{t "Your organization's name" }}</label>
                    <input type="text" id="id_realm_name" name="realm_name" class="admin-realm-name"
                      value="{{ realm_name }}" maxlength="40" />
                </div>
                <div class="input-group admin-realm">
                    <label for="realm_description">{{t "Your organization's description" }}</label>
                    <textarea id="id_realm_description" name="realm_description" class="admin-realm-description"
                      maxlength="1000">{{ realm_description }}</textarea>
                </div>
            </div>
        </div>

        <h3>{{t "Organization avatar" }}</h3>

        <div class="realm-icon-section">
            <div class="inline-block">
                <img id="realm-settings-icon" src="{{ realm_icon_url }}"/>
                <input type="file" name="realm_icon_file_input" class="notvisible"
                  id="realm_icon_file_input" value="{{t 'Upload icon' }}"/>
                <div id="upload_icon_spinner"></div>
            </div>
            <div class="inline-block avatar-controls">
                <button class="button rounded sea-green w-200 block input-size"
                  id="realm_icon_upload_button">{{t 'Upload new icon' }}</button>
                <div id="realm_icon_file_input_error" class="text-error"></div>
                <button class="button rounded btn-danger w-200 m-t-10 block input-size"
                  id="realm_icon_delete_button">{{t 'Delete icon' }}</button>
            </div>
        </div>

        <h3 class="light">{{t "Deactivate organization" }}</h3>
        <div class="deactivate-realm-section">
            <div class="input-group">
                <button class="button rounded btn-danger" id="deactivate_realm_button">
                    {{t 'Deactivate organization' }}
                </button>
            </div>
            {{ partial "deactivate-realm-modal"}}
        </div>
    </form>
</div>
