<div id="organization-settings" data-name="organization-settings" class="settings-section">
    <form class="form-horizontal admin-realm-form org-settings-form">
        <div class="alert" id="admin-realm-notifications-stream-status"></div>
        <div class="alert" id="admin-realm-default-language-status"></div>

        <div class="alert" id="admin-realm-inline-image-preview-status"></div>
        <div class="alert" id="admin-realm-inline-url-embed-preview-status"></div>
        <div class="alert" id="admin-realm-allow-edit-history-status"></div>
        <div class="alert" id="admin-realm-message-editing-status"></div>
        <div class="alert" id="admin-realm-mandatory-topics-status"></div>

        <h3 class="light">{{t "Message editing" }}</h3>
        <div class="side-padded-container m-10 inline-block organization-permissions-parent">
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox" id="id_realm_allow_message_editing" name="realm_allow_message_editing"
                           {{#if realm_allow_message_editing}}checked="checked"{{/if}} />
                    <span></span>
                </label>
                <label for="id_realm_allow_message_editing" class="inline-block"
                    title="{{t 'If checked, users can edit the content and topics of their old messages.' }}">
                    {{t "Users can edit their messages" }}
                </label>
            </div>

            <div class="input-group disableable {{#unless realm_allow_message_editing}}control-label-disabled{{/unless}}">
                <label for="id_realm_message_content_edit_limit_minutes"
                    id="id_realm_message_content_edit_limit_minutes_label"
                    title="{{t 'If non-zero, users can edit their message for this many minutes after it is sent. If zero, users can edit all their past messages.' }}">
                    {{t 'Message edit limit in minutes (0 for no limit)' }}
                </label>
                <input type="text" id="id_realm_message_content_edit_limit_minutes"
                       name="realm_message_content_edit_limit_minutes"
                       class="admin-realm-message-content-edit-limit-minutes"
                       value="{{ realm_message_content_edit_limit_minutes }}"
                  {{#unless realm_allow_message_editing}}disabled="disabled"{{/unless}} />
            </div>

            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox" id="id_realm_allow_edit_history" name="realm_allow_edit_history"
                           {{#if realm_allow_edit_history}}checked="checked"{{/if}} />
                    <span></span>
                </label>
                <label for="id_realm_allow_edit_history" id="id_realm_allow_edit_history_label" class="inline-block"
                    title="{{t 'If checked, users will be able view message edit history.'}}">
                    {{t "Enable message edit history" }}
                </label>
            </div>
        </div>

        <h3 class="light">{{t "Message feed" }}</h3>
        <div class="side-padded-container m-10 inline-block organization-permissions-parent">
            {{#if false}}
            <div class="input-group">
                <label for="realm_message_retention_days"
                    id="id_realm_message_retention_days_label"
                    title="{{t 'Messages older than the configured number of days will be automatically deleted' }}">
                    {{t 'Messages retention period in days (blank means messages are retained forever)' }}
                </label>
                <input type="text" id="id_realm_message_retention_days"
                  name="realm_message_retention_days"
                  class="admin-realm-message-retention-days"
                  value="{{ realm_message_retention_days }}"/>
            </div>
            {{/if}}

            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox" id="id_realm_mandatory_topics" name="realm_mandatory_topics"
                           {{#if realm_mandatory_topics}}checked="checked"{{/if}} />
                    <span></span>
                </label>
                <label for="id_realm_mandatory_topics" id="id_realm_mandatory_topics_label" class="inline-block"
                    title="{{t 'If checked, topics are required.'}}">
                    {{t "Require topics in stream messages" }}
                </label>
            </div>

            {{#if server_inline_image_preview}}
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox" id="id_realm_inline_image_preview" name="realm_inline_image_preview"
                           {{#if realm_inline_image_preview}}checked="checked"{{/if}} />
                    <span></span>
                </label>
                <label for="id_realm_inline_image_preview" id="id_realm_inline_image_preview_label" class="inline-block"
                    title="{{t 'If checked, image previews will be shown.' }}">
                    {{t "Show previews of uploaded and linked images" }}
                </label>
            </div>
            {{/if}}

            {{#if server_inline_url_embed_preview}}
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox" id="id_realm_inline_url_embed_preview" name="realm_inline_url_embed_preview"
                           {{#if realm_inline_url_embed_preview}}checked="checked"{{/if}} />
                    <span></span>
                </label>
                <label for="id_realm_inline_url_embed_preview" id="id_realm_inline_url_embed_preview_label" class="inline-block"
                    title="{{t 'If checked, previews of linked websites will be shown.' }}">
                    {{t "Show previews of linked websites" }}
                </label>
            </div>
            {{/if}}
        </div>

        {{#if is_admin }}
        <div class="input-group organization-submission">
            <button type="submit" class="button rounded sea-green">
                {{t 'Save changes' }}
            </button>
        </div>
        {{/if}}

        <h3 class="light">{{t "Language &amp; notifications" }}</h3>

        <div class="m-10 inline-block organization-settings-parent">
            <div class="input-group">
                <label for="realm_default_language">{{t "Default language" }}:</label>
                <select name="realm_default_language" id="id_realm_default_language">
                    {{#each language_list}}
                    <option value='{{this.code}}'>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            {{#if is_admin }}
            <div class="input-group organization-submission">
                <button type="submit" class="button rounded sea-green">
                    {{t 'Save changes' }}
                </button>
            </div>
            {{/if}}
        </div>

        <div class="input-group">
            <label for="realm_notifications_stream" id="realm_notifications_stream_label" class="inline-block"
                title="{{t 'The stream to which new stream notifications go to.' }}">
                {{t "Notifications stream:" }}
                <button type="button" class="button small rounded">
                    <span class="dropup actual-dropdown-menu" id="id_realm_notifications_stream"
                        name="realm_notifications_stream" aria-labelledby="realm_notifications_stream_label">
                        <a class="dropdown-toggle no-underline" data-toggle="dropdown">
                            <span id="realm_notifications_stream_name"></span>
                            <i class="fa fa-pencil"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-search" role="presentation">
                                <input type="text" role="menuitem" placeholder="{{t 'Filter streams' }}" autofocus/>
                            </li>
                            <span class="dropdown-list-body"></span>
                        </ul>
                    </span>
                </button>
            </label>
            {{#if is_admin }}
            <a class="notifications-stream-disable">{{t "[Disable]" }}</a>
            {{/if}}
        </div>

    </form>
</div>
