<div id="pw_change_controls">
    <div class="input-group">
        <label for="old_password" class="inline-block title">{{t "Old password" }}</label>
        <input type="password" autocomplete="off" name="old_password" id="old_password" class="w-200 inline-block" value="" />
        <div class="warning">
            <a href="/accounts/password/reset/" class="sea-green" target="_blank">{{t "Forgotten it?" }}</a>
        </div>
    </div>

    <div class="input-group">
        <label for="new_password" class="inline-block title">{{t "New password" }}</label>
        <input type="password" autocomplete="off" name="new_password" id="new_password" class="w-200 inline-block" value=""
         data-min-length="{{ page_params.password_min_length }}" data-min-quality="{{ page_params.password_min_quality }}" />
        <div class="warning">
            <div class="progress inline-block" id="pw_strength">
                <div class="bar bar-danger fade" style="width: 10%;"></div>
            </div>
        </div>
    </div>

    <div class="input-group">
        <label class="inline-block title" for="confirm_password title">{{t "Confirm password" }}</label>
        <input type="password" autocomplete="off" name="confirm_password" id="confirm_password" class="w-200 inline-block" value="" />
    </div>
</div>
