<div id="{{theme_mode}}-logo-section" class="realm-logo-section">
    <div class="inline-block avatar-icon-logo-settings realm-logo-block">
        {{#if (and is_admin zulip_plan_is_not_limited)}}
        <div class="realm-logo-upload-button">
            <div class="settings-page-image-background"></div>
            <span class="realm-logo-delete-button settings-page-delete-button" aria-label="{{t 'Delete organization logo'}}" role="button" tabindex="0">
                &times;
            </span>
            <span class="settings-page-delete-text realm_logo_delete" aria-label="{{t 'Delete organization logo'}}" tabindex="0">
                {{t 'Delete logo' }}
            </span>
            <span class="settings-page-upload-text realm_logo_upload" aria-label="{{t 'Upload organization logo'}}" role="button" tabindex="0">
                {{t 'Upload logo' }}
            </span>
            <span class="upload-spinner-background upload-logo-spinner">
                <object class="realm-logo-spinner" type="image/svg+xml" data="/static/images/tail-spin.svg"></object>
            </span>
        </div>
        {{/if}}
        <img class="realm-logo-img" src="{{ logo_url }}"/>
        <input type="file" name="realm-logo-file-input"
          class="realm-logo-file-input notvisible" value="{{t 'Upload logo' }}"/>
        <div class="realm-logo-file-input-error alert text-error"></div>
    </div>
</div>
