<div id="{{theme_mode}}-logo-section" class="realm-logo-section">
    <div class="inline-block realm-logo-block">
        <img class="realm-logo-img" src="{{ logo_url }}"/>
        <input type="file" name="realm-logo-file-input"
          class="realm-logo-file-input notvisible" value="{{t 'Upload logo' }}"/>
    </div>
    <div class="inline-block avatar-controls">
        <div class="realm-logo-file-input-error alert text-error"></div>
        {{#if plan_includes_wide_organization_logo}}
        <button class="realm-logo-upload-button button rounded sea-green w-200 block input-size {{theme_mode}}-settings">
            <span class="upload-logo-button-text">{{t 'Upload new logo' }}</span>
            <span class="upload-logo-spinner"></span>
        </button>
        <button class="realm-logo-delete-button button rounded btn-danger w-200 m-t-10 block input-size">
            {{t 'Delete logo' }}
        </button>
        {{/if}}
    </div>
</div>
