<div id="realm_aliases_modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="realm_aliases_modal_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="realm_aliases_modal_label">{{t "Allowed domains" }}</h3>
  </div>
  <div class="modal-body">
    <table class="table table-condensed table-stripped" id="alias_table">
      <thead>
        <th>{{t "Domain" }}</th>
        <th>{{t "Allow subdomains"}}</th>
        <th>{{t "Action" }}</th>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <tr id="add-alias-widget">
          <td><input type="text" class="new-alias-domain" placeholder="acme.com"></input></td>
          <td><input type="checkbox" class="new-alias-allow-subdomains"></input></td>
          <td><button type="button" class="btn btn-primary" id="submit-add-alias">{{t "Add" }}</button></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="modal-footer centered-footer">
    <div class="aliases_info"></div>
  </div>
</div>
