<div id="revoke_invite_modal" class="modal modal-bg hide fade" tabindex="-1" role="dialog" aria-labelledby="revoke_invite_modal_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{t 'Close' }}"><span aria-hidden="true">&times;</span></button>
        {{#if is_multiuse}}
        <h3 id="revoke_invite_modal_label">{{#tr this}}Revoke invitation link{{/tr}}</h3>
        {{else}}
        <h3 id="revoke_invite_modal_label">{{#tr this}}Revoke invitation to __email__{{/tr}}</h3>
        {{/if}}
    </div>
    <div class="modal-body" id="revoke_invite_message">
        {{#if is_multiuse}}
        <p>{{#tr this}}Are you sure you want to revoke this invitation link created by <strong>__referred_by__</strong>?{{/tr}}</p>
        {{else}}
        <p>{{#tr this}}Are you sure you want to revoke the invitation to <strong>__email__</strong>?{{/tr}}</p>
        {{/if}}
    </div>
    <div class="modal-footer">
        <button class="button rounded" data-dismiss="modal">{{t "Cancel" }}</button>
        <button class="button rounded btn-danger" id="do_revoke_invite_button">{{t "Revoke now" }}</button>
    </div>
</div>
