{{#unless (eq render_only false)}}
<div class="input-group {{#if is_nested}}disableable{{/if}} {{#if show_push_notifications_tooltip}}control-label-disabled{{/if}}">
    <label class="checkbox">
        <input type="checkbox" class="inline-block setting-widget prop-element" name="{{setting_name}}" data-setting-widget-type="bool"
          id="{{prefix}}{{setting_name}}"
          {{#if show_push_notifications_tooltip}}disabled="disabled"{{/if}}
          {{#if is_checked}}
          checked="checked"
          {{/if}} />
        <span></span>
    </label>
    <label for="{{prefix}}{{setting_name}}" class="inline-block" id="{{prefix}}{{setting_name}}_label">
        {{{label}}}
    </label>
    {{#if show_push_notifications_tooltip}}
    <i class="fa fa-question-circle settings-info-icon" data-toggle="tooltip"
      title="{{t 'Mobile push notifications are not configured on this server.' }}"></i>
    {{/if}}
</div>
{{/unless}}
