<div class="input-group {{#if is_nested}}disableable{{/if}} {{#is_false is_parent_setting_enabled}}control-label-disabled{{/is_false}}">
    <label class="checkbox">
        <input type="checkbox" class="inline-block" name="{{setting_name}}"
          id="{{prefix}}{{setting_name}}"
          {{#is_false is_parent_setting_enabled}}disabled="disabled"{{/is_false}}
          {{#if is_checked}}
          checked="checked"
          {{/if}} />
        <span></span>
    </label>
    <label for="{{prefix}}{{setting_name}}" class="inline-block" id="{{prefix}}{{setting_name}}_label">
        {{{label}}}
    </label>
    {{{end_content}}}
</div>
