<div class="input-group">
    <label class="checkbox">
        <input type="checkbox" class="inline-block" name="{{setting_name}}"
          id="{{prefix}}{{setting_name}}"
          {{#if is_checked}}
          checked="checked"
          {{/if}} />
        <span></span>
    </label>
    <label for="{{prefix}}{{setting_name}}" class="inline-block" id="{{prefix}}{{setting_name}}_label">
        {{{label}}}
    </label>
    {{{end_content}}}
</div>
