<button type="{{#if type}}{{type}}{{else}}button{{/if}}" {{#if id}}id="{{id}}"{{/if}} class="{{#if custom_classes}}{{custom_classes}} {{/if}}action-button action-button-{{attention}}-{{intent}} {{#if hidden}}hide{{/if}}" {{#if data-tippy-content}}data-tippy-content="{{data-tippy-content}}"{{/if}} {{#if data-tooltip-template-id}}data-tooltip-template-id="{{data-tooltip-template-id}}"{{/if}} tabindex="0" {{#if aria-label}}aria-label="{{aria-label}}"{{/if}}
  {{#if disabled}}disabled{{/if}}
  >
    {{#if icon}}
    <i class="zulip-icon zulip-icon-{{icon}}" aria-hidden="true"></i>
    {{/if}}
    {{#if label}}
    <span class="action-button-label">{{label}}</span>
    {{/if}}
</button>
