<button class="{{#if custom_classes}}{{custom_classes}} {{/if}}action-button action-button-{{type}}-{{intent}}" tabindex="0">
    {{#if icon}}
    <i class="zulip-icon zulip-icon-{{icon}}"></i>
    {{/if}}
    <span class="action-button-label">{{label}}</span>
</button>
