<div {{#if process}}data-process="{{process}}"{{/if}} class="{{#if custom_classes}}{{custom_classes}} {{/if}}banner banner-{{intent}}">
    <span class="banner-label">
        {{label}}
    </span>
    <span class="banner-action-buttons">
        {{#each buttons}}
            {{#if this.intent}}
                {{> action_button .}}
            {{else}}
                {{> action_button . intent=../intent}}
            {{/if}}
        {{/each}}
    </span>
    {{#if close_button}}
        {{> icon_button custom_classes="banner-close-action banner-close-button" icon="close" intent=intent}}
    {{/if}}
</div>
