<button type="button" {{#if id}}id="{{id}}"{{/if}} class="{{#if custom_classes}}{{custom_classes}} {{/if}}icon-button {{#if squared}}icon-button-square {{/if}}icon-button-{{intent}} {{#if hidden}}hide{{/if}}" {{#if data-tooltip-template-id}}data-tooltip-template-id="{{data-tooltip-template-id}}"{{/if}} tabindex="0" {{#if aria-label}}aria-label="{{aria-label}}"{{/if}}
  {{#if data-tippy-content}}data-tippy-content="{{data-tippy-content}}"{{/if}}
  {{#if disabled}}disabled{{/if}}
  >
    <i class="zulip-icon zulip-icon-{{icon}}" aria-hidden="true"></i>
</button>
